<%
	page = "chest2"
%>
<% include ../_include/_header %>
<div class="common">
	<section class="chest js-visual">
		<div class="section__wrap">
			<div class="section__inner">
				<div class="visual-top__box type-another">
					<h3 class="visual-top__tit type-another">Motiva<br>Banobagi</h3>
					<p class="visual-top__subject"><strong class="color1">#佰诺佰琪</strong> motiva修复手术</p>
					<p class="visual-top__txt">佰诺佰琪出色的胸部修复手术技术力<br>和高级假体motiva的相遇！</p>
				</div>
				<div class="scroll">
					<div class="scroll__wrap js-down2">
						<div class="scroll__txt nth-left">scroll</div><div class="scroll__line"></div><div class="scroll__txt nth-right">down</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section chest-section">
		<!-- <div class="visual-wheel js-visual-wheel">휠영역</div> -->
		<div class="tab-v1">
			<div class="wrap">
				<ul class="tab-v1__list">
					<li class="tab-v1__item"><a href="chest1.html" class="tab-v1__link">佰诺佰琪胸部修复手术技术力</a></li>
					<li class="tab-v1__item is-active"><a href="chest2.html" class="tab-v1__link">硅凝胶motiva</a></li>
				</ul>
			</div>
		</div>
		<div class="chest__box first">
			<div class="wrap">
				<div class="chest-top">
					<p class="chest-top__icon"><span class="chest-top__wrap">Re:</span></p>
				</div>
				<h4 class="chest__tit">结合了多样化技术力的<span class="chest__point">motiva假体</span></h4>
				<p class="chest__txt">为了更加自然更加美丽的胸部整形的超级假体</p>
			</div>
			<div class="point">
				<div class="point__bg nth-1">
					<div class="point__box js-motion">
						<h5 class="point__tit">Point <span class="color1">01</span></h5>
						<p class="point__txt">
							预防<span class="color3">包膜挛缩</span>的
							<span class="point__sub-txt">纳米Texture表面</span>
						</p>
					</div>
				</div>
				<div class="point__info">
					<div class="point__info-wrap">
						<div class="point__info-box nth-1 js-motion2">
							<img src="../../images/chest/point_img1.jpg" alt="" class="point__img">
						</div>
						<div class="point__info-box nth-2 js-motion3">
							<img src="../../images/chest/point_img2.jpg" alt="" class="point__img">
						</div>
						<div class="point__style">
							<h6 class="point__style-tit">
								<span class="point__style-border">就算不进行按摩</span><br>
								<span class="point__style-border">也不用担心包膜挛缩的</span><br>
								<span class="point__style-border">胸部修复手术，</span><br>
								<span class="point__style-border">答案就在motiva的表面</span>
							</h6>
							<p class="point__style-txt">
								原有光面型的假体植入后合成黏膜有发生包膜挛缩的危险性。为了防止包膜挛缩开发的纹理型假体，将粗糙表面产生炎症的危险率降低。佰诺佰琪纳米Texture型假体，表面颗粒整齐细胞柔和。<br><br>
								<span class="point__medium">因此修复手术时植入假体更加容易并且包膜挛缩发生的危险率低。</span>
							</p>
						</div>
					</div>
				</div>
				<div class="point__bg nth-2">
					<div class="point__box js-motion">
						<h5 class="point__tit">Point <span class="color1">02</span></h5>
						<p class="point__txt">
							<span class="color3">更加自然的</span>胸型和触感
							<span class="point__sub-txt">第二代硅凝胶</span>
						</p>
					</div>
				</div>
				<div class="wrap">
					<div class="gel">
						<div class="gel__box">
							<h6 class="point__style-tit">
								<span class="point__style-border">Motiva随着行动</span><br>
								<span class="point__style-border">的变化展现更加</span><br>
								<span class="point__style-border">自然的形态</span>
							</h6>
							<p class="point__style-txt">
								胸部整形后不自然的状态或触感是想要做修复手术的代表性原因之一。<br>
								Motiva假体突出的粘黏性和弹力通过新一代凝胶实现。正因如此躺下的时候效果自然，站的时候胸型美丽，展现出和实际胸部一样的状态.<br><br>
								<span class="point__medium">柔软的同时富有弹力的触感，凝胶的性质分为不同的阶段，可以追求不同的效果.</span>
							</p>
							<div class="gel__img-m">보형물 이미지</div>
						</div>
					</div>
					<ul class="gel__list">
						<li class="gel__item nth-1 js-motion">
							<div class="gel__img">ProgressiveGel Contour™</div>
							<div class="gel__area">
								<p class="gel__tit">ProgressiveGel Contour™</p>
								<p class="gel__txt">
									使用高粘度的凝胶。<br>
									一般的情况下维持假体的状态，<br>
									能够得到满足的曲线.
								</p>
							</div>
						</li>
						<li class="gel__item nth-2 js-motion">
							<div class="gel__img">ProgressiveGel PLUS™</div>
							<div class="gel__area">
								<p class="gel__tit">ProgressiveGel PLUS™</p>
								<p class="gel__txt">
									比起ProgressiveGel Contour<br>
									维持更加自然的形状，<br>
									拥有更加柔软的触感.
								</p>
							</div>
						</li>
						<li class="gel__item nth-3 js-motion">
							<div class="gel__img">ProgressiveGel Ultima™</div>
							<div class="gel__area">
								<p class="gel__tit">ProgressiveGel Ultima™</p>
								<p class="gel__txt">
									有最加自然的形态的特征.<br>
									凝胶的凝聚力高，触摸的时候弹力更强<br>
									能够感受到更加自然的触感。
								</p>
							</div>
						</li>
					</ul>
				</div>
				<div class="point__bg nth-3">
					<div class="point__box js-motion">
						<h5 class="point__tit">Point <span class="color1">03</span></h5>
						<p class="point__txt">
							降低<span class="color3">破损危险</span>的
							<span class="point__sub-txt">超强内部结构</span>
						</p>
					</div>
				</div>
				<div class="wrap">
					<div class="point__wrap">
						<div class="point__style type-another">
							<h6 class="point__style-tit">
								<span class="point__style-border">Motiva的超强外表，</span><br>
								<span class="point__style-border">是适合修复手术的</span><br>
								<span class="point__style-border">另一个原因。</span>
							</h6>
							<p class="point__style-txt">
								如果是因为假体破损而进行修复手术的话，假体的内部构成是非常敏感的.<br>
								Motiva是得到FDA和ISO认证的结实的标准胸部整形假体.<br><br>
								<span class="point__medium">通过超强内部构造和所有部位同样的张力减小破损的危险，
								<span class="inline-block">因为可以通过较小切口进行修复手术，所以不用有负担。</span></span>
							</p>
						</div>
						<div class="point__table">
							<table class="table1">
								<colgroup>
									<col width="30%">
									<col width="52%">
									<col width="18%">
								</colgroup>
								<thead>
									<tr class="table1__tr">
										<th class="table1__th table1__th-tit" colspan="3">MOTIVA 坚韧程度实验结果 </th>
									</tr>
									<tr class="table1__tr">
										<th class="table1__th">实验目录</th>
										<th class="table1__th">标准</th>
										<th class="table1__th">毛面<span class="inline-block">表面制作</span></th>
									</tr>
								</thead>
								<tbody>
									<tr class="table1__tr">
										<td class="table1__td"><strong>扩大时 <span class="inline-block">破损率（%）</span></strong></td>
										<td class="table1__td">
											<p class="table1__box"><strong>- ISO</strong> : 最少扩大450%时要破损</p>
											<p class="table1__box"><strong>- ASTM</strong> : 最少扩大350%时要破损</p>
										</td>
										<td class="table1__td table1__td-another">
											715.39%
										</td>
									</tr>
									<tr class="table1__tr">
										<td class="table1__td"><strong>加力时<span class="inline-block">破损率(N)</span></strong></td>
										<td class="table1__td">
											<p class="table1__box"><strong>- ASTM</strong> : 最少坚持11.12N后破损</p>
										</td>
										<td class="table1__td table1__td-another">
											36.47 N
										</td>
									</tr>
								</tbody>
							</table>
							<p class="table1__txt">
								Reference : Establishment Labs experimental test. Lab note number LB 006-012.
							</p>
						</div>
					</div>
				</div>
				<div class="point__bg nth-4">
					<div class="point__box js-motion">
						<h5 class="point__tit">Point <span class="color1">04</span></h5>
						<p class="point__txt">
							<span class="color3">方便确认 </span>假体状态的
							<span class="point__sub-txt">蓝线 (BluSeal)</span>
						</p>
					</div>
				</div>
				<div class="point__info">
					<div class="point__info-wrap">
						<div class="point__info-box nth-1 js-motion2">
							<img src="../../images/chest/point_img3.jpg" alt="" class="point__img">
						</div>
						<div class="point__info-box nth-2 js-motion3">
							<img src="../../images/chest/point_img4.jpg" alt="" class="point__img">
						</div>
						<div class="point__style">
							<h6 class="point__style-tit">
								<span class="point__style-border">MOTIVA的</span><br>
								<span class="point__style-border">特许技术中的一个</span><br>
								<span class="point__style-border">蓝线(BluSeal)</span>
							</h6>
							<p class="point__style-txt">
								胸部整形后因为副作用很痛苦的人，再手术后会很担心副作用再发生，MOTIVA 为了最安全的使用假体，用叫做蓝线的保护绿色层<br><br>
								<span class="point__medium">这个特别的层，产品有破裂或者裂痕，会很容易确认到，万一破损时防止内部凝胶流出，所以更加安全。</span>
							</p>
						</div>
					</div>
				</div>
				<div class="point__bg nth-5">
					<div class="point__box js-motion">
						<h5 class="point__tit">Point <span class="color1">05</span></h5>
						<p class="point__txt">
							得到各种保障 <span class="color3">服务</span>
							<span class="point__sub-txt">设有识别装置（UDI Microtransponder）</span>
						</p>
					</div>
				</div>
				<div class="point__info type-another">
					<div class="point__info-wrap">
						<div class="point__info-box nth-1 type-another js-motion2">
							<img src="../../images/chest/point_img5.jpg" alt="" class="point__img">
						</div>
						<div class="point__style">
							<h6 class="point__style-tit">
								<span class="point__style-border">通过假体内部的</span><br>
								<span class="point__style-border">细微芯片</span><br>
								<span class="point__style-border type-letter">提供保障性和便利性</span>
							</h6>
							<p class="point__style-txt">
								MOTIVA假体里有固有识别装置的内置芯片，通过携带识别器，可以确认关于产品的所有信息。 <br><br>
								<span class="point__medium">或者手术后5年以内发生的破裂及严重的包膜挛缩现象，对再手术的日程进行保障支援。</span>
							</p>
						</div>
						<div class="table-wrap">
							<table class="table2">
								<colgroup>
									<col width="50%">
									<col width="50%">
								</colgroup>
								<tr class="table2__tr">
									<th class="table2__th table2__th-tit" colspan="2">
										<span class="inline-block">可以选择没有固有识别装置的 (UDI Microtransponder)</span><span class="inline-block">MOTIVA 假体插入</span>
									</th>
								</tr>
								<tr class="table2__tr">
									<th class="table2__th table2__th-img">
										<img src="../../images/chest/point_img6.jpg" alt="UDI가 삽입된 보형물">
									</th>
									<th class="table2__th table2__th-img">
										<img src="../../images/chest/point_img7.jpg" alt="UDI가 삽입되지 않은 보형물">
									</th>
								</tr>
								<tr class="table2__tr">
									<td class="table2__th">
										插入UDI的假体
									</td>
									<td class="table2__th">
										没有插入UDI的假体
									</td>
								</tr>
								<tr class="table2__tr">
									<td class="table2__td">
										纳米纹理表面
									</td>
									<td class="table2__td">
										纳米纹理表面
									</td>
								</tr>
								<tr class="table2__tr">
									<td class="table2__td">
										第二代凝聚型硅胶
									</td>
									<td class="table2__td">
										第二代凝聚型硅胶
									</td>
								</tr>
								<tr class="table2__tr">
									<td class="table2__td">
										耐久性强
									</td>
									<td class="table2__td">
										耐久性强
									</td>
								</tr>
								<tr class="table2__tr">
									<td class="table2__td">
										蓝线 (BluSeal)
									</td>
									<td class="table2__td">
										蓝线 (BluSeal)
									</td>
								</tr>
								<tr class="table2__tr">
									<td class="table2__td">
										设有识别装置 (UDI Microtransponder)
									</td>
									<td class="table2__td">
										-
									</td>
								</tr>
							</table>
							<p class="table2__txt">
								对在假体里面设有芯片的反感或者有价格方面的负担而不想选择MOTIVA假体的人们会选择没有固有识别装置的假体。<br>
								固有识别装置除外MOTIVA所有的优点，大家会觉得用更加合理的价格购买。
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<a href="" class="top-btn js-top">Top</a>
	</section>
</div>
<% include ../_include/_footer %>
