<%
	page = "chest1"
%>
<% include ../_include/_header %>
<div class="common">
	<section class="chest js-visual">
		<div class="section__wrap">
			<div class="section__inner">
				<div class="visual-top__box type-another">
					<h3 class="visual-top__tit type-another">Motiva<br>Banobagi</h3>
					<p class="visual-top__subject"><strong class="color1">#佰诺佰琪</strong> motiva修复手术</p>
					<p class="visual-top__txt">佰诺佰琪出色的胸部修复手术技术力<br>和高级假体motiva的相遇！</p>
				</div>
				<div class="scroll">
					<div class="scroll__wrap js-down2">
						<div class="scroll__txt nth-left">scroll</div><div class="scroll__line"></div><div class="scroll__txt nth-right">down</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section chest-section">
		<!-- <div class="visual-wheel js-visual-wheel">휠영역</div> -->
		<div class="tab-v1">
			<div class="wrap">
				<ul class="tab-v1__list">
					<li class="tab-v1__item is-active"><a href="chest1.html" class="tab-v1__link">佰诺佰琪胸部修复手术技术力</a></li>
					<li class="tab-v1__item"><a href="chest2.html" class="tab-v1__link">硅凝胶motiva</a></li>
				</ul>
			</div>
		</div>
		<div class="chest__box first">

			<div class="wrap">
				<div class="chest-top">
					<p class="chest-top__icon"><span class="chest-top__wrap">Re:</span></p>
				</div>
				<h4 class="chest__tit">多样的 <span class="chest__point">胸部修复手术案例</span> 分享</h4>
				<p class="chest__txt">对于胸部整形有着丰富经历和充分了解的佰诺佰琪整形外科</p>
				<ul class="case__list">
					<li class="case__item">
						<div class="case__box type-before">
							<span class="case__box-txt">术前</span>
							<div class="case__img-wrap"><img src="../../images/chest/before_1.jpg" alt="수술전 사진" class="case__img"></div>
						</div>
						<div class="case__box type-after">
							<span class="case__box-txt">术后6个月</span>
							<div class="case__img-wrap"><img src="../../images/chest/after_1.jpg" alt="수술 후 사진" class="case__img"></div>
						</div>
						<div class="case__info js-motion">
							<h5 class="case__info-tit">Case <span class="color1">01</span></h5>
							<p class="case__info-txt">
								Motiva修复手术<br>
								乳房下皱切口<br>
								两边315cc<br>
								(R: 皮膜去除, L: 扩宽乳房)
							</p>
						</div>
						<div class="case__bottom">
							<p class="case__bottom-txt">
								右边胸部出现包膜挛缩的同时，两边胸部出现不对称的情况。将右边胸部的组织和现有假体进行缜密的分离后，利用motiva假体对准胸部底部皱纹和乳头的位置。并且，为了改善因为使用和体型不相符合的较小假体，让胸部看起来不好看的现存问题，使用和胸轮廓大小相符合的假体，打造出更加自然，更加好看的胸部模样。
							</p>
							<h5 class="case__bottom-tit">
								使用基本不会出现包膜挛缩现象的motiva以及 通过佰诺佰琪体系化的管理和按摩<span class="color1">预防包膜挛缩的情况。</span>
							</h5>
						</div>
					</li>
					<!-- // case-1 -->
					<li class="case__item">
						<div class="case__box type-before">
							<span class="case__box-txt">术前</span>
							<div class="case__img-wrap"><img src="../../images/chest/before_2.jpg" alt="수술전 사진" class="case__img"></div>
						</div>
						<div class="case__box type-after">
							<span class="case__box-txt">术后6个月</span>
							<div class="case__img-wrap"><img src="../../images/chest/after_2.jpg" alt="수술 후 사진" class="case__img"></div>
						</div>
						<div class="case__info js-motion">
							<h5 class="case__info-tit">Case <span class="color1">02</span></h5>
							<p class="case__info-txt">
								motiva修复手术<br>
								乳房下皱切口<br>
								两边335cc<br>
								（脂肪填充同时进行）
							</p>
						</div>
						<div class="case__bottom">
							<p class="case__bottom-txt">
								针对胸部变得僵硬的包膜挛缩现象和植入的假体看起来有不对称皱褶现象的患者。
								根据皮肤和胸部组织的不同进行缜密的诊断后，通过切开胸下皱纹，植入假体motiva。
							</p>
							<h5 class="case__bottom-tit">
								将原有假体和胸部组织进行缜密的分离，通过对患者的皮肤和薄的脂肪层进行脂肪移植，
								<span class="color1">预防起皱褶的连锁现象。</span>
							</h5>
						</div>
					</li>
					<!-- // case-2 -->
					<li class="case__item">
						<div class="case__box type-before">
							<span class="case__box-txt">术前</span>
							<div class="case__img-wrap"><img src="../../images/chest/before_3.jpg" alt="수술전 사진" class="case__img"></div>
						</div>
						<div class="case__box type-after">
							<span class="case__box-txt">术后6个月</span>
							<div class="case__img-wrap"><img src="../../images/chest/after_3.jpg" alt="수술 후 사진" class="case__img"></div>
						</div>
						<div class="case__info js-motion">
							<h5 class="case__info-tit">Case <span class="color1">03</span></h5>
							<p class="case__info-txt">
								motiva修复手术<br>
								乳房下皱切口<br>
								两边350cc
							</p>
						</div>
						<div class="case__bottom">
							<p class="case__bottom-txt">
								不考虑整体的协调而进行胸部整形的话
								非常容易造成不自然的结果。
								像这样的患者的情况，原来胸部整形的时候
								没能正确的把握住胸部的位置，让胸部的模样
								变的非常不自然，选择假体的大小也有
								一定的限制。
							</p>
							<h5 class="case__bottom-tit">
								佰诺佰琪考虑到患者体型和身材的比率进行修复手术
								找到适合患者的胸部位置，通过调整
								适当地空间 <span class="color1">使用患者们想要的大小的motiva假体。</span>
							</h5>
						</div>
					</li>
					<!-- // case-3 -->
					<li class="case__item">
						<div class="case__box type-before">
							<span class="case__box-txt">术前</span>
							<div class="case__img-wrap"><img src="../../images/chest/before_4.jpg" alt="수술전 사진" class="case__img"></div>
						</div>
						<div class="case__box type-after">
							<span class="case__box-txt">术后6个月</span>
							<div class="case__img-wrap"><img src="../../images/chest/after_4.jpg" alt="수술 후 사진" class="case__img"></div>
						</div>
						<div class="case__info js-motion">
							<h5 class="case__info-tit">Case <span class="color1">04</span></h5>
							<p class="case__info-txt">
								motiva修复手术<br>
								乳房下皱切口<br>
								两边335cc
							</p>
						</div>
						<div class="case__bottom">
							<p class="case__bottom-txt">
								针对对于触感和大小感到不满意而选择修复手术的患者。
								将原有的假体安全的取出后，利用自然有弹性优点的
								假体进行替换，不刻意的追求大小，
								而是在患者想要的
								范围内的大小而进行选择假体的大小。
							</p>
							<h5 class="case__bottom-tit">
								虽然有因为担心疤痕而不愿意从下皱进行切口
								的患者，但是通过皮肤科的协助进行去皱疤痕
								项目管理能够大大 <span class="color1">减少对于疤痕的担心。</span>
							</h5>
						</div>
					</li>
					<!-- // case-4 -->
					<li class="case__item">
						<div class="case__box type-before">
							<span class="case__box-txt">术前</span>
							<div class="case__img-wrap"><img src="../../images/chest/before_5.jpg" alt="수술전 사진" class="case__img"></div>
						</div>
						<div class="case__box type-after">
							<span class="case__box-txt">术后6个月</span>
							<div class="case__img-wrap"><img src="../../images/chest/after_5.jpg" alt="수술 후 사진" class="case__img"></div>
						</div>
						<div class="case__info js-motion">
							<h5 class="case__info-tit">Case <span class="color1">05</span></h5>
							<p class="case__info-txt">
								motiva修复手术<br>
								乳房下皱切口<br>
								两边335cc
							</p>
						</div>
						<div class="case__bottom">
							<p class="case__bottom-txt">
								针对因为对于胸部大小感到不满意而下定决定做手术的患者。
								对于能植入假体的空间考虑到有余裕的体型，按照患者想要的胸部大小使用motiva假体。
							</p>
							<h5 class="case__bottom-tit">
								甚至，针对现有下胸部处的排列没有对称的情况，
								尽可能的调整植入假体的
								空间让其<span class="color1">排列对称</span>。
							</h5>
						</div>
					</li>
					<!-- // case-5 -->
				</ul>
			</div>
		</div>
		<div class="chest__box">
			<div class="wrap">
				<div class="chest-top">
					<p class="chest-top__icon"><span class="chest-top__wrap">Re:</span></p>
				</div>
				<h4 class="chest__tit">胸部修复手术的专家<span class="chest__point">潘在常院长</span></h4>
				<p class="chest__txt">18年间积累的胸部手术经验和阅历</p>
				<div class="ban">
					<div class="ban__img-wrap js-motion2">
						<img src="../../images/chest/chest_img1.jpg" alt="반재상원장 수술장면" class="ban__img">
					</div>
					<div class="ban__box">
						<p class="ban__txt">
							对胸部整形中的胸部修复手术需要通过经验丰富的医生之手进行。如果不是那样的话，会出现效果不满意
							或者是存在机能异常，甚至是出现包膜挛缩等的副作用，这是我们所不想得到的结果。潘在常院长在2000年建院以来一直集中于专研胸部整形的同时，将积累的经验和技术力作为基础，设有专业的胸部诊断小组。
						</p>
						<h5 class="ban__tit">
							不止是单纯摆出样子的代表院长。而是直接主刀进行手术，忠实于自己的领域和本分的医生。
						</h5>
					</div>
				</div>
			</div>
			<!-- //ban -->
		</div>
		<div class="chest__box">
			<div class="wrap">
				<div class="chest-top">
					<p class="chest-top__icon"><span class="chest-top__wrap">Re:</span></p>
				</div>
				<h4 class="chest__tit">修复手术专业化的胸部整形诊断小组</h4>
				<p class="chest__txt">多数首尔大附属医院毕业的医疗专家+专业性和独立性极高的小组构成</p>
				<div class="team">
					<ul class="team__list">
						<li class="team__item js-motion">
							<div class="team__box">
								<div class="team__img-wrap">
									<img src="../../images/chest/team1.jpg" alt="반재상 원장" class="team__img">
								</div>
							</div>
							<div class="team__box type-txt">
								<div class="team__wrap">
									<h5 class="team__tit"><span class="team__point">潘在常</span> 院长<span class="team__sub">胸部整形代表院长</span></h5>
									<ul class="profile__list type-another">
										<li class="profile__item">佰诺佰琪整形外科院长，医学博士</li>
										<li class="profile__item">大韩干细胞组织再生学会常任理事</li>
										<li class="profile__item">首尔大学医科大学毕业</li>
										<li class="profile__item">原子力病院整形外科科长</li>
										<li class="profile__item">首尔大学附属医院整形外科专家</li>
										<li class="profile__item">大韩整形外科学会正式会员</li>
										<li class="profile__item">首尔大学附属医院整形外科外来教授</li>
										<li class="profile__item">大韩美容整形外科学会正式会员</li>
										<li class="profile__item">（前）首尔大学附属医院整形外科临床顾问</li>
										<li class="profile__item">let美人医生团队主治医师</li>
									</ul>
								</div>
							</div>
						</li><!-- team-1 -->
						<li class="team__item js-motion">
							<div class="team__box">
								<div class="team__img-wrap">
									<img src="../../images/chest/team2.jpg" alt="한규남 원장" class="team__img team__img-pc">
									<img src="../../images/chest/team2_730.jpg" alt="한규남 원장" class="team__img team__img-m">
								</div>
							</div>
							<div class="team__box type-txt">
								<div class="team__wrap">
									<h5 class="team__tit"><span class="team__point">韩奎南</span> 院长</h5>
									<ul class="profile__list">
										<li class="profile__item">佰诺佰琪整形外科院长</li>
										<li class="profile__item">首尔大学附属医院整形外科专家</li>
										<li class="profile__item">首尔大学医科大学研究生</li>
										<li class="profile__item">大韩整形外科学会正式会员</li>
										<li class="profile__item">大韩美容整形外科学会正式会员</li>
										<li class="profile__item">大韩头盖颜面整形外科学会正式会员</li>
									</ul>
								</div>
							</div>
						</li><!-- team-2 -->
						<li class="team__item js-motion">
							<div class="team__box">
								<div class="team__img-wrap">
									<img src="../../images/chest/team3.jpg" alt="노용준 원장" class="team__img team__img-pc">
									<img src="../../images/chest/team3_730.jpg" alt="노용준 원장" class="team__img team__img-m">
								</div>
							</div>
							<div class="team__box type-txt">
								<div class="team__wrap">
									<h5 class="team__tit"><span class="team__point">盧溶骏</span> 院长</h5>
									<ul class="profile__list">
										<li class="profile__item">佰诺佰琪整形外科院长</li>
										<li class="profile__item">首尔大学医科大学毕业</li>
										<li class="profile__item">首尔大学附属医院实习医生</li>
										<li class="profile__item">首尔大学附属医院整形外科专家</li>
										<li class="profile__item">大韩整形外科学会正式会员</li>
										<li class="profile__item">大韩美容整形外科学会正式会员</li>
										<li class="profile__item">大韩头盖颜面整形外科学会正式会员</li>
									</ul>
								</div>
							</div>
						</li><!-- team-3 -->
						<li class="team__item js-motion">
							<div class="team__box">
								<div class="team__img-wrap">
									<img src="../../images/chest/team4.jpg" alt="김용주 원장" class="team__img team__img-pc">
									<img src="../../images/chest/team4_730.jpg" alt="김용주 원장" class="team__img team__img-m">
								</div>
							</div>
							<div class="team__box type-txt">
								<div class="team__wrap">
									<h5 class="team__tit"><span class="team__point">金荣主</span> 院长</h5>
									<ul class="profile__list">
										<li class="profile__item">佰诺佰琪整形外科麻醉科院长</li>
										<li class="profile__item">首尔大学医科大学毕业</li>
										<li class="profile__item">首尔大学附属医院麻醉疼痛医学科专家</li>
										<li class="profile__item">韩国宝勋医院麻醉疼痛医学科科长</li>
										<li class="profile__item">大韩麻醉科学会正式会员</li>
										<li class="profile__item">大韩痛症医学会正式会员</li>
										<li class="profile__item">大韩静脉麻醉研究会正式会员</li>
									</ul>
								</div>
							</div>
						</li><!-- team-4 -->
						<li class="team__item js-motion">
							<div class="team__box">
								<div class="team__img-wrap">
									<img src="../../images/chest/team5.jpg" alt="서재범 원장" class="team__img team__img-pc">
									<img src="../../images/chest/team5_730.jpg" alt="서재범 원장" class="team__img team__img-m">
								</div>
								<span class="team__sub-txt">乳房体检专家</span>
							</div>
							<div class="team__box type-txt">
								<div class="team__wrap">
									<h5 class="team__tit"><span class="team__point">徐在范</span> 院长</h5>
									<ul class="profile__list">
										<li class="profile__item">庆北大学医科大学毕业</li>
										<li class="profile__item">庆北大学附属医院实习医生</li>
										<li class="profile__item">庆北大学附属医院外科专家</li>
										<li class="profile__item">庆北大学医科大学大学院外科学硕士</li>
										<li class="profile__item">首尔圣母医院乳房/甲状腺外科前任医</li>
										<li class="profile__item">乳房外科细分专家</li>
										<li class="profile__item">大韩外科学会正式会员</li>
										<li class="profile__item">韩国乳房癌学会正式会员</li>
										<li class="profile__item">大韩内分泌外科学会正式会员</li>
									</ul>
								</div>
							</div>
						</li><!-- team-5 -->
					</ul>
				</div>
			</div>
		</div>
		<!--//chest__box-->

		<!-- //chest -->
		<div class="bano">
			<p class="bano__subject js-motion">
				Motiva正式指定医院
			</p>
			<h4 class="bano__tit js-motion type-delay">Banobagi</h4>
			<p class="bano__txt1 js-motion type-delay">
				Motiva是通过多年间的临床经验<br>
				只给实力获得认可的专家而提供的安全的假体
			</p>
			<p class="bano__txt2 js-motion type-delay">胸部修复手术的专家，通过潘在常院长和<span class="yellow">佰诺佰琪motiva修复手术</span>相遇吧。</p>
		</div>
		<div class="chest__box">
			<div class="wrap">
				<div class="chest-top">
					<p class="chest-top__icon"><span class="chest-top__wrap">Re:</span></p>
				</div>
				<h4 class="chest__tit">佰诺佰琪的<br class="hidden-pt"><span class="chest__point">One stop 胸部修复手术</span></h4>
				<p class="chest__txt">从缜密的检查开始，到手术，护理以及定期复查为止，对于胸部整形的所有过程都在同一地方便捷的进行</p>
				<div class="step">
					<ul class="step__list">
						<li class="step__item nth-1">
							<div class="step__header">
								<a href="" class="step__link">열기/닫기</a>
								<div class="step__header-wrap">
									<h5 class="step__header-tit">Step <span class="color1">01</span></h5>
									<div class="step__header-box">
										<p class="step__header-txt1">手术前</p>
										<p class="step__header-txt2">为了健康的胸部进行缜密的诊断</p>
									</div>
								</div>
							</div>
							<div class="step__body">
								<ul class="step__body-list">
									<li class="step__body-item nth-1">
										<div class="step__body-wrap">
											<p class="step__body-num">01</p>
											<h6 class="step__body-tit">一般外科专家的诊查</h6>
											<p class="step__body-txt">更加专业性的胸部健康检查</p>
										</div>
									</li>
									<li class="step__body-item nth-2">
										<div class="step__body-wrap">
											<p class="step__body-num">02</p>
											<h6 class="step__body-tit">乳房超声波检查</h6>
											<p class="step__body-txt">胸部状态全面的判断</p>
										</div>
									</li>
									<li class="step__body-item nth-3">
										<div class="step__body-wrap">
											<p class="step__body-num">03</p>
											<h6 class="step__body-tit">乳房X光拍摄检查</h6>
											<p class="step__body-txt">早期发现患乳房癌的可能性</p>
											<p class="step__body-point">*仅对需要的对象进行检查.</p>
										</div>
									</li>
									<li class="step__body-item nth-4">
										<div class="step__body-wrap">
											<p class="step__body-num">04</p>
											<h6 class="step__body-tit">细胞提取组织检查</h6>
											<p class="step__body-txt">发现的异常组织提取·检查疾患鉴别</p>
											<p class="step__body-point"> *仅对需要的对象进行检查.</p>
										</div>
									</li>
									<li class="step__body-item nth-5">
										<div class="step__body-wrap">
											<p class="step__body-num">05</p>
											<h6 class="step__body-tit">乳腺微创旋切<span class="inline-block">肿瘤摘除手术</span></h6>
											<p class="step__body-txt">及早阻断对胸部有健康威胁的因素</p>
											<p class="step__body-point"> *仅对需要的对象进行检查.</p>
										</div>
									</li>
								</ul>
							</div>
						</li>
						<li class="step__item nth-2">
							<div class="step__header">
								<a href="" class="step__link">열기/닫기</a>
								<div class="step__header-wrap">
									<h5 class="step__header-tit">Step <span class="color1">02</span></h5>
									<div class="step__header-box">
										<p class="step__header-txt1">手术时</p>
										<p class="step__header-txt2">为了安全的修复手术系统化的会诊</p>
									</div>
								</div>
							</div>
							<div class="step__body">
								<ul class="step__body-list">
									<li class="step__body-item nth-6">
										<div class="step__body-wrap">
											<p class="step__body-num">01</p>
											<h6 class="step__body-tit">有丰富经验和符合审美的整形外科</h6>
											<p class="step__body-txt">量身定制出适合患者的美丽胸型</p>
										</div>
									</li>
									<li class="step__body-item nth-7">
										<div class="step__body-wrap">
											<p class="step__body-num">02</p>
											<h6 class="step__body-tit">通过乳房诊断系统<span class="inline-block">断绝危险的普通外科</span></h6>
											<p class="step__body-txt">考虑到患者胸部安全的手术</p>
										</div>
									</li>
									<li class="step__body-item nth-8">
										<div class="step__body-wrap">
											<p class="step__body-num">03</p>
											<h6 class="step__body-tit">通过监测系统等<span class="inline-block">安全系数极高的麻醉科</span></h6>
											<p class="step__body-txt">麻醉科专家常驻更加安全的进行手术</p>
										</div>
									</li>
								</ul>
							</div>
						</li>
						<li class="step__item nth-3">
							<div class="step__header">
								<a href="" class="step__link">열기/닫기</a>
								<div class="step__header-wrap">
									<h5 class="step__header-tit">Step <span class="color1">03</span></h5>
									<div class="step__header-box">
										<p class="step__header-txt1">手术后</p>
										<p class="step__header-txt2">为了稳定的结果进行体系化的管理</p>
									</div>
								</div>
							</div>
							<div class="step__body">
								<ul class="step__body-list">
									<li class="step__body-item nth-9">
										<div class="step__body-wrap">
											<p class="step__body-num">01</p>
											<h4 class="step__body-tit">通过检查定期性的进行胸部健康管理</h4>
											<p class="step__body-txt">持续性的胸部健康检查</p>
											<p class="step__body-point">*胸部整形之前也可以进行乳房定期检查</p>
										</div>
									</li>
									<li class="step__body-item nth-10">
										<div class="step__body-wrap">
											<p class="step__body-num">02</p>
											<h4 class="step__body-tit">通过后期管理促进满意度的提高</h4>
											<p class="step__body-txt">进行疤痕治疗和帮助快速恢复的项目</p>
										</div>
									</li>
									<li class="step__body-item nth-11">
										<div class="step__body-wrap">
											<p class="step__body-num">03</p>
											<h4 class="step__body-tit">一般外科专家缜密的诊断</h4>
											<p class="step__body-txt">专业的装备和有着技术诀窍的假体连胸部细微的   异常的组织也能识别</p>
										</div>
									</li>
								</ul>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- //chest__box -->
		<div class="technology">
			<div class="wrap">
				<h5 class="technology__tit">多样的 <span class="color2">技术</span>, 多样的 <span class="color2">方式</span></h5>
				<p class="technology__txt">考虑到不同人不同的胸部特征<span class="yellow">量身定做的进行胸部修复手术</span></p>
				<ul class="technology__list">
					<li class="technology__item nth-1 js-motion2">
						<div class="technology__box">
							<div class="technology__img">이미지</div>
							<div class="technology__txtarea">
								假体的模样，制造商，大小等设定后能根据选择看到不同假体的模样
							</div>
						</div>
					</li>
					<li class="technology__item nth-2 js-motion2">
						<div class="technology__box">
							<div class="technology__img">이미지</div>
							<div class="technology__txtarea">
								多样化的假体，手术之前可以具体选择自己想要的形态和模样
							</div>
						</div>
					</li>
					<li class="technology__item nth-3 js-motion3">
						<div class="technology__box">
							<div class="technology__img">이미지</div>
							<div class="technology__txtarea">
								使用DERMA BAND粘合剂，对于术后减少疤痕有着突出美容效果
							</div>
						</div>
					</li>
					<li class="technology__item nth-4 js-motion3">
						<div class="technology__box">
							<div class="technology__img">이미지</div>
							<div class="technology__txtarea">
								通过长久经验中积累的技巧能够提高手术满意程度的佰诺佰琪
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<!-- //technology -->
		<div class="chest__box">
			<div class="wrap">
				<div class="chest-top">
					<p class="chest-top__icon"><span class="chest-top__wrap">Re:</span></p>
				</div>
				<h4 class="chest__tit"><span class="chest__point">利用内视镜双重视觉方式</span> 进行手术</h4>
				<p class="chest__txt">让胸部修复手术的安全性提高的Full HD内视镜</p>
				<div class="ban">
					<div class="ban__img-wrap js-motion2">
						<img src="../../images/chest/chest_img2.jpg" alt="반재상원장 수술장면" class="ban__img">
					</div>
					<div class="ban__box">
						<p class="ban__txt">
							利用腋窝进行手术时，插入内视镜能够正确剥离假体大小的空间。是让血管和周围组织损伤最小化的佰诺佰琪安全的胸部整形方法。
						</p>
						<ul class="ban__list">
							<li class="ban__item">- 可以确保精密的视野</li>
							<li class="ban__item">- 基本不会剥离周围组织和神经损伤</li>
							<li class="ban__item">- 减少切口部位的疤痕和痛症</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- //ban -->
		</div>
		<!-- //chest__box -->
		<div class="chest__box">
			<div class="wrap">
				<div class="chest-top">
					<p class="chest-top__icon"><span class="chest-top__wrap">Re:</span></p>
				</div>
				<h4 class="chest__tit">减小痛症的<span class="chest__point">肋间麻醉方式</span></h4>
				<p class="chest__txt">减少出血，减少浮肿&amp;快速恢复</p>
				<div class="pain js-motion">
					<div class="pain__area">
						<div class="pain__list">
							<div class="pain__item">
								<div class="pain__wrap">
									手术中<br>
									减少胸部痛感
								</div>
							</div>
							<div class="pain__item">
								<div class="pain__wrap">
									手术后也<br>
									痛感最小化
								</div>
							</div>
							<div class="inline-block">
								<div class="pain__item">
									<div class="pain__wrap">
										减少出血
									</div>
								</div>
								<div class="pain__item">
									<div class="pain__wrap">
										减少浮肿和<br>
										快速恢复
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<dl class="pain__box">
					<dt class="pain__tit">肋间麻醉方式?</dt>
					<dd class="pain__txt">
						在肋间骨骼下方部位的肋间神经注入
						麻醉剂的麻醉方式。全身麻醉后进行肋间麻醉，能大大的减少痛症，助于术后快速恢复。具备大型医院水准的监测系统和麻醉体统，意外情况发生时急救系统，又专业的麻醉专家
						进行安全的麻醉。
					</dd>
				</dl>
			</div>
		</div>
		<!-- //chest__box -->
		<div class="chest__box type-another">
			<div class="wrap">
				<div class="chest-top">
					<p class="chest-top__icon"><span class="chest-top__wrap">Re:</span></p>
				</div>
				<h4 class="chest__tit"><span class="chest__point">自主疼痛调节器</span> 使用</h4>
				<p class="chest__txt">减少痛感同样是胸部修复手术的一部分</p>
				<div class="pain type-another js-motion"></div>
				<div class="pain__box type-another">
					<p class="pain__txt">
						每当感到疼痛的时候患者能够自动的将镇痛剂注入疼痛调节进行使用，能有效的减少术后产生的疼痛感以及帮助快速的状态恢复。让患者能够自主的调节痛感和镇定下来，能减小胸部修复手术的不安感。
					</p>
					<h4 class="pain__tit">佰诺佰琪整形外科对于患者非常细心，为不放过任何一个细节而努力着。</h4>
				</div>
			</div>
		</div>
		<!-- //chest__box -->
		<div class="chest__box type-another">
			<div class="chest-top">
				<p class="chest-top__icon"><span class="chest-top__wrap">Re:</span></p>
			</div>
			<h4 class="chest__tit">利用<span class="chest__point">3D扫描仪</span>的假象整形</h4>
			<p class="chest__txt">利用立体3D模拟试验装置提前看到胸部修复手术后的胸型</p>
			<div class="scanner">
				<div class="wrap">
					<div class="scanner__box">
						<h5 class="scanner__tit"><img src="../../images/chest/divina_logo.png" alt="divina"class="hidden-m"><img src="../../images/chest/divina_logo_m.png" alt="divina" class="scanner__logo">3D扫描仪</h5>
						<p class="scanner__txt1">
							想要进行胸部修复手术的患者的身体全部构成部分进行扫描，4个照片和数百个重点进行测量的3D扫描仪。尽量通过3D扫描仪给患者展示出设计的胸部手术后的胸型.
						</p>
						<p class="scanner__txt2">
							胸部手术的情况针对胸部的模样，切口部位，丰满程度，假体种类等不同，在整形手术中算是比较有难度的手术，正因如此需要通过正确的分析决定手术方向并进行手术。
						</p>
						<div class="scanner__slider">
							<ul class="scanner__list js-scanner">
								<li class="scanner__item nth-1">
									<div class="scanner__slider-box">扫描胸部</div>
								</li>
								<li class="scanner__item nth-2">
									<div class="scanner__slider-box">通过检测到资料分析胸部的状态</div>
								</li>
								<li class="scanner__item nth-3">
									<div class="scanner__slider-box">手术前假象的模拟胸型</div>
								</li>
							</ul>
							<a href="" class="scanner__link scanner__prev js-scanner-prev">이전</a>
							<a href="" class="scanner__link scanner__next js-scanner-next">다음</a>
						</div>
					</div><!--//scanner__box-->
					<div class="scanner__box type-img"></div>
				</div>
			</div>
		</div>
		<!-- //chest__box -->
		<div class="chest__box">
			<div class="wrap">
				<div class="chest-top">
					<p class="chest-top__icon"><span class="chest-top__wrap">Re:</span></p>
				</div>
				<h4 class="chest__tit">佰诺佰琪 <span class="chest__point">疤痕管理项目</span></h4>
				<p class="chest__txt">不用担心疤痕的胸部修复手术</p>
				<div class="healing">
					<div class="healing__slider">
						<ul class="healing__list js-healing">
							<li class="healing__item nth-1" data-num="1"></li>
							<li class="healing__item nth-2" data-num="2"></li>
							<li class="healing__item nth-3" data-num="3"></li>
						</ul>
						<div class="healing__box">
							<div class="healing__wrap">
								<div class="healing__btn">
									<a href="" class="healing__link healing__prev js-healing-prev">이전</a>
									<a href="" class="healing__link healing__next js-healing-next">다음</a>
								</div>
								<p class="healing__num">Type 01</p>
								<h5 class="healing__tit">发红或褐色的疤痕</h5>
								<p class="healing__txt">通过V-beam激光仪，镭射激光柔肤来治疗，普通间隔3周，治疗3-5次</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<a href="" class="top-btn js-top">Top</a>
	</section>
</div>
<% include ../_include/_footer %>
