<%
	page = "gallery"
%>
		<% include ../_include/_header %>
		<div class="gallery__list swiper-container">
			<div class="progress timeAnimation timeFirstAnimation"></div>
			<div class="gallery-page">
				<div class="gallery-page__wrap">
					<span class="gallery-page__num-current">1</span>
					<span class="gallery-page__num-total"></span>
				</div>
			</div>
			<!--pc-->
			<div class="lnb type-pc">
				<a href="gallery2.html" class="lnb__link nth-left">
					<span class="lnb__wrap">previous

					</span>
					<!-- thumbnail -->
					<span class="thumbnail">
						<span class="thumbnail__wrap">
							<img src="../../images/common/thumbnail_img2.png" alt="全新的" class="thumbnail__img">
							<span class="thumbnail__txt-box">
								<span class="thumbnail__tit">Episode 02</span><br>
								<span class="thumbnail__txt">#全新的</span>
							</span>
						</span>
					</span>
					<!-- //thumbnail -->
				</a>
				<a href="gallery4.html" class="lnb__link nth-right">
					<span class="lnb__wrap">next</span>
					<!-- thumbnail -->
					<span class="thumbnail">
						<span class="thumbnail__wrap">
							<img src="../../images/common/thumbnail_img4.png" alt="自然的" class="thumbnail__img">
							<span class="thumbnail__txt-box">
								<span class="thumbnail__tit">Episode 04</span><br>
								<span class="thumbnail__txt">#自然的</span>
							</span>
						</span>
					</span>
					<!-- //thumbnail -->
				</a>
			</div>
			<div class="gallery-state">
				<div class="timer"></div>
				<a href="" class="gallery__btn js-gallery"><span class="gallery__btn-wrap">play/stop</span></a>
			</div>
			<div class="gallery-nav">
			</div>
			<div class="gallery__wrap swiper-wrapper">
				<!-- section1 -->
				<div class="swiper-slide gallery__section nth-3-1" data-hash="gallery1">
					<div class="section__wrap">
						<div class="section__inner">
							<div class="gallery-style1">
								<h3 class="gallery-style1__tit">Re:
									<span class="gallery-style1__point">spect</span>
								</h3>
								<div class="gallery-style1__box">
									<p class="gallery-style1__subject nth-1">忘记烦恼<strong class="color1">#英姿飒爽</strong></p>
									<p class="gallery-style1__subject nth-2">充满自信</p>
								</div>
								<p class="gallery-style1__txt">因手术的失败而产生的副作用，<br> 洗掉内心创伤的修复手术！</p>
							</div>
						</div>
					</div>
				</div>
				<!-- //section1 -->
				<!-- section2 -->
				<div class="swiper-slide gallery__section nth-3-2" data-hash="gallery2">
					<div class="section__wrap">
						<div class="section__inner">
							<div class="wrap">
								<div class="gallery-circle nth-1">
									<div class="gallery-circle__wrap">
										<p class="gallery-circle__txt">
											满意度高的
											<span class="inline-block">胸部整形假体</span>
										</p>
										<h4 class="gallery-circle__tit">MOTIVA</h4>
									</div>
								</div>
								<div class="gallery-circle nth-2">
									<div class="gallery-circle__wrap">
										<p class="gallery-circle__txt">
											通过彻底的术后管理
											<span class="inline-block">提高手术的完成度</span>
										</p>
										<h4 class="gallery-circle__tit">Banobagi</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- //section2 -->
				<!-- section3 -->
				<div class="swiper-slide gallery__section nth-3-3" data-hash="gallery3">
					<div class="section__wrap">
						<div class="section__inner">
							<div class="gallery-style2">
								<p class="gallery-style2__txt">
									<span class="gallery-style2__move nth-1">术后帮助</span>
									<span class="gallery-style2__move nth-2">疤痕恢复</span>
								</p>
								<h4 class="gallery-style2__tit">疤痕管理项目</h4>
							</div>
						</div>
					</div>
				</div>
				<!-- //section3 -->
				<!-- section4 -->
				<div class="swiper-slide gallery__section nth-3-4" data-hash="gallery4">
					<div class="section__wrap">
						<div class="section__inner">
							<p class="gallery-style3__txt">
								<span class="gallery-style3__move nth-1">佰诺佰琪</span> <span class="gallery-style3__move nth-2">Motiva</span> <span class="gallery-style3__move nth-3">胸部</span> <span class="gallery-style3__move nth-4">修复手术</span>
							</p>
						</div>
					</div>
				</div>
				<!-- //section4 -->
				<!-- section5 -->
				<div class="swiper-slide gallery__section nth-3-5" data-hash="gallery5">
					<div class="section__wrap">
						<div class="section__inner">
							<div class="gallery-style4">
								<p class="gallery-style4__txt">治愈<br class="hidden-p">内心创伤的</p>
								<h4 class="gallery-style4__tit">体系化术后管理</h4>
							</div>
						</div>
					</div>
				</div>
				<!-- //section5 -->
				<!-- section6 -->
				<div class="swiper-slide gallery__section nth-3-6" data-hash="gallery6">
					<div class="section__box type-gallery">
						<div class="section__wrap">
							<div class="section__inner">
								<div class="gallery__side">
									<div class="gallery__box">
										<div class="gallery-style5">
											<div class="gallery-style5__wrap">
												<h4 class="gallery-style5__tit">BANOBAGI</h4>
												<p class="gallery-style5__txt">PLASTIC SURGERY</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="section__box type-gallery"></div>
				</div>
				<!-- //section6 -->
				<!-- section7 -->
				<div class="swiper-slide gallery__section nth-3-7" data-hash="gallery7">
					<div class="section__wrap">
						<div class="section__inner">
							<div class="gallery-style6">
								<p class="gallery-style6__txt">
									<span class="gallery-style6__move nth-1">不管何时何地</span>
									<span class="gallery-style6__move nth-2">都自信满满</span>
								</p>
								<h4 class="gallery-style6__tit">显眼的曲线感</h4>
							</div>
						</div>
					</div>
				</div>
				<!-- //section7 -->
				<!-- section8 -->
				<div class="swiper-slide gallery__section nth-3-8" data-hash="gallery8">
					<div class="section__box type-gallery"></div>
					<div class="section__box type-gallery">
						<div class="section__wrap">
							<div class="section__inner">
								<div class="gallery__side">
									<div class="gallery__box">
										<div class="gallery-style5 type-another">
											<div class="gallery-style5__wrap">
												<p class="gallery-style5__txt">BANOBAGI BREAST</p>
												<h4 class="gallery-style5__tit">SEASON4</h4>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- //section8 -->
				<!-- section9 -->
				<div class="swiper-slide gallery__section nth-3-9" data-hash="gallery9">
					<div class="section__wrap">
						<div class="section__inner">
							<div class="gallery-style7">
								<p class="gallery-style7__tit">
									Re:
									<span class="gallery-style7__point">spect</span>
								</p>
								<div class="gallery-style7__box">
									<p class="gallery-style7__txt">
										<span class="gallery-style7__move nth-1">小的切口</span>
										<span class="gallery-style7__move nth-2">也可以的</span>
									</p>
									<h4 class="gallery-style7__subject">强力伸缩性</h4>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- //section9 -->
				<!-- section10 -->
				<div class="swiper-slide gallery__section nth-3-10" data-hash="gallery10">
					<div class="section__wrap">
						<div class="section__inner">
							<div class="video__wrap">
								<div class="video__area">
									<div class="gallery-style8">
										<div class="gallery-style8__layer">
											<p class="gallery-style8__tit">
												<strong class="color1">Banobagi</strong><br>
												Motiva Reoperation
											</p>
											<div class="gallery-style8__box">
												<p class="gallery-style8__episode">Episode 03</p>
												<h4 class="gallery-style8__subject">
													Motiva胸部修复手术<br class="hidden-tm">
													<strong class="color1">#英姿飒爽</strong> 佰诺佰琪
												</h4>
												<p class="gallery-style8__txt">
													可亲自确定在佰诺佰琪接受Motiva胸部修复手术模特的真实故事。
												</p>
											</div>
										</div>
									</div>
									<!--//gallery-style8-->
									<div class="video__box">
										<div class="video__player nth-3">
											<a href="" class="video__btn js-video-play">play-btn</a>
											<div class="video__bg nth-3 js-video-play">video-bg</div>
											<iframe src="https://player.vimeo.com/video/236352452?background=1&autoplay=0&loop=1"  class="video__iframe"></iframe>
										</div>
									</div>
								</div>
								<!--mobile-->
								<div class="lnb type-gallery">
									<a href="" class="lnb__link nth-left"><span class="lnb__wrap">previous</span></a>
									<a href="" class="lnb__link nth-right"><span class="lnb__wrap">next</span></a>
								</div>
								<div class="gallery__link">
									<a href="" class="btn3 type-another">
										<span class="btn3__wrap">真实故事</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- //section10 -->
			</div>
		</div>
	</body>
</html>
