<%
	page = "gallery"
%>
		<% include ../_include/_header %>
		<div class="gallery__list swiper-container">
			<div class="progress timeAnimation timeFirstAnimation"></div>
			<div class="gallery-page">
				<div class="gallery-page__wrap">
					<span class="gallery-page__num-current">1</span>
					<span class="gallery-page__num-total"></span>
				</div>
			</div>
			<!--pc-->
			<div class="lnb type-pc">
				<a href="gallery3.html" class="lnb__link nth-left">
					<span class="lnb__wrap">previous

					</span>
					<!-- thumbnail -->
					<span class="thumbnail">
						<span class="thumbnail__wrap">
							<img src="../../images/common/thumbnail_img3.png" alt="英姿飒爽" class="thumbnail__img">
							<span class="thumbnail__txt-box">
								<span class="thumbnail__tit">Episode 03</span><br>
								<span class="thumbnail__txt">#英姿飒爽</span>
							</span>
						</span>
					</span>
					<!-- //thumbnail -->
				</a>
				<a href="gallery5.html" class="lnb__link nth-right">
					<span class="lnb__wrap">next</span>
					<!-- thumbnail -->
					<span class="thumbnail">
						<span class="thumbnail__wrap">
							<img src="../../images/common/thumbnail_img5.png" alt="美丽的" class="thumbnail__img">
							<span class="thumbnail__txt-box">
								<span class="thumbnail__tit">Episode 05</span><br>
								<span class="thumbnail__txt">#美丽的</span>
							</span>
						</span>
					</span>
					<!-- //thumbnail -->
				</a>
			</div>
			<div class="gallery-state">
				<div class="timer"></div>
				<a href="" class="gallery__btn js-gallery"><span class="gallery__btn-wrap">play/stop</span></a>
			</div>
			<div class="gallery-nav">
			</div>
			<div class="gallery__wrap swiper-wrapper">
				<!-- section1 -->
				<div class="swiper-slide gallery__section nth-4-1" data-hash="gallery1">
					<div class="section__wrap">
						<div class="section__inner">
							<div class="gallery-style1">
								<h3 class="gallery-style1__tit">Re:
									<span class="gallery-style1__point">act</span>
								</h3>
								<div class="gallery-style1__box">
									<p class="gallery-style1__subject nth-1">更加 <strong class="color1">#自然的</strong></p>
									<p class="gallery-style1__subject nth-2">就像原有自己的胸部一样</p>
								</div>
								<p class="gallery-style1__txt">躺着时成圆形敞开，站立时成水滴形，更舒适的自然感！</p>
							</div>
						</div>
					</div>
				</div>
				<!-- //section1 -->
				<!-- section2 -->
				<div class="swiper-slide gallery__section nth-4-2" data-hash="gallery2">
					<div class="section__wrap">
						<div class="section__inner">
							<div class="wrap">
								<div class="gallery-circle nth-1">
									<div class="gallery-circle__wrap">
										<p class="gallery-circle__txt">
											再现实际胸部触感的
										</p>
										<h4 class="gallery-circle__tit">MOTIVA</h4>
									</div>
								</div>
								<div class="gallery-circle nth-2">
									<div class="gallery-circle__wrap">
										<p class="gallery-circle__txt">
											找到假体合适
											<span class="inline-block">位置的判断力</span>
										</p>
										<h4 class="gallery-circle__tit">Banobagi</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- //section2 -->
				<!-- section3 -->
				<div class="swiper-slide gallery__section nth-4-3" data-hash="gallery3">
					<div class="section__wrap">
						<div class="section__inner">
							<div class="gallery-style2">
								<p class="gallery-style2__txt">
									<span class="gallery-style2__move nth-1">没有</span>
									<span class="gallery-style2__move nth-2">异物感的</span>
								</p>
								<h4 class="gallery-style2__tit">自然触感</h4>
							</div>
						</div>
					</div>
				</div>
				<!-- //section3 -->
				<!-- section4 -->
				<div class="swiper-slide gallery__section nth-4-4" data-hash="gallery4">
					<div class="section__wrap">
						<div class="section__inner">
							<p class="gallery-style3__txt">
								<span class="gallery-style3__move nth-1">佰诺佰琪</span> <span class="gallery-style3__move nth-2">Motiva</span> <span class="gallery-style3__move nth-3">胸部</span> <span class="gallery-style3__move nth-4">修复手术</span>
							</p>
						</div>
					</div>
				</div>
				<!-- //section4 -->
				<!-- section5 -->
				<div class="swiper-slide gallery__section nth-4-5" data-hash="gallery5">
					<div class="section__wrap">
						<div class="section__inner">
							<div class="gallery-style4">
								<p class="gallery-style4__txt">对外部压力<br class="hidden-p"> 自然反应的</p>
								<h4 class="gallery-style4__tit">柔软弹力</h4>
							</div>
						</div>
					</div>
				</div>
				<!-- //section5 -->
				<!-- section6 -->
				<div class="swiper-slide gallery__section nth-4-6" data-hash="gallery6">
					<div class="section__box type-gallery">
						<div class="section__wrap">
							<div class="section__inner">
								<div class="gallery__side">
									<div class="gallery__box">
										<div class="gallery-style5">
											<div class="gallery-style5__wrap">
												<h4 class="gallery-style5__tit">BANOBAGI</h4>
												<p class="gallery-style5__txt">PLASTIC SURGERY</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="section__box type-gallery"></div>
				</div>
				<!-- //section6 -->
				<!-- section7 -->
				<div class="swiper-slide gallery__section nth-4-7" data-hash="gallery7">
					<div class="section__wrap">
						<div class="section__inner">
							<div class="gallery-style6">
								<p class="gallery-style6__txt">
									<span class="gallery-style6__move nth-1">无论什么姿势</span>
									<span class="gallery-style6__move nth-2">都能给与舒适感的</span>
								</p>
								<h4 class="gallery-style6__tit">人体工学设计</h4>
							</div>
						</div>
					</div>
				</div>
				<!-- //section7 -->
				<!-- section8 -->
				<div class="swiper-slide gallery__section nth-4-8" data-hash="gallery8">
					<div class="section__box type-gallery"></div>
					<div class="section__box type-gallery">
						<div class="section__wrap">
							<div class="section__inner">
								<div class="gallery__side">
									<div class="gallery__box">
										<div class="gallery-style5 type-another">
											<div class="gallery-style5__wrap">
												<p class="gallery-style5__txt">BANOBAGI BREAST</p>
												<h4 class="gallery-style5__tit">SEASON4</h4>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- //section8 -->
				<!-- section9 -->
				<div class="swiper-slide gallery__section nth-4-9" data-hash="gallery9">
					<div class="section__wrap">
						<div class="section__inner">
							<div class="gallery-style7">
								<p class="gallery-style7__tit">
									Re:
									<span class="gallery-style7__point">act</span>
								</p>
								<div class="gallery-style7__box">
									<p class="gallery-style7__txt">
										<span class="gallery-style7__move nth-1">考虑假体及胸部</span>
										<span class="gallery-style7__move nth-2">均衡感的理想中的</span>
									</p>
									<h4 class="gallery-style7__subject">口袋大小</h4>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- //section9 -->
				<!-- section10 -->
				<div class="swiper-slide gallery__section nth-4-10" data-hash="gallery10">
					<div class="section__wrap">
						<div class="section__inner">
							<div class="video__wrap">
								<div class="video__area">
									<div class="gallery-style8">
										<div class="gallery-style8__layer">
											<p class="gallery-style8__tit">
												<strong class="color1">Banobagi</strong><br>
												Motiva Reoperation
											</p>
											<div class="gallery-style8__box">
												<p class="gallery-style8__episode">Episode 04</p>
												<h4 class="gallery-style8__subject">
													Motiva胸部修复手术 <br class="hidden-tm">
													<strong class="color1">#自然的</strong> 佰诺佰琪
												</h4>
												<p class="gallery-style8__txt">
													可亲自确定在佰诺佰琪接受Motiva胸部修复手术模特的真实故事。
												</p>
											</div>
										</div>
									</div>
									<!--//gallery-style8-->
									<div class="video__box">
										<div class="video__player nth-4">
											<a href="" class="video__btn js-video-play">play-btn</a>
											<div class="video__bg nth-4">video-bg</div>
											<iframe src="https://player.vimeo.com/video/236352452?background=1&autoplay=0&loop=1"  class="video__iframe"></iframe>
										</div>
									</div>
								</div>
								<!--mobile-->
								<div class="lnb type-gallery">
									<a href="" class="lnb__link nth-left"><span class="lnb__wrap">previous</span></a>
									<a href="" class="lnb__link nth-right"><span class="lnb__wrap">next</span></a>
								</div>
								<div class="gallery__link">
									<a href="" class="btn3 type-another">
										<span class="btn3__wrap">真实故事</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- //section10 -->
			</div>
		</div>
	</body>
</html>
