<%
	page = "gallery"
%>
		<% include ../_include/_header %>
		<div class="gallery__list swiper-container">
			<div class="progress timeAnimation timeFirstAnimation"></div>
			<div class="gallery-page">
				<div class="gallery-page__wrap">
					<span class="gallery-page__num-current">1</span>
					<span class="gallery-page__num-total"></span>
				</div>
			</div>
			<!--pc-->
			<div class="lnb type-pc">
				<a href="gallery5.html" class="lnb__link nth-left">
					<span class="lnb__wrap">previous
					</span>
					<!-- thumbnail -->
					<span class="thumbnail">
						<span class="thumbnail__wrap">
							<img src="../../images/common/thumbnail_img5.png" alt="美丽的" class="thumbnail__img">
							<span class="thumbnail__txt-box">
								<span class="thumbnail__tit">Episode 05</span><br>
								<span class="thumbnail__txt">#美丽的</span>
							</span>
						</span>
					</span>
					<!-- //thumbnail -->
				</a>
				<a href="gallery2.html" class="lnb__link nth-right">
					<span class="lnb__wrap">next</span>
					<!-- thumbnail -->
					<span class="thumbnail">
						<span class="thumbnail__wrap">
							<img src="../../images/common/thumbnail_img2.png" alt="全新的" class="thumbnail__img">
							<span class="thumbnail__txt-box">
								<span class="thumbnail__tit">Episode 02</span><br>
								<span class="thumbnail__txt">#全新的</span>
							</span>
						</span>
					</span>
					<!-- //thumbnail -->
				</a>
			</div>
			<div class="gallery-state">
				<div class="timer"></div>
				<a href="" class="gallery__btn js-gallery"><span class="gallery__btn-wrap">play/stop</span></a>
			</div>
			<div class="gallery-nav">
			</div>
			<div class="gallery__wrap swiper-wrapper">
				<!-- section1 -->
				<div class="swiper-slide gallery__section nth-1-1" data-hash="gallery1">
					<div class="section__wrap">
						<div class="section__inner">
							<div class="gallery-style1">
								<h3 class="gallery-style1__tit">Re:
									<span class="gallery-style1__point">cover</span>
								</h3>
								<div class="gallery-style1__box">
									<p class="gallery-style1__subject nth-1">修复手术  <strong class="color1">#安全的</strong></p>
									<p class="gallery-style1__subject nth-2">不用担心产生副作用</p>
								</div>
								<p class="gallery-style1__txt">包膜挛缩和各种副作用的危险性减少更加<br> 安全的修复手术！</p>
							</div>
						</div>
					</div>
				</div>
				<!-- //section1 -->
				<!-- section2 -->
				<div class="swiper-slide gallery__section nth-1-2" data-hash="gallery2">
					<div class="section__wrap">
						<div class="section__inner">
							<div class="wrap">
								<div class="gallery-circle nth-1">
									<div class="gallery-circle__wrap">
										<p class="gallery-circle__txt">
											与人体有亲和力的
											<span class="inline-block">纳米Texture</span>
										</p>
										<h4 class="gallery-circle__tit">MOTIVA</h4>
									</div>
								</div>
								<div class="gallery-circle nth-2">
									<div class="gallery-circle__wrap">
										<p class="gallery-circle__txt">
											通过精湛的技术
											<span class="inline-block">减小组织损伤的</span>
										</p>
										<h4 class="gallery-circle__tit">Banobagi</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- //section2 -->
				<!-- section3 -->
				<div class="swiper-slide gallery__section nth-1-3" data-hash="gallery3">
					<div class="section__wrap">
						<div class="section__inner">
							<div class="gallery-style2">
								<p class="gallery-style2__txt">
									<span class="gallery-style2__move nth-1">几乎没有副作用的</span>
									<span class="gallery-style2__move nth-2">人体亲和性</span>
								</p>
								<h4 class="gallery-style2__tit">纳米Texture表面</h4>
							</div>
						</div>
					</div>
				</div>
				<!-- //section3 -->
				<!-- section4 -->
				<div class="swiper-slide gallery__section nth-1-4" data-hash="gallery4">
					<div class="section__wrap">
						<div class="section__inner">
							<p class="gallery-style3__txt">
								<span class="gallery-style3__move nth-1">佰诺佰琪</span> <span class="gallery-style3__move nth-2">Motiva</span> <span class="gallery-style3__move nth-3">胸部</span> <span class="gallery-style3__move nth-4">修复手术</span>
							</p>
						</div>
					</div>
				</div>
				<!-- //section4 -->
				<!-- section5 -->
				<div class="swiper-slide gallery__section nth-1-5" data-hash="gallery5">
					<div class="section__wrap">
						<div class="section__inner">
							<div class="gallery-style4">
								<p class="gallery-style4__txt">通过缜密的检查<br class="hidden-p"> 观察胸部健康状态的 </p>
								<h4 class="gallery-style4__tit">胸部诊断系统</h4>
							</div>
						</div>
					</div>
				</div>
				<!-- //section5 -->
				<!-- section6 -->
				<div class="swiper-slide gallery__section nth-1-6" data-hash="gallery6">
					<div class="section__box type-gallery">
						<div class="section__wrap">
							<div class="section__inner">
								<div class="gallery__side">
									<div class="gallery__box">
										<div class="gallery-style5">
											<div class="gallery-style5__wrap">
												<h4 class="gallery-style5__tit">BANOBAGI</h4>
												<p class="gallery-style5__txt">PLASTIC SURGERY</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="section__box type-gallery"></div>
				</div>
				<!-- //section6 -->
				<!-- section7 -->
				<div class="swiper-slide gallery__section nth-1-7" data-hash="gallery7">
					<div class="section__wrap">
						<div class="section__inner">
							<div class="gallery-style6">
								<p class="gallery-style6__txt">
									<span class="gallery-style6__move nth-1">可判断凝胶与假体</span>
									<span class="gallery-style6__move nth-2">的缜密状态</span>
								</p>
								<h4 class="gallery-style6__tit">Bluseal Layer</h4>
							</div>
						</div>
					</div>
				</div>
				<!-- //section7 -->
				<!-- section8 -->
				<div class="swiper-slide gallery__section nth-1-8" data-hash="gallery8">
					<div class="section__box type-gallery"></div>
					<div class="section__box type-gallery">
						<div class="section__wrap">
							<div class="section__inner">
								<div class="gallery__side">
									<div class="gallery__box">
										<div class="gallery-style5 type-another">
											<div class="gallery-style5__wrap">
												<p class="gallery-style5__txt">BANOBAGI BREAST</p>
												<h4 class="gallery-style5__tit">SEASON4</h4>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- //section8 -->
				<!-- section9 -->
				<div class="swiper-slide gallery__section nth-1-9" data-hash="gallery9">
					<div class="section__wrap">
						<div class="section__inner">
							<div class="gallery-style7">
								<p class="gallery-style7__tit">
									Re:
									<span class="gallery-style7__point">cover</span>
								</p>
								<div class="gallery-style7__box">
									<p class="gallery-style7__txt">
										<span class="gallery-style7__move nth-1">减少不必要</span>
										<span class="gallery-style7__move nth-2">的损伤</span>
									</p>
									<h4 class="gallery-style7__subject">精致的手术</h4>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- //section9 -->
				<!-- section10 -->
				<div class="swiper-slide gallery__section nth-1-10" data-hash="gallery10">
					<div class="section__wrap">
						<div class="section__inner">
							<div class="video__wrap">
								<div class="video__area">
									<div class="gallery-style8">
										<div class="gallery-style8__layer">
											<p class="gallery-style8__tit">
												<strong class="color1">Banobagi</strong><br>
												Motiva Reoperation
											</p>
											<div class="gallery-style8__box">
												<p class="gallery-style8__episode">Episode 01</p>
												<h4 class="gallery-style8__subject">
													Motiva胸部修复手术<br class="hidden-tm">
													<strong class="color1">#安全的</strong> 佰诺佰琪
												</h4>
												<p class="gallery-style8__txt">
													可亲自确定在佰诺佰琪接受Motiva胸部修复手术模特的真实故事。
												</p>
											</div>
										</div>
									</div>
									<!--//gallery-style8-->
									<div class="video__box">
										<div class="video__player nth-1">
											<a href="" class="video__btn js-video-play">play-btn</a>
											<!-- 동영상 지연 공지 -->
											<!-- <div class="noti">
												<div class="noti__wrap">
													<h4 class="noti__tit">Coming soon!</h4>
													<p class="noti__txt">모델의 <span class="color1">인터뷰 영상</span>이 곧 오픈됩니다</p>
												</div>
											</div> -->
											<!-- //동영상 지연 공지 -->
											<!-- ie9 동영상 오류-->
											<!-- <div class="noti">
												<div class="noti__wrap">
													<p class="noti__txt"><span class="color1">Explorer9</span> 이하에서는<br> 동영상이 플레이되지 않습니다. <span class="inline-block">브라우저 업그레이드를 해주세요.</span></p>
												</div>
											</div> -->
											<!-- //동영상 지연 공지 -->
											<div class="video__bg nth-1">video-bg</div>
											<div id="youkuplayer" class="video__iframe"></div>

										</div>
									</div>
								</div>
								<!--mobile-->
								<div class="lnb type-gallery">
									<a href="" class="lnb__link nth-left"><span class="lnb__wrap">previous</span></a>
									<a href="" class="lnb__link nth-right"><span class="lnb__wrap">next</span></a>
								</div>
								<div class="gallery__link">
									<a href="" class="btn3 type-another">
										<span class="btn3__wrap">真实故事</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- //section10 -->
			</div>
		</div>
		<script>
			function onPlayerStart(){

				player = new YKU.Player('youkuplayer', {
					client_id: 'ff5a38840076b667',
					vid: 'XNDE2MDYwNzc4OA',
					 styleid: '0',
					autoplay: true,
					newPlayer: true,
					show_related: true
				});
			}
		</script>
	</body>
</html>
