<%
	page = "gallery"
%>
		<% include ../_include/_header %>
		<div class="gallery__list swiper-container">
			<div class="progress timeAnimation timeFirstAnimation"></div>
			<div class="gallery-page">
				<div class="gallery-page__wrap">
					<span class="gallery-page__num-current">1</span>
					<span class="gallery-page__num-total"></span>
				</div>
			</div>
			<!--pc-->
			<div class="lnb type-pc">
				<a href="gallery1.html" class="lnb__link nth-left">
					<span class="lnb__wrap">previous

					</span>
					<!-- thumbnail -->
					<span class="thumbnail">
						<span class="thumbnail__wrap">
							<img src="../../images/common/thumbnail_img1.png" alt="安全的" class="thumbnail__img">
							<span class="thumbnail__txt-box">
								<span class="thumbnail__tit">Episode 01</span><br>
								<span class="thumbnail__txt">#安全的</span>
							</span>
						</span>
					</span>
					<!-- //thumbnail -->
				</a>
				<a href="gallery3.html" class="lnb__link nth-right">
					<span class="lnb__wrap">next</span>
					<!-- thumbnail -->
					<span class="thumbnail">
						<span class="thumbnail__wrap">
							<img src="../../images/common/thumbnail_img3.png" alt="英姿飒爽" class="thumbnail__img">
							<span class="thumbnail__txt-box">
								<span class="thumbnail__tit">Episode 03</span><br>
								<span class="thumbnail__txt">#英姿飒爽</span>
							</span>
						</span>
					</span>
					<!-- //thumbnail -->
				</a>
			</div>
			<div class="gallery-state">
				<div class="timer"></div>
				<a href="" class="gallery__btn js-gallery"><span class="gallery__btn-wrap">play/stop</span></a>
			</div>
			<div class="gallery-nav">
			</div>
			<div class="gallery__wrap swiper-wrapper">
				<!-- section1 -->
				<div class="swiper-slide gallery__section nth-2-1" data-hash="gallery1">
					<div class="section__wrap">
						<div class="section__inner">
							<div class="gallery-style1">
								<h3 class="gallery-style1__tit">Re:
									<span class="gallery-style1__point">new</span>
								</h3>
								<div class="gallery-style1__box">
									<p class="gallery-style1__subject nth-1">重新 <strong class="color1">#全新的</strong></p>
									<p class="gallery-style1__subject nth-2">更理想的</p>
								</div>
								<p class="gallery-style1__txt">摆脱旧产品的修复手术，<br> 给您全新的体验！</p>
							</div>
						</div>
					</div>
				</div>
				<!-- //section1 -->
				<!-- section2 -->
				<div class="swiper-slide gallery__section nth-2-2" data-hash="gallery2">
					<div class="section__wrap">
						<div class="section__inner">
							<div class="wrap">
								<div class="gallery-circle nth-1">
									<div class="gallery-circle__wrap">
										<p class="gallery-circle__txt">
											集聚优点的
											<span class="inline-block">高级假体</span>
										</p>
										<h4 class="gallery-circle__tit">MOTIVA</h4>
									</div>
								</div>
								<div class="gallery-circle nth-2">
									<div class="gallery-circle__wrap">
										<p class="gallery-circle__txt">
											用技术力
											<span class="inline-block">引领潮流</span>
										</p>
										<h4 class="gallery-circle__tit">Banobagi</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- //section2 -->
				<!-- section3 -->
				<div class="swiper-slide gallery__section nth-2-3" data-hash="gallery3">
					<div class="section__wrap">
						<div class="section__inner">
							<div class="gallery-style2">
								<p class="gallery-style2__txt">
									<span class="gallery-style2__move nth-1">对胸部整形</span>
									<span class="gallery-style2__move nth-2">经验丰富的</span>
								</p>
								<h4 class="gallery-style2__tit">熟练医疗团队</h4>
							</div>
						</div>
					</div>
				</div>
				<!-- //section3 -->
				<!-- section4 -->
				<div class="swiper-slide gallery__section nth-2-4" data-hash="gallery4">
					<div class="section__wrap">
						<div class="section__inner">
							<p class="gallery-style3__txt">
								<span class="gallery-style3__move nth-1">佰诺佰琪</span> <span class="gallery-style3__move nth-2">Motiva</span> <span class="gallery-style3__move nth-3">胸部</span> <span class="gallery-style3__move nth-4">修复手术</span>
							</p>
						</div>
					</div>
				</div>
				<!-- //section4 -->
				<!-- section5 -->
				<div class="swiper-slide gallery__section nth-2-5" data-hash="gallery5">
					<div class="section__wrap">
						<div class="section__inner">
							<div class="gallery-style4">
								<p class="gallery-style4__txt">不断 <br class="hidden-p"> 研究新</p>
								<h4 class="gallery-style4__tit">时尚的专家团队</h4>
							</div>
						</div>
					</div>
				</div>
				<!-- //section5 -->
				<!-- section6 -->
				<div class="swiper-slide gallery__section nth-2-6" data-hash="gallery6">
					<div class="section__box type-gallery">
						<div class="section__wrap">
							<div class="section__inner">
								<div class="gallery__side">
									<div class="gallery__box">
										<div class="gallery-style5">
											<div class="gallery-style5__wrap">
												<h4 class="gallery-style5__tit">BANOBAGI</h4>
												<p class="gallery-style5__txt">PLASTIC SURGERY</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="section__box type-gallery"></div>
				</div>
				<!-- //section6 -->
				<!-- section7 -->
				<div class="swiper-slide gallery__section nth-2-7" data-hash="gallery7">
					<div class="section__wrap">
						<div class="section__inner">
							<div class="gallery-style6">
								<p class="gallery-style6__txt">
									<span class="gallery-style6__move nth-1">减少</span>
									<span class="gallery-style6__move nth-2">假体的破损危险的</span>
								</p>
								<h4 class="gallery-style6__tit">强大耐久性</h4>
							</div>
						</div>
					</div>
				</div>
				<!-- //section7 -->
				<!-- section8 -->
				<div class="swiper-slide gallery__section nth-2-8" data-hash="gallery8">
					<div class="section__box type-gallery"></div>
					<div class="section__box type-gallery">
						<div class="section__wrap">
							<div class="section__inner">
								<div class="gallery__side">
									<div class="gallery__box">
										<div class="gallery-style5 type-another">
											<div class="gallery-style5__wrap">
												<p class="gallery-style5__txt">BANOBAGI BREAST</p>
												<h4 class="gallery-style5__tit">SEASON4</h4>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- //section8 -->
				<!-- section9 -->
				<div class="swiper-slide gallery__section nth-2-9" data-hash="gallery9">
					<div class="section__wrap">
						<div class="section__inner">
							<div class="gallery-style7">
								<p class="gallery-style7__tit">
									Re:
									<span class="gallery-style7__point">new</span>
								</p>
								<div class="gallery-style7__box">
									<p class="gallery-style7__txt">
										<span class="gallery-style7__move nth-1">在原有假体</span>
										<span class="gallery-style7__move nth-2">基础上进化了的</span>
									</p>
									<h4 class="gallery-style7__subject">新型假体</h4>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- //section9 -->
				<!-- section10 -->
				<div class="swiper-slide gallery__section nth-2-10" data-hash="gallery10">
					<div class="section__wrap">
						<div class="section__inner">
							<div class="video__wrap">
								<div class="video__area">
									<div class="gallery-style8">
										<div class="gallery-style8__layer">
											<p class="gallery-style8__tit">
												<strong class="color1">Banobagi</strong><br>
												Motiva Reoperation
											</p>
											<div class="gallery-style8__box">
												<p class="gallery-style8__episode">Episode 02</p>
												<h4 class="gallery-style8__subject">
													Motiva胸部修复手术<br class="hidden-tm">
													<strong class="color1">#全新的</strong> 佰诺佰琪
												</h4>
												<p class="gallery-style8__txt">
													可亲自确定在佰诺佰琪接受Motiva胸部修复手术模特的真实故事。
												</p>
											</div>
										</div>
									</div>
									<!--//gallery-style8-->
									<div class="video__box">
										<div class="video__player nth-2">
											<a href="" class="video__btn js-video-play">play-btn</a>
											<div class="video__bg nth-2 js-video-play">video-bg</div>
											<iframe src="https://player.vimeo.com/video/244277323?background=1"  class="video__iframe"></iframe>
										</div>
									</div>
								</div>
								<!--mobile-->
								<div class="lnb type-gallery">
									<a href="" class="lnb__link nth-left"><span class="lnb__wrap">previous</span></a>
									<a href="" class="lnb__link nth-right"><span class="lnb__wrap">next</span></a>
								</div>
								<div class="gallery__link">
									<a href="" class="btn3 type-another">
										<span class="btn3__wrap">真实故事</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- //section10 -->
			</div>
		</div>
	</body>
</html>
