<%
	page = "gallery"
%>
		<% include ../_include/_header %>
		<div class="gallery__list swiper-container">
			<div class="progress timeAnimation timeFirstAnimation"></div>
			<div class="gallery-page">
				<div class="gallery-page__wrap">
					<span class="gallery-page__num-current">1</span>
					<span class="gallery-page__num-total"></span>
				</div>
			</div>
			<!--pc-->
			<div class="lnb type-pc">
				<a href="gallery4.thml" class="lnb__link nth-left">
					<span class="lnb__wrap">previous

					</span>
					<!-- thumbnail -->
					<span class="thumbnail">
						<span class="thumbnail__wrap">
							<img src="../../images/common/thumbnail_img4.png" alt="自然的" class="thumbnail__img">
							<span class="thumbnail__txt-box">
								<span class="thumbnail__tit">Episode 04</span><br>
								<span class="thumbnail__txt">#自然的</span>
							</span>
						</span>
					</span>
					<!-- //thumbnail -->
				</a>
				<a href="gallery1.html" class="lnb__link nth-right">
					<span class="lnb__wrap">next</span>
					<!-- thumbnail -->
					<span class="thumbnail">
						<span class="thumbnail__wrap">
							<img src="../../images/common/thumbnail_img1.png" alt="安全的" class="thumbnail__img">
							<span class="thumbnail__txt-box">
								<span class="thumbnail__tit">Episode 01</span><br>
								<span class="thumbnail__txt">#安全的</span>
							</span>
						</span>
					</span>
					<!-- //thumbnail -->
				</a>
			</div>
			<div class="gallery-state">
				<div class="timer"></div>
				<a href="" class="gallery__btn js-gallery"><span class="gallery__btn-wrap">play/stop</span></a>
			</div>
			<div class="gallery-nav">
			</div>
			<div class="gallery__wrap swiper-wrapper">
				<!-- section1 -->
				<div class="swiper-slide gallery__section nth-5-1" data-hash="gallery1">
					<div class="section__wrap">
						<div class="section__inner">
							<div class="gallery-style1">
								<h3 class="gallery-style1__tit">Re:
									<span class="gallery-style1__point">design</span>
								</h3>
								<div class="gallery-style1__box">
									<p class="gallery-style1__subject nth-1">更加 <strong class="color1">#美丽的</strong></p>
									<p class="gallery-style1__subject nth-2">梦想中的样子</p>
								</div>
								<p class="gallery-style1__txt">考虑到身体比例及形象 <br>美丽的胸部！</p>
							</div>
						</div>
					</div>
				</div>
				<!-- //section1 -->
				<!-- section2 -->
				<div class="swiper-slide gallery__section nth-5-2" data-hash="gallery2">
					<div class="section__wrap">
						<div class="section__inner">
							<div class="wrap">
								<div class="gallery-circle nth-1">
									<div class="gallery-circle__wrap">
										<p class="gallery-circle__txt">
											展现匀称饱满
											<span class="inline-block">的身材曲线</span>
										</p>
										<h4 class="gallery-circle__tit">MOTIVA</h4>
									</div>
								</div>
								<div class="gallery-circle nth-2">
									<div class="gallery-circle__wrap">
										<p class="gallery-circle__txt">
											通过仔细的咨询
											<span class="inline-block">了解顾客的意向</span>
										</p>
										<h4 class="gallery-circle__tit">Banobagi</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- //section2 -->
				<!-- section3 -->
				<div class="swiper-slide gallery__section nth-5-3" data-hash="gallery3">
					<div class="section__wrap">
						<div class="section__inner">
							<div class="gallery-style2">
								<p class="gallery-style2__txt">
									<span class="gallery-style2__move nth-1">根据个人身体</span>
									<span class="gallery-style2__move nth-2">特征</span>
								</p>
								<h4 class="gallery-style2__tit">有感觉的设计</h4>
							</div>
						</div>
					</div>
				</div>
				<!-- //section3 -->
				<!-- section4 -->
				<div class="swiper-slide gallery__section nth-5-4" data-hash="gallery4">
					<div class="section__wrap">
						<div class="section__inner">
							<p class="gallery-style3__txt">
								<span class="gallery-style3__move nth-1">佰诺佰琪</span> <span class="gallery-style3__move nth-2">Motiva</span> <span class="gallery-style3__move nth-3">胸部</span> <span class="gallery-style3__move nth-4">修复手术</span>
							</p>
						</div>
					</div>
				</div>
				<!-- //section4 -->
				<!-- section5 -->
				<div class="swiper-slide gallery__section nth-5-5" data-hash="gallery5">
					<div class="section__wrap">
						<div class="section__inner">
							<div class="gallery-style4">
								<p class="gallery-style4__txt">选择想要的<br class="hidden-p"> 大小及弹力</p>
								<h4 class="gallery-style4__tit">选择的多样性</h4>
							</div>
						</div>
					</div>
				</div>
				<!-- //section5 -->
				<!-- section6 -->
				<div class="swiper-slide gallery__section nth-5-6" data-hash="gallery6">
					<div class="section__box type-gallery">
						<div class="section__wrap">
							<div class="section__inner">
								<div class="gallery__side">
									<div class="gallery__box">
										<div class="gallery-style5">
											<div class="gallery-style5__wrap">
												<h4 class="gallery-style5__tit">BANOBAGI</h4>
												<p class="gallery-style5__txt">PLASTIC SURGERY</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="section__box type-gallery"></div>
				</div>
				<!-- //section6 -->
				<!-- section7 -->
				<div class="swiper-slide gallery__section nth-5-7" data-hash="gallery7">
					<div class="section__wrap">
						<div class="section__inner">
							<div class="gallery-style6">
								<p class="gallery-style6__txt">
									<span class="gallery-style6__move nth-1">通过沟通</span>
									<span class="gallery-style6__move nth-2">分享想要的结果</span>
								</p>
								<h4 class="gallery-style6__tit">定制式咨询</h4>
							</div>
						</div>
					</div>
				</div>
				<!-- //section7 -->
				<!-- section8 -->
				<div class="swiper-slide gallery__section nth-5-8" data-hash="gallery8">
					<div class="section__box type-gallery"></div>
					<div class="section__box type-gallery">
						<div class="section__wrap">
							<div class="section__inner">
								<div class="gallery__side">
									<div class="gallery__box">
										<div class="gallery-style5 type-another">
											<div class="gallery-style5__wrap">
												<p class="gallery-style5__txt">BANOBAGI BREAST</p>
												<h4 class="gallery-style5__tit">SEASON4</h4>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- //section8 -->
				<!-- section9 -->
				<div class="swiper-slide gallery__section nth-5-9" data-hash="gallery9">
					<div class="section__wrap">
						<div class="section__inner">
							<div class="gallery-style7">
								<p class="gallery-style7__tit">
									Re:
									<span class="gallery-style7__point">design</span>
								</p>
								<div class="gallery-style7__box">
									<p class="gallery-style7__txt">
										<span class="gallery-style7__move nth-1">根据动作幅度</span>
										<span class="gallery-style7__move nth-2">自然地变化</span>
									</p>
									<h4 class="gallery-style7__subject">律动的形状</h4>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- //section9 -->
				<!-- section10 -->
				<div class="swiper-slide gallery__section nth-5-10" data-hash="gallery10">
					<div class="section__wrap">
						<div class="section__inner">
							<div class="video__wrap">
								<div class="video__area">
									<div class="gallery-style8">
										<div class="gallery-style8__layer">
											<p class="gallery-style8__tit">
												<strong class="color1">Banobagi</strong><br>
												Motiva Reoperation
											</p>
											<div class="gallery-style8__box">
												<p class="gallery-style8__episode">Episode 05</p>
												<h4 class="gallery-style8__subject">
													Motiva胸部修复手术<br class="hidden-tm">
													<strong class="color1">#美丽的</strong> 佰诺佰琪
												</h4>
												<p class="gallery-style8__txt">
													可亲自确定在佰诺佰琪接受Motiva胸部修复手术模特的真实故事。
												</p>
											</div>
										</div>
									</div>
									<!--//gallery-style8-->
									<div class="video__box">
										<div class="video__player nth-5">
											<a href="" class="video__btn js-video-play">play-btn</a>
											<div class="video__bg nth-5">video-bg</div>
											<iframe src="https://player.vimeo.com/video/236352452?background=1&autoplay=0&loop=1"  class="video__iframe"></iframe>
										</div>
									</div>
								</div>
								<!--mobile-->
								<div class="lnb type-gallery">
									<a href="" class="lnb__link nth-left"><span class="lnb__wrap">previous</span></a>
									<a href="" class="lnb__link nth-right"><span class="lnb__wrap">next</span></a>
								</div>
								<div class="gallery__link">
									<a href="" class="btn3 type-another">
										<span class="btn3__wrap">真实故事</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- //section10 -->
			</div>
		</div>
	</body>
</html>
