<%
	page = "real"
%>
<% include ../_include/_header %>
<div class="real common">

	<section class="visual type-real2 js-visual">
		<div class="video-bg">
			<iframe src="https://player.vimeo.com/video/244277323?background=1&amp;autoplay=1&amp;loop=1"  id="vimeo_main_iframe" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" class="video-bg__iframe"></iframe>
		</div>
		<div class="visual__box">
			<div class="visual__relative">
				<div class="visual__typo">
					<h3 class="visual__tit">
						Re:
						<span class="visual__tit-point">al <span class="color1">Story</span></span>
					</h3>
				</div>
				<div class="visual__wrap">
					<h4 class="visual__subject">
						<strong>Episode 02_</strong> 重新 <span class="visual__subject-point color1">#全新的</span> 更加理想
					</h4>
					<div class="visual__black">
						<div class="visual__black-wrap">
							<p class="visual__txt1">
								我不是因为副作用，有问题才决定做修复手术的。之前隆胸做了很长时间和最近的胸部整形比较，有很多遗憾的地方，所以想用更好的假体做新的手术。修复手术之后真的很满足。假体和手术方法真的发展了很多，这个可以用身体感受得到。
							</p>
							<p class="visual__txt2">
								大小，模样，自然，还有比以前更加轻松的手术，在很多地方感到满足，连心情都变得很好！
							</p>
						</div>
					</div>
					<a href="" class="visual__btn js-visual-info">버튼</a>
				</div>
			</div>
		</div>
		<!--//visual__box-->
		<div class="scroll">
			<div class="scroll__wrap js-down2">
				<div class="scroll__txt nth-left">scroll</div><div class="scroll__line"></div><div class="scroll__txt nth-right">down</div>
			</div>
		</div>

	</section>
	<section class="section">
		<div class="real__box first">
			<div class="visual-wheel js-visual-wheel">휠영역</div>
			<div class="wrap">
				<div class="real__wrap">
					<h4 class="real__tit">
						<span class="real__tit-point">Step <span class="color1">01</span></span>
						1:1 <strong>定制咨询</strong>及<strong>精密检查</strong>
					</h4>
				</div>
				<ul class="real__list">
					<li class="real__item js-motion col-6">
						<div class="real__img-box">
							<img src="../../images/real/2/real_img1.jpg" class="real__img" alt="1:1 맞춤상담 및 정밀검사하는 이미지1">
						</div>
					</li>
					<li class="real__item js-motion col-6 type-delay">
						<div class="real__img-box">
							<img src="../../images/real/2/real_img2.jpg" class="real__img" alt="1:1 맞춤상담 및 정밀검사하는 이미지2">
						</div>
					</li>
					<li class="real__item js-motion col-12">
						<div class="real__img-box">
							<img src="../../images/real/2/real_img3.jpg" class="real__img" alt="1:1 맞춤상담 및 정밀검사하는 이미지3">
						</div>
					</li>
					<li class="real__item js-motion col-9">
						<div class="real__img-box type-real2-1">
							<img src="../../images/real/2/real_img4.jpg" class="real__img hidden-m" alt="1:1 맞춤상담 및 정밀검사하는 이미지4">
						</div>
					</li>
					<li class="real__item js-motion col-3 type-delay">
						<div class="real__img-box">
							<img src="../../images/real/2/real_img5.jpg" class="real__img" alt="1:1 맞춤상담 및 정밀검사하는 이미지5">
						</div>
					</li>
					<li class="real__item js-motion col-6 type-delay">
						<div class="real__img-box">
							<img src="../../images/real/2/real_img6.jpg" class="real__img" alt="1:1 맞춤상담 및 정밀검사하는 이미지6">
							<div class="real__img-txt">
								<div class="real__img-wrap">为了安全的麻醉进行心电图检查</div>
							</div>
						</div>
					</li>
					<li class="real__item js-motion col-6">
						<div class="real__img-box">
							<img src="../../images/real/2/real_img7.jpg" class="real__img" alt="">
							<div class="real__img-txt">
								<div class="real__img-wrap">手术前为了确认状态的血液检查</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<!-- //real__box nth-1 -->
		<div class="real__box gray">
			<div class="wrap">
				<div class="real__wrap">
					<h4 class="real__tit">
						<span class="real__tit-point">Step <span class="color1">02</span></span>
						潘在常院长的<br>
						<strong>MOTIVA修复手术设计</strong>
					</h4>
				</div>
				<ul class="real__list">
					<li class="real__item js-motion col-6">
						<div class="real__img-box">
							<img src="../../images/real/2/real_img8.jpg" class="real__img" alt="가슴 전담팀의 모티바 재수술 디자인 이미지1">
						</div>
					</li>
					<li class="real__item js-motion col-6 type-delay">
						<div class="real__img-box">
							<img src="../../images/real/2/real_img9.jpg" class="real__img" alt="가슴 전담팀의 모티바 재수술 디자인 이미지2">
						</div>
					</li>
				</ul>
			</div>
		</div>
		<!-- //real__box nth-2 -->
		<div class="real__box">
			<div class="wrap">
				<div class="real__wrap">
					<h4 class="real__tit">
						<span class="real__tit-point">Step <span class="color1">03</span></span>
						手术后有体系的 <strong class="inline-block">管理及复诊</strong>
					</h4>
				</div>
				<ul class="real__list">
					<li class="real__item js-motion col-6 type-delay">
						<div class="real__img-box">
							<img src="../../images/real/2/real_img10.jpg" class="real__img" alt="수술 후 체계적인 케어 및 체크 이미지1">
						</div>
					</li>
					<li class="real__item js-motion col-6">
						<div class="real__img-box">
							<img src="../../images/real/2/real_img11.jpg" class="real__img" alt="수술 후 체계적인 케어 및 체크 이미지2">
						</div>
					</li>
					<li class="real__item js-motion col-12">
						<div class="real__img-box">
							<img src="../../images/real/2/real_img12.jpg" class="real__img" alt="수술 후 체계적인 케어 및 체크 이미지3">
							<div class="real__img-txt">
								<div class="real__img-wrap">帮助快速恢复的 Bio photon</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<!-- //real__box nth-3 -->
		<div class="real__box gray">
			<div class="wrap">
				<div class="real__wrap">
					<h4 class="real__tit">
						<span class="real__tit-point">Step <span class="color1">04</span></span>
						MOTIVA 修复手术 <strong>摄影写真</strong>
					</h4>
				</div>
				<ul class="real__list">
					<li class="real__item js-motion col-6 type-verRel">
						<div class="real__img-box">
							<img src="../../images/real/2/real_img13.jpg" class="real__img" alt="모티바 재수술 촬영 스케치1">
						</div>
						<div class="real__img-box">
							<img src="../../images/real/2/real_img14.jpg" class="real__img" alt="모티바 재수술 촬영 스케치2">
						</div>
					</li>
					<li class="real__item js-motion col-6 type-vertical type-delay">
						<div class="real__img-box type-real2-2"><!--typ-real 모바일에서 백그라운드 이미지로 변경-->
							<img src="../../images/real/2/real_img15.jpg" class="real__img hidden-m" alt="모티바 재수술 촬영 스케치3"><!--pcimg-->
						</div>
					</li>
					<li class="real__item js-motion col-12">
						<div class="real__img-box">
							<img src="../../images/real/2/real_img16.jpg" class="real__img" alt="모티바 재수술 촬영 스케치4">
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="lnb">
			<a href="real1.html" class="lnb__link nth-left">
				<span class="lnb__wrap">previous</span>
				<!-- thumbnail -->
				<span class="thumbnail">
					<span class="thumbnail__wrap">
						<img src="../../images/common/thumbnail_img1.png" alt="安全的" class="thumbnail__img">
						<span class="thumbnail__txt-box">
							<span class="thumbnail__tit">Episode 01</span><br>
							<span class="thumbnail__txt">#安全的</span>
						</span>
					</span>
				</span>
				<!-- //thumbnail -->
			</a>
			<a href="real3.html" class="lnb__link nth-right">
				<span class="lnb__wrap">next</span>
				<!-- thumbnail -->
				<span class="thumbnail">
					<span class="thumbnail__wrap">
						<img src="../../images/common/thumbnail_img3.png" alt="英姿飒爽" class="thumbnail__img">
						<span class="thumbnail__txt-box">
							<span class="thumbnail__tit">Episode 03</span><br>
							<span class="thumbnail__txt">#英姿飒爽</span>
						</span>
					</span>
				</span>
				<!-- //thumbnail -->
			</a>
		</div>
		<div class="section__bottom type-real2">
			<div class="section__bottom-wrap">
				<a href="../gallery/gallery2.html" class="btn3">
					<span class="btn3__wrap">相册</span>
				</a>
				<a href="" class="top-btn js-top">Top</a>
			</div>
		</div>
	</section>
</div>
<% include ../_include/_footer %>
