<%
	page = "real"
%>
<% include ../_include/_header %>
<div class="real common">

	<section class="visual type-real5 js-visual">
		<div class="video-bg">
			<iframe src="https://player.vimeo.com/video/244277323?background=1&amp;autoplay=1&amp;loop=1"  id="vimeo_main_iframe" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" class="video-bg__iframe"></iframe>
		</div>
		<div class="visual__box">
			<div class="visual__relative">
				<div class="visual__typo">
					<h3 class="visual__tit">
						Re:
						<span class="visual__tit-point">al <span class="color1">Story</span></span>
					</h3>
				</div>
				<div class="visual__wrap">
					<h4 class="visual__subject">
						<strong>Episode 05_</strong> 更加<span class="visual__subject-point color1"> #美丽的</span> 梦想中的样子
					</h4>
					<div class="visual__black">
						<div class="visual__black-wrap">
							<p class="visual__txt1">
								我第一次是做的水滴形胸部假体。咨询的时候就对大小不是很满意，觉得应该比想象中好，所以就做了…但是越消肿比原来小很多，而且模样也不好看。正在考虑做修复手术的时候遇到了佰诺佰琪。佰诺佰琪从咨询开始就不一样，对以前的整形为什么不适合，推荐的手术，对体型进行分析的说明，我也就很容易理解了。结果选择了MOTIVA,手术做的很成功。
							</p>
							<p class="visual__txt2">
								现在看镜子中的自己，仿佛在镜中看到了想象中有魅力的我，所以非常满意~
							</p>
						</div>
					</div>
					<a href="" class="visual__btn js-visual-info">버튼</a>
				</div>
			</div>
		</div>
		<!--//visual__box-->
		<div class="scroll">
			<div class="scroll__wrap js-down2">
				<div class="scroll__txt nth-left">scroll</div><div class="scroll__line"></div><div class="scroll__txt nth-right">down</div>
			</div>
		</div>

	</section>
	<section class="section">
		<div class="real__box first">
			<div class="visual-wheel js-visual-wheel">휠영역</div>
			<div class="wrap">
				<div class="real__wrap">
					<h4 class="real__tit">
						<span class="real__tit-point">Step <span class="color1">01</span></span>
						1:1 <strong>定制咨询</strong>及<strong>精密检查</strong>
					</h4>
				</div>
				<ul class="real__list">
					<li class="real__item js-motion col-6">
						<div class="real__img-box">
							<img src="../../images/real/5/real_img1.jpg" class="real__img" alt="1:1 맞춤상담 및 정밀검사하는 이미지1">
						</div>
					</li>
					<li class="real__item js-motion col-6 type-delay">
						<div class="real__img-box">
							<img src="../../images/real/5/real_img2.jpg" class="real__img" alt="1:1 맞춤상담 및 정밀검사하는 이미지2">
						</div>
					</li>
					<li class="real__item js-motion col-12">
						<div class="real__img-box">
							<img src="../../images/real/5/real_img3.jpg" class="real__img" alt="1:1 맞춤상담 및 정밀검사하는 이미지3">
						</div>
					</li>
					<li class="real__item js-motion col-9">
						<div class="real__img-box type-real5-1">
							<img src="../../images/real/5/real_img4.jpg" class="real__img hidden-m" alt="1:1 맞춤상담 및 정밀검사하는 이미지4">
						</div>
					</li>
					<li class="real__item js-motion col-3 type-delay">
						<div class="real__img-box">
							<img src="../../images/real/5/real_img5.jpg" class="real__img" alt="1:1 맞춤상담 및 정밀검사하는 이미지5">
						</div>
					</li>
					<li class="real__item js-motion col-6 type-delay">
						<div class="real__img-box">
							<img src="../../images/real/5/real_img6.jpg" class="real__img" alt="1:1 맞춤상담 및 정밀검사하는 이미지6">
							<div class="real__img-txt">
								<div class="real__img-wrap">为了安全的麻醉进行心电图检查</div>
							</div>
						</div>
					</li>
					<li class="real__item js-motion col-6">
						<div class="real__img-box">
							<img src="../../images/real/5/real_img7.jpg" class="real__img" alt="1:1 맞춤상담 및 정밀검사하는 이미지7">
							<div class="real__img-txt">
								<div class="real__img-wrap">手术前为了确认状态的血液检查</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<!-- //real__box nth-1 -->
		<div class="real__box gray">
			<div class="wrap">
				<div class="real__wrap">
					<h4 class="real__tit">
						<span class="real__tit-point">Step <span class="color1">02</span></span>
						潘在常院长的<br>
						<strong>Motiva修复手术设计</strong>
					</h4>
				</div>
				<ul class="real__list">
					<li class="real__item js-motion col-6">
						<div class="real__img-box">
							<img src="../../images/real/5/real_img8.jpg" class="real__img" alt="가슴 전담팀의 모티바 재수술 디자인 이미지1">
						</div>
					</li>
					<li class="real__item js-motion col-6 type-delay">
						<div class="real__img-box">
							<img src="../../images/real/5/real_img9.jpg" class="real__img" alt="가슴 전담팀의 모티바 재수술 디자인 이미지2">
						</div>
					</li>
				</ul>
			</div>
		</div>
		<!-- //real__box nth-2 -->
		<div class="real__box">
			<div class="wrap">
				<div class="real__wrap">
					<h4 class="real__tit">
						<span class="real__tit-point">Step <span class="color1">03</span></span>
						手术后体系化的 <strong class="inline-block">护理和复查</strong>
					</h4>
				</div>
				<ul class="real__list">
					<li class="real__item js-motion col-6 type-delay">
						<div class="real__img-box">
							<img src="../../images/real/5/real_img10.jpg" class="real__img" alt="수술 후 체계적인 케어 및 체크 이미지1">
						</div>
					</li>
					<li class="real__item js-motion col-6">
						<div class="real__img-box">
							<img src="../../images/real/5/real_img11.jpg" class="real__img" alt="수술 후 체계적인 케어 및 체크 이미지2">
						</div>
					</li>
					<li class="real__item js-motion col-12">
						<div class="real__img-box">
							<img src="../../images/real/5/real_img12.jpg" class="real__img" alt="수술 후 체계적인 케어 및 체크 이미지3">
							<div class="real__img-txt">
								<div class="real__img-wrap">帮助快速恢复的Bio Photon</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<!-- //real__box nth-3 -->
		<div class="real__box gray">
			<div class="wrap">
				<div class="real__wrap">
					<h4 class="real__tit">
						<span class="real__tit-point">Step <span class="color1">04</span></span>
						结合佰诺佰琪皮肤科<br> <strong>疤痕管理项目</strong>
					</h4>
				</div>
				<ul class="real__list">
					<li class="real__item js-motion col-6 type-delay">
						<div class="real__img-box">
							<img src="../../images/real/5/real_img13.jpg" class="real__img" alt="바노바기 피부과 연계 힐링 스카 프로젝트 이미지1">
							<div class="real__img-txt">
								<div class="real__img-wrap">针对红色或半褐色的疤痕有效果的激光柔肤来治疗</div>
							</div>
						</div>
					</li>
					<li class="real__item js-motion col-6">
						<div class="real__img-box">
							<img src="../../images/real/5/real_img14.jpg" class="real__img" alt="바노바기 피부과 연계 힐링 스카 프로젝트 이미지2">
							<div class="real__img-txt">
								<div class="real__img-wrap">针对突出来的疤痕有效果的注射疗法</div>
							</div>
						</div>
					</li>
					<li class="real__item js-motion col-12">
						<div class="real__img-box">
							<img src="../../images/real/5/real_img15.jpg" class="real__img" alt="바노바기 피부과 연계 힐링 스카 프로젝트 이미지3">
							<div class="real__img-txt">
								<div class="real__img-wrap">针对红色或是半褐色的疤痕有效果的V-beam激光治疗</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<!-- //real__box nth-4 -->
		<div class="real__box">
			<div class="wrap">
				<div class="real__wrap">
					<h4 class="real__tit">
						<span class="real__tit-point">Step <span class="color1">05</span></span>
						motiva修复手 <strong>术照片拍摄</strong>
					</h4>
				</div>
				<ul class="real__list">
					<li class="real__item js-motion col-6 type-verRel">
						<div class="real__img-box">
							<img src="../../images/real/5/real_img16.jpg" class="real__img" alt="모티바 재수술 촬영 스케치1">
						</div>
						<div class="real__img-box">
							<img src="../../images/real/5/real_img17.jpg" class="real__img" alt="모티바 재수술 촬영 스케치2">
						</div>
					</li>
					<li class="real__item js-motion col-6 type-vertical type-delay">
						<div class="real__img-box type-real5-2"><!--typ-real 모바일에서 백그라운드 이미지로 변경-->
							<img src="../../images/real/5/real_img18.jpg" class="real__img hidden-m" alt="모티바 재수술 촬영 스케치3"><!--pcimg-->
						</div>
					</li>
					<li class="real__item js-motion col-12">
						<div class="real__img-box">
							<img src="../../images/real/5/real_img19.jpg" class="real__img" alt="모티바 재수술 촬영 스케치4">
						</div>
					</li>
				</ul>
			</div>
		</div>
		<!-- //real__box nth-5 -->
		<div class="lnb">
			<a href="real4.html" class="lnb__link nth-left">
				<span class="lnb__wrap">previous</span>
				<!-- thumbnail -->
				<span class="thumbnail">
					<span class="thumbnail__wrap">
						<img src="../../images/common/thumbnail_img4.png" alt="自然的" class="thumbnail__img">
						<span class="thumbnail__txt-box">
							<span class="thumbnail__tit">Episode 04</span><br>
							<span class="thumbnail__txt">#自然的</span>
						</span>
					</span>
				</span>
				<!-- //thumbnail -->
			</a>
			<a href="real1.html" class="lnb__link nth-right">
				<span class="lnb__wrap">next</span>
				<!-- thumbnail -->
				<span class="thumbnail">
					<span class="thumbnail__wrap">
						<img src="../../images/common/thumbnail_img1.png" alt="安全的" class="thumbnail__img">
						<span class="thumbnail__txt-box">
							<span class="thumbnail__tit">Episode 01</span><br>
							<span class="thumbnail__txt">#安全的</span>
						</span>
					</span>
				</span>
				<!-- //thumbnail -->
			</a>
		</div>
		<div class="section__bottom type-real5">
			<div class="section__bottom-wrap">
				<a href="../gallery/gallery5.html" class="btn3">
					<span class="btn3__wrap">相册</span>
				</a>
				<a href="" class="top-btn js-top">Top</a>
			</div>
		</div>
	</section>
</div>
<% include ../_include/_footer %>
