@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url("https://fonts.googleapis.com/css?family=Damion");
html, body {
		margin: 0;
		padding: 0;
		font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", 돋음, Dotum, "Helvetica Neue", Helvetica, Arial, serif;
		color: #333;
		font-weight: 300;
		font-size: 14px;
		line-height: 1.3;
		letter-spacing: -1px;
		word-break: keep-all;
}

@media only screen and (max-width: 668px) {
		html, body {
				font-size: 10px;
		}
}

html.is-active, body.is-active {
		position: fixed;
		overflow: hidden;
		width: 100%;
		height: 100%;
}

html.is-hidden, body.is-hidden {
		overflow: hidden;
}

@media only screen and (max-width: 330px) {
		html, body {
				font-size: 9px;
		}
}

.sns {
		display: inline-block;
}

.sns.type-footer {
		margin-right: 26px;
		padding-top: 8px;
}

.sns.type-main .sns__item {
		float: none;
		display: block;
}

.sns.type-main .sns__item + .sns__item {
		margin-top: 30px;
		margin-left: 0px;
}

.sns__list {
		margin: 0;
		padding: 0;
		list-style: none;
}

.sns__list:after {
		display: block;
		clear: both;
		content: '';
}

.sns__link {
		display: block;
		width: 100%;
		height: 100%;
}

.sns__item {
		float: left;
		overflow: hidden;
		width: 30px;
		height: 26px;
		background: url("../images/common/sns_icon.png");
		text-indent: -9999px;
}

.sns__item.nth-2 {
		background-position-y: -26px;
}

.sns__item.nth-3 {
		background-position-y: -52px;
}

.sns__item.nth-4 {
		background-position-y: -78px;
}

.sns__item:hover {
		background-position-x: -60px;
}

.sns__item + .sns__item {
		margin-left: 18px;
}

@media only screen and (max-width: 668px) {
		.sns.type-footer {
				display: block;
				margin-right: 0px;
				margin-bottom: 15px;
				padding-top: 0px;
		}
		.sns__list {
				text-align: center;
				font-size: 0;
		}
		.sns__item {
				float: none;
				display: inline-block;
				width: 23px;
				height: 19px;
				background: url("../images/common/sns_icon_m.png");
				background-size: 23px 76px;
		}
		.sns__item.nth-2 {
				background-position-y: -19px;
		}
		.sns__item.nth-3 {
				background-position-y: -38px;
		}
		.sns__item.nth-4 {
				background-position-y: -57px;
		}
		.sns__item:hover {
				background-position-x: 0px;
		}
		.sns__item + .sns__item {
				margin-left: 13px;
		}
}

.select1 {
		display: inline-block;
		width: 140px;
		height: 40px;
		margin: auto 0;
		box-sizing: border-box;
		color: #aaabad;
		vertical-align: top;
}

.select1.type-another {
		width: 170px;
}

.select1__wrap {
		position: relative;
}

.select1__wrap:hover .select1__tit {
		background-color: #3c3f45;
}

.select1__wrap.is-active .select1__list {
		display: block;
}

.select1__wrap.is-active .select1__tit {
		background-color: #3c3f45;
}

.select1__wrap.is-active .select1__tit:after {
		transform: rotate(180deg);
}

.select1__tit {
		display: block;
		padding: 0px 14px 0 20px;
		height: 40px;
		text-decoration: none;
		line-height: 40px;
		cursor: pointer;
		border: 1px solid #5a5d63;
		text-transform: uppercase;
		font-size: 14px;
		text-align: left;
}

.select1__tit:after {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 10px;
		width: 0px;
		height: 0px;
		margin: auto 0;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-top: 5px solid #aaabad;
		content: '';
}

.select1__tit-link {
		color: inherit;
		text-decoration: none;
}

.select1__list {
		display: none;
		position: absolute;
		width: 100%;
		padding: 10px 15px;
		margin: 0;
		background-color: #5a5d63;
		box-sizing: border-box;
		z-index: 95;
}

.select1__item {
		list-style: none;
}

.select1__link {
		display: block;
		padding: 7px 0;
		color: inherit;
		text-decoration: none;
		font-size: 12px;
		text-align: left;
}

.select1__link:hover {
		color: #36d1dc;
}

.select1__link.type-another {
		padding: 0;
}

.select1 + .select1 {
		margin-left: -1px;
}

@media only screen and (max-width: 668px) {
		.select1 {
				width: 145px;
				height: 30px;
		}
		.select1.type-another {
				width: 140px;
		}
		.select1__tit {
				padding: 0 10px;
				height: 30px;
				line-height: 30px;
				font-size: 1.1rem;
		}
		.select1__tit:after {
				right: 10px;
				border-width: 4px;
		}
		.select1__list {
				padding: 10px;
		}
		.select1__link {
				font-size: 1.0rem;
		}
}

.global {
		display: inline-block;
		width: 55px;
		height: 55px;
		border: 1px solid #fff;
		border: 1px solid rgba(255, 255, 255, 0.5);
		text-align: left;
		box-sizing: border-box;
}

.global__wrap {
		position: relative;
		height: 100%;
}

.global__wrap.is-active .global__list {
		display: block;
}

.global__wrap.is-active .global__tit {
		display: block;
		background-color: rgba(51, 51, 51, 0.5);
}

.global__tit {
		overflow: hidden;
		display: block;
		width: 100%;
		height: 100%;
		text-indent: -9999px;
		background: url("../images/common/global.png") no-repeat center center;
}

.global__tit:hover {
		background-color: rgba(51, 51, 51, 0.5);
}

.global__tit-link {
		display: block;
		height: 100%;
		color: inherit;
		text-decoration: none;
}

.global__list {
		display: none;
		position: absolute;
		left: 0;
		margin: 5px 0 0 0;
		padding: 0;
		box-sizing: border-box;
		z-index: 50;
}

.global__item {
		list-style: none;
}

.global__item + .global__item {
		margin-top: 1px;
}

.global__link {
		display: block;
		padding: 5px 10px;
		background: rgba(255, 255, 255, 0.5);
		color: inherit;
		text-decoration: none;
		font-size: 12px;
		letter-spacing: 0;
}

.global__link:hover {
		color: #36d1dc;
		background: rgba(51, 51, 51, 0.5);
}

.global__link.type-another {
		padding: 0;
}

.global + .global {
		margin-left: -1px;
}

.global + .btn1 {
		margin-left: 10px;
}

.global.is-active {
		display: none;
}

.global.is-section {
		border: 1px solid rgba(90, 93, 99, 0.5);
		color: #5a5d63;
}

.global.is-section .global__tit {
		background: url("../images/common/global_on.png") no-repeat center center;
}

.global.is-section .global__tit:hover {
		background: url("../images/common/global.png") no-repeat center center;
		background-color: #adadad;
}

.global.is-section .global__wrap.is-active .global__tit {
		background: url("../images/common/global.png") no-repeat center center;
		background-color: #adadad;
}

@media only screen and (max-width: 1025px) {
		.global__tit:hover {
				background-color: transparent;
		}
}

@media only screen and (max-width: 668px) {
		.global {
				display: none;
		}
		.global + .btn1 {
				margin-left: 0px;
		}
}

.btn1 {
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		position: relative;
		display: inline-block;
		height: 55px;
		padding: 0 30px;
		border: 1px solid #fff;
		border: 1px solid rgba(255, 255, 255, 0.5);
		color: #fff;
		text-align: center;
		text-decoration: none;
		vertical-align: top;
		font-size: 17px;
		cursor: pointer;
		line-height: 1;
		text-indent: 0;
		font-weight: 400;
		transition: all 0.3s;
}

.btn1:after {
		display: inline-block;
		height: 100%;
		vertical-align: middle;
		content: '';
}

.btn1__wrap {
		display: inline-block;
		vertical-align: middle;
}

.btn1:hover {
		background-color: #36d1dc;
		border: 1px solid #36d1dc;
		color: #fff;
}

.btn1 + .btn2 {
		margin-left: 10px;
}

.btn1.is-section {
		border: 1px solid rgba(90, 93, 99, 0.5);
		color: #5a5d63;
}

.btn1.is-section:hover {
		background-color: #36d1dc;
		border: 1px solid #36d1dc;
		color: #fff;
}

.btn1.is-important {
		color: #fff !important;
}

@media only screen and (max-width: 1025px) {
		.btn1 {
				background-color: #36d1dc;
				border: 1px solid #36d1dc;
				color: #fff;
		}
		.btn1.is-section {
				border: 1px solid #36d1dc;
				color: #fff;
		}
}

@media only screen and (max-width: 668px) {
		.btn1 {
				height: 46px;
				width: 46px;
				padding: 8px;
				box-sizing: border-box;
				text-align: center;
				font-size: 1.3rem;
				line-height: 1.2;
		}
		.btn1 + .btn2 {
				margin-left: 6px;
		}
		.btn1__wrap {
				margin-top: -1px;
				margin-left: -1px;
		}
}

.btn2 {
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		position: relative;
		display: inline-block;
		height: 55px;
		padding: 0 30px;
		color: #fff;
		text-align: center;
		text-decoration: none;
		background-color: rgba(51, 51, 51, 0.8);
		vertical-align: top;
		font-size: 17px;
		cursor: pointer;
		line-height: 1;
		text-indent: 0;
		font-weight: 400;
		transition: all 0.3s;
}

.btn2:after {
		display: inline-block;
		height: 100%;
		vertical-align: middle;
		content: '';
}

.btn2__wrap {
		display: inline-block;
		margin: -1px 0 0 14px;
		vertical-align: middle;
}

.btn2__block {
		position: relative;
		width: 20px;
		height: 15px;
		display: inline-block;
		vertical-align: middle;
		transition: all 0.3s;
}

.btn2__bar {
		position: absolute;
		right: 0;
		left: 0;
		display: inline-block;
		width: 100%;
		height: 0;
		border-top: 1px solid #fff;
		margin: auto 0;
		transition: all 0.3s;
}

.btn2__bar.nth-1 {
		top: 0;
}

.btn2__bar.nth-2 {
		top: 0;
		bottom: 0;
}

.btn2__bar.nth-3 {
		bottom: 0;
}

.btn2:hover .btn2__bar.nth-1 {
		left: 7px;
}

.btn2:hover .btn2__bar.nth-3 {
		left: -7px;
}

.btn2.is-active .btn2__block {
		overflow: hidden;
}

.btn2.is-active .btn2__bar.nth-1 {
		left: 0;
		bottom: 0;
		transform: rotate(45deg);
}

.btn2.is-active .btn2__bar.nth-2 {
		left: auto;
		right: -30px;
}

.btn2.is-active .btn2__bar.nth-3 {
		left: 0;
		top: 0;
		transform: rotate(135deg);
}

@media only screen and (max-width: 1025px) {
		.btn2:hover .btn2__bar.nth-1 {
				left: 0px;
		}
		.btn2:hover .btn2__bar.nth-3 {
				left: 0px;
		}
}

@media only screen and (max-width: 668px) {
		.btn2 {
				height: 46px;
				width: 46px;
				padding: 0px;
				box-sizing: border-box;
				text-align: center;
		}
		.btn2__wrap {
				display: none;
		}
		.btn2__block {
				width: 16px;
				height: 15px;
				margin-right: -2px;
		}
}

.btn3 {
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		position: relative;
		display: inline-block;
		height: 70px;
		padding: 0 47px 0 55px;
		border: 1px solid #a7adae;
		color: #fff;
		text-align: center;
		text-decoration: none;
		border-radius: 35px 35px 35px 35px;
		vertical-align: top;
		font-size: 20px;
		cursor: pointer;
		line-height: 1;
		text-indent: 0;
		font-weight: 500;
		transition: all 0.3s;
		text-transform: uppercase;
}

.btn3:after {
		display: inline-block;
		height: 100%;
		vertical-align: middle;
		content: '';
}

.btn3__wrap {
		position: relative;
		display: inline-block;
		padding-right: 26px;
		vertical-align: middle;
}

.btn3__wrap:after {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		display: block;
		width: 8px;
		height: 10px;
		margin: auto 0;
		background: url("../images/common/btn_arrow_off.png");
		content: '';
}

.btn3:hover {
		background-color: #b77dff;
		border: 1px solid #b77dff;
		color: #333333;
}

.btn3:hover .btn3__wrap:after {
		background: url("../images/common/btn_arrow_on.png");
}

.btn3.type-another:hover {
		background-color: #36d1dc;
		border-color: #36d1dc;
}

@media only screen and (max-width: 1025px) {
		.btn3 {
				background-color: #b77dff;
				border: 1px solid #b77dff;
				color: #333333;
		}
		.btn3.type-another {
				background-color: #36d1dc;
				border-color: #36d1dc;
		}
		.btn3__wrap:after {
				background: url("../images/common/btn_arrow_on.png");
		}
}

@media only screen and (max-width: 668px) {
		.btn3 {
				height: 50px;
				padding: 0 30px 0 40px;
				border-radius: 25px 25px 25px 25px;
				font-size: 1.7rem;
		}
		.btn3__wrap {
				padding-right: 24px;
		}
		.btn3__wrap:after {
				width: 7px;
				height: 9px;
				background: url("../images/common/btn_arrow_on_m.png");
				background-size: 7px 9px;
		}
}

.btn4 {
		margin-top: 30px;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		position: relative;
		display: inline-block;
		height: 70px;
		padding: 0 66px;
		background-color: #36d1dc;
		color: #fff;
		text-align: center;
		text-decoration: none;
		border-radius: 35px 35px 35px 35px;
		vertical-align: top;
		font-size: 20px;
		cursor: pointer;
		line-height: 1;
		text-indent: 0;
		font-weight: 500;
		transition: all 0.3s;
		border: none;
}

.btn4:after {
		display: inline-block;
		height: 100%;
		vertical-align: middle;
		content: '';
}

.btn4__wrap {
		position: relative;
		display: inline-block;
		vertical-align: middle;
}

@media only screen and (max-width: 668px) {
		.btn4 {
				margin-top: 24px;
				height: 50px;
				padding: 0 36px;
				border-radius: 25px 25px 25px 25px;
				font-size: 1.7rem;
		}
}

.btn-area {
		margin-top: 50px;
}

@media only screen and (max-width: 668px) {
		.btn-area {
				margin-top: 20px;
		}
}

.pagination {
		position: fixed;
		right: 50px;
		top: 50%;
		padding: 0;
		margin: 0;
		-ms-transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
		font-size: 0;
		z-index: 10;
		list-style: none;
}

.pagination__item {
		position: relative;
}

.pagination__item:before {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: inline-block;
		width: 6px;
		height: 6px;
		margin: auto;
		background: #fff;
		content: '';
		z-index: -1;
}

.pagination__item + .pagination__item {
		margin-top: 10px;
}

.pagination__link {
		overflow: hidden;
		display: inline-block;
		width: 28px;
		height: 28px;
		text-indent: -999px;
		border: 1px solid transparent;
}

.pagination__link.active {
		border: 1px solid #5deef8;
}

@media only screen and (max-width: 1025px) {
		.pagination {
				display: none !important;
		}
}

.popup {
		display: none;
		position: fixed;
		top: 0;
		right: 0;
		height: 100%;
		width: 100%;
		background-color: #000;
		background-color: rgba(0, 0, 0, 0.65);
		text-align: center;
		z-index: 110;
}

.popup:before {
		display: inline-block;
		height: 100%;
		vertical-align: middle;
		content: '';
}

@media only screen and (max-width: 668px) {
		.popup {
				padding: 0 15px;
				box-sizing: border-box;
		}
		.popup:before {
				display: none;
		}
}

@media only screen and (max-width: 1025px) and (orientation: landscape) {
		.popup__scroll {
				overflow: auto;
				height: 300px;
		}
}

@media only screen and (max-width: 668px) {
		.popup__scroll {
				overflow: auto;
				height: 300px;
		}
}

@media only screen and (max-width: 668px) and (orientation: landscape) {
		.popup__scroll {
				overflow: auto;
				height: 100px;
		}
}

.popup__wrap {
		position: relative;
		display: inline-block;
		width: 600px;
		margin: auto;
		background-color: #fff;
		vertical-align: middle;
		box-sizing: border-box;
}

@media only screen and (max-width: 668px) {
		.popup__wrap {
				top: 50%;
				transform: translateY(-50%);
				width: 100%;
				padding: 56px 25px 40px;
		}
}

.popup__tit {
		margin: 0;
		font-size: 40px;
		font-weight: 400;
		color: #333;
}

@media only screen and (max-width: 668px) {
		.popup__tit {
				font-size: 3.1rem;
		}
}

.popup__sub-tit {
		margin: 0;
		font-size: 16px;
		color: #666;
}

@media only screen and (max-width: 668px) {
		.popup__sub-tit {
				margin: 0;
				font-size: 1.3rem;
		}
}

.popup__point {
		position: relative;
		display: inline-block;
		font-weight: 500;
}

.popup__point:after {
		display: block;
		width: 100%;
		border-top: 1px solid #666;
		content: '';
}

.popup__area {
		margin-left: -16px;
}

.popup__area:after {
		display: block;
		clear: both;
		content: '';
}

@media only screen and (max-width: 668px) {
		.popup__area {
				margin-left: 0;
		}
}

.popup__box {
		float: left;
		width: 50%;
		padding-left: 16px;
		box-sizing: border-box;
}

.popup__box + .popup__box + .popup__box {
		margin-top: 10px;
}

@media only screen and (max-width: 668px) {
		.popup__box {
				width: 100%;
				padding-left: 0;
		}
		.popup__box + .popup__box {
				margin-top: 10px;
		}
}

.popup__form {
		margin-top: 30px;
}

@media only screen and (max-width: 668px) {
		.popup__form {
				width: 100%;
				margin-top: 15px;
		}
}

.popup__set {
		text-align: right;
}

@media only screen and (max-width: 668px) {
		.popup__set {
				text-align: center;
		}
}

.popup__close {
		position: absolute;
		top: -40px;
		right: 0;
		overflow: hidden;
		display: inline-block;
		width: 32px;
		height: 32px;
		background: url("../images/common/popup_close.png");
		text-indent: -999px;
		content: '';
}

@media only screen and (max-width: 668px) {
		.popup__close {
				top: 20px;
				right: 20px;
				width: 25px;
				height: 25px;
				background: url("../images/common/popup_close_m.png");
				background-size: 25px 25px;
		}
}

.popup__btn1 {
		margin-left: 5px;
		font-size: 12px;
		color: #999;
}

.popup__btn1.is-close {
		display: none;
}

@media only screen and (max-width: 668px) {
		.popup__btn1 {
				font-size: 1.3rem;
		}
}

.popup__dl {
		margin: 3px 0 0 0;
		padding-left: 10px;
		box-sizing: border-box;
}

.popup__dl:after {
		display: block;
		clear: both;
		content: '';
}

@media only screen and (max-width: 668px) {
		.popup__dl {
				padding-left: 0;
		}
}

.popup__dt {
		float: left;
		font-size: 12px;
		color: #333;
}

@media only screen and (max-width: 668px) {
		.popup__dt {
				display: inline-block;
				float: none;
				font-size: 1.3rem;
		}
}

.popup__dd {
		position: relative;
		top: -3px;
}

@media only screen and (max-width: 668px) {
		.popup__dd {
				top: auto;
				display: inline-block;
				margin-left: 10px;
		}
}

.popup__check-area {
		margin-top: 20px;
		border-top: 1px solid #eeeeee;
		padding-top: 20px;
		box-sizing: border-box;
}

@media only screen and (max-width: 668px) {
		.popup__check-area {
				margin-top: 15px;
				padding-top: 15px;
		}
}

.popup__list {
		margin: -16px 0 0 -16px;
		padding: 0;
}

.popup__list:after {
		display: block;
		clear: both;
		content: '';
}

@media only screen and (max-width: 668px) {
		.popup__list {
				margin: -10px 0 0 -10px;
		}
}

.popup__item {
		float: left;
		margin-top: 16px;
		padding-left: 16px;
		box-sizing: border-box;
		list-style: none;
}

.popup__item.nth-2 label {
		background-position-y: -108px;
}

.popup__item.nth-3 label {
		background-position-y: -216px;
}

.popup__item.nth-4 label {
		background-position-y: -324px;
}

.popup__item.nth-5 label {
		background-position-y: -432px;
}

.popup__item.nth-6 label {
		background-position-y: -540px;
}

.popup__item.nth-7 label {
		background-position-y: -648px;
}

.popup__item.nth-8 label {
		background-position-y: -756px;
}

@media only screen and (max-width: 668px) {
		.popup__item {
				float: none;
				display: inline-block;
				margin-top: 10px;
				padding-left: 10px;
				vertical-align: top;
		}
		.popup__item.nth-2 label {
				background-position-y: -87px;
		}
		.popup__item.nth-3 label {
				background-position-y: -174px;
		}
		.popup__item.nth-4 label {
				background-position-y: -261px;
		}
		.popup__item.nth-5 label {
				background-position-y: -348px;
		}
		.popup__item.nth-6 label {
				background-position-y: -435px;
		}
		.popup__item.nth-7 label {
				background-position-y: -522px;
		}
		.popup__item.nth-8 label {
				background-position-y: -609px;
		}
}

.popup__info {
		margin-top: 20px;
		padding: 20px;
		background-color: #f6f6f6;
		box-sizing: border-box;
		font-size: 16px;
		color: #333;
		text-align: left;
}

@media only screen and (max-width: 668px) {
		.popup__info {
				margin-top: 20px;
				padding: 15px 20px;
				font-size: 1.3rem;
		}
}

.popup__info-dl {
		margin: 0;
}

.popup__info-dt {
		position: relative;
		float: left;
		padding-right: 28px;
		font-weight: 400;
}

.popup__info-dt:after {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 8px;
		margin: auto 0;
		display: inline-block;
		width: 8px;
		height: 8px;
		background: url("../images/common/popup_bar.png");
		content: '';
}

@media only screen and (max-width: 668px) {
		.popup__info-dt {
				padding-right: 20px;
		}
		.popup__info-dt:after {
				right: 5px;
				width: 6px;
				height: 6px;
				background: url("../images/common/popup_bar_m.png");
				background-size: 6px 6px;
				content: '';
		}
}

.popup__info-dd {
		margin: 0;
		font-weight: 300;
		letter-spacing: -1px;
}

@media only screen and (max-width: 668px) {
		.popup__info-dd.type-another {
				padding-left: 70px;
		}
}

.popup__info-point {
		font-weight: 400;
}

.terms {
		display: none;
		position: relative;
		text-align: left;
}

.terms__tit {
		margin: 0;
		font-size: 20px;
		font-weight: 400;
		color: #666;
}

.terms__area {
		overflow: auto;
		height: 175px;
		margin-top: 5px;
		padding: 15px 0 15px 15px;
		border: 1px solid #dddddd;
		background: #fcfcfc;
		font-size: 14px;
		color: #333333;
		box-sizing: border-box;
		line-height: 1.6;
}

.terms__box + .terms__box {
		margin-top: 20px;
}

.terms__close {
		position: absolute;
		top: -10px;
		right: 0px;
		overflow: hidden;
		display: inline-block;
		width: 25px;
		height: 25px;
		background: url("../images/common/terms_close.png");
		text-indent: -999px;
		content: '';
}

.terms__txt p {
		margin: 0;
}

.terms__txt strong {
		font-weight: 400;
}

@media only screen and (max-width: 668px) {
		.terms__tit {
				font-size: 1.7rem;
		}
		.terms__area {
				font-size: 1.3rem;
		}
		.terms__close {
				top: -5px;
				width: 21px;
				height: 21px;
				background: url("../images/common/terms_close_m.png");
				background-size: 21px 21px;
		}
}

.txt-deco {
		position: relative;
		display: inline-block;
}

.txt-deco:after {
		display: block;
		width: 100%;
		height: 0;
		border-top: 1px solid #5deef8;
		content: '';
}

/*radio,checkbox*/
.checkbox01 + label {
		display: inline-block;
		margin-bottom: 0;
}

@media only screen {
		.checkbox01 {
				overflow: hidden;
				position: absolute;
				top: auto;
				width: 1px;
				height: 1px;
				padding: 0;
				margin: -1px;
				border: 0;
				clip: rect(0, 0, 0, 0);
		}
		.checkbox01 + label {
				position: relative;
				margin-left: 0;
				padding-left: 20px;
				cursor: pointer;
				font-size: 12px;
				color: #333;
				font-weight: 300;
		}
}

@media only screen and (max-width: 668px) {
		.checkbox01 + label {
				font-size: 1.3rem;
		}
}

@media only screen {
		.checkbox01 + label:before {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				-webkit-box-sizing: border-box;
				box-sizing: border-box;
				width: 17px;
				height: 17px;
				margin: auto;
				background: url("../images/common/check_off.gif");
				content: '';
				cursor: pointer;
		}
		.checkbox01:checked + label:before {
				background: url("../images/common/check_on.gif");
		}
		.checkbox02 {
				overflow: hidden;
				position: absolute;
				top: auto;
				width: 1px;
				height: 1px;
				padding: 0;
				margin: -1px;
				border: 0;
				clip: rect(0, 0, 0, 0);
		}
		.checkbox02 + label {
				position: relative;
				display: block;
				width: 108px;
				height: 108px;
				padding: 62px 10px 0;
				cursor: pointer;
				font-size: 12px;
				color: #999;
				font-weight: 300;
				background: url("../images/common/counseling_icon.png");
				box-sizing: border-box;
		}
		.checkbox02 + label.is-hover {
				background-position-x: -108px;
				color: #b77dff;
		}
		.checkbox02.type-another + label.is-hover {
				color: #ff5151;
		}
		.checkbox02:checked + label {
				background-position-x: -216px;
				color: #fff;
		}
		.checkbox02.type-another:checked + label {
				color: #fff;
		}
}

@media only screen and (max-width: 1025px) {
		.checkbox02 + label.is-hover {
				background-position-x: 0px;
				color: #999;
		}
		.checkbox02.type-another + label.is-hover {
				color: #999;
		}
}

@media only screen and (max-width: 668px) {
		.checkbox01 + label:before {
				width: 15px;
				height: 15px;
				margin: auto;
				background: url("../images/common/check_off_m.gif");
				background-size: 15px 15px;
		}
		.checkbox01:checked + label:before {
				background: url("../images/common/check_on_m.gif");
				background-size: 15px 15px;
		}
		.checkbox02 + label {
				position: relative;
				width: 87px;
				height: 87px;
				padding: 50px 5px 0;
				font-size: 1.2rem;
				background: url("../images/common/counseling_icon_m.png");
				background-size: 174px 696px;
		}
		.checkbox02 + label br {
				display: none;
		}
		.checkbox02:checked + label {
				background-position-x: -87px;
				color: #fff;
		}
		.checkbox02.type-another:checked + label {
				color: #fff;
		}
}

@media only screen {
		.radio1 {
				overflow: hidden;
				position: absolute;
				top: auto;
				width: 1px;
				height: 1px;
				padding: 0;
				margin: -1px;
				border: 0;
				clip: rect(0, 0, 0, 0);
		}
		.radio1 + label {
				display: inline-block;
				position: relative;
				height: 20px;
				margin-bottom: 0;
				margin-left: 0;
				padding-left: 22px;
				cursor: pointer;
				line-height: 20px;
				font-size: 12px;
				font-weight: 300;
				color: #999;
		}
}

@media only screen and (max-width: 668px) {
		.radio1 + label {
				font-size: 1.3rem;
		}
}

@media only screen {
		.radio1 + label:before {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				box-sizing: border-box;
				width: 17px;
				height: 17px;
				margin: auto;
				border: 1px solid #9b9b9b;
				border-radius: 50%;
				background-color: #fff;
				content: '';
				cursor: pointer;
		}
		.radio1 + label:after {
				overflow: hidden;
				position: absolute;
				top: 7px;
				left: 5px;
				width: 7px;
				height: 7px;
				border-radius: 50%;
				background-color: #9b9b9b;
				cursor: pointer;
				content: '';
		}
		.radio1:checked + label:after {
				background-color: #36d1dc;
		}
}

.radio1 + label + .radio1 + label {
		margin-left: 10px;
}

@media only screen and (max-width: 668px) {
		.radio1 + label:after {
				top: 6px;
		}
}

.scroll {
		position: absolute;
		bottom: 20px;
		left: 0;
		width: 100%;
		text-align: center;
		color: #ffffff;
		z-index: 2;
}

@media only screen and (max-width: 1025px) {
		.scroll {
				display: none;
		}
		.scroll.type-another {
				display: block;
		}
}

@media only screen and (max-width: 668px) {
		.scroll {
				bottom: 22px;
		}
}

.scroll__wrap {
		display: inline-block;
		cursor: pointer;
}

.scroll__wrap:hover .scroll__line {
		-webkit-transform: scale(1.5, 1);
		transform: scale(1.5, 1);
		-webkit-transition: -webkit-transform 300ms;
		transition: transform 300ms;
}

.scroll__wrap:hover .scroll__txt.nth-left {
		-webkit-transform: translateX(-30px);
		transform: translateX(-30px);
}

.scroll__wrap:hover .scroll__txt.nth-right {
		-webkit-transform: translateX(30px);
		transform: translateX(30px);
}

.scroll__txt {
		display: inline-block;
		vertical-align: middle;
		-webkit-transition: -webkit-transform 300ms;
		transition: transform 300ms;
		font-size: 22px;
		font-family: "Damion", cursive, sans-serif;
		letter-spacing: 0;
}

@media only screen and (max-width: 668px) {
		.scroll__txt {
				font-size: 1.6rem;
		}
}

.scroll__line {
		display: inline-block;
		margin: 0 10px;
		vertical-align: middle;
		width: 110px;
		height: 1px;
		opacity: 0.3;
		background-color: #ffffff;
		-webkit-transition: -webkit-transform 300ms;
		transition: transform 300ms;
}

@media only screen and (max-width: 668px) {
		.scroll__line {
				width: 65px;
		}
}

.wrap {
		width: 100%;
		max-width: 1400px;
		margin: 0px auto;
}

@media only screen and (max-width: 1025px) {
		.wrap {
				padding: 0 20px;
				box-sizing: border-box;
		}
}

@media only screen and (max-width: 668px) {
		.wrap {
				padding: 0 15px;
		}
}

.wrap:after {
		display: block;
		clear: both;
		content: '';
}

.dim {
		display: none;
		overflow: hidden;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: #333;
		background: rgba(0, 0, 0, 0.8);
		text-indent: -9999px;
}

.color1 {
		color: #5deef8;
}

.color2 {
		color: #b77dff;
}

.color3 {
		color: #fff8d3;
}

/*common*/
.hidden-pm {
		display: none !important;
}

.hidden-m {
		display: inline-block !important;
}

.hidden-pt {
		display: none !important;
}

.hidden-p {
		display: none !important;
}

@media only screen and (max-width: 1025px) {
		.hidden-p {
				display: block !important;
		}
		.hidden-t {
				display: none !important;
		}
		.hidden-pt {
				display: none !important;
		}
		.hidden-tm {
				display: none !important;
		}
		.hidden-pm {
				display: block !important;
		}
		.hidden-m {
				display: block !important;
		}
}

@media only screen and (max-width: 668px) {
		.hidden-t {
				display: block !important;
		}
		.hidden-m {
				display: none !important;
		}
		.hidden-pt {
				display: block !important;
		}
		.hidden-pm {
				display: none !important;
		}
}

.block {
		display: block !important;
}

.inline-block {
		display: inline-block;
		font-size: inherit !important;
		margin: 0 !important;
}

input, button {
		border-radius: 0;
		-webkit-appearance: none;
}

.common {
		position: relative;
}

.input1 {
		width: 100%;
		height: 48px;
		padding: 0 14px;
		border: 1px solid #dddddd;
		background: #fcfcfc;
		box-sizing: border-box;
		color: #333333;
		font-size: 16px;
}

@media only screen and (max-width: 668px) {
		.input1 {
				font-size: 1.3rem;
		}
}

.section {
		position: relative;
		background-color: #fff;
}

.section__wrap {
		position: relative;
		display: inline-table;
		height: 100%;
		width: 100%;
}

.section__inner {
		display: table-cell;
		height: 100%;
		width: 100%;
		vertical-align: middle;
		text-align: center;
}

.section__box {
		float: left;
		display: inline-block;
		width: 50%;
		height: 100%;
}

@media only screen and (max-width: 1025px) {
		.section__box {
				width: 100%;
				height: 50%;
		}
		.section__box.type-gallery {
				width: 50%;
				height: 100%;
		}
}

.section__bottom {
		width: 100%;
		margin-top: 120px;
		text-align: center;
}

.section__bottom.type-real1 {
		margin-top: 0;
		background: url("../images/real/1/real_bottom.jpg") no-repeat center center;
		background-size: cover;
}

.section__bottom.type-real2 {
		margin-top: 0;
		background: url("../images/real/2/real_bottom.jpg") no-repeat center center;
		background-size: cover;
}

.section__bottom.type-real3 {
		margin-top: 0;
		background: url("../images/real/3/real_bottom.jpg") no-repeat center center;
		background-size: cover;
}

.section__bottom.type-real4 {
		margin-top: 0;
		background: url("../images/real/4/real_bottom.jpg") no-repeat center center;
		background-size: cover;
}

.section__bottom.type-real5 {
		margin-top: 0;
		background: url("../images/real/5/real_bottom.jpg") no-repeat center center;
		background-size: cover;
}

.section__bottom.type-location {
		background: url("../images/location/location_bottom.jpg") no-repeat center center;
		background-size: cover;
}

@media only screen and (max-width: 1025px) {
		.section__bottom {
				margin-top: 100px;
		}
		.section__bottom.type-real5 {
				margin-top: 0;
				background: url("../images/real/5/real_bottom.jpg") no-repeat -760px center;
				background-size: cover;
		}
}

@media only screen and (max-width: 668px) {
		.section__bottom {
				margin-top: 50px;
		}
		.section__bottom.type-real5 {
				margin-top: 0;
				background: url("../images/real/5/real_bottom.jpg") no-repeat -460px center;
				background-size: cover;
		}
}

.section__bottom-wrap {
		position: relative;
		width: 100%;
		height: 100%;
		padding: 120px 0;
		background-color: #3c3f46;
		background-color: rgba(60, 63, 70, 0.9);
		box-sizing: border-box;
}

@media only screen and (max-width: 668px) {
		.section__bottom-wrap {
				padding: 63px 0;
		}
}

.top-btn {
		overflow: hidden;
		position: fixed;
		right: 164px;
		bottom: 60px;
		display: none;
		width: 60px;
		height: 60px;
		border: 1px solid #ccc;
		background: url("../images/common/top_btn.png") rgba(255, 255, 255, 0.9);
		font-size: 0;
		text-indent: -9999px;
		z-index: 90;
		box-sizing: border-box;
}

@media only screen and (max-width: 1025px) {
		.top-btn {
				right: 20px;
				bottom: 20px;
		}
}

@media only screen and (max-width: 668px) {
		.top-btn {
				right: 15px;
				bottom: 15px;
				width: 40px;
				height: 40px;
				background: url("../images/common/top_btn_m.png") rgba(255, 255, 255, 0.9);
				background-size: 40px 40px;
		}
}

.top-btn.is-fixed {
		position: absolute;
}

.visual-top {
		position: relative;
		width: 100%;
		height: 100vh;
		background: url("../images/location/location_bg1.jpg") no-repeat center center;
		background-size: cover;
}

.visual-top__box {
		position: relative;
		top: -50px;
		left: -376px;
		display: inline-block;
		padding: 55px 75px;
		box-sizing: border-box;
		color: #fff;
		-webkit-transform: perspective(1px) translateZ(0);
		-ms-transform: perspective(1px) translateZ(0);
		transform: perspective(1px) translateZ(0);
		background-color: #7f3ed5\9;
}

.visual-top__box:before {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 100%;
		background-color: rgba(127, 62, 213, 0.9);
		content: '';
		z-index: -1;
		-webkit-transform: scaleX(0);
		transform: scaleX(0);
		-webkit-transform-origin: 50%;
		transform-origin: 50%;
		-ms-transform-origin: 50%;
		-webkit-transition-property: transform;
		transition-property: transform;
		-ms-transition-property: transform;
		-webkit-transition-duration: 0.3s;
		-ms-transition-duration: 0.3s;
		transition-duration: 0.3s;
		-webkit-transition-timing-function: ease-out;
		-ms-transition-timing-function: ease-out;
		transition-timing-function: ease-out;
}

.visual-top__box.is-active:before {
		-webkit-transform: scaleX(1);
		transform: scaleX(1);
}

.visual-top__tit {
		margin: 0;
		font-family: "Damion", cursive, sans-serif;
		font-weight: 300;
		letter-spacing: 0;
		font-size: 100px;
		line-height: 1;
		opacity: 0;
		opacity: 1\9;
}

.visual-top__tit.type-another:before, .visual-top__tit.type-another:after {
		position: absolute;
		display: block;
		top: 20px;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		background: #fff;
		opacity: 0.5;
		content: '';
		transform: rotate(-45deg);
}

.visual-top__tit.type-another:before {
		width: 33px;
		height: 1px;
}

.visual-top__tit.type-another:after {
		width: 1px;
		height: 33px;
}

.visual-top__subject {
		margin: 20px 0 0 0;
		font-size: 50px;
		font-weight: 300;
		opacity: 0;
		opacity: 1\9;
}

.visual-top__txt {
		margin: 16px 0 0 0;
		font-size: 18px;
		line-height: 1.5;
		opacity: 0;
		opacity: 1\9;
}

@media only screen and (max-width: 1025px) {
		.visual-top {
				background: url("../images/location/location_bg1_768.jpg") no-repeat center center;
				background-size: cover;
		}
		.visual-top .location__wrap {
				text-align: left;
		}
		.visual-top__box {
				top: 50px;
				left: 0;
				padding: 55px 46px;
				text-align: center;
		}
		.visual-top__box.type-another {
				position: absolute;
				top: auto;
				left: 80px;
				bottom: 90px;
		}
		.visual-top__subject {
				font-size: 40px;
		}
		.visual-top__txt {
				font-size: 16px;
		}
		.visual-top__tit.type-another {
				font-size: 80px;
		}
		.visual-top__tit.type-another:before, .visual-top__tit.type-another:after {
				position: absolute;
				display: block;
				top: 20px;
				left: 0;
				right: 0;
				bottom: 0;
				margin: auto;
				background: #fff;
				opacity: 0.5;
				content: '';
				transform: rotate(-45deg);
		}
		.visual-top__tit.type-another:before {
				width: 33px;
				height: 1px;
		}
		.visual-top__tit.type-another:after {
				width: 1px;
				height: 33px;
		}
}

@media only screen and (max-width: 668px) {
		.visual-top__box {
				top: auto;
				bottom: -100px;
				width: 100%;
				padding: 35px 0;
				text-align: center;
		}
		.visual-top__box.type-another {
				left: 0;
				bottom: 70px;
		}
		.visual-top__tit {
				font-size: 5.1rem;
		}
		.visual-top__tit.type-another {
				font-size: 5.1rem;
		}
		.visual-top__tit.type-another:before, .visual-top__tit.type-another:after {
				top: 15px;
		}
		.visual-top__tit.type-another:before {
				width: 17px;
				height: 1px;
		}
		.visual-top__tit.type-another:after {
				width: 1px;
				height: 17px;
		}
		.visual-top__subject {
				margin: 10px 0 0 0;
				font-size: 3.1rem;
		}
		.visual-top__txt {
				margin: 10px 0 0 0;
				font-size: 1.4rem;
		}
}

.tab-v1 {
		position: absolute;
		left: 0;
		right: 0;
		padding-top: 160px;
		padding-bottom: 400px;
}

.tab-v1__list {
		padding: 0;
		margin: 0;
		list-style: none;
}

.tab-v1__list:after {
		display: block;
		clear: both;
		content: '';
}

.tab-v1__item {
		float: left;
		width: 50%;
		text-align: center;
		border: 1px solid #dddddd;
		border-bottom: 1px solid #8036dc;
		box-sizing: border-box;
		color: #666;
		transition: all 0.3s;
}

.tab-v1__item + .tab-v1__item {
		border-left: none;
}

.tab-v1__item.is-active {
		background-color: #8036dc;
		color: #fff;
		border: 1px solid #8036dc;
}

.tab-v1__item:hover {
		background-color: #8036dc;
		color: #fff;
		border: 1px solid #8036dc;
}

.tab-v1__link {
		display: table-cell;
		width: 1%;
		height: 70px;
		font-size: 20px;
		color: inherit;
		text-decoration: none;
		vertical-align: middle;
}

@media only screen and (max-width: 1025px) {
		.tab-v1 {
				position: static;
				padding-top: 146px;
				padding-bottom: 0;
		}
}

@media only screen and (max-width: 668px) {
		.tab-v1 {
				padding-top: 90px;
		}
		.tab-v1__link {
				height: 60px;
				padding: 0 20px;
				box-sizing: border-box;
				font-size: 1.4rem;
		}
}

.js-motion {
		opacity: 0;
		-webkit-transform: translateY(100px);
		transform: translateY(100px);
		-webkit-animation-duration: 1s;
		animation-duration: 1s;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;
		transition: transform 1s,opacity 1s;
}

.js-motion.on {
		opacity: 1;
		-webkit-transform: translateY(0);
		transform: translateY(0);
}

.js-motion2 {
		opacity: 0;
		-webkit-transform: translateX(-100px);
		transform: translateX(-100px);
		-webkit-animation-duration: 1s;
		animation-duration: 1s;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;
		transition: transform 1s,opacity 1s;
}

.js-motion2.on {
		opacity: 1;
		-webkit-transform: translateX(0);
		transform: translateX(0);
}

.js-motion3 {
		opacity: 0;
		-webkit-transform: translateX(100px);
		transform: translateX(100px);
		-webkit-animation-duration: 1s;
		animation-duration: 1s;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;
		transition: transform 1s,opacity 1s;
}

.js-motion3.on {
		opacity: 1;
		-webkit-transform: translateX(0);
		transform: translateX(0);
}

.visual-wheel {
		overflow: hidden;
		position: absolute;
		width: 100%;
		height: 30%;
		top: 0;
		left: 0;
		z-index: 10;
		box-sizing: border-box;
		text-indent: -9999px;
}

@media only screen and (max-width: 1025px) {
		.visual-wheel {
				display: none;
		}
}

.video-bg {
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: -1;
}

.video-bg__iframe {
		width: 100%;
		height: 100%;
		width: 100vw;
		height: 56.25vw;
		/* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
		min-height: 100vh;
		min-width: 177.77vh;
		/* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
		position: absolute;
		top: 50%;
		left: 50%;
		-ms-transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
}

.tab-v2 {
		border-top: 2px solid #262930;
}

.tab-v2__list {
		margin: 0;
		padding: 0;
		list-style: none;
}

.tab-v2__list:after {
		display: block;
		clear: both;
		content: '';
}

.tab-v2__item {
		float: left;
		width: 50%;
}

.tab-v2__item.is-active .tab-v2__link {
		background-color: #fff;
		color: #262930;
}

.tab-v2__link {
		display: table-cell;
		width: 1%;
		height: 68px;
		vertical-align: middle;
		font-size: 18px;
		font-weight: 400;
		color: #fff;
		background-color: #262930;
		text-decoration: none;
}

.tab-v2__content {
		display: none;
		padding: 40px 60px 50px;
}

.tab-v2__content.is-active {
		display: block;
}

.live__tit {
		margin: 0;
		font-size: 28px;
		color: #333333;
		font-weight: 400;
}

.live__tit:before {
		display: block;
		width: 150px;
		height: 150px;
		margin: 0px auto 30px;
		background: url("../../imges/common/live_icon.png");
		content: '';
}

.live__txt {
		font-size: 16px;
		color: #666666;
}
