.main {
		position: relative;
}

.main__section {
		overflow: hidden;
		position: relative;
		height: 100vh !important;
}

.main__section.nth-1:before {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(0, 0, 0, 0.35);
		z-index: 0;
		content: '';
}

.main__section.nth-1 .video-bg {
		background: url("../images/main/main_bg1.jpg") no-repeat center center;
		background-size: cover;
}

.main__section.nth-2 {
		background: url("../images/main/main_bg2.jpg") no-repeat center center;
		background-size: cover;
}

.main__section.nth-2 .main__img-box {
		background: url("../images/main/main_layer_1.jpg") no-repeat center center;
		background-size: cover;
}

.main__section.nth-3 {
		background: url("../images/main/main_bg3.jpg") no-repeat center center;
		background-size: cover;
}

.main__section.nth-3 .main__img-box {
		background: url("../images/main/main_layer_2.jpg") no-repeat center center;
		background-size: cover;
}

.main__section.nth-4 {
		background: url("../images/main/main_bg4.jpg") no-repeat center center;
		background-size: cover;
}

.main__section.nth-4 .main__img-box {
		background: url("../images/main/main_layer_3.jpg") no-repeat center center;
		background-size: cover;
}

.main__section.nth-5 {
		background: url("../images/main/main_bg5.jpg") no-repeat center center;
		background-size: cover;
}

.main__section.nth-5 .main__img-box {
		background: url("../images/main/main_layer_4.jpg") no-repeat center center;
		background-size: cover;
}

.main__section.nth-6 {
		background: url("../images/main/main_bg6.jpg") no-repeat center center;
		background-size: cover;
}

.main__section.nth-6 .main__img-box {
		background: url("../images/main/main_layer_5.jpg") no-repeat center center;
		background-size: cover;
}

.main__section.nth-6 .style1__tit {
		margin-bottom: 20px;
}

.main__section.nth-6 .style1__point {
		margin-left: 150px;
}

.main__section.nth-8 {
		background: url("../images/main/main_bg7.jpg") no-repeat center center;
		background-size: cover;
}

.main__section:after {
		display: block;
		clear: both;
		content: '';
}

@media only screen and (max-width: 1025px) {
		.main__section.nth-1 .video-bg {
				background: url("../images/main/main_bg1_768.jpg") no-repeat center center;
				background-size: cover;
		}
		.main__section.nth-2 {
				background: none;
		}
		.main__section.nth-2 .section__box:nth-child(1) {
				background: url("../images/main/main_bg2_768_1.jpg") no-repeat center center;
				background-size: cover;
				height: 55%;
		}
		.main__section.nth-2 .section__box:nth-child(2) {
				background: url("../images/main/main_bg2_768_2.jpg") no-repeat center center;
				background-size: cover;
				height: 45%;
		}
		.main__section.nth-2 .main__img-box:before {
				background: url("../images/main/main_layer_1_768.jpg") no-repeat center center;
				background-size: cover;
		}
		.main__section.nth-3 {
				background: none;
		}
		.main__section.nth-3 .section__box:nth-child(1) {
				position: absolute;
				left: 0;
				bottom: 0;
				background: url("../images/main/main_bg3_768_2.jpg") no-repeat center center;
				background-size: cover;
				height: 45%;
		}
		.main__section.nth-3 .section__box:nth-child(2) {
				position: absolute;
				left: 0;
				top: 0;
				background: url("../images/main/main_bg3_768_1.jpg") no-repeat center center;
				background-size: cover;
				height: 55%;
		}
		.main__section.nth-3 .main__img-box:before {
				background: url("../images/main/main_layer_2_768.jpg") no-repeat center center;
				background-size: cover;
		}
		.main__section.nth-4 {
				background: none;
		}
		.main__section.nth-4 .section__box:nth-child(1) {
				background: url("../images/main/main_bg4_768_1.jpg") no-repeat center center;
				background-size: cover;
				height: 55%;
		}
		.main__section.nth-4 .section__box:nth-child(2) {
				background: url("../images/main/main_bg4_768_2.jpg") no-repeat center center;
				background-size: cover;
				height: 45%;
		}
		.main__section.nth-4 .main__img-box:before {
				background: url("../images/main/main_layer_3_768.jpg") no-repeat center center;
				background-size: cover;
		}
		.main__section.nth-4 .style1__tit {
				top: -10px;
		}
		.main__section.nth-5 {
				background: none;
		}
		.main__section.nth-5 .section__box:nth-child(1) {
				position: absolute;
				left: 0;
				bottom: 0;
				background: url("../images/main/main_bg5_768_2.jpg") no-repeat center center;
				background-size: cover;
				height: 45%;
		}
		.main__section.nth-5 .section__box:nth-child(2) {
				position: absolute;
				left: 0;
				top: 0;
				background: url("../images/main/main_bg5_768_1.jpg") no-repeat center center;
				background-size: cover;
				height: 55%;
		}
		.main__section.nth-5 .main__img-box:before {
				background: url("../images/main/main_layer_4_768.jpg") no-repeat center center;
				background-size: cover;
		}
		.main__section.nth-6 {
				background: none;
		}
		.main__section.nth-6 .section__box:nth-child(1) {
				background: url("../images/main/main_bg6_768_1.jpg") no-repeat center center;
				background-size: cover;
				height: 55%;
		}
		.main__section.nth-6 .section__box:nth-child(2) {
				background: url("../images/main/main_bg6_768_2.jpg") no-repeat center center;
				background-size: cover;
				height: 45%;
		}
		.main__section.nth-6 .main__img-box:before {
				background: url("../images/main/main_layer_5_768.jpg") no-repeat center center;
				background-size: cover;
		}
		.main__section.nth-6 .style1__tit {
				top: -20px;
				margin-bottom: 0;
		}
		.main__section.nth-6 .style1__point {
				margin-left: 123px;
		}
		.main__section.nth-8 {
				background: url("../images/main/main_bg7_768.jpg") no-repeat center center;
				background-size: cover;
		}
}

@media only screen and (max-width: 668px) {
		.main__section.nth-1 .video-bg {
				background: url("../images/main/main_bg1_730.jpg") no-repeat center center;
				background-size: cover;
		}
		.main__section.nth-6 {
				background: none;
		}
		.main__section.nth-6 .style1__tit {
				top: -8px;
		}
		.main__section.nth-6 .style1__point {
				margin-left: 76px;
		}
		.main__section.nth-8 {
				background: url("../images/main/main_bg7_730.jpg") no-repeat center center;
				background-size: cover;
		}
}

.main__sns {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 30px;
		height: 194px;
		margin: auto 0;
		z-index: 50;
}

@media only screen and (max-width: 668px) {
		.main__sns {
				display: none;
		}
}

.main__sns-wrap {
		display: inline-block;
		height: 100%;
		vertical-align: middle;
}

.main__sns-wrap:after {
		display: inline-block;
		height: 100%;
		vertical-align: middle;
		content: '';
}

@media only screen and (max-width: 1025px) {
		.main__img-wrap {
				padding: 0 18.75%;
		}
}

@media only screen and (max-width: 1025px) and (orientation: landscape) {
		.main__img-wrap {
				padding: 0 24%;
		}
}

@media only screen and (max-width: 668px) {
		.main__img-wrap {
				padding: 0 15.89%;
		}
}

@media only screen and (max-width: 668px) and (orientation: landscape) {
		.main__img-wrap {
				padding: 0 31%;
		}
}

.main__img-box {
		overflow: hidden;
		display: inline-block;
		width: 530px;
		height: 593px;
		opacity: 0;
		transition: all 1.5s;
		text-indent: -9999px;
}

@media only screen and (max-width: 1025px) {
		.main__img-box {
				position: relative;
				width: 100%;
				height: 0;
				padding-bottom: 68.05%;
		}
		.main__img-box:before {
				position: absolute;
				top: 0;
				left: 0;
				display: block;
				width: 100%;
				height: 100%;
				content: '';
		}
}

.main__img-box-left {
		margin-left: -300px;
}

.main__img-box-left.is-move {
		opacity: 1;
		margin-left: 0;
}

.main__img-box-right {
		margin-right: -300px;
}

.main__img-box-right.is-move {
		opacity: 1;
		margin-right: 0;
}

.main__list {
		width: 100%;
		height: 100%;
		padding: 0;
		margin: 0;
}

.main__list:after {
		display: block;
		clear: both;
		content: '';
}

.main__item {
		overflow: hidden;
		position: relative;
		float: left;
		width: 33.33%;
		height: 50%;
		list-style: none;
		color: #fff;
}

.main__item.nth-1 {
		background: url("../images/main/main_mini_1.jpg") center center;
		background-size: cover;
}

.main__item.nth-2 .main__item-img {
		background: url("../images/main/main_mini_2.jpg") center center;
		background-size: cover;
}

.main__item.nth-3 .main__item-img {
		background: url("../images/main/main_mini_3.jpg") center center;
		background-size: cover;
}

.main__item.nth-4 .main__item-img {
		background: url("../images/main/main_mini_4.jpg") center center;
		background-size: cover;
}

.main__item.nth-5 .main__item-img {
		background: url("../images/main/main_mini_5.jpg") center center;
		background-size: cover;
}

.main__item.nth-6 .main__item-img {
		background: url("../images/main/main_mini_6.jpg") center center;
		background-size: cover;
}

@media only screen and (max-width: 1025px) {
		.main__item {
				width: 50%;
		}
		.main__item.nth-1 {
				height: 35%;
				background: url("../images/main/main_mini_1_768.jpg") center center;
				background-size: cover;
		}
		.main__item.nth-2 {
				height: 35%;
		}
		.main__item.nth-2 .main__item-img {
				background: url("../images/main/main_mini_2_768.jpg") center center;
				background-size: cover;
		}
		.main__item.nth-3 {
				height: 30%;
		}
		.main__item.nth-3 .main__item-img {
				background: url("../images/main/main_mini_3_768.jpg") center center;
				background-size: cover;
		}
		.main__item.nth-4 {
				height: 30%;
		}
		.main__item.nth-4 .main__item-img {
				background: url("../images/main/main_mini_4_768.jpg") center center;
				background-size: cover;
		}
		.main__item.nth-5 {
				height: 35%;
		}
		.main__item.nth-5 .main__item-img {
				background: url("../images/main/main_mini_5_768.jpg") center center;
				background-size: cover;
		}
		.main__item.nth-6 {
				height: 35%;
		}
		.main__item.nth-6 .main__item-img {
				background: url("../images/main/main_mini_6_768.jpg") center center;
				background-size: cover;
		}
}

.main__item-tit {
		position: relative;
		display: inline-block;
		margin: 0;
		font-size: 90px;
		font-weight: 300;
		font-family: "Damion", cursive, sans-serif;
}

.main__item-tit:after {
		position: absolute;
		top: -12px;
		right: -33px;
		display: block;
		width: 79px;
		height: 120px;
		background: url("../images/main/re_arrow.png");
		content: '';
}

@media only screen and (max-width: 1025px) {
		.main__item-tit {
				font-size: 57px;
		}
		.main__item-tit:after {
				top: -4px;
				right: -20px;
				width: 50px;
				height: 76px;
				background: url("../images/main/re_arrow_768.png");
		}
}

@media only screen and (max-width: 668px) {
		.main__item-tit {
				display: none;
		}
}

.main__item-txt {
		position: relative;
		display: inline-block;
		margin: 15px 0 0 0;
		font-size: 28px;
}

.main__item-txt:before, .main__item-txt:after {
		position: absolute;
		top: 0;
		display: block;
		width: 30px;
		height: 24px;
		background: url("../images/main/qu_icon1.png") no-repeat;
		content: '';
}

.main__item-txt:before {
		left: 0;
}

.main__item-txt:after {
		right: 0;
		transform: rotate(180deg);
}

@media only screen and (max-width: 1025px) {
		.main__item-txt {
				font-size: 18px;
		}
		.main__item-txt:before, .main__item-txt:after {
				width: 22px;
				height: 18px;
				background: url("../images/main/qu_icon1_768.png") no-repeat;
		}
		.main__item-txt:before {
				left: -5px;
		}
		.main__item-txt:after {
				right: -5px;
		}
}

@media only screen and (max-width: 668px) {
		.main__item-txt {
				margin: 7px 0 0 0;
				font-size: 1.3rem;
				line-height: 1.4;
		}
		.main__item-txt:before, .main__item-txt:after {
				width: 13px;
				height: 11px;
				background: url("../images/main/qu_icon1_m.png") no-repeat;
				background-size: 13px 11px;
		}
		.main__item-txt:before {
				left: 1px;
		}
		.main__item-txt:after {
				right: 1px;
		}
}

@media only screen and (max-width: 668px) and (orientation: landscape) {
		.main__item-txt {
				padding: 0 20px;
		}
		.main__item-txt br {
				display: none !important;
		}
}

.main__item-img {
		text-indent: -9999px;
		font-size: 0;
		width: 100%;
		height: 100%;
		transition: all 0.4s;
		-webkit-transition: all 0.4s;
}

.main__item-img.is-active {
		-webkit-transform: scale(1.2);
		-moz-transform: scale(1.2);
		transform: scale(1.2);
}

.main__item-wrap {
		position: relative;
}

@media only screen and (max-width: 1025px) {
		.main__item-wrap {
				margin-top: 55px;
		}
}

@media only screen and (max-width: 668px) {
		.main__item-wrap {
				margin-top: 40px;
		}
}

.main__item-side {
		position: absolute;
		top: 50%;
		margin: auto 0;
		font-size: 10px;
		color: #9d76d6;
		text-transform: uppercase;
		letter-spacing: 0;
		text-align: center;
		transform: rotate(-90deg);
}

.main__item-side.type-left {
		left: -32px;
}

.main__item-side.type-right {
		right: -14px;
		transform: rotate(90deg);
}

@media only screen and (max-width: 1025px) {
		.main__item-side.type-left {
				left: -42px;
		}
		.main__item-side.type-right {
				right: -24px;
		}
}

@media only screen and (max-width: 668px) {
		.main__item-side {
				display: none;
		}
}

.main__link {
		position: absolute;
		top: 0px;
		left: 0px;
		display: block;
		visibility: hidden;
		width: 100%;
		height: 100%;
		opacity: 0;
		background-color: rgba(0, 0, 0, 0.6);
		z-index: 1;
		box-sizing: border-box;
		border: 15px solid #36d1dc;
		-webkit-transition: all 0.4s;
		-moz-transition: all 0.4s;
		-o-transition: all 0.4s;
		-ms-transition: all 0.4s;
		transition: all 0.4s;
}

.main__link.is-active {
		visibility: visible;
		opacity: 1;
}

.main__link.is-active:before, .main__link.is-active:after {
		transform: rotate(0deg) scale(1);
}

.main__link:before, .main__link:after {
		position: absolute;
		display: block;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		background: #fff;
		content: '';
		transform: rotate(-45deg) scale(0.7);
		-webkit-transition: all 0.4s;
		transition: all 0.4s;
}

.main__link:before {
		width: 51px;
		height: 1px;
}

.main__link:after {
		width: 1px;
		height: 51px;
}

@media only screen and (max-width: 668px) {
		.main__link {
				border-width: 7px;
		}
		.main__link:before {
				width: 26px;
		}
		.main__link:after {
				height: 26px;
		}
}

.box1 {
		position: relative;
		display: inline-block;
		padding: 80px 106px;
		background: rgba(38, 41, 48, 0.6);
		box-sizing: border-box;
}

.box1__tit {
		margin: 0;
		font-size: 60px;
		color: #fff;
		font-weight: 300;
		line-height: 1.25;
}

.box1__txt1 {
		margin: 10px 0 0 0;
		font-size: 34px;
		color: #5deef8;
		font-weight: 600;
}

.box1__txt2 {
		margin: 16px 0 0 0;
		padding: 16px 4px 0;
		border-top: 1px solid #96989c;
		font-size: 24px;
		color: #e0e0e0;
		font-weight: 600;
}

.box1__txt3 {
		margin: 3px 0 0 0;
		font-size: 10px;
		color: #75777b;
		font-weight: 300;
		text-transform: uppercase;
		letter-spacing: 1px;
}

.box1__re {
		position: absolute;
		top: -50px;
		left: -50px;
		width: 150px;
		height: 150px;
		padding-top: 38px;
		padding-left: 18px;
		box-sizing: border-box;
		background: url("../images/main/re_bg.jpg");
		font-family: "Damion", cursive, sans-serif;
		letter-spacing: 0;
		font-size: 67px;
		color: #fff;
		text-align: left;
}

@media only screen and (max-width: 1025px) {
		.box1 {
				padding: 46px 60px;
				background: rgba(38, 41, 48, 0.9);
		}
		.box1__tit {
				font-size: 48px;
		}
		.box1__txt1 {
				font-size: 27px;
		}
		.box1__txt2 {
				padding-top: 18px;
				font-size: 19px;
		}
		.box1__txt3 {
				font-size: 8px;
		}
		.box1__re {
				top: -34px;
				left: -34px;
				width: 88px;
				height: 88px;
				margin: 0 auto;
				padding-top: 16px;
				padding-left: 7px;
				background: url("../images/main/re_bg_m.jpg");
				background-size: 88px 88px;
				font-size: 39px;
		}
}

@media only screen and (max-width: 668px) {
		.box1 {
				padding: 40px 35px;
		}
		.box1__tit {
				font-size: 3.6rem;
		}
		.box1__txt1 {
				margin: 5px 0 0 0;
				font-size: 2.2rem;
		}
		.box1__txt2 {
				margin: 10px 0 0 0;
				padding: 10px 4px 0;
				font-size: 1.5rem;
		}
		.box1__txt3 {
				font-size: 0.8rem;
				letter-spacing: 1px;
		}
		.box1__re {
				top: -45px;
				left: 0;
				right: 0;
				width: 65px;
				height: 65px;
				margin: 0 auto;
				padding-top: 16px;
				padding-left: 7px;
				background: url("../images/main/re_bg_m.jpg");
				background-size: 65px 65px;
				font-size: 2.8rem;
		}
}

.style1 {
		position: absolute;
		bottom: 110px;
		color: #fff;
}

.style1__tit {
		display: inline-block;
		margin: 0;
		font-size: 200px;
		font-family: "Damion", cursive, sans-serif;
		letter-spacing: 0;
		line-height: 1;
		font-weight: 300;
}

.style1__point {
		display: block;
		margin-top: -64px;
		margin-left: 170px;
		font-size: 100px;
}

.style1__wrap {
		position: relative;
		padding-left: 150px;
		text-align: left;
}

.style1__txt {
		margin: 0;
		padding-left: 170px;
		font-size: 18px;
		font-weight: 400;
}

.style1__txt:before {
		position: absolute;
		left: 0;
		bottom: 7px;
		width: 100%;
		width: 290px;
		height: 0;
		border-top: 1px solid #fff;
		content: '';
}

@media only screen and (max-width: 1025px) {
		.style1 {
				bottom: 46px;
		}
		.style1__tit {
				position: relative;
				font-size: 160px;
		}
		.style1__point {
				margin-top: -56px;
				margin-left: 114px;
				font-size: 80px;
		}
		.style1__txt {
				padding-left: 110px;
				font-size: 14px;
		}
		.style1__txt:before {
				width: 190px;
		}
		.style1__wrap {
				padding-left: 90px;
		}
}

@media only screen and (max-width: 668px) {
		.style1__tit {
				font-size: 10rem;
		}
		.style1__point {
				margin-top: -34px;
				margin-left: 70px;
				font-size: 5.1rem;
		}
		.style1__txt {
				padding-left: 70px;
				font-size: 1.1rem;
		}
		.style1__txt:before {
				width: 100px;
		}
		.style1__wrap {
				padding-left: 36px;
		}
}

.style2 {
		color: #fff;
}

.style2__tit {
		margin: 0;
		font-size: 30px;
		font-weight: 300;
		line-height: 1.3;
}

.style2__box {
		position: relative;
		display: inline-block;
		margin: 34px 0 0 0;
		padding-bottom: 150px;
}

.style2__subject {
		min-width: 308px;
		padding: 24px 30px 26px;
		border: 5px solid #fff;
		font-size: 60px;
		font-weight: 600;
		box-sizing: border-box;
}

.style2__txt {
		position: relative;
		display: inline-block;
		width: 100%;
		margin: 0;
		padding: 24px 5px;
		font-size: 25px;
		font-weight: 500;
		background-color: #262930;
		box-sizing: border-box;
}

.style2__txt:before {
		position: absolute;
		left: 0;
		right: 0;
		top: -90px;
		width: 0;
		height: 100px;
		margin: 0px auto;
		border-left: 1px solid #fff;
		content: '';
}

.style2__bg {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
}

@media only screen and (max-width: 1025px) {
		.style2__tit {
				font-size: 20px;
		}
		.style2__box {
				margin: 12px 0 0 0;
				padding-bottom: 90px;
		}
		.style2__subject {
				min-width: 308px;
				padding: 12px 26px;
				font-size: 40px;
		}
		.style2__txt {
				padding: 20px 5px;
				font-size: 18px;
		}
		.style2__txt:before {
				top: -40px;
				height: 50px;
		}
}

@media only screen and (max-width: 668px) {
		.style2 {
				margin-top: -50px;
		}
		.style2__tit {
				font-size: 1.5rem;
		}
		.style2__box {
				margin: 14px 0 0 0;
				padding-bottom: 55px;
		}
		.style2__subject {
				min-width: 165px;
				padding: 8px 20px;
				border-width: 3px;
				font-size: 2.6rem;
		}
		.style2__txt {
				padding: 12px 2px;
				font-size: 1.3rem;
		}
		.style2__txt:before {
				top: -23px;
				height: 28px;
		}
}

.style3__tit {
		position: relative;
		margin: 0;
		font-size: 120px;
		color: #fff;
		font-family: "Damion", cursive, sans-serif;
		letter-spacing: 0;
		font-weight: 300;
		line-height: 1.16;
}

.style3__tit:before, .style3__tit:after {
		position: absolute;
		display: block;
		top: 20px;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		background: #fff;
		opacity: 0.5;
		content: '';
		transform: rotate(-45deg);
}

.style3__tit:before {
		width: 33px;
		height: 1px;
}

.style3__tit:after {
		width: 1px;
		height: 33px;
}

.style3__point {
		display: block;
		margin-bottom: 24px;
		font-size: 32px;
		color: #fff8d2;
		font-weight: 500;
}

.style3__txt {
		position: relative;
		display: inline-block;
		margin: 30px 0 0 0;
		padding: 18px 60px;
		font-size: 22px;
		color: #fff;
		box-sizing: border-box;
		line-height: 1.3;
}

.style3__txt:before, .style3__txt:after {
		position: absolute;
		top: 0;
		bottom: 0;
		display: block;
		margin: auto;
		width: 10px;
		height: 169px;
		content: '';
}

.style3__txt:before {
		left: 0;
		background: url("../images/main/txt_bg_l.png");
}

.style3__txt:after {
		right: 0;
		background: url("../images/main/txt_bg_r.png");
}

@media only screen and (max-width: 1025px) {
		.style3__tit {
				font-size: 100px;
		}
		.style3__point {
				font-size: 26px;
		}
		.style3__txt {
				font-size: 18px;
		}
}

@media only screen and (max-width: 668px) {
		.style3__tit {
				font-size: 6.0rem;
		}
		.style3__tit:before {
				width: 17px;
		}
		.style3__tit:after {
				height: 17px;
		}
		.style3__point {
				font-size: 1.8rem;
				margin-bottom: 14px;
		}
		.style3__txt {
				margin: 20px 0 0 0;
				padding: 12px 25px;
				font-size: 1.2rem;
		}
		.style3__txt:before, .style3__txt:after {
				width: 5px;
				height: 135px;
		}
		.style3__txt:before {
				background: url("../images/main/txt_bg_l_m.png");
				background-size: 5px 135px;
		}
		.style3__txt:after {
				background: url("../images/main/txt_bg_r_m.png");
				background-size: 5px 135px;
		}
}

@media only screen and (max-width: 668px) and (orientation: landscape) {
		.style3__txt {
				margin-top: -5px;
		}
}

.side1 {
		position: absolute;
		top: 50%;
		left: -90px;
}

.side1__txt {
		margin: 0;
		font-size: 10px;
		color: #e0e0e0;
		letter-spacing: 1px;
		text-align: center;
		transform: rotate(-90deg);
}

@media only screen and (max-width: 668px) {
		.side1 {
				left: -115px;
		}
		.side1__txt {
				font-size: 0.8rem;
		}
}

@media only screen and (max-width: 330px) {
		.side1 {
				display: none;
		}
}

.pagination {
		display: none;
}
