html, body {
		display: block;
		position: relative;
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
}

body {
		font-size: 14px;
		font-family: 'notokr', sans-serif;
		word-break: keep-all;
		color: #000;
		font-weight: 400;
}

.header {
		position: fixed;
		top: 0;
		width: 100%;
		height: 80px;
		background-color: #fff;
		z-index: 999;
}

@media only screen and (max-width: 1025px) {
		.header {
				height: 44px;
				border-bottom: 1px solid #e4e4e4;
		}
}

.header .wrap {
		position: relative;
}

.logo {
		position: absolute;
		top: 9px;
		left: 0;
		margin: 0;
		z-index: 3400;
}

.logo.is-hidden {
		display: none;
}

@media only screen and (max-width: 1025px) {
		.logo {
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				width: 40px;
				height: 32px;
				margin: auto;
		}
		.logo img {
				width: 40px;
				height: 32px;
		}
}

.footer {
		display: block;
		position: relative;
		width: 100%;
		padding: 24px 0px;
		background-color: #222222;
		font-size: 13px;
		margin-top: -119px;
		text-align: left;
}

.footer__list {
		padding: 0;
		margin: 0;
		font-size: 0;
		color: #fff;
}

.footer__list + .footer__list {
		margin-top: 12px;
}

.footer__item {
		display: inline-block;
		list-style: none;
		font-size: 12px;
		margin-left: 30px;
}

.footer__item:first-child {
		margin-left: 0;
}

.footer__item.type-block {
		display: block;
		margin-top: 15px;
}

.footer.mobile.type-another {
		margin-left: 30px;
}

.footer__link {
		font-size: 13px;
		color: #fff;
		text-decoration: none;
}

@media only screen and (max-width: 1025px) {
		.footer {
				padding: 20px 0px;
				box-sizing: border-box;
		}
		.footer__list {
				text-align: left;
		}
		.footer__list.type-another .footer__item {
				display: block;
		}
		.footer__item {
				display: inline-block;
				margin-left: 0;
		}
		.footer__item + .footer__item {
				margin-left: 0;
				margin-top: 10px;
		}
		.footer .mobile + .footer__item {
				margin-top: 10px;
		}
		.footer .mobile + .footer__item + .footer__item {
				margin-left: 10px;
		}
		.footer.mobile.type-another {
				margin-left: 0px;
		}
}

.gnb {
		position: absolute;
		left: 0;
		right: 0;
		z-index: 400;
		height: 80px;
		padding-left: 158px;
		box-sizing: border-box;
}

.gnb:before {
		z-index: -1;
		position: absolute;
		top: 0;
		left: -1000px;
		right: -1000px;
		height: 100%;
		background-color: #fff;
		content: '';
}

.gnb__tit {
		box-sizing: border-box;
		position: absolute;
		z-index: -1;
		left: -1000px;
		right: -1000px;
		top: 80px;
		height: 0;
		background-color: #fff;
		text-indent: -999em;
		margin: 0;
		border-top: 1px solid #d7d7d7;
}

.gnb__tit:after {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		height: 1px;
		background-color: #d7d7d7;
}

.gnb__tit:not(.zxcv):after {
		display: block;
		opacity: 0;
		transition: opacity .3s;
		transition-delay: .3s;
}

.js-open-d .gnb__tit {
		height: 182px;
		background-color: #fff;
}

.js-open-d .gnb__tit:after {
		content: '';
}

.js-open-d .gnb__tit:not(.zxcv):after {
		opacity: 1;
		transition: opacity 0s;
		transition-delay: 0s;
}

.js-open-d .gnb__tit.is-active {
		height: 394px;
}

.gnb__depth1-list {
		height: inherit;
		margin: 0 auto;
		padding: 0;
		list-style: none;
		font-size: 0;
		box-sizing: border-box;
}

.gnb__depth1-list:after {
		box-sizing: border-box;
		position: absolute;
		z-index: -1;
		left: 0;
		right: 0;
		top: 74px;
		height: 0;
		content: '';
		background-color: #fff;
}

.gnb__depth1-item {
		position: relative;
		display: inline-block;
		height: inherit;
		color: #000000;
		font-size: 20px;
		vertical-align: top;
		text-align: center;
		font-weight: 500;
		box-sizing: border-box;
}

.gnb__depth1-item.js-open-d .gnb__depth2-list {
		margin-top: 0px;
}

.gnb__depth1-item + .gnb__depth1-item {
		margin-left: 80px;
}

.gnb__depth1-item:after {
		display: block;
		clear: both;
		content: '';
}

.gnb__depth1-item:hover {
		border-bottom: 3px solid #4d2ee6;
}

.gnb__depth1-link {
		position: relative;
		display: table-cell;
		height: inherit;
		padding: 0 10px;
		color: inherit;
		text-decoration: none;
		vertical-align: middle;
}

.gnb__depth1-link:not(.zcxv) {
		overflow: hidden;
}

.gnb__depth1-link:not(.zcxv):before {
		display: block;
		content: '';
		position: absolute;
		top: 80px;
		left: 0;
		right: 0;
		width: 0;
		height: 0;
		margin: 0 auto 0;
		border-width: 0 7px 9px 7px;
		border-style: solid;
		border-color: transparent transparent #fff transparent;
}

.gnb__depth1-link:before {
		display: none;
}

.gnb__depth1-item.hover .gnb__depth1-link {
		color: #50b947;
}

.gnb__depth2-list {
		overflow: hidden;
		position: absolute;
		width: 100%;
		padding: 20px 10px;
		text-align: left;
		font-size: 0;
		white-space: nowrap;
		margin-top: -500px;
		box-sizing: border-box;
}

@media only screen and (max-width: 1025px) {
		.gnb__depth2-list {
				min-width: auto;
				margin-top: 0px;
				padding: 0;
		}
}

.gnb__depth2-item {
		display: block;
		color: #666666;
		vertical-align: top;
		font-weight: 500;
		font-size: 14px;
		line-height: 1;
}

.gnb__depth2-item + .gnb__depth2-item {
		margin-top: 18px;
}

.gnb__depth2-item.is-active .gnb__depth3-list {
		display: block;
}

.gnb__depth2-item:hover {
		color: #4d2ee6;
}

.gnb__depth2-item.type-another .gnb__depth2-link:after {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		width: 7px;
		height: 4px;
		margin: auto 0;
		background: url("../images/common/gnb_btn.png");
		content: '';
}

.gnb__depth2-item.type-another.is-active .gnb__depth2-link {
		color: #4d2ee6;
}

.gnb__depth2-item.type-another.is-active .gnb__depth2-link:after {
		background-position: 0px -4px;
}

.gnb__depth2-link {
		position: relative;
		display: block;
		color: inherit;
		text-decoration: none;
}

.gnb__depth3-list {
		display: none;
		padding: 0;
}

.gnb__depth3-item {
		display: block;
		margin-top: 18px;
		color: #666666;
		vertical-align: top;
		font-weight: 400;
		font-size: 12px;
		line-height: 1;
}

.gnb__depth3-item:hover {
		color: #4d2ee6;
}

.gnb__depth3-link {
		display: block;
		color: inherit;
		text-decoration: none;
}

.gnb__top {
		display: none;
}

.gnb__menu {
		position: absolute;
		height: 80px;
		font-size: 14px;
}

.gnb__menu-wrap {
		display: table-cell;
		height: 80px;
		width: 1%;
		padding: 0px 30px;
		vertical-align: middle;
		text-align: right;
}

.gnb__menu-global {
		display: inline-block;
		padding: 2px 0;
}

.gnb__menu-global.is-active {
		border-bottom: 1px solid #4d2ee6;
}

.gnb__menu-global + .gnb__menu-global {
		margin-left: 18px;
}

.gnb__menu-quick {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		display: inline-block;
		width: 20px;
		height: 80px;
		margin: auto 0;
		background: url("../images/common/quick_icon.png") no-repeat center right;
		background-size: 4px 18px;
		z-index: 5000;
}

.gnb__menu-quick.is-hidden {
		display: none;
}

.gnb__menu-close {
		display: none;
}

@media only screen and (max-width: 1025px) {
		.gnb {
				z-index: 3000;
				height: 44px;
				width: 100%;
		}
		.gnb__menu {
				position: relative;
				width: 100%;
				height: 46px;
				text-align: left;
				border-bottom: 1px solid #e4e4e4;
				font-size: 13px;
		}
		.gnb__menu-wrap {
				height: 46px;
				width: 1%;
				padding: 0px 16px;
		}
		.gnb__menu-global {
				display: inline-block;
				padding: 2px 0;
		}
		.gnb__menu-global.is-active {
				border-bottom: 1px solid #4d2ee6;
		}
		.gnb__menu-global + .gnb__menu-global {
				margin-left: 18px;
		}
		.gnb__menu-close {
				display: block;
				overflow: hidden;
				position: absolute;
				top: 0;
				left: 0;
				width: 46px;
				height: 46px;
				background: url("../images/common/menu-close.png") no-repeat center center;
				background-size: 13px 13px;
				text-indent: -9999px;
				text-align: left;
		}
		.gnb__menu-link {
				color: #c7e19b;
				height: 46px;
				text-transform: uppercase;
				text-decoration: none;
				font-weight: 400;
		}
		.gnb__menu-link:before {
				position: absolute;
				left: 15px;
				top: 0;
				bottom: 0;
				width: 16px;
				height: 16px;
				margin: auto 0;
				background-image: url("../images/common/menu-icon.png");
				background-size: 16px 16px;
				content: '';
		}
		.gnb__menu-quick {
				right: 19px;
				width: 10px;
				height: 46px;
		}
		.gnb__tit {
				position: absolute;
				z-index: 500;
				top: 0;
				left: 0px;
				bottom: 0;
				width: 47px;
				min-height: 26px;
				margin: auto 0px;
				text-indent: -999em;
				transition: none;
				cursor: pointer;
				border-top: none;
		}
		.gnb__tit:not(.zxcv):before, .gnb__tit:not(.zxcv):after,
		.gnb__tit > span:before,
		.gnb__tit > span:after {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				width: 17px;
				height: 0;
				border-top: 2px solid #333333;
				margin: auto;
				transform: rotate(0deg);
				transition: .3s;
				content: '';
				opacity: 1;
		}
		.gnb__tit:not(.zxcv):before {
				top: 16px;
		}
		.gnb__tit:not(.zxcv):after {
				bottom: 16px;
		}
		.js-open-m .gnb__tit:before {
				width: 0;
				transform: translateX(-50%);
		}
		.js-open-m .gnb__tit:after {
				width: 0;
				transform: translateX(50%);
		}
		.js-open-m .gnb__tit > span:before {
				transform: rotate(-45deg);
		}
		.js-open-m .gnb__tit > span:after {
				transform: rotate(45deg);
		}
		.gnb.js-open-m:after {
				position: fixed;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				background-color: rgba(0, 0, 0, 0.4);
				content: '';
		}
		.gnb__depth1-list {
				display: none;
		}
		.gnb__depth1-list {
				overflow-x: hidden;
				overflow-y: auto;
				display: block;
				position: fixed;
				left: -100%;
				top: 0px;
				bottom: 0;
				z-index: 3200;
				width: 100%;
				height: auto;
				margin: 0;
				background-color: #fff;
				transition: left ease-out 0.3s;
				padding-right: 30px;
				box-sizing: border-box;
				background-clip: content-box;
		}
		.js-open-m .gnb__depth1-list {
				left: 0px;
		}
		.js-fixed .gnb__depth1-list {
				top: 0px;
		}
		.gnb__depth1-item {
				display: block;
				position: relative;
				width: 100%;
				margin-left: 0 !important;
				text-align: left;
				transition: background-color ease-in-out 0.25s;
				font-size: 15px;
		}
		.gnb__depth1-item.js-open-m .gnb__depth2-list {
				max-height: 1000px;
				background-color: #fafafa;
				transition: max-height ease-in 0.15s;
		}
		.gnb__depth1-item.js-open-m .gnb__depth1-link:after {
				top: 17px;
				border-color: #000;
				transform: rotate(-225deg);
		}
		.gnb__depth1-item:hover {
				border-bottom: none;
		}
		.gnb__depth1-link {
				z-index: 90;
				height: 40px;
				width: 1%;
				padding: 0 30px 0 12px;
				transition: color ease-in-out 0.25s;
		}
		.gnb__depth1-link:after {
				position: absolute;
				top: 10px;
				right: 18px;
				width: 10px;
				height: 10px;
				border-width: 0 0 1px 1px;
				border-style: solid;
				border-color: #000;
				content: '';
				transition: border-color ease-in-out 0.25s;
				transform: rotate(-45deg);
		}
		.gnb__depth2-list {
				overflow: hidden;
				display: block;
				max-height: 0;
				position: static;
				padding-top: 0;
				font-size: inherit;
				text-align: inherit;
				white-space: inherit;
				border-top: 1px solid #e4e4e4;
		}
		.gnb__depth2-item {
				position: relative;
				display: block;
				width: auto;
				margin-top: 0;
				margin-left: 0;
				font-weight: inherit;
				font-size: 13px;
				transition: none;
				vertical-align: baseline;
				color: #666;
		}
		.gnb__depth2-item:last-child:after {
				display: none;
		}
		.gnb__depth2-item + .gnb__depth2-item {
				margin-top: 0;
				border-top: 1px solid #e4e4e4;
		}
		.gnb__depth2-item.js-open-m .gnb__depth3-list {
				max-height: 1000px;
				background-color: #f1f1f1;
				transition: max-height ease-in 0.15s;
		}
		.gnb__depth2-item.js-open-m .gnb__depth2-link:before {
				display: none;
		}
		.gnb__depth2-item:last-child {
				border-bottom: 1px solid #d9d9d9;
		}
		.gnb__depth2-link {
				display: table-cell;
				width: 1%;
				height: 40px;
				padding: 0 12px;
				vertical-align: middle;
				color: #666 !important;
		}
		.gnb__depth2-link:before {
				display: block;
				position: absolute;
				top: 0px !important;
				right: 23px !important;
				bottom: 0;
				margin: auto 0;
				content: '';
				width: 1px !important;
				height: 15px !important;
				background-color: #666666;
		}
		.gnb__depth2-link:after {
				position: absolute;
				top: 0px !important;
				right: 16px !important;
				bottom: 0;
				margin: auto 0;
				content: '';
				width: 15px !important;
				height: 0px !important;
				background-image: none;
				border-top: 1px solid #666;
		}
		.gnb__depth2-link.disabled:before {
				display: none;
		}
		.gnb__depth2-link.disabled:after {
				display: none;
		}
		.gnb__depth3-list {
				overflow: hidden;
				display: block;
				max-height: 0;
				position: static;
				padding-top: 0;
				font-size: inherit;
				text-align: inherit;
				white-space: inherit;
				background-color: #d9d9d9;
		}
		.gnb__depth3-item {
				position: relative;
				display: block;
				width: auto;
				margin-top: 0;
				margin-left: 0;
				color: #767676;
				font-weight: inherit;
				font-size: 0.9em;
				transition: none;
				vertical-align: baseline;
				border-top: 1px solid #e4e4e4;
		}
		.gnb__depth3-item:after {
				display: block;
				margin: 0 -12px;
				border-bottom: 1px solid #f2f2f4;
				content: '';
		}
		.gnb__depth3-item:last-child:after {
				display: none;
		}
		.gnb__depth3-item + .gnb__depth3-item {
				margin-top: 0;
		}
		.gnb__depth3-link {
				display: table-cell;
				width: 1%;
				height: 40px;
				padding: 0 12px 0 24px;
				vertical-align: middle;
				color: #333333;
				font-size: 12px;
				text-decoration: none;
				font-weight: 400;
		}
		.gnb__depth3-link:before {
				position: absolute;
				top: 18px;
				left: 15px;
				width: 2px;
				height: 2px;
				background-color: #4d2ee6;
				content: '';
		}
}

.quick {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #000;
		padding-top: 150px;
		background-color: rgba(0, 0, 0, 0.7);
		z-index: 9000;
		text-align: center;
		box-sizing: border-box;
}

.quick.is-active {
		display: block;
}

.quick__list {
		margin-top: 30px;
		padding: 0;
		font-size: 0;
}

.quick__list:after {
		display: block;
		clear: both;
		content: '';
}

.quick__item {
		display: inline-block;
}

.quick__item + .quick__item {
		margin-left: 32px;
}

.quick__close {
		display: inline-block;
		overflow: hidden;
		width: 20px;
		height: 20px;
		background-image: url("../images/common/quick_close.png");
		text-indent: -9999px;
}

@media only screen and (max-width: 1025px) {
		.quick {
				padding-top: 25px;
		}
		.quick__list {
				margin-top: 16px;
		}
		.quick__item {
				display: block;
		}
		.quick__item + .quick__item {
				margin-left: 0px;
				margin-top: 12px;
		}
		.quick__link img {
				width: 90px;
				height: 90px;
		}
		.quick__close {
				width: 10px;
				height: 10px;
				background-size: 10px 10px;
		}
}

@media only screen and (max-width: 330px) {
		.quick__link img {
				width: 70px;
				height: 70px;
		}
}

.dim {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0, 0, 0, 0.5);
		z-index: -2;
		content: '';
}

.dim.is-active {
		display: block;
}
