<%
	page = "location"
%>
<% include ../_include/_header %>
<div class="common">
	<!--역삼역 오시는길-->
	<div class="subway-map js-type-1">
		<div class="subway-map__wrap">
			<ul class="subway-map__list js-slide1">
				<li class="subway-map__item js-slide1-item nth-1-1">
					<div class="subway-map__num">01</div>
					<div class="subway-map__box">
						驿三站6号出口出来向（东湖大桥方向）移动
					</div>
				</li>
				<li class="subway-map__item js-slide1-item nth-1-2">
					<div class="subway-map__num">02</div>
					<div class="subway-map__box">
						驿三站6号出口出来直走100米
					</div>
				</li>
				<li class="subway-map__item js-slide1-item nth-1-3">
					<div class="subway-map__num">03</div>
					<div class="subway-map__box">
						经过KFC后继续直走
					</div>
				</li>
				<li class="subway-map__item js-slide1-item nth-1-4">
					<div class="subway-map__num">04</div>
					<div class="subway-map__box">
						若到了24小时动物医院，在动物医院的旁边就是佰诺佰琪大楼
					</div>
				</li>
				<li class="subway-map__item js-slide1-item nth-1-5">
					<div class="subway-map__num">05</div>
					<div class="subway-map__box">
						6层规模的白色大楼，就是佰诺佰琪整形外科主楼！
					</div>
				</li>
				<li class="subway-map__item js-slide1-item nth-1-6">
					<div class="subway-map__num">06</div>
					<div class="subway-map__box">
						6层规模的主楼，5层规模的别馆，每一层提供专业化的医疗服务。
					</div>
				</li>
			</ul>
			<a href="" class="subway-map__btn nth-left js-slide1-prev"></a>
			<a href="" class="subway-map__btn nth-right js-slide1-next"></a>
			<a href="" class="subway-map__close js-subway-close">닫기</a>
			<div class="subway-map__page js-slide1-page"></div>
		</div>
	</div>
	<!--//역삼역 오시는길 -->
	<!--언주역 오시는길-->
	<div class="subway-map js-type-2">
		<div class="subway-map__wrap">
			<ul class="subway-map__list js-slide2">
				<li class="subway-map__item js-slide2-item nth-2-1">
					<div class="subway-map__num">01</div>
					<div class="subway-map__box">
						从彦州站7号出口出来，直走大概400米。
					</div>
				</li>
				<li class="subway-map__item js-slide2-item nth-2-2">
					<div class="subway-map__num">02</div>
					<div class="subway-map__box">
						经过Miele后，继续直走。
					</div>
				</li>
				<li class="subway-map__item js-slide2-item nth-2-3">
					<div class="subway-map__num">03</div>
					<div class="subway-map__box">
						经过河豚饭店后，继续直走。
					</div>
				</li>
				<li class="subway-map__item js-slide2-item nth-2-4">
					<div class="subway-map__num">04</div>
					<div class="subway-map__box">
						经过KB国民银行后，继续直走。
					</div>
				</li>
				<li class="subway-map__item js-slide2-item nth-2-5">
					<div class="subway-map__num">05</div>
					<div class="subway-map__box">
						若到了现代汽车店，过人行道后稍微直走一点就是佰诺佰琪。
					</div>
				</li>
				<li class="subway-map__item js-slide2-item nth-1-5">
					<div class="subway-map__num">06</div>
					<div class="subway-map__box">
						6层规模的白色建筑，就是佰诺佰琪整形外科的主楼！
					</div>
				</li>
				<li class="subway-map__item js-slide2-item nth-1-6">
					<div class="subway-map__num">07</div>
					<div class="subway-map__box">
						6层规模的主楼，5层规模的别馆，每一层提供专业化的医疗服务。
					</div>
				</li>
			</ul>
			<a href="" class="subway-map__btn nth-left js-slide2-prev">이전</a>
			<a href="" class="subway-map__btn nth-right js-slide2-next">다음</a>
			<a href="" class="subway-map__close js-subway-close">닫기</a>
			<div class="subway-map__page js-slide2-page"></div>
		</div><!-- //subway-map__wrap -->
	</div><!-- //subway-map -->
	<!-- //언주역 오시는길 -->
	<div class="subway-dim"></div>
	<section class="visual-top js-visual">
		<div class="section__wrap">
			<div class="section__inner">
				<div class="location__wrap">
					<div class="visual-top__box">
						<h3 class="visual-top__tit">location</h3>
						<p class="visual-top__subject"><strong class="color1">#佰诺佰琪</strong> 来访路线</p>
						<p class="visual-top__txt">无论何时都为患者敞开大门<br> 的佰诺佰琪整形外科</p>
					</div>
					<div class="scroll">
						<div class="scroll__wrap js-down2">
							<div class="scroll__txt nth-left">scroll</div><div class="scroll__line"></div><div class="scroll__txt nth-right">down</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section">
		<div class="map">
			<div class="map__wrap">
				<div id="map" class="map__area"></div>
			</div>
			<div class="location__wrap">
				<div class="map__box js-motion">
					<h4 class="map__tit">佰诺佰琪整形外科</h4>
					<p class="map__info-kor">首尔市江南区论岘路517佰诺佰琪大厦</p>
					<p class="map__info-num">82.2.564.6508/ 400.631.6508</p>
					<p class="map__subway type-2">驿三站6号出口出来直走100米</p><br>
					<p class="map__subway type-9">彦州站7号出口出来直走400米</p>
				</div>
			</div>
		</div>
		<div class="location-info">
			<div class="location__wrap">
				<div class="location-info__wrap">
					<ul class="location-info__list">
						<li class="location-info__item nth-1 js-motion">
							<div class="location-info__relative">
								<div class="location-info__box">
									<h4 class="location-info__tit">私用车</h4>
									<p class="location-info__txt">为开车来的顾客提供停车服务</p>
								</div>
							</div>
						</li>
						<li class="location-info__item nth-2 js-motion type-delay">
							<div class="location-info__relative">
								<div class="location-info__box">
									<h4 class="location-info__tit">地铁</h4>
									<p class="location-info__txt">离2号线驿三站及9号线彦州站较近</p>
									<div class="find-area">
										<ul class="find-area__list">
											<li class="find-area__item">
												<a href="" class="find-area__link js-subway-open1">
													<span class="find-area__txt">从驿三站<br>来的路线</span>
												</a>
											</li>
											<li class="find-area__item">
												<a href="" class="find-area__link js-subway-open2">
													<span class="find-area__txt">从彦州站<br>从彦州站</span>
												</a>
											</li>
										</ul>
									</div>
									<!-- //find-area -->
								</div>
							</div>
						</li>
						<li class="location-info__item nth-3 js-motion">
							<div class="location-info__relative">
								<div class="location-info__box">
									<h4 class="location-info__tit">公交车</h4>
									<div class="location-info__txt">
										<dl class="location-info__dl">
											<dt class="location-info__dt">干线公交 : </dt>
											<dd class="location-info__dd">146, 147, 242, 341, 360, 463, 740, N13(夜间), N61(夜间)</dd>
											<dt class="location-info__dt">直行公交 : </dt>
											<dd class="location-info__dd">1100, 1700, 2000, 2000-1, 3600, 7007, 8001, 9303, 9600</dd>
											<dt class="location-info__dt">干线公交 : </dt>
											<dd class="location-info__dd">4211</dd>
											<dt class="location-info__dt">干线公交 : </dt>
											<dd class="location-info__dd">6000, 6020</dd>
										</dl>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div><!-- //location-info-->
		<div class="section__bottom type-location">
			<div class="section__bottom-wrap">
				<a href="https://www.banobagi.com" target="_blank" class="btn3">
					<span class="btn3__wrap">进入主页</span>
				</a>
				<a href="" class="top-btn js-top">Top</a>
			</div>
		</div>
	</section>
</div>
<% include ../_include/_footer %>
