<!-- //section끝 -->
<!--footer시작-->
	<div class="footer">
		<div class="footer__wrap">
			<ul class="footer__list">
				<li class="footer__item">首尔特别市江南区论岘路517佰诺佰琪大楼</li>
				<li class="footer__item">佰诺佰琪整形外科医院朴善在 220-08-87096</li>
				<li class="footer__item">TEL 02-564-6508 · 400-631-6508</li>
			</ul>
			<ul class="footer__list type-copy">
				<li class="footer__item">&copy; 2017 BANOBAGI BEAUTY ALL RIGHTS RESERVED</li>
			</ul>
			<div class="footer__right">
				<div class="sns type-footer">
					<ul class="sns__list">
						<li class="sns__item nth-1"><a href="http://reurl.kr/D01F824EH" target="_blank" class="sns__link">facebook</a></li>
						<li class="sns__item nth-2"><a href="https://www.weibo.com/p/1006061764483491/home?from=page_100606&mod=TAB&is_all=1" target="_blank" class="sns__link">微博</a></li>
						<li class="sns__item nth-3"><a href="http://i.youku.com/i/UNDA2MTUzOTM2?spm=a2ha1.12325017.uerCenter.5!6~5!2~A" target="_blank" class="sns__link">YOUKU(优酷)</a></li>
						<!-- <li class="sns__item nth-4"><a href="https://www.youtube.com/channel/UC2lzYQ5kXBK0gkVDe5StZzQ" target="_blank" class="sns__link">youtube</a></li> -->
					</ul>
				</div>
				<div class="select1">
					<div class="select1__wrap">
						<span class="select1__tit js-select1"><a href="" class="select1__tit-link" onclick="return false;">language</a></span>
						<ul class="select1__list">
							<li class="select1__item"><a href="" class="select1__link">Korea</a></li>
							<li class="select1__item"><a href="" class="select1__link">Thailand</a></li>
							<li class="select1__item"><a href="" class="select1__link">Vietnam</a></li>
						</ul>
					</div>
				</div>
				<div class="select1 type-another">
					<div class="select1__wrap">
						<span class="select1__tit js-select1"><a href="" class="select1__tit-link" onclick="return false;">Family site</a></span>
						<ul class="select1__list">
							<li class="select1__item"><a href="" class="select1__link">佰诺佰琪整形外科</a></li>
							<li class="select1__item"><a href="" class="select1__link">佰诺佰琪特殊弹力线提升</a></li>
							<li class="select1__item"><a href="" class="select1__link">佰诺佰琪Motiva</a></li>
							<!-- <li class="select1__item"><a href="" class="select1__link">모델 7인의 가슴성형 이야기</a></li> -->
							<!-- <li class="select1__item"><a href="" class="select1__link">바노바기 엘라스티꿈</a></li> -->
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
<!--footer끝-->
