<%
	var data = jsonData
%>
<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="mobile-web-app-capable" content="yes">
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
<meta name="format-detection" content="telephone=no, address=no, email=no">
<meta property="og:type" content="website">
<meta property="og:title" content="모티바">
<meta property="og:description" content="">
<meta property="og:url" content="">
<title><%= data.site.name.kor %></title>
<!-- 공통 css -->
<link rel="stylesheet" href="../../css/libs/jquery.mCustomScrollbar.css">
<link rel="stylesheet" href="../../css/common.css">
<link rel="stylesheet" href="../../css/style.css">
<!-- //공통 css -->
<% if (page == "main") { %>
	<link rel="stylesheet" href="../../css/main.css"><!-- main css -->
<% }else if(page == "chest1" || page == "chest2"){ %>
	<link rel="stylesheet" href="../../css/chest.css"><!-- chest css -->
<% }else if(page == "gallery"){ %>
	<link rel="stylesheet" href="../../css/libs/swiper.css"><!--ie9 삭제-->
	<link rel="stylesheet" href="../../css/gallery.css"><!-- gallery css -->
<% }else if(page == "real"){ %>
	<link rel="stylesheet" href="../../css/real.css"><!-- real css -->
<% }else if(page == "location"){ %>
	<link rel="stylesheet" href="../../css/location.css"><!-- location css -->
<% } %>
<link rel="icon" href="/images/common/favicon.ico">
<!-- 공통 js -->
<script type="text/javascript" src="https://player.youku.com/jsapi"></script>
<script type="text/javascript" src="../../js/libs/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../../js/libs/jquery.scrollify.js"></script>
<script type="text/javascript" src="../../js/libs/Cycle2.js"></script>
<script type="text/javascript" src="../../js/libs/cycle2.swipe.js"></script>
<script type="text/javascript" src="../../js/libs/jquery.mCustomScrollbar.js"></script>
<script type="text/javascript" src="../../js/common.js"></script>
<!-- //공톹 js -->
<% if (page == "main") { %>
	<script type="text/javascript" src="../../js/main.js"></script><!-- main js -->
	<script type="text/javascript" src="https://player.youku.com/jsapi"></script>

<% }else if(page == "chest1"){ %>
	<script type="text/javascript" src="../../js/chest.js"></script><!-- chest js -->
<% }else if(page == "chest2"){ %>
	<script type="text/javascript" src="../../js/chest.js"></script><!-- chest js -->
	<script type="text/javascript" src="../../js/chest2.js"></script><!-- chest2 js -->
<% }else if(page == "gallery"){ %>
	<!-- gallery js -->
	<script type="text/javascript" src="../../js/libs/swiper.js"></script>
	<!--<script type="text/javascript" src="../../js/gallery_ie.js"></script>--> <!--ie9추가 -->
	<script type="text/javascript" src="../../js/gallery.js"></script><!--ie9 삭제-->
	<!-- //gallery js -->
<% }else if(page == "real"){ %>
	<script type="text/javascript" src="../../js/real.js"></script><!-- real js -->
<% }else if(page == "location"){ %>
	<script type="text/javascript" src="../../js/location.js"></script><!-- location js -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBm-4rzbyVatCfOJYLE7BPFApH0WagkKsA&callback=initMap" async defer></script><!-- location js -->
<% } %>

</head>
<body>
	<div class="header">
		<div class="header__wrap">
			<h1 class="header__logo">
				<a href="../main/main.html" class="header__link">
					<img src="../../images/common/logo_off.png" alt="바노바기성형외과" class="js-logo">
				</a>
			</h1>
			<div class="header__right">
				<div class="global">
					<div class="global__wrap">
						<span class="global__tit js-global"><a href="" class="global__tit-link" onclick="return false;">language</a></span>
						<ul class="global__list">
							<li class="global__item"><a href="" class="global__link">China</a></li>
							<li class="global__item"><a href="" class="global__link">Korea</a></li>
							<li class="global__item"><a href="" class="global__link">English</a></li>
							<li class="global__item"><a href="" class="global__link">Thailand</a></li>
							<li class="global__item"><a href="" class="global__link">Vietnam</a></li>
						</ul>
					</div>
				</div><!-- //global-->
				<a href="" class="btn1 type-header js-popup-open">
					<span class="btn1__wrap">商谈<span class="inline-block">申请</span></span>
				</a>
				<a href="" class="btn2 type-header js-menu">
					<span class="btn2__block">
						<span class="btn2__bar nth-1"></span>
						<span class="btn2__bar nth-2"></span>
						<span class="btn2__bar nth-3"></span>
					</span>
					<span class="btn2__wrap">MENU</span>
				</a>
			</div>
			<div class="menu">
				<div class="menu__wrap">
					<div class="menu__inner">
						<div class="menu__box">
							<div class="gnb">
								<h2 class="gnb__menu">Main-menu</h2>
								<a href="../main/main.html" class="gnb__home">home</a>
								<ul class="gnb__depth1-list">
									<li class="gnb__depth1-item type-2depth" data-depth="true">
										<a href="" class="gnb__depth1-link">相册</a>
										<ul class="gnb__depth2-list">
											<li class="gnb__depth2-item"><a href="../gallery/gallery1.html" class="gnb__depth2-link"># 安全的</a></li>
											<li class="gnb__depth2-item"><a href="../gallery/gallery2.html" class="gnb__depth2-link"># 全新的</a></li>
											<li class="gnb__depth2-item"><a href="../gallery/gallery3.html" class="gnb__depth2-link"># 英姿飒爽</a></li>
											<li class="gnb__depth2-item"><a href="../gallery/gallery4.html" class="gnb__depth2-link"># 自然的</a></li>
											<li class="gnb__depth2-item"><a href="../gallery/gallery5.html" class="gnb__depth2-link"># 美丽的</a></li>
										</ul>
									</li>
									<li class="gnb__depth1-item type-2depth" data-depth="true">
										<a href="" class="gnb__depth1-link">真实故事</a>
										<ul class="gnb__depth2-list">
											<li class="gnb__depth2-item"><a href="../real/real1.html" class="gnb__depth2-link"># 安全的</a></li>
											<li class="gnb__depth2-item"><a href="../real/real2.html" class="gnb__depth2-link"># 全新的</a></li>
											<li class="gnb__depth2-item"><a href="../real/real3.html" class="gnb__depth2-link"># 英姿飒爽</a></li>
											<li class="gnb__depth2-item"><a href="../real/real4.html" class="gnb__depth2-link"># 自然的</a></li>
											<li class="gnb__depth2-item"><a href="../real/real5.html" class="gnb__depth2-link"># 美丽的</a></li>
										</ul>
									</li>
									<li class="gnb__depth1-item"><a href="../chest/chest1.html" class="gnb__depth1-link">佰诺佰琪Motiva修复手术</a></li>
									<li class="gnb__depth1-item"><a href="../location/location.html" class="gnb__depth1-link">来访路线</a></li>
								</ul>
							</div>
							<!-- //gnb -->
							<div class="menu-info">
								<p class="menu-info__txt">82.2.564.6508/ 400.631.6508</p>
								<ul class="menu-info__list">
									<li class="menu-info__item">首尔特别市江南区论岘路517佰诺佰琪大楼 </li>
									<li class="menu-info__item">佰诺佰琪整形外科医院朴善在 220-08-87096</li>
								</ul>
								<ul class="menu-info__list type-copy">
									<li class="menu-info__item">© 2017 BANOBAGI BEAUTY ALL RIGHTS RESERVED</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="dim">딤처리</div>
	</div>
	<% include ../_include/_popup %>
<!-- //header끝 -->
<!-- section시작 -->
