<!--popup시작 -->
<div class="popup-c type-common">
	<div class="popup-c__wrap">
		<a href="" class="popup-c__close js-popup-close">close</a>
		<h1 class="popup-c__tit">快速商谈</h1>
		<ul class="popup-c__list">
			<li class="popup-c__item nth-1 is-active"><a href="#" class="popup-c__link" data-tab="call"><span class="popup-c__icon">Wechat</span></a></li>
			<li class="popup-c__item nth-2"><a href="#" class="popup-c__link" data-tab="whatsApp"><span class="popup-c__icon">电话</span></a></li>
			<li class="popup-c__item nth-3"><a href="#" class="popup-c__link" data-tab="email"><span class="popup-c__icon">QQ</span></a></li>
		</ul>
		<!-- call -->
		<div class="popup-c__content call is-active">
			<div class="consultation">
				<div class="consultation__box">
					<h3 class="consultation__tit nth-1">官方咨询微信</h3>
					<p class="consultation__num nth-1"><a href="#" class="consultation__tel">banobagicn2 / <br>banobagicn（已满员)</a></p>
				</div>
				<div class="consultation__box">
					<h3 class="consultation__tit nth-4">官方术后微信</h3>
					<p class="consultation__num nth-4"><a href="#" class="consultation__tel">banobagi6508</a></p>
				</div>
			</div>
		</div>
		<!-- //call -->
		<!-- WhatsApp -->
		<div class="popup-c__content whatsApp">
			<div class="consultation">
				<h3 class="consultation__tit nth-2">顾客咨询电话</h3>
				<p class="consultation__num nth-2"><a href="tel:400-631-6508" class="consultation__tel">400-631-6508. 82-2-564-6508</a></p>
			</div>
		</div>
		<!-- //WhatsApp -->
		<!-- Email -->
		<div class="popup-c__content email">
			<div class="consultation">
				<!-- <p class="consultation__subtit">商谈咨询QQ : 800073599</p> -->
				<h3 class="consultation__tit nth-3">商谈咨询QQ : 800073599</h3>
				<!-- <h3 class="consultation__tit nth-3">术后咨询QQ：2172307327</h3> -->
			</div>
		</div>
		<!-- //Email -->
		<div class="consultation-info">
			<ul class="consultation-info__list">
				<li class="consultation-info__item type-time">
					<p class="consultation-info__date">
						<strong class="consultation-info__day">周一 ~ 周五</strong>
						<span class="consultation-info__time">09:30~18:30</span>
					</p>
					<!--<p class="consultation-info__date">
						<strong class="consultation-info__day">周五 </strong>
						<span class="consultation-info__time">09:30~20:00</span>
						<span class="consultation-info__night">夜间诊疗</span>
					</p>-->
					<p class="consultation-info__date">
						<strong class="consultation-info__day">周六 </strong>
						<span class="consultation-info__time">09:30~16:00<span class="inline-block">(3/16, 4/20, 5/18, 6/15, 7/20 休诊)</span></span>
					</p>
				</li>
				<li class="consultation-info__item type-location">
					<p class="consultation-info__tit">首尔市江南区论岘路517佰诺佰琪大厦</p>
					<p class="consultation-info__txt">
						驿三站6号出口出来后，往东湖大桥方向直走150m,就是佰诺佰琪大厦。
					</p>
				</li>
			</ul>
		</div>
	</div>
</div>
<!--//popup끝-->
