<%
	page = "main"
%>
<% include ../_include/_header %>
<div class="main common">

	<section class="main__section nth-1" data-section-name="section1">
		<!--메인팝업-->
		<!-- 첫번째 팝업 -->
		<div class="popup-m type-first is-active">
			<div class="popup-m__wrap">
				<img src="../../images/common/popup/popup_chest_checkup.png" alt="" class="popup-m__img">
				<div class="popup-m__bottom">
					<a href="" class="popup-m__close type-left  js-popup-m-today">今日不再显示。</a>
					<a href="" class="popup-m__close type-right js-popup-m-close">关闭</a>
				</div>
			</div>
		</div>
		<!--//메인팝업-->
		<div class="video-bg">
			<!-- ie9이하 태블릿 모바일에서 삭제 -->
			<div id="youkuplayer" class="video-bg__iframe">
			</div>
		</div>
		<div class="main__sns">
			<div class="main__sns-wrap">
				<div class="sns type-main">
					<ul class="sns__list">
						<li class="sns__item nth-1"><a href="http://reurl.kr/D01F824EH" target="_blank" class="sns__link">Facebook</a></li>
						<li class="sns__item nth-2"><a href="https://www.weibo.com/p/1006061764483491/home?from=page_100606&mod=TAB&is_all=1" target="_blank" class="sns__link">微博</a></li>
						<li class="sns__item nth-3"><a href="http://i.youku.com/i/UNDA2MTUzOTM2?spm=a2ha1.12325017.uerCenter.5!6~5!2~A" target="_blank" class="sns__link">YOUKU(优酷)</a></li>
						<!-- <li class="sns__item nth-4"><a href="https://www.youtube.com/channel/UC2lzYQ5kXBK0gkVDe5StZzQ" target="_blank" class="sns__link">youtube</a></li> -->
					</ul>
				</div>
			</div>
		</div>
		<div class="scroll type-another">
			<div class="scroll__wrap js-down">
				<div class="scroll__txt nth-left">scroll</div><div class="scroll__line"></div><div class="scroll__txt nth-right">down</div>
			</div>
		</div>
		<div class="section__wrap">
			<div class="section__inner">
				<div class="side1">
					<p class="side1__txt">© 2017 BANOBAGI BEAUTY ALL RIGHTS RESERVED</p>
				</div>
				<div class="box1">
					<div class="box1__re">
						Re:
					</div>
					<h3 class="box1__tit">
						以健康的<br>
						美丽的<br>
						胸部<br>
					</h3>
					<p class="box1__txt1">重新开始吧</p>
					<p class="box1__txt2">佰诺佰琪motiva修复手术</p>
					<p class="box1__txt3">banobagi Motiva Reoperation</p>
				</div>
			</div>
		</div>
	</section>
	<section class="main__section page-section nth-2" data-section-name="section2">
		<div class="section__box">
			<div class="section__wrap">
				<div class="section__inner">
					<div class="main__img-wrap">
						<div class="main__img-box main__img-box-left js-img1">#安全的 img</div>
					</div>
					<div class="style1">
						<div class="style1__wrap">
							<h4 class="style1__tit">Re:<span class="style1__point">cover</span></h4>
							<p class="style1__txt"><strong>Recover</strong> [关键词] 恢复, 找回</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="section__box">
			<div class="section__wrap">
				<div class="section__inner">
					<div class="style2">
						<h4 class="style2__tit">针对胸部整形出现的副作用<br> <strong class="color1">胸部有痛感</strong> 情况的话</h4>
						<div class="style2__box">
							<div class="style2__subject">#安全的</div>
							<div class="style2__bg">
								<p class="style2__txt">佰诺佰琪 <span class="color2">motiva修复手术</span></p>
							</div>
						</div><br>

					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="main__section page-section nth-3" data-section-name="section3">
		<div class="section__box">
			<div class="section__wrap">
				<div class="section__inner">
					<div class="style2">
						<h4 class="style2__tit">因假体长久使用<br>想要 <strong class="color1">替换假体</strong>的话?</h4>
						<div class="style2__box">
							<div class="style2__subject">#全新的</div>
							<div class="style2__bg">
								<p class="style2__txt">佰诺佰琪<span class="color2">motiva修复手术</span></p>
							</div>
						</div><br>
					</div>
				</div>
			</div>
		</div>
		<div class="section__box">
			<div class="section__wrap">
				<div class="section__inner">
					<div class="main__img-wrap">
						<div class="main__img-box main__img-box-right js-img2">#全新的 img</div>
					</div>
					<div class="style1">
						<div class="style1__wrap">
							<h4 class="style1__tit">Re:<span class="style1__point">new</span></h4>
							<p class="style1__txt"><strong>Renew</strong> [关键词] 更新, 替换</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="main__section page-section nth-4" data-section-name="section4">
		<div class="section__box">
			<div class="section__wrap">
				<div class="section__inner">
					<div class="main__img-wrap">
						<div class="main__img-box main__img-box-left js-img3">#英姿飒爽 img</div>
					</div>
					<div class="style1">
						<div class="style1__wrap">
							<h4 class="style1__tit">Re:<span class="style1__point">spect</span></h4>
							<p class="style1__txt"><strong>Respect</strong> [关键词] 尊重, 仰视</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="section__box">
			<div class="section__wrap">
				<div class="section__inner">
					<div class="style2">
						<h4 class="style2__tit">忘记失败的胸部整形经历<br> 想要重新树立<strong class="color1">自信感</strong>的话?</h4>
						<div class="style2__box">
							<div class="style2__subject">#英姿飒爽</div>
							<div class="style2__bg">
								<p class="style2__txt">佰诺佰琪 <span class="color2">motiva修复手术</span></p>
							</div>
						</div><br>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="main__section page-section nth-5" data-section-name="section5">
		<div class="section__box">
			<div class="section__wrap">
				<div class="section__inner">
					<div class="style2">
						<h4 class="style2__tit">胸部整形后尴尬的<strong class="color1">行动感</strong><br> 想要变的自由的话?</h4>
						<div class="style2__box">
							<div class="style2__subject">#自然的</div>
							<div class="style2__bg">
								<p class="style2__txt">佰诺佰琪 <span class="color2">motiva修复手术</span></p>
							</div>
						</div><br>
					</div>
				</div>
			</div>
		</div>
		<div class="section__box">
			<div class="section__wrap">
				<div class="section__inner">
					<div class="main__img-wrap">
						<div class="main__img-box main__img-box-right js-img4">#自然的 img</div>
					</div>
					<div class="style1">
						<div class="style1__wrap">
							<h4 class="style1__tit">Re:<span class="style1__point">act</span></h4>
							<p class="style1__txt"><strong>React</strong> [动词] 反应, 应对</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="main__section page-section nth-6" data-section-name="section6">
		<div class="section__box">
			<div class="section__wrap">
				<div class="section__inner">
					<div class="main__img-wrap">
						<div class="main__img-box main__img-box-left js-img5">#美丽的 img</div>
					</div>
					<div class="style1">
						<div class="style1__wrap">
							<h4 class="style1__tit">Re:<span class="style1__point">design</span></h4>
							<p class="style1__txt"><strong>Redesign</strong> [关键词] 重新设计, 再塑造</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="section__box">
			<div class="section__wrap">
				<div class="section__inner">
					<div class="style2">
						<h4 class="style2__tit">不满意的曲线和模样，<br>想要  <strong class="color1">变的更加美丽</strong> 的话?</h4>
						<div class="style2__box">
							<div class="style2__subject">#美丽的</div>
							<div class="style2__bg">
								<p class="style2__txt">佰诺佰琪 <span class="color2">motiva修复手术</span></p>
							</div>
						</div><br>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="main__section page-section nth-7" data-section-name="section7">
		<ul class="main__list">
			<li class="main__item nth-1">
				<div class="section__wrap">
					<div class="section__inner">
						<div class="main__item-wrap">
							<h4 class="main__item-tit">Re:</h4><br>
							<p class="main__item-txt">
								<strong>佰诺佰琪<br class="hidden-pt"> 通过Motiva修复手术</strong><br>
								<strong class="color1 txt-deco">拥有第2胸部人生</strong><br class="hidden-pt">
								开始的生动的<br class="hidden-pt"> <strong>真实故事</strong><br class="hidden-pt"> 让我们一起来确认吧<i>!</i>
							</p>
							<p class="main__item-side type-left">BANOBAGI PLASTIC SURGERY</p>
							<p class="main__item-side type-right">Motiva Reoperation</p>
						</div>
					</div>
				</div>
			</li>
			<li class="main__item nth-2">
				<div class="main__item-img">#安全的 - img</div>
				<a href="http://naver.com" class="main__link"></a>
			</li>
			<li class="main__item nth-3">
				<div class="main__item-img">#安全的 - img</div>
				<a href="" class="main__link"></a>
			</li>
			<li class="main__item nth-4">
				<div class="main__item-img">#安全的 - img</div>
				<a href="" class="main__link"></a>
			</li>
			<li class="main__item nth-5">
				<div class="main__item-img">#安全的 - img</div>
				<a href="" class="main__link"></a>
			</li>
			<li class="main__item nth-6">
				<div class="main__item-img">#安全的 - img</div>
				<a href="" class="main__link"></a>
			</li>
		</ul>
	</section>
	<section class="main__section page-section nth-8" data-section-name="section8">
		<div class="section__wrap">
			<div class="section__inner">
				<h4 class="style3__tit">
					Motiva<br>
					Banobagi
				</h4>
				<p class="style3__txt">
					<span class="style3__point">比第一次更加慎重地选择的胸部修复手术<i>!</i></span>
					结合了多样技术力的<br class="hidden-pt"> <strong class="color1 txt-deco">假体motiva</strong>和<br>
					拥有丰富的胸部手术经验的<br class="hidden-pt"> <strong class="color1 txt-deco">佰诺佰琪整形外科</strong>，值得您选择<i>!</i>
				</p>
				<div class="btn-area">
					<a href="" class="btn3">
						<span class="btn3__wrap">详细地了解</span>
					</a>
				</div>
			</div>
		</div>
	</section>
</div>
<% include ../_include/_footer %>
