@charset "UTF-8";
@import "variables";
@import "mixins";

.content{ display:block; position:relative; width:100%; padding-top:80px; min-height:100%; padding-bottom:119px; box-sizing:border-box; min-width:1240px;
	&__header{position:relative; margin:80px 0px 40px 0px; font-size:0;
		&:after{display:block; clear:both; content:'';}
	}
	&__tit{display:inline-block; margin:0; font-size:48px; color:#000; font-weight:600;}
	&__header-txt{margin:0 0 0 36px; display:inline-block; font-size:16px; vertical-align:bottom;}
	&__header-date{float:right; margin-top:5px; font-size:14px; color:#666;}
	&__body{overflow:hidden; padding-bottom:100px; box-sizing:border-box;
		&.type-another{padding-bottom:0;}
		&.type-center{text-align:center;}
	}
	@media only screen and (max-width:$tablet-size) {min-width:100%;
		padding-top:44px;
		&__header{margin:0;
			&.type-another{
				& .content__tit{display:none;}
				& .content__header-txt{display:none;}
			}
		}
		&__prod{padding-top:70px; box-sizing:border-box;}
		&__tit{height:53px; line-height:53px; font-size:24px;}
		&__header-txt{display:none;}
		&__body{padding-bottom:50px; box-sizing: border-box;
			&.type-another{padding-bottom:0;}
		}
		&__header-date{float:none; display:block; margin-top:0px; text-align:right; font-size:12px;}
	}
}

.more{overflow:hidden; display:inline-block; width:64px; height:64px; margin-top:30px; background:url('../images/main/plus_btn.png') no-repeat center center; background-color:#3d6dcc; border-radius: 32px 32px 32px 32px; color:#fff; font-size:18px; text-align:center; line-height:64px;
	text-indent:-500px; transition: all 0.5s; -webkit-transtion:all 0.5s; text-decoration:none;
	&:hover{width:180px; text-indent: 0; background-image:none;}
	@media only screen and (max-width:$tablet-size) {width:100%;  height:auto; margin-top:0; padding:20px 0px; font-size:12px; color:#000000; border-top:1px solid #ededed; text-align:center; background:none; line-height:1; text-indent: 0;
		& span{width:100%; position:relative; padding-right:15px;
			&:after{position:absolute; top:6px; right:0; width:9px; height:5px; background:url('../images/common/more_icon.png'); background-size:9px 5px; content:'';}
		}
		&:hover{width:100%;}
	}
}


.about{
	&__box{
		&.nth-1{min-height:800px; padding:80px 0px; text-align:center; background:url('../images/about/about_bg_1.jpg') no-repeat center center; box-sizing: border-box; background-size: cover;}
	}
	&__box{
		&.nth-2{min-height:810px; padding:80px 0px 160px; text-align:center; background:url('../images/about/about_bg_2.jpg') no-repeat center bottom; box-sizing: border-box;}
	}
	&__box{
		&.nth-3{padding:80px 0px 0px; text-align:center; background-color:#f1f4f9; box-sizing: border-box; text-align:center;}
	}
	&__box{
		&.nth-4{padding:80px 0px; text-align:center;  box-sizing: border-box;}
	}
	&__box{
		&.nth-5{min-height:960px; padding:80px 0px; text-align:center;  background:url('../images/about/about_bg_5.jpg') no-repeat bottom center; box-sizing: border-box;
			background-attachment: fixed;}
	}
	// &__mindmap{position:relative; top:0; left:0; }
	&__main-tit{margin:0; font-size:70px; color:#4d2ee6; font-weight:100; text-align:center; line-height:1.2;
		& strong{color:#e62e71;}
	}
	&__main-txt{margin:20px 0 0; font-size:20px; color:#222; line-height:1.5;
		& strong{font-size:24px;}
	}
	&__tit{margin:0; font-size:36px; font-weight:600; line-height:1.4;}
	&__sub-tit{margin:26px 0 0 0; font-size:36px; font-weight:400; line-height:1.4;}
	&__txt{margin:26px 0 0 0; font-size:18px; color:#000000; line-height:1.8;
		&.type-another{padding:0 80px; box-sizing:border-box; font-size:18px;}
	}
	&__list{padding:0; margin:70px 0 0 0; list-style:none; text-align: justify; margin-bottom:-15px;
		&:after{display:inline-block; width:100%; content:'';}
	}
	&__list-tit{margin:4px 0 0 0; font-size:30px; font-weight:500;}
	&__list-txt{margin:16px 0 0 0; font-size:18px;}
	&__item{display:inline-block; width:230px; height:230px; border-radius: 50%; background-color:red; vertical-align:top; text-align:center; color:#fff;
		&.nth-1{background-color:#f41c6a;
			& .about__icon{
				&:before,&:after{background-color:#f41c6a}
			}
		}
		&.nth-2{background-color:#492ce1;
			& .about__icon{
				&:before,&:after{background-color:#492ce1}
			}
		}
		&.nth-3{background-color:#00b4f9;
			& .about__icon{
				&:before,&:after{background-color:#00b4f9}
			}
		}
		&.nth-4{background-color:#34b7c9;
			& .about__icon{
				&:before,&:after{background-color:#34b7c9}
			}
		}
		&.nth-5{background-color:#8fc31f;
			& .about__icon{
				&:before,&:after{background-color:#8fc31f}
			}
		}
	}
	&__link{display:table-cell; width:1%; height:230px; vertical-align:middle;}
	&__icon{position:relative; overflow:hidden; display:inline-block; width:45px; height:45px; margin:26px 0 0 0;background-color:#fff; border-radius: 50%; text-indent:-999px;
		&:before{position:absolute; top:0; left:0; right:0; bottom:0; display:inline-block; width:19px; height:3px; margin:auto; content:''; z-index:10;}
		&:after{position:absolute; top:0; left:0; right:0; bottom:0; display:inline-block; height:19px; width:3px; margin:auto; content:''; z-index:10;}
	}
	&__menu-list{margin:36px 0 0 0; padding:0; list-style:none; text-align: justify; margin-bottom:-15px;
		&:after{display:inline-block; width:100%; content:'';}
	}
	&__menu-item{display:inline-block; width:232px; vertical-align:top; color:#000; text-align:center; background-color:#fff; border:1px solid #e3e3e3;
		&.nth-1{
			& .about__img{background:url('../images/about/menu_icon1.png') no-repeat center bottom;}
		}
		&.nth-2{
			& .about__img{background:url('../images/about/menu_icon2.png') no-repeat center bottom;}
		}
		&.nth-3{
			& .about__img{background:url('../images/about/menu_icon3.png') no-repeat center bottom;}
		}
		&.nth-4{
			& .about__img{background:url('../images/about/menu_icon4.png') no-repeat center bottom;}
		}
		&.nth-5{
			& .about__img{background:url('../images/about/menu_icon5.png') no-repeat center bottom;}
		}
	}
	&__menu-wrap{height:140px; padding:0px 12px; box-sizing:border-box;}
	&__menu-tit{margin:20px 0 0 0; font-size:22px; font-weight:500; text-align:center; }
	&__menu-txt{margin:20px 0 0 0; font-size:16px;}
	&__img{overflow:hidden; width:100%; height:170px; text-indent:-9999px; background-size:150px 150px !important;}
	&__mindmap{position:relative; overflow:hidden; width:100%; height:0; margin-top:50px; padding-bottom:64.19%; text-indent:-9999px;}
	&__mindmap-img{position:absolute; top:0; left:0; width:100%; height:100%; background:url('../images/about/about_bg_3.jpg') no-repeat center center; }
	@media only screen and (max-width:$tablet-size) {
		&__main-txt{margin:10px 0 0; font-size:12px; color:#222; line-height:1.5;
			& strong{font-size:18px;}
		}
		&__box{min-height:auto !important;
			&.nth-1{padding:40px 0px; background:url('../images/about/about_bg_1_m.jpg') no-repeat center center; background-size: cover;}
		}
		&__box{
			&.nth-2{padding:40px 0px; background-image:none;}
			& .prod__bg{margin-top:20px; background:url('../images/about/about_bg_2.jpg') no-repeat center center; background-size: contain;}
		}
		&__box{
			&.nth-3{padding:40px 0px 0px;}

		}
		&__box{
			&.nth-4{padding:40px 0px;}
		}
		&__box{
			&.nth-5{padding:40px 0px 100px;
				background:url('../images/about/about_bg_5.jpg') no-repeat bottom center;
				background-attachment: scroll;
			}
		}
		&__main-tit{font-size:35px;}
		&__tit{font-size:21px;}
		&__sub-tit{font-size:21px; text-align:left;}
		&__txt{margin:14px 0 0 0;font-size:13px;
			&.type-another{padding:0; font-size:13px;}
		}
		&__list{margin:25px 0 0 0;}
		&__item{width:140px; height:140px;}
		&__link{height:140px;}
		&__list-tit{font-size:14px;}
		&__list-txt{font-size:11px;}
		&__icon{width:22px; height:22px;
			&:before{width:10px; height:2px;}
			&:after{width:2px; height:10px;}
		}
		&__menu-item{width:170px; white-space: normal;}
		&__menu-tit{margin-top:10px;}
		&__menu-txt{margin-top:10px; font-size:12px;}
		&__menu-wrap{height:100px; }
		&__img{height:105px; background-size:90px 90px !important;}
		&__mindmap{margin-top:15px; padding-bottom:92.18%; text-indent:-9999px;}
		&__mindmap-img{background:url('../images/about/about_bg_3_m.jpg') no-repeat center center; background-size:cover;}
	}
	@media only screen and (max-width:930px) {
		&__scroll2{overflow:auto; overflow-x: scroll; overflow-y: hidden; margin:0px -15px; padding-bottom:20px; -webkit-overflow-scrolling:touch;}
		&__menu-list{white-space: nowrap; text-align: left; overflow: visible; font-size: 0; margin-bottom:0;
			&:after{display:none;}
		}
		&__menu-item{ white-space: normal;
			&:first-child{margin-left:15px;}
			&:last-child{margin-right:15px;}
			& + .about__menu-item{margin-left:10px;}
		}
	}
	@media only screen and (max-width:768px) {
		&__scroll{overflow:auto; overflow-x: scroll; overflow-y: hidden; margin:0px -15px; padding-bottom:20px; -webkit-overflow-scrolling:touch;}
		&__list{white-space: nowrap; text-align: left; overflow: visible; font-size:0;
			&:after{display:none;}
		}
		&__item{
			&:first-child{margin-left:15px;}
			&:last-child{margin-right:15px;}
			& + .about__item{margin-left:1%;}
		}
	}
}

.genie{
	&__list{list-style:none; padding:0; margin:0; height:100%;}
	&__item{overflow:hidden; padding:80px 0px; box-sizing:border-box; min-height:690px; height:100%;
		&:after{position:absolute; top:0; left:0; right:0; bottom:0; background-color:rgba(0,0,0,0.5); content:''; opacity:0; transition:all 0.5s;-webkit-transition:all 0.5s; z-index:-1;}
		& .prod__box-wrap2{overflow:hidden;}
		& .prod__img-tit2, & .prod__txt, & .prod__btn, & .prod__box-tit{margin-left:-150%;margin-right:150%; transition:all 0.5s; -webkit-transition:all 0.5s; }

		&.is-active{
			&:after{opacity: 1;}
			& .prod__img-tit2, & .prod__txt, & .prod__btn, & .prod__box-tit{margin-left:0; margin-right:0;}
			& .prod__img-tit2, & .prod__box-tit{transition-delay: 0.5s;-webkit-transition-delay: 0.5s;}
			& .prod__txt{transition-delay: 0.8s;-webkit-transition-delay: 0.8s;}
			& .prod__btn{transition-delay: 1.2s;-webkit-transition-delay: 1.2s;}
			// & .prod__img__txt{transition-delay: 1s;}
			// & .prod__img__btn{transition-delay: 2s;}
		}
		@media only screen and (max-width:$tablet-size) {
			&:after{display:none;}
			& .prod__box-wrap2{overflow:visible;;}
			& .prod__img-tit2, & .prod__txt, & .prod__btn, & .prod__box-tit{margin-left:0;margin-right:0;}
		}
		&.nth-1{
			&:before{position:absolute; top:0; left:-1000px; right:-1000px; height:100%; background:url('../images/prod/box1_3_1.jpg') no-repeat center bottom; z-index:-1;content:'';}
			& .prod__bg{background:url('../images/prod/box1_3_1_m.jpg') no-repeat center center; background-size:cover;}
			& .prod__img-tit2{width:210px; height:61px; background-image:url('../images/prod/genietalk_tit2.png');}
		}
		&.nth-2{
			&:before{position:absolute; top:0; left:-1000px; right:-1000px; height:100%; background:url('../images/prod/box1_3_2.jpg') no-repeat center bottom; z-index:-1;content:'';}
			& .prod__bg{background:url('../images/prod/box1_3_2_m.jpg') no-repeat center center; background-size:cover;}
			& .prod__img-tit2{width:367px; height:60px; background-image:url('../images/prod/genietalk_tit3.png');}
		}
		&.nth-3{
			&:before{position:absolute; top:0; left:-1000px; right:-1000px; height:100%; background:url('../images/prod/box1_3_3.jpg') no-repeat center bottom; z-index:-1;content:'';}
			& .prod__bg{background:url('../images/prod/box1_3_3_m.jpg') no-repeat center center; background-size:cover;}
			& .prod__img-tit2{width:306px; height:60px; background-image:url('../images/prod/genietalk_tit4.png');}
		}
		&.nth-4{
			&:before{position:absolute; top:0; left:-1000px; right:-1000px; height:100%; background:url('../images/prod/box1_3_4.jpg') no-repeat center bottom; z-index:-1;content:'';}
			& .prod__bg{background:url('../images/prod/box1_3_4_m.jpg') no-repeat center center; background-size:cover;}
			& .prod__img-tit2{width:444px; height:60px; background-image:url('../images/prod/genietalk_tit5.png');}
		}
		&.nth-2-1{
			&:before{position:absolute; top:0; left:-1000px; right:-1000px; height:100%; background:url('../images/prod/box1_5_1.jpg') no-repeat center bottom; z-index:-1;content:'';}
			& .prod__box-wrap{padding-left:44%;}
			& .prod__bg{background:url('../images/prod/box1_5_1_m.jpg') no-repeat center center; background-size:contain;}
			& .prod__img-tit2{width:431px; height:59px; background-image:url('../images/prod/genietalk_tit7.png');}
		}
		&.nth-2-2{
			&:before{position:absolute; top:0; left:-1000px; right:-1000px; height:100%; background:url('../images/prod/box1_5_2.jpg') no-repeat center bottom; z-index:-1;content:'';}
			& .prod__box-wrap{padding-left:44%;}
			& .prod__bg{background:url('../images/prod/box1_5_2_m.jpg') no-repeat center center; background-size:contain;}
			& .prod__img-tit2{width:524px; height:60px; background-image:url('../images/prod/genietalk_tit8.png');}
		}
		&.nth-2-3{
			&:before{position:absolute; top:0; left:-1000px; right:-1000px; height:100%; background:url('../images/prod/box1_5_3.jpg') no-repeat center bottom; z-index:-1;content:'';}
			& .prod__box-wrap{padding-left:44%;}
			& .prod__bg{background:url('../images/prod/box1_5_3_m.jpg') no-repeat center center; background-size:contain;}
			& .prod__img-tit2{width:644px; height:38px; background-image:url('../images/prod/genietalk_tit9.png');}
		}
	}
	@media only screen and (max-width:$tablet-size) {
		&__item{padding:0 0 80px 0; min-height:500px;
			&:before{display:none !important;}
			&.nth-1{
				& .prod__img-tit2{width:105px; height:33.5px; background-image:url('../images/prod/genietalk_tit2_m.png'); background-size:105px 33.5px;}
			}
			&.nth-2{
				& .prod__img-tit2{width:184px; height:29px; background-image:url('../images/prod/genietalk_tit3_m.png'); background-size:184px 29px;}
			}
			&.nth-3{
				& .prod__img-tit2{width:153px; height:29px; background-image:url('../images/prod/genietalk_tit4_m.png'); background-size:153px 29px;}
			}
			&.nth-4{
				& .prod__img-tit2{width:222px; height:29px; background-image:url('../images/prod/genietalk_tit5_m.png'); background-size:222px 29px;}
			}
			&.nth-2-1{
				& .prod__img-tit2{width:215.5px; height:29.5px; background-image:url('../images/prod/genietalk_tit7_m.png'); background-size:215.5px 29.5px;}
				& .prod__box-wrap{padding-left:0%;}
			}
			&.nth-2-2{
				& .prod__img-tit2{width:262px; height:30px; background-image:url('../images/prod/genietalk_tit8_m.png'); background-size:262px 30px;}
				& .prod__box-wrap{padding-left:0%;}
			}
			&.nth-2-3{
				& .prod__img-tit2{width:290px; height:19px; background-image:url('../images/prod/genietalk_tit9_m.png'); background-size:290px 19px;}
				& .prod__box-wrap{padding-left:0%;}
			}
		}
	}
}
.about2{
	&__list{margin:210px 0 0 -30px; padding:0; list-style:none;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{float:left; display:inline-block; width:25%; padding-left:30px; box-sizing:border-box;
		&.nth-2{
			& .about2__tit{
				&:before{background-position: 0px -150px;}
			}
		}
		&.nth-3{
			& .about2__tit{
				&:before{background-position: 0px -300px;}
			}
		}
		&.nth-4{
			& .about2__tit{
				&:before{background-position: 0px -450px;}
			}
		}
	}
	&__wrap{text-align:center;}
	&__tit{position:relative; width:100%; margin:0; padding-top:96px; box-sizing:border-box; font-size:24px; font-weight:600; color:#000000; line-height: 1.5; background-color:#fff;
		&:before{position:absolute; top:-75px; left:0; right:0; display:block; width:150px; height:150px; margin:0px auto; background:url('../images/about/about_icon.png') no-repeat; background-size: 150px 600px !important; content:'';}
	}
	&__txt{height:140px; margin:0; padding:15px 20px 30px 20px; box-sizing:border-box;  font-size:16px; line-height:1.5; background-color:#fff;}
	@media only screen and (max-width:$tablet-size) {
		&__list{margin:10px 0 0 -10px;}
		&__item{margin-top:55px;padding-left:10px; width:50%;
			&.nth-2{
				& .about2__tit{
					&:before{background-position: 0px -90px;}
				}
			}
			&.nth-3{
				& .about2__tit{
					&:before{background-position: 0px -180px;}
				}
			}
			&.nth-4{
				& .about2__tit{
					&:before{background-position: 0px -270px;}
				}
			}
		}
		&__tit{padding-top:55px; font-size:15px;
			&:before{display:block; top:-45px; width:90px; height:90px;  background:url('../images/about/about_icon.png') no-repeat; content:''; background-size:90px 360px !important;}
		}
		&__txt{height:110px; padding:10px 5px; font-size:12px;}
	}
}
.icon-box{position:absolute; top:0; right:0;
	&__link{display:block; overflow:hidden; text-indent:-9999px;}
	&__link1{ width:202px; height:263px; background:url('../images/prod/m_icon.png'); background-size:202px 263px;}
	&__link2{ width:202px; height:64px; margin-top:30px; background:url('../images/prod/m_icon2.png') no-repeat center; }
	@media only screen and (max-width:$tablet-size) {position:static; margin-top:75px; margin-left:15px;
		&__link1{ width:60px; height:78px; background:url('../images/prod/m_icon-m.png') no-repeat; background-size:60px 78px;}
		&__link2{ width:60px; height:22px; margin-top:15px; background:url('../images/prod/m_icon2.png') no-repeat center; background-size:60px 22px;}
	}
}
