@charset "UTF-8";
// @import "variables";
@import "mixins";
body{background:#262930;}
.header{position:fixed; width:100%; padding:32px 0; text-align:right; z-index:100; transition:background 0.3s;
	$this:&;
	&__wrap{position:relative; padding:0 30px; box-sizing:border-box; font-size:0;
		&:after{display:block; clear:both; content:'';}
	}
	&__logo{float:left; margin:0;}
	&__right{position:absolute; top:-2px; right:30px; z-index:160;}
	&__link{display:block; width:100%; height:100%; border:none;
		& img{border:none;}
	}
	&.is-section{background-color:#fff; box-sizing:border-box;}
	@media only screen and (max-width:$tablet-size){padding:20px 0;
		&__wrap{padding:0 20px;}
		&__right{right:20px;}
	}
	@media only screen and (max-width:$mobile-size){padding:15px 0;
		&__wrap{padding:0 15px;}
		&__right{right:15px;}
		&__logo{width:151px; height:28px; margin-top:10px; background:url('../images/common/logo_m.png'); background-size:151px 28px;
			& img{display:none;}
		}
		&.is-section{
			& #{$this}__logo{background:url('../images/common/logo_m_on.png'); background-size:151px 28px;}
		}
	}

}
.menu{position:fixed; top:0; right:-100%; width:50%; height:100%; padding:0 10%; background-color:#262930; text-align:left; box-sizing:border-box; transition:all 0.5s; z-index:150;
	&.is-active{right:0;}
	&__wrap{display:inline-table; width:100%; height:100%; }
	&__inner{display:table-cell; width:100%; vertical-align:middle; }
	&__box{position:relative; bottom:-50px;}
	@media only screen and (max-width:$tablet-size){width:100%;}
	@media only screen and (max-width:$mobile-size){
		&__box{position:relative; bottom:-20px;}
	}
}
.menu-info{margin-top:66px; border-top:1px solid #46494f; padding-top:46px; box-sizing:border-box;
	&__txt{margin:0; font-size:24px; color:#9e9fa1;}
	&__list{padding:0; margin:26px 0 0; font-size:14px;
		&:after{display:block; clear:both; content:'';}
		&.type-copy{margin:5px 0 0; font-size:12px;}
	}
	&__item{float:left; position:relative;  display:inline-block;  color:#727781;
		& + &{margin-left:14px; padding-left:14px;
			&:after{position:absolute; top:0; left:0; bottom:0; display:block; width:1px; height:12px; margin:auto; background:#46494f; content:'';}
		}
	}
	@media only screen and (max-width:$mobile-size){margin-top:24px; padding-top:20px;
		&__txt{font-size:2.1rem;}
		&__list{margin:10px 0 0; font-size:1.3rem;
			&.type-copy{margin:10px 0 0; font-size:1.1rem;}
		}
		&__item{
			& + &{margin-top:2px; margin-left:0px; padding-left:0px;
				&:after{display:none;}
			}
		}
	}
	@media only screen and (max-width:$mobile-size) and (orientation: landscape){
		&__list{
			&.type-copy{font-size:11px;}
		}
	}
}
.gnb{
	$this:&;
	&__home{overflow:hidden; display:inline-block; width:36px; height:31px; background:url('../images/common/home_icon.png');text-indent:-999px; transition: all 0.3s;
		&:hover{background:url('../images/common/home_icon_hover.png');}
	}
	&__depth1-list{margin:60px 0 0; padding:0;}
	&__depth1-item{overflow:hidden;
		&.is-active{
			& #{$this}__depth2-list{height:auto; padding:25px;}
			&.type-2depth #{$this}__depth1-link{color:#36d1dc;
				&:before{ background:#36d1dc;}
				&:after{ top:-50px; bottom:auto;}
			}
		}
		& + &{margin-top:24px;}
		&.type-2depth{
			& #{$this}__depth1-link{
				&:before{position:absolute; top:0; bottom:0; right:0; width:15px; height:1px;  margin:auto 0; background:#fff;  content:''; }
				&:after{position:absolute; top:0; bottom:0; right:7px; width:1px; height:15px;  margin:auto 0; background:#fff;  content:'';}
			}
		}
	}
	&__depth1-link{position:relative; display:inline-block; width:100%; font-size:50px; color:#fff; text-decoration:none; font-weight:500;
		&:hover{color:#36d1dc;}
	}
	&__depth2-list{overflow:hidden; height:0; padding:0 25px; transition: all 0.3s;
		&:after{display:block; clear:both; content:'';}
	}
	&__depth2-item{float:left; display:inline-block;
		& + &{margin-left:15px;}
	}
	&__depth2-link{position:relative; font-size:18px; color:#ccc; text-decoration:none;
		&:hover{color:#b77dff;
			&:after{position:absolute; left:0; bottom:0; display:block; width:100%; height:0; border-top:1px solid #b77dff; content:'';}
		}
	}
	@media only screen and (max-width:$tablet-size){
		&__depth1-link{
			&:hover{color:#fff;}
		}
		&__depth2-link{
			&:hover{color:#ccc;
				&:after{display:none;}
			}
		}
	}
	@media only screen and (max-width:$mobile-size){
		&__home{width:30px; height:26px; background:url('../images/common/home_icon_m.png'); background-size:30px 26px;}
		&__depth1-list{margin:30px 0 0;}
		&__depth1-item{
			&.is-active{
				& #{$this}__depth2-list{padding:12px 20px;}
			}
			&.type-2depth{
				& #{$this}__depth1-link{
					&:before{width:11px;}
					&:after{right:5px; height:11px;}
				}
			}
			& + &{margin-top:18px;}
		}
		&__depth1-link{font-size:2.8rem;}
		&__depth2-list{}
		&__depth2-item{width:33.33%;
			& + &{ margin-left:0px;}
			& + & + & + &{margin-top:10px;}
		}
		&__depth2-link{font-size:1.4rem;}
	}
}
.footer{position:relative; padding:50px 0; background-color:#262930; letter-spacing:0;
	$this:&;
	&__list{padding:0; margin:0; font-size:0; color:#aaabad; list-style:none; font-size:14px;
		&:after{display:block; clear:both; content:'';}
		& + &{margin-top:10px;}
		&.type-copy{font-size:12px; color:#727781; letter-spacing: 1px;}
	}
	&__item{position:relative; float:left; display:inline-block; padding:0 15px;
		&:first-child{padding-left:0;}
		&:last-child{padding-right:0;}
		& + &{
			&:before{position:absolute; left:0; top:0; bottom:0;  width:1px; height:12px; margin:auto 0; background:#46494f; content:'';}
		}
	}
	&__right{position:absolute; top:0; bottom:0; right:20px; font-size:0;}
	&__wrap{position:relative;  width:100%; max-width:1600px; margin:0px auto; padding:0 20px; box-sizing:border-box;}
	@media only screen and (max-width:$tablet-size){text-align: center;
		&__list{
			&.type-copy{
				& #{$this}__item{
					&:last-child{margin-top:0px;}
				}
			}
			& + &{margin-top:7px;}
		}
		&__item{float:none;
			&:last-child{display:block; margin-top:5px;
				&:before{display:none;}
			}
		}
		&__right{position:static; margin-top:26px;}
	}
	@media only screen and (max-width:$mobile-size){
		&__list{
			&.type-copy{font-size:1.0rem; letter-spacing:0;
				& #{$this}__item{
					&:last-child{margin-top:0px;}
				}
			}
		}
		&__item{font-size:1.3rem; padding:0; line-height:1;
			&:last-child{margin-top:0;}
			&:before{display:none;}
			& + &{margin-top:5px;}
		}
		&__right{margin-top:15px;}
	}
}
.lnb{text-align:right;
	$this:&;
	&.type-gallery{display:none;}
	&__link{position:fixed; top:50%;  display:block;  margin-top:-24px; font-size:22px; color:#fff; text-decoration:none; font-family:$font-pt; letter-spacing:0; box-sizing:border-box; z-index:50;
		&.nth-left{ left:0;
			& #{$this}__wrap{padding-left:90px;
				&:after{left:0;}
			}
			& .thumbnail{right:-30px;}
		}
		&.nth-right{right:0;
			& #{$this}__wrap{padding-right:95px;
				&:after{right:0;}
			}
			& .thumbnail{left:-45px;}
		}
		&:hover{
			& #{$this}__wrap{
				&:after{width:100px;}
			}
			&.nth-left{ left:0;
				& #{$this}__wrap{padding-left:110px;
					&:after{left:0;}
				}
				& .thumbnail{top:0; opacity:1;}
			}
			&.nth-right{right:0;
				& #{$this}__wrap{padding-right:115px;
					&:after{right:0;}
				}
				& .thumbnail{top:0; opacity:1;}
			}
		}
		&.is-section{color:#5a5d63;
			& #{$this}__wrap{
				&:after{background-color:#5a5d63;}
			}
		}
	}
	&__wrap{position:relative; display:block; padding:10px 0px; transition:all 0.3s;
		&:after{position:absolute; top:5px; bottom:0; width:80px; height:1px; margin:auto 0; background-color:rgba(255,255,255,0.4); content:''; transition:all 0.3s;}
	}
	@media only screen and (max-width:$tablet-size){position:relative; padding:20px; border-top:1px solid #eee;
		&:before{position:absolute; top:0; left:0; right:0; bottom:0; width:1px; height:18px; margin:auto; background-color:#eee; z-index:10; content:'';}
		&:after{display:block; clear:both; content:'';}
		&.type-pc{display:none;}
		&.type-gallery{display:block; padding:0; margin-top:5px; border-top:none;
			&:before{display:none;}
			& #{$this}__link{color:#999999;
				&.nth-left{
					& #{$this}__wrap{
						&:before{left:0;  background:url('../images/gallery/lnb_left.png'); background-size:15px 15px;}
					}
				}
				&.nth-right{float:right;
					& #{$this}__wrap{padding-right:25px;
						&:before{right:0;  background:url('../images/gallery/lnb_right.png'); background-size:15px 15px;}
					}
				}
			}
		}
		&__link{position:static; margin-top:0;
			&.nth-left{float:left;
				& #{$this}__wrap{padding-left:20px;
					&:before{left:0;  background:url('../images/real/lnb_left.png'); background-size:15px 15px;}
				}
			}
			&.nth-right{float:right;
				& #{$this}__wrap{padding-right:25px;
					&:before{right:0;  background:url('../images/real/lnb_right.png'); background-size:15px 15px;}
				}
			}
			&:hover{
				& #{$this}__wrap{
					&:after{width:90px;}
				}
				&.nth-left{
					& #{$this}__wrap{padding-left:20px;}
				}
				&.nth-right{
					& #{$this}__wrap{padding-right:25px;}
				}
			}
		}
		&__wrap{padding:0;
			&:after{display:none;}
			&:before{position:absolute;  top:11px;  display:inline-block; width:15px; height:15px;   content:'';}
		}
	}
	@media only screen and (max-width:$mobile-size){padding:8px 15px 10px;
		&:before{height:15px;}
		&__link{font-size:2.2rem;
			&.nth-left{margin-top:-2px;}
		}
		&.type-gallery{margin-top:0px;}
	}
}


.thumbnail{position:relative; display:inline-block; font-family:$font-normal; top:-5px; opacity:0;font-size:12px; background:rgba(0,0,0,0.4); border-radius:5px 5px 5px 5px; transition:all 0.3s; transition-delay:0.2s; color:#fff;
	&:after { position: absolute; top: -5px; left:0; right: 0; width: 0px; height: 0px; margin:0 auto; border-left: 5px solid transparent; border-right: 5px solid transparent; border-bottom: 5px solid rgba(0,0,0,0.4); content: ''; }
	&__wrap{display:table-cell; height:64px; padding:0 10px; vertical-align:middle;}
	&__tit{display:inline-block; color:#5eeef9; font-weight:600;}
	&__img{vertical-align:middle;}
	&__txt-box{display:inline-block; margin-left:6px; vertical-align:middle; text-align:left;}
	@media only screen and (max-width:$full-size){display:none;}
}
