@charset "UTF-8";
@import "variables";
@import "mixins";

.chest{position:relative; width:100%; height:100vh; background:url('../images/chest/chest_bg1.jpg') no-repeat center center; background-size:cover;
	&__box{padding-top:120px; text-align:center;
		&.type-another{margin-top:-50px;}
		&.first{padding-top:354px;}
	}
	&__tit{margin:20px 0 0 0; font-size:45px; font-weight:300;}
	&__txt{position:relative; margin:10px 0 0 0; padding-bottom:100px; font-size:22px; color:#666;
		&:after{position:absolute; left:0; right:0; bottom:-50px; display:inline-block; width:1px; height:120px; margin:0 auto; background-color:#37d1dd; content:''; z-index:60;}
	}
	&__point{font-weight:500;}
	@media only screen and (max-width:$tablet-size){ background:url('../images/chest/chest_bg1_768.jpg') no-repeat center center; background-size:cover;
		&__box{padding-top:65px;
			&.first{padding-top:65px;}
			&.type-another{margin-top:0px;}
		}
		&__tit{font-size:40px;}
		&__txt{font-size:20px;}
	}
	@media only screen and (max-width:$mobile-size){padding:0 10px; box-sizing:border-box; background:url('../images/chest/chest_bg1_730.jpg') no-repeat center center; background-size:cover;
		&__box{padding-top:60px;
			&.first{padding-top:30px;}
			&.type-another{margin-top:0px;}
		}
		&__tit{margin:13px 0 0 0; font-size:2.6rem;}
		&__txt{margin:8px 0 0 0; padding-bottom:45px; font-size:1.3rem;
			&:after{bottom:-25px; height:60px;}
		}
	}
}

.ban{position:relative; padding-right:358px; padding-bottom:80px;
	&__img-wrap{position:relative; width:100%; height:0; padding-bottom:57.52%;}
	&__img{position:absolute; top:0; left:0; width:100%; height:100%;}
	&__box{position:absolute; right:0; bottom:0; display:inline-block; width:686px; padding:60px 50px; background-color:#4e5563; box-sizing:border-box; text-align:left;}
	&__txt{margin:0; font-size:16px; color:#eee; line-height:1.625;}
	&__tit{margin:26px 0 0 0; font-size:20px; color:#fff; font-weight:400; line-height:1.5;}
	&__list{padding:0; margin:30px 0 0 0; list-style:none; color:#fff; font-size:20px; font-weight:400;}
	&__item{
		& + &{margin-top:8px;}
	}
	@media only screen and (max-width:$tablet-size){padding:0;
		&__box{position:static; width:100%;}
	}
	@media only screen and (max-width:$mobile-size){
		&__box{margin-top:-1px; padding:35px;}
		&__txt{font-size:1.3rem;}
		&__tit{margin:22px 0 0 0; font-size:1.6rem;}
		&__list{margin:20px 0 0 0; font-size:1.3rem;}
		&__item{
			& + &{margin-top:4px;}
		}
	}
}
.team{
	$this:&;
	&__list{margin:0 0 0 -28px; padding:0; list-style:none;
		&:after{display:block; clear:both; content:'';}
	}
	&__wrap{display:table-cell; width:1%; height:400px;; vertical-align:middle; box-sizing:border-box; text-align:center;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{ float:left; width:50%; height:400px; padding-left:28px; box-sizing:border-box;
		&:after{display:block; clear:both; content:'';}
		&:first-child{width:100%;
			& #{$this}__wrap{padding:0 14px; background-color:#eeeeee;}
		}
		& + &{margin-top:30px;}
	}
	&__box{position:relative; float:left; width:50%; height:100%; text-align:left; box-sizing:border-box;
		&.type-txt{border:1px solid #eee;}
	}
	&__tit{margin:0; font-size:35px; font-weight:300;}
	&__point{font-weight:500;}
	&__sub{margin-left:14px; font-size:18px; color:#666;}
	&__sub-txt{position:absolute; right:0; bottom:0; width:150px; height:50px; line-height:50px; font-size:20px; color:#fff; background-color:#8135dd; text-align:center; z-index:10;}
	&__img-pc{display:block;}
	&__img-m{display:none;}
	@media only screen and (max-width:$tablet-size){
		&__list{margin:0;}
		&__item{padding:0; border:1px solid #eee; box-sizing:border-box;}
		&__item{position:relative; width:100%; height:auto;
			&:first-child{background:url('../images/chest/team1_768.jpg') no-repeat center center #eee; background-size:cover;
				& #{$this}__img{display:none;}
				& #{$this}__box.type-txt{position:static; top:auto; float:right;border-color:transparent; transform:none;}
				& #{$this}__wrap{padding:60px 14px; background:transparent; box-sizing:border-box;}
			}
		}
		&__img-wrap{position:relative; width:100%; height:0; padding-bottom:116.27%;}
		&__img{position:absolute; top:0; left:0; width:100%; height:100%;}
		&__wrap{display:block; width:100%; height:100%;}
		&__box{
			&.type-txt{position:absolute; top:50%; right:0; transform: translateY(-50%); border:none; height:auto;}
		}
	}
	@media only screen and (max-width:$mobile-size){
		&__box{float:none; width:100%;}
		&__tit{font-size:2.8rem; text-align:center;}
		&__sub{margin-left:6px; font-size:1.1rem;}
		&__sub-txt{width:100px; height:30px; line-height:30px; font-size:1.3rem;}
		&__item{position:relative; width:100%; height:auto;
			&:first-child{background:none;
				& #{$this}__img{display:none;}
				& #{$this}__box.type-txt{float:none; padding:0; border-color:#eeeeee; background-color:#eee;}
				& #{$this}__wrap{padding:0 0 45px 0; }
				& #{$this}__img-wrap{background:url('../images/chest/team1_730.jpg'); background-size:cover; padding-bottom:103.8%;}
			}
			& + &{margin-top:15px;}
		}
		&__img-wrap{padding-bottom:74.62%;}
		&__img-pc{display:none;}
		&__img-m{display:block;}
		&__wrap{padding:45px 0; text-align:center;}
		&__box{
			&.type-txt{position:static; top:auto;  transform:none; border:none; height:auto;}
		}

	}
}
.profile{
	$this:&;
	&__list{display:inline-block; margin:26px 0 0 0; padding:0; list-style:none; text-align:left;
		&.type-another{
			& #{$this}__item{float:left; width:50%;
				&:nth-child(2){margin-top:0;}
			}
			&:after{display:block; clear:both; content:'';}
		}
	}
	&__item{position:relative; padding-left:13px; font-size:16px; box-sizing:border-box;
		& + &{margin-top:8px;}
		&:before{position:absolute; top:10px; left:0; display:inline-block; width:3px; height:3px; background:#8135dd;  content:'';}
	}
	@media only screen and (max-width:$tablet-size){
		&__list{
			&.type-another{
				& #{$this}__item{float:none; width:100%;
					&:nth-child(2){margin-top:8px;}
				}
			}
		}
	}
	@media only screen and (max-width:$mobile-size){
		&__list{display:inline-block; margin-top:18px; text-align:left;
			&.type-another{display:inline-block;}
		}
		&__item{padding-left:10px; font-size:1.3rem;
			& + &{margin-top:5px;}
			&:before{top:6px;}
		}
	}
}
.bano{margin-top:120px; padding:200px 0; background:url('../images/chest/bano_bg.jpg') center center fixed; text-align:center; background-size:cover; transition:all .5s ease-out;
	-o-transition:all .5s ease-out;
	-moz-transition:all .5s ease-out;
	-webkit-transition:all .5s ease-out;
	&__subject{margin:0; font-size:20px; color:#fff; font-weight:400;}
	&__subject-bar{position:relative; padding-right:25px;
		&:after{position:absolute; top:0; bottom:0; right:4px; display:inline-block; width:10px; height:14px; margin:auto 0; background:url('../images/chest/bano_bar.png'); content:'';}
		&:last-child{padding-right:0;
			&:after{display:none;}
		}
	}
	&__tit{position:relative; display:inline-block; margin:20px 0 0 0; padding:5px 34px 14px; font-size:100px; color:#5eeef9; font-weight:300; font-family: $font-pt; border:5px solid #fff; letter-spacing:0;
		&:after{position:absolute; left:0; right:0; bottom:-60px; width:1px; height:80px; margin:0px auto; background-color:#fff; content:'';}
	}
	&__txt1{margin:80px 0 0 0; font-size:16px; color:#eeeeee; line-height:1.625;}
	&__txt2{margin:20px 0 0 0; font-size:20px; font-weight:400; color:#fff;}
	@media only screen and (max-width:$tablet-size){margin-top:100px; background-attachment:scroll;}
	@media only screen and (max-width:$mobile-size){margin-top:60px; padding:65px 0;
		&__subject{font-size:1.3rem;}
		&__subject-bar{position:relative; padding-right:15px;
			&:after{width:5px; height:7px;  background-size:5px 7px; content:'';}
			&:last-child{
				&:after{display:none;}
			}
		}
		&__tit{margin-top:10px; padding:8px 17px 10px; font-size:5.1rem; border-width:3px;
			&:after{bottom:-30px; width:1px; height:40px;}
		}
		&__txt1{margin:30px 0 0 0; font-size:1.3rem;}
		&__txt2{margin:10px 0 0 0; font-size:1.6rem;}
	}
}
.step{
	$this:&;
	&__header{position:relative; padding:0 70px; box-sizing:border-box;
		&:after{position:absolute; top:0; bottom:0; right:70px; display:block; width:30px; height:18px; margin:auto 0; background:url('../images/chest/step_arrow.png');content:''; transition:transform 0.3s;}
	}
	&__header-wrap{display:table-cell; width:1%; height:200px; vertical-align:middle; color:#fff; text-align:left; font-size:0;}
	&__header-tit{display:inline-block; margin:0; font-size:60px; font-weight:300; font-family:$font-pt; letter-spacing:0;  vertical-align:middle;}
	&__header-txt1{display:inline-block; margin:0; font-size:35px; font-weight:500;  vertical-align:middle;}
	&__header-txt2{display:inline-block; margin:0 0 0 32px; font-size:20px; vertical-align:middle;}
	&__header-box{display:inline-block; margin:0 0 0 56px; vertical-align:middle;}
	&__header-point{font-weight:500;}
	&__list{margin:0; padding:0; list-style:none;}
	&__item{
		&.nth-1{
			& #{$this}__header{background:url('../images/chest/step_bg1.jpg');}
		}
		&.nth-2{
			& #{$this}__header{background:url('../images/chest/step_bg2.jpg');}
		}
		&.nth-3{
			& #{$this}__header{background:url('../images/chest/step_bg3.jpg');}
		}
		&.is-active{
			& #{$this}__header:after{transform:rotate(180deg);}
		}
		& + &{margin-top:30px;}
	}
	&__body{display:none; padding:50px; background-color:#fafafa; border-bottom:1px solid #ccc; box-sizing:border-box;}
	&__body-list{margin:-30px 0 0 0; padding:0; list-style:none;
		&:after{display:block; clear:both; content:'';}
	}
	&__body-item{position:relative; float:left; width:50%; margin-top:30px;
		& #{$this}__body-wrap:before{background:url('../images/chest/step_img.png');}
		&.nth-2{
			& #{$this}__body-wrap:before{background-position:0px -280px;}
		}
		&.nth-3{
			& #{$this}__body-wrap:before{background-position:0px -560px;}
		}
		&.nth-4{
			& #{$this}__body-wrap:before{background-position:0px -840px;}
		}
		&.nth-5{
			& #{$this}__body-wrap:before{background-position:0px -1120px;}
		}
		&.nth-6{
			& #{$this}__body-wrap:before{background-position:0px -1400px;}
		}
		&.nth-7{
			& #{$this}__body-wrap:before{background-position:0px -1680px;}
		}
		&.nth-8{
			& #{$this}__body-wrap:before{background-position:0px -1960px;}
		}
		&.nth-9{
			& #{$this}__body-wrap:before{background-position:0px -2240px;}
		}
		&.nth-10{
			& #{$this}__body-wrap:before{background-position:0px -2520px;}
		}
		&.nth-11{
			& #{$this}__body-wrap:before{background-position:0px -2800px;}
		}
		&:last-child{width:100%;}
	}
	&__body-wrap{display:table-cell; width:1%; height:280px; padding-left:308px; vertical-align:middle; text-align:left;
		&:before{position:absolute; top:0; bottom:0; left:0; width:280px; height:280px; content:'';}
	}
	&__body-num{width:70px; height:25px; margin:0; padding:0 10px; font-size:16px; line-height:25px; color:#fff; font-weight:500; background-color:#8135dd; box-sizing:border-box;}
	&__body-tit{margin:20px 0 0 0; font-size:30px; font-weight:300;}
	&__body-txt{margin:16px 0 0 0; font-size:16px;}
	&__body-point{margin:10px 0 0 0; font-size:16px; color:#999999;}
	&__link{position:absolute; top:0; left:0; overflow:hidden; display:block; width:100%; height:100%; z-index:1; text-indent:-9999px;}
	@media only screen and (max-width:$tablet-size){
		&__header-txt2{display:block; margin:16px 0 0 0;}
		&__item{
			&.nth-1{
				& #{$this}__header{background:url('../images/chest/step_bg1_768.jpg'); background-size:cover;}
			}
			&.nth-2{
				& #{$this}__header{background:url('../images/chest/step_bg2_768.jpg'); background-size:cover;}
			}
			&.nth-3{
				& #{$this}__header{background:url('../images/chest/step_bg3_768.jpg'); background-size:cover;}
			}
		}
		&__body-item{width:100%;}
		& + &{margin-top:20px;}
	}
	@media only screen and (max-width:$mobile-size){
		&__itme{
			& + &{margin-top:10px;}
		}
		&__header{padding:0 25px;
			&:after{right:25px; width:15px; height:9px; background-size:15px 9px; content:'';}
		}
		&__header-wrap{height:auto; width:100%; padding:8.4% 0;}
		&__header-tit{font-size:3.1rem;}
		&__header-txt1{font-size:2.1rem;}
		&__header-txt2{margin:8px 0 0 0; font-size:1.3rem;}
		&__header-box{margin:0 0 0 15px;}
		&__body{display:none; padding:35px;}
		&__body-list{margin:0;}
		&__body-item{float:none; width:100%; margin-top:15px;
			&:first-child{margin-top:0;}
			& #{$this}__body-wrap:before{background:url('../images/chest/step_img.png'); background-size:140px 1540px;}
			&.nth-2{
				& #{$this}__body-wrap:before{background-position:0px -140px;}
			}
			&.nth-3{
				& #{$this}__body-wrap:before{background-position:0px -280px;}
			}
			&.nth-4{
				& #{$this}__body-wrap:before{background-position:0px -420px;}
			}
			&.nth-5{
				& #{$this}__body-wrap:before{background-position:0px -560px;}
			}
			&.nth-6{
				& #{$this}__body-wrap:before{background-position:0px -700px;}
			}
			&.nth-7{
				& #{$this}__body-wrap:before{background-position:0px -840px;}
			}
			&.nth-8{
				& #{$this}__body-wrap:before{background-position:0px -980px;}
			}
			&.nth-9{
				& #{$this}__body-wrap:before{background-position:0px -1120px;}
			}
			&.nth-10{
				& #{$this}__body-wrap:before{background-position:0px -1260px;}
			}
			&.nth-11{
				& #{$this}__body-wrap:before{background-position:0px -1400px;}
			}
			&:last-child{width:100%;}
		}
		&__body-wrap{display:block; width:100%; height:auto; padding-top:150px; padding-left:0px; text-align:center;
			&:before{right:0; width:140px; height:140px; margin:0px auto; content:'';}
		}
		&__body-num{display:inline-block; width:43px; height:15px;  font-size:1.2rem; line-height:15px;}
		&__body-tit{margin:10px 0 0 0; font-size:2.1rem;}
		&__body-txt{margin:8px 0 0 0; font-size:1.3rem;}
		&__body-point{margin:5px 0 0 0; font-size:1.1rem;}
	}
}
.case{
	$this:&;
	&__img{position:absolute; top:0; left:0; width:100%; height:100%;}
	&__list{margin:0; padding:0; list-style:none;}
	&__item{position:relative; font-size:0;
		& + &{margin-top:120px;}
		&:after{display:block; clear:both; content:'';}
	}
	&__box{position:relative; display:inline-block; width:50%;
		&.type-before{
			& #{$this}__box-txt{left:0; width:120px;}
		}
		&.type-after{
			& #{$this}__box-txt{right:0; width:150px;}
		}
	}
	&__box-txt{position:absolute; top:0;  height:50px; line-height:50px; font-size:20px; text-align:center; background:rgba(102,102,102,0.9); z-index:10; color:#fff;}
	&__img-wrap{height:0; width:100%; padding-bottom:71.42%;}
	&__img{position:absolute; top:0; left:0; width:100%; height:100%;}
	&__info{position:absolute; top:120px; left:0; right:0; width:212px; margin:0px auto; padding:30px 24px 36px; background:rgba(38,41,48,0.9); box-sizing:border-box; color:#fff; z-index:10;}
	&__info-tit{position:relative; margin:0; padding-bottom:14px; font-size:50px; font-family:$font-pt; letter-spacing:0; font-weight:300; line-height:1;
		&:after{position:absolute; left:0; right:0; bottom:0;  display:inline-block; width:35px; height:0; margin:0 auto; border-top:1px solid #5eeef9; content:'';}
	}
	&__info-txt{margin:20px 0 0 0; font-size:16px; line-height:1.6;}
	&__bottom{padding:50px 120px; background-color:#4e5563;}
	&__bottom-txt{margin:0; font-size:18px; color:#eeeeee; line-height:1.55;}
	&__bottom-tit{margin:26px 0 0 0; font-size:30px; color:#fff; font-weight:400; line-height:1.33;}
	@media only screen and (max-width:$tablet-size){
		&__box{
			&.type-before{
				& #{$this}__box-txt{left:0; width:100px;}
			}
			&.type-after{
				& #{$this}__box-txt{right:0; width:140px;}
			}
		}
		&__box-txt{height:45px; line-height:45px; font-size:18px;}
		&__info{position:static; top:auto; left:auto; right:auto; width:100%;padding:38px; font-size:0; opacity:1;}
		&__info-tit{display:inline-block; width:50%; padding:0 46px 0 8px; text-align:right; box-sizing:border-box; vertical-align:top;
			&:after{bottom:-14px;}
		}
		&__info-txt{display:inline-block; width:50%; padding:0 8px; box-sizing:border-box; margin:0;  text-align:left;}
		&__bottom{padding:50px 60px;}
		&__bottom-txt{font-size:16px;}
		&__bottom-tit{font-size:20px;}
	}
	@media only screen and (max-width:$mobile-size){
		&__box{width:100%;
			&.type-before{
				& #{$this}__box-txt{width:66px;}
			}
			&.type-after{
				& #{$this}__box-txt{width:96px;}
			}
		}
		&__item{
			& + &{margin-top:60px;}
		}
		&__box-txt{height:30px; line-height:30px; font-size:1.3rem;}
		&__info{padding:25px 35px; }
		&__info-tit{padding:0; font-size:3.1rem; text-align:left;
			&:after{bottom:-8px; right:auto; width:18px;}
		}
		&__info-txt{padding:0 7px; font-size:1.3rem;}
		&__bottom{padding:35px; text-align:left;}
		&__bottom-txt{font-size:1.3rem;}
		&__bottom-tit{margin-top:22px; font-size:1.6rem;}
	}
}
.chest-top{
	&__icon{position:relative; display:inline-block; width:80px; height:80px; margin:0; box-sizing:border-box; background-color:#37d1dd; color:#fff; border-radius:50%; font-family:$font-pt; letter-spacing:0; font-size:32px; font-weight:300; text-align:center;

	}
	&__wrap{display:block; padding-top:20px; padding-right:10px; box-sizing:border-box;
		&:after{position:absolute; top:18px; right:12px; display:block; width:28px; height:42px; background:url('../images/chest/chest_arrow.png'); content:'';}
	}
	@media only screen and (max-width:$mobile-size){
		&__icon{width:48px; height:48px; font-size:2rem;}
		&__wrap{display:block; padding-top:12px; padding-right:8px; box-sizing:border-box;
			&:after{ top:12px; right:7px; width:17px; height:25px; background:url('../images/chest/chest_arrow_m.png'); background-size:17px 25px;}
		}
	}
}
.technology{margin-top:120px; padding:180px 0; color:#fff; background:url('../images/chest/technology_bg.jpg') no-repeat center center fixed; background-size:cover; text-align: center;
	transition:all .5s ease-out;
	-o-transition:all .5s ease-out;
	-moz-transition:all .5s ease-out;
	-webkit-transition:all .5s ease-out;
	$this:&;
	&__tit{margin:0; font-size:50px; font-weight:500;}
	&__txt{margin:10px 0 0 0; font-size:20px;}
	&__txtarea{padding:30px; background-color:#4e5563; font-size:16px; line-height:1.625;}
	&__list{margin:30px 0 0 -28px; padding:0; list-style:none;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{float:left; display:inline-block; width:25%;padding-left:28px; box-sizing:border-box;
		&.nth-1{
			& #{$this}__img:before{background:url('../images/chest/technology_icon1.jpg'); background-size:cover;}
		}
		&.nth-2{
			& #{$this}__img:before{background:url('../images/chest/technology_icon2.jpg'); background-size:cover;}
		}
		&.nth-3{
			& #{$this}__img:before{background:url('../images/chest/technology_icon3.jpg'); background-size:cover;}
		}
		&.nth-4{
			& #{$this}__img:before{background:url('../images/chest/technology_icon4.jpg'); background-size:cover;}
		}
	}
	&__img{overflow:hidden; position:relative; width:100%; height:0; padding-bottom:73.17%; text-indent:-9999px;
		&:before{position:absolute; top:0; left:0; width:100%; height:100%;  content:'';}
	}
	@media only screen and (max-width:$tablet-size){margin-top:100px; padding:56px 48px; background-attachment:scroll;
		& .wrap{padding:0;}
		&__list{margin:14px 0 0 -16px;}
		&__item{width:50%; margin-top:16px; padding-left:16px;}
	}
	@media only screen and (max-width:$mobile-size){margin-top:60px; padding:50px 15px;
		&__list{margin:10px 0 0 -15px;}
		&__item{margin-top:15px; padding-left:15px;}
		&__tit{font-size:2.3rem;}
		&__txt{margin:5px 0 0 0; font-size:1.3rem;}
		&__txtarea{padding:15px; font-size:1.3rem;}
	}
}

.pain{position:relative; height:600px; background:url('../images/chest/chest_img3.jpg'); padding-top:190px; box-sizing:border-box; background-size:cover;
	$this:&;
	&.type-another{background:url('../images/chest/chest_img4.jpg'); background-size:cover;}
	&__list{padding:0; margin:0; list-style:none; font-size:0;
		& .inline-block{margin-left:26px !important;}
	}
	&__item{position:relative; display:inline-block; width:210px; height:210px; margin-left:26px; border:1px solid #fff; background-color:rgba(255,255,255,0.3); box-sizing:border-box; border-radius:50%; vertical-align:top; font-size:24px; font-weight:400; color:#fff;
		&:first-of-type{margin-left:0;}
		&:before{position:absolute; top:0; bottom:0; right:-40px; width:50px; height:50px; margin:auto 0; background:url('../images/chest/plus_icon.png'); content:''; z-index:10;}
		&:last-child{
			&:before{display:none;}
		}
	}
	&__wrap{display:table-cell; width:1%; height:210px; vertical-align:middle; text-align:center;}
	&__box{position:relative; top:-50px; max-width:924px; margin:0 auto; padding:50px 70px; box-sizing:border-box; background-color:#4e5563;  color:#fff; text-align:left;
		&.type-another{
			& #{$this}__tit{margin:20px 0 0 0;}
			& #{$this}__txt{margin:0;}
		}
	}
	&__tit{margin:0; font-size:20px; font-weight:400;}
	&__txt{margin:20px 0 0 0; font-size:16px; line-height:1.625;}
	@media only screen and (max-width:$tablet-size){height:0; padding:0; padding-bottom:82.41%; background:url('../images/chest/chest_img3_768.jpg'); background-size:cover;
		&.type-another{background:url('../images/chest/chest_img4_768.jpg'); background-size:cover;}
		&__list{position:relative; padding:0 10%;
			&:before{position:absolute; top:0; bottom:0; left:0; right:0; width:50px; height:50px; margin:auto; background:url('../images/chest/plus_icon.png'); content:''; z-index:10;}
			& .inline-block{margin-left:0px !important; margin-top:26px !important;}
		}
		&__item{
			& + &{margin-left:26px;}
			&:before{display:none;}
		}
		&__box{position:static; top:auto; max-width:100%;}
		&__area{position:absolute; top:50%; width:100%; transform: translateY(-50%);}
	}
	@media only screen and (max-width:$mobile-size){
		&__list{
			&:before{width:25px; height:25px; background-size:25px 25px;}
			& .inline-block{margin-top:15px !important;}
		}
		&__item{width:105px; height:105px; font-size:1.3rem;
			& + &{margin-left:15px;}
			&:before{display:none;}
		}
		&__wrap{height:105px;}
		&__tit{font-size:1.6rem;}
		&__txt{font-size:1.3rem; line-height:1.625;}
		&__box{padding:35px;}
	}
}

.scanner{background-color:#ebecf1;
	&:after{display:block; clear:both; content:'';}
	&__box{float:left; width:50%; padding:100px 14px 0 120px; text-align:left; box-sizing:border-box;
		&.type-img{height:836px; background:url('../images/chest/scanner_img1.jpg')no-repeat center center;}
	}
	&__tit{margin:0; font-size:35px; font-weight:500;}
	&__txt1{margin:20px 0 0 0; font-size:16px; line-height:1.625;}
	&__txt2{margin:20px 0 0 0; font-size:20px; font-weight:400; line-height:1.5;}
	&__list{margin:0; padding:0; list-style:none;}
	&__slider{position:relative; margin-top:40px; }
	&__slider-box{position:absolute; left:0; bottom:0; width:100%; padding:20px 0; background-color:rgba(78,85,99,0.9); color:#fff; font-size:24px; text-align:center;}
	&__item{position:relative; width:567px; height:0; padding-bottom:65.25%;
		&.nth-1{background:url('../images/chest/scanner_img2.jpg'); background-size:cover;}
		&.nth-2{background:url('../images/chest/scanner_img3.jpg'); background-size:cover;}
		&.nth-3{background:url('../images/chest/scanner_img4.jpg'); background-size:cover;}
	}
	&__link{position:absolute; top:0; bottom:0; overflow:hidden; display:inline-block; width:14px; height:25px; margin:auto 0; text-indent: -9999px; font-size:0; z-index:110;}
	&__prev{left:20px; background:url('../images/chest/scanner_prev.png') no-repeat center center; background-size:14px 25px;}
	&__next{right:20px; background:url('../images/chest/scanner_next.png') no-repeat center center; background-size:14px 25px;}
	&__logo{display:none;}
	@media only screen and (max-width:$tablet-size){
		&__item{width:100%;}
		&__box{width:100%; padding:100px 80px 0;
			&.type-img{position:relative; width:100%; height:0; padding:0; padding-bottom:55.338%; background:url('../images/chest/scanner_img1_768.jpg')no-repeat center 10px; background-size:contain;}
		}

	}
	@media only screen and (max-width:$mobile-size){
		&__box{padding:50px 25px 0;}
		&__logo{display:inline; width:79px;}
		&__tit{font-size:2.6rem;}
		&__txt1{font-size:1.3rem;}
		&__txt2{font-size:1.6rem;}
		&__slider{margin-top:26px;}
		&__slider-box{padding:10px 0; font-size:1.3rem;}
		&__item{width:100%;}
		&__prev{left:15px;}
		&__next{right:15px;}
	}
}
.healing{
	&__list{margin:0; padding:0; list-style:none;}
	&__slider{position:relative;}
	&__item{position:relative; width:100%; height:0; padding-bottom:32.85%;
		&.nth-1{background:url('../images/chest/healing_img1.jpg'); background-size:cover;}
		&.nth-2{background:url('../images/chest/healing_img2.jpg'); background-size:cover;}
		&.nth-3{background:url('../images/chest/healing_img3.jpg'); background-size:cover;}
	}
	&__link{overflow:hidden; display:inline-block; width:60px; height:60px; margin:auto 0; text-indent: -9999px; font-size:0; z-index:110;
		& + &{margin-left:1px;}
	}
	&__prev{background:url('../images/chest/healing_prev.jpg') no-repeat center center; background-size:60px 60px;}
	&__next{background:url('../images/chest/healing_next.jpg') no-repeat center center; background-size:60px 60px;}
	&__box{position:absolute; right:0; bottom:0; width:50%;  padding-left:14px; box-sizing:border-box; z-index:55;}
	&__wrap{position:relative; padding:56px; background-color:#fff;}
	&__btn{position:absolute; top:0; left:0; font-size:0;}
	&__num{display:inline-block; margin:0; font-size:16px; color:#8036dc; font-weight:600;
		&:after{display:block; width:100%; height:0; margin-top:3px;border-bottom:1px solid #8036dc; content:'';}
	}
	&__tit{margin:16px 0 0 0; font-size:35px; font-weight:400;}
	&__txt{margin:26px 0 0 0; font-size:20px;}
	@media only screen and (max-width:$tablet-size){
		&__box{position:static; width:100%; padding-left:0;}
	}
	@media only screen and (max-width:$mobile-size){
		&__item{padding-bottom:59.7%;}
		&__wrap{padding:25px 0;}
		&__num{font-size:1.2rem;}
		&__tit{margin-top:8px; font-size:2.1rem;}
		&__txt{margin-top:12px; font-size:1.3rem;}
		&__link{width:40px; height:40px;}
		&__prev{background-size:40px 40px;}
		&__next{background-size:40px 40px;}
	}
}

.point{
	$this:&;
	&__bg{padding:170px 0; text-align:center; margin-top:120px;
		&:first-child{margin-top:0;}
		&.nth-1{background:url('../images/chest/point_bg1.jpg') no-repeat center center fixed; background-size:cover;}
		&.nth-2{background:url('../images/chest/point_bg2.jpg') no-repeat center center fixed; background-size:cover;}
		&.nth-3{background:url('../images/chest/point_bg3.jpg') no-repeat center center fixed; background-size:cover;}
		&.nth-4{background:url('../images/chest/point_bg4.jpg') no-repeat center center fixed; background-size:cover;}
		&.nth-5{background:url('../images/chest/point_bg5.jpg') no-repeat center center fixed; background-size:cover;}
	}
	&__box{display:inline-block; width:448px; padding:40px 10px 50px; background:rgba(38,41,48,0.9); color:#fff;}
	&__tit{position:relative; margin:0; padding-bottom:14px; font-size:50px; font-family:$font-pt; letter-spacing:0; font-weight:300; line-height:1;
		&:after{position:absolute; left:0; right:0; bottom:0;  display:inline-block; width:35px; height:0; margin:0 auto; border-top:1px solid #5eeef9; content:'';}
	}
	&__txt{margin:20px 0 0 0; font-size:40px; font-weight:300;
		& .color3{font-weight:500;}
	}
	&__sub-txt{display:block; margin:5px 0 0 0; font-size:22px; font-weight:400;}
	&__info{width:100%; max-width:930px; margin:76px auto 0;
		&.type-another{
			& #{$this}__info-box{margin-top:0;}
			& #{$this}__style{display:table-cell; height:400px; margin-top:0; vertical-align:middle;}
		}
	}
	&__info-wrap{
		&:after{display:block; clear:both; content:'';}
	}
	&__info-box{text-align:left;
		&.nth-1{float:left; margin-top:70px; margin-right:28px;}
		&.nth-2{margin-bottom:46px;}
	}
	&__style{text-align:left;}
	&__style-tit{margin:0; display:inline-block; font-size:30px; color:#8135dd; font-weight:400;}
	&__style-txt{margin:40px 0 0 0; font-size:16px; color:#333; line-height:1.625;}
	&__style-border{position:relative; line-height:1;
		&:after{position:absolute; left:0; bottom:3px; width:100%; height:0; border-bottom:1px solid #8135dd; content:'';}
	}
	&__medium{font-weight:500;}
	&__wrap{width:100%; max-width:930px; margin:70px auto 0;}
	@media only screen and (max-width:$tablet-size){
		&__bg{margin-top:96px;
			&.nth-1,&.nth-2,&.nth-3,&.nth-4,&.nth-5{background-attachment:scroll; background-size:cover;}
		}
		&__info{padding:0 20px; box-sizing:border-box;
			&.type-another{
				& #{$this}__info-box{margin-top:0;}
				& #{$this}__style{display:block; height:auto;}
			}
		}
		&__info-wrap{margin-left:-16px; font-size:0;
			&:after{display:block; clear:both; content:'';}
		}
		&__info-box{float:left; width:50%; padding-left:16px; box-sizing:border-box;
			&.nth-1{margin-right:0;
				& #{$this}__img{ width:100%;}
			}
			&.nth-2{margin-right:0;
				& #{$this}__img{ width:83%;}
			}
		}
		&__style{padding-left:50%; box-sizing:border-box;
			&.type-another{padding:0 50px;
				& #{$this}__style-tit{padding-left:0;}
				& #{$this}__style-txt{padding-left:0;}
			}
		}
		&__style-tit{padding-left:16px; box-sizing:border-box;}
		&__style-txt{padding-left:16px; box-sizing:border-box;}
		&__style-border{
			&.type-letter{letter-spacing:-2px;}
		}
		&__wrap{margin-top:40px;}
	}
	@media only screen and (max-width:$mobile-size){
		&__bg{margin-top:60px; padding:117px 18.91%;}
		&__box{width:100%; padding:20px 0 25px;}
		&__tit{font-size:3.1rem;}
		&__txt{font-size:2.1rem;}
		&__sub-txt{font-size:1.3rem;}
		&__info{margin-top:30px;
			&.type-another{
				& #{$this}__style{margin-top:20px;}
			}
		}
		&__info-wrap{margin-left:-15px; text-align:left;}
		&__info-box{float:none; display:inline-block; padding-left:15px; vertical-align:top;
			&.nth-1{float:none; margin-top:30px;}
			&.nth-2{margin-bottom:0;
				& #{$this}__img{ width:100%;}
			}
			&.type-another{width:64%;}
		}
		&__style{margin-top:20px; padding-left:0;
			&.type-another{margin-top:0; padding:0;}
		}
		&__style-tit{font-size:2.1rem;}
		&__style-txt{margin-top:20px; font-size:1.3rem;}
		&__wrap{margin-top:30px;}
	}
}

.gel{margin-top:70px; padding-left:235px; background:url('../images/chest/motiva_img1.jpg') no-repeat right bottom;
	$this:&;
	&__box{width:460px; text-align:left;}
	&__list{margin:40px 0 0 -28px; padding:0; list-style:none;
		&:after{display:block; clear:both; content:'';}
	}
	&__img{overflow:hidden; position:relative; width:100%; padding-bottom:71.42%; box-sizing:border-box; font-size:0; text-indent:-9999px;
		&:before{position:absolute; top:0; left:0; width:100%; height:100%; content:'';}
	}
	&__item{float:left; width:33.33%; padding-left:28px; box-sizing:border-box;
		&.nth-1{
			& #{$this}__img:before{background:url('../images/chest/motiva_img2.jpg') no-repeat center center; background-size:cover;}
		}
		&.nth-2{transition-delay:0.3s;
			& #{$this}__img:before{background:url('../images/chest/motiva_img3.jpg') no-repeat center center; background-size:cover;}
		}
		&.nth-3{transition-delay:0.6s;
			& #{$this}__img:before{background:url('../images/chest/motiva_img4.jpg') no-repeat center center; background-size:cover;}
		}
	}
	&__area{display:table-cell; width:1%; height:180px; padding:10px;  text-align:center; vertical-align:middle; box-sizing:border-box; background-color:#4e5563;}
	&__tit{margin:0; font-size:24px; color:#5eeef9; font-weight:500;}
	&__txt{margin:16px 0 0 0; font-size:16px; line-height:1.625; color:#fff;}
	&__img-m{display:none;}
	@media only screen and (max-width:$tablet-size){padding:0 50px 38.57%; box-sizing:border-box; background-position:center bottom;
		&__list{margin-left:-16px; text-align:center; font-size:0;}
		&__item{float:none; display:inline-block; width:50%;  padding-left:16px;
			&:last-child{margin-top:16px;}
			&.nth-2,&.nth-3{transition-delay:0;}
		}
		& .point__style-tit{padding-left:0;}
		& .point__style-txt{padding-left:0;}
	}
	@media only screen and (max-width:$mobile-size){margin-top:30px; padding:0; background:none;
		&__box{width:100%;}
		&__img-m{overflow:hidden; display:block; position:relative; width:100%; height:0; margin-top:15px; padding-bottom:44.77%; font-size:0; text-indent:-9999px;
			&:before{position:absolute; top:0; left:0; width:100%; height:100%; background:url('../images/chest/motiva_img1_m.jpg') no-repeat center center; background-size:cover; content:'';}
		}
		&__list{margin-top:0;}
		&__item{width:100%;
			& + &{margin-top:30px;}
			&:last-child{margin-top:30px;}
		}
		&__tit{font-size:2.1rem;}
		&__txt{margin-top:12px; font-size:1.3rem;}
		&__area{display:block; width:100%; height:auto; padding:20px 10px 25px;}
	}
}

.yellow{position:relative; display:inline-block; color:#fff8d3;
	&:after{position:absolute; left:1px; bottom:0; width:100%; border-bottom:1px solid #fff8d3; content:'';}
}

.table1{width:100%; margin-top:40px; border-top:2px solid #333333; border-spacing:0; border-collapse:collapse;
	$this:&;
	&__tr{
		&:last-child{
			& #{$this}__td{border-bottom:1px solid #333;}
		}
	}
	&__th{height:60px; background-color:#eee; font-size:20px; text-align:center; font-weight:300; vertical-align:middle; border-bottom:1px solid #333;}
	&__th-tit{height:80px; font-weight:500; color:#fff; background-color:#37d1dd; font-size:30px;}
	&__td{height:120px; font-size:20px; padding:0 10px; box-sizing:border-box; text-align:center; border-bottom:1px solid #aaa;
		& strong{font-weight:500;}
	}
	&__td-another{font-size:30px; font-weight:600; color:#fff; background-color:#8135dd;}
	&__box{margin:0; text-align:left;}
	&__txt{margin:5px 0 0 0; text-align:right; color:#666;}
	@media only screen and (max-width:$mobile-size){margin-top:30px;
		&__th{height:40px; font-size:1.3rem; line-height:1.625;}
		&__th-tit{height:60px; font-size:1.8rem;}
		&__td{font-size:1.3rem; line-height:1.625;}
		&__txt{font-size:1rem;}
	}
}

.table2{width:100%; margin-top:50px; border-top:2px solid #333333; border-spacing:0; border-collapse:collapse;
	$this:&;
	&__tr{
		&:last-child{
			& #{$this}__td{border-bottom:1px solid #333;}
		}
	}
	&__th{height:60px; font-size:20px; font-weight:300; color:#fff; background-color:#8135dd; vertical-align:middle; box-sizing:border-box; border-bottom:1px solid #333;
		& img{width:100%;}
	}
	&__th-tit{height:120px; font-weight:500; color:#fff; background-color:#37d1dd; font-size:30px;}
	&__th-img{background-color:#fff; font-size:0px;}
	&__td{height:60px; font-size:20px; padding:0 10px; box-sizing:border-box; text-align:center; border-bottom:1px solid #aaa;
		& strong{font-weight:500;}
		&:last-child{background-color:#eee;}
	}
	&__td-another{font-size:30px; font-weight:600; color:#fff; background-color:#8135dd;}
	&__box{margin:0; text-align:left;}
	&__txt{margin:20px 0 0 0; font-size:16px; text-align:center; color:#666; line-height:1.625;}
	@media only screen and (max-width:$mobile-size){margin-top:30px;
		&__th{height:40px; font-size:1.3rem; line-height:1.625; text-align:center; }
		&__th-tit{height:100px; padding:0 20px; font-size:1.8rem; text-align:center;}
		&__td{height:auto; padding:9px 0; font-size:1.3rem; line-height:1.625;}
		&__txt{margin-top:12px;  font-size:1.3rem;}
	}
}

.table-wrap{
	@media only screen and (max-width:$tablet-size){padding-left:16px; box-sizing:border-box;}
}

.chest-section{overflow:hidden; padding-bottom:120px;
	@media only screen and (max-width:$tablet-size){padding-bottom:100px;}
	@media only screen and (max-width:$mobile-size){padding-bottom:50px;}
}

/*애니메이션*/
.animated{-webkit-animation-duration: 1s; animation-duration: 1s; -webkit-animation-fill-mode: both; animation-fill-mode: both;}
.fadeInUp {-webkit-animation-name: fadeInUp; animation-name: fadeInUp;}
.js-motion2.type-delay{transition-delay:0.5s;}
/*애니메이션*/
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
    -ms-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
    -ms-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
