@charset "UTF-8";
.chest {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("../images/chest/chest_bg1.jpg") no-repeat center center;
  background-size: cover;
}

.chest__box {
  padding-top: 120px;
  text-align: center;
}

.chest__box.type-another {
  margin-top: -50px;
}

.chest__box.first {
  padding-top: 354px;
}

.chest__tit {
  margin: 20px 0 0 0;
  font-size: 45px;
  font-weight: 300;
}

.chest__txt {
  position: relative;
  margin: 10px 0 0 0;
  padding-bottom: 100px;
  font-size: 22px;
  color: #666;
}

.chest__txt:after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -50px;
  display: inline-block;
  width: 1px;
  height: 120px;
  margin: 0 auto;
  background-color: #37d1dd;
  content: '';
  z-index: 60;
}

.chest__point {
  font-weight: 500;
}

@media only screen and (max-width: 1025px) {
  .chest {
    background: url("../images/chest/chest_bg1_768.jpg") no-repeat center center;
    background-size: cover;
  }
  .chest__box {
    padding-top: 65px;
  }
  .chest__box.first {
    padding-top: 65px;
  }
  .chest__box.type-another {
    margin-top: 0px;
  }
  .chest__tit {
    font-size: 40px;
  }
  .chest__txt {
    font-size: 20px;
  }
}

@media only screen and (max-width: 668px) {
  .chest {
    padding: 0 10px;
    box-sizing: border-box;
    background: url("../images/chest/chest_bg1_730.jpg") no-repeat center center;
    background-size: cover;
  }
  .chest__box {
    padding-top: 60px;
  }
  .chest__box.first {
    padding-top: 30px;
  }
  .chest__box.type-another {
    margin-top: 0px;
  }
  .chest__tit {
    margin: 13px 0 0 0;
    font-size: 2.6rem;
  }
  .chest__txt {
    margin: 8px 0 0 0;
    padding-bottom: 45px;
    font-size: 1.3rem;
  }
  .chest__txt:after {
    bottom: -25px;
    height: 60px;
  }
}

.ban {
  position: relative;
  padding-right: 358px;
  padding-bottom: 80px;
}

.ban__img-wrap {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 57.52%;
}

.ban__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ban__box {
  position: absolute;
  right: 0;
  bottom: 0;
  display: inline-block;
  width: 686px;
  padding: 60px 50px;
  background-color: #4e5563;
  box-sizing: border-box;
  text-align: left;
}

.ban__txt {
  margin: 0;
  font-size: 16px;
  color: #eee;
  line-height: 1.625;
}

.ban__tit {
  margin: 26px 0 0 0;
  font-size: 20px;
  color: #fff;
  font-weight: 400;
  line-height: 1.5;
}

.ban__list {
  padding: 0;
  margin: 30px 0 0 0;
  list-style: none;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
}

.ban__item + .ban__item {
  margin-top: 8px;
}

@media only screen and (max-width: 1025px) {
  .ban {
    padding: 0;
  }
  .ban__box {
    position: static;
    width: 100%;
  }
}

@media only screen and (max-width: 668px) {
  .ban__box {
    margin-top: -1px;
    padding: 35px;
  }
  .ban__txt {
    font-size: 1.3rem;
  }
  .ban__tit {
    margin: 22px 0 0 0;
    font-size: 1.6rem;
  }
  .ban__list {
    margin: 20px 0 0 0;
    font-size: 1.3rem;
  }
  .ban__item + .ban__item {
    margin-top: 4px;
  }
}

.team__list {
  margin: 0 0 0 -28px;
  padding: 0;
  list-style: none;
}

.team__list:after {
  display: block;
  clear: both;
  content: '';
}

.team__wrap {
  display: table-cell;
  width: 1%;
  height: 400px;
  vertical-align: middle;
  box-sizing: border-box;
  text-align: center;
}

.team__wrap:after {
  display: block;
  clear: both;
  content: '';
}

.team__item {
  float: left;
  width: 50%;
  height: 400px;
  padding-left: 28px;
  box-sizing: border-box;
}

.team__item:after {
  display: block;
  clear: both;
  content: '';
}

.team__item:first-child {
  width: 100%;
}

.team__item:first-child .team__wrap {
  padding: 0 14px;
  background-color: #eeeeee;
}

.team__item + .team__item {
  margin-top: 30px;
}

.team__box {
  position: relative;
  float: left;
  width: 50%;
  height: 100%;
  text-align: left;
  box-sizing: border-box;
}

.team__box.type-txt {
  border: 1px solid #eee;
}

.team__tit {
  margin: 0;
  font-size: 35px;
  font-weight: 300;
}

.team__point {
  font-weight: 500;
}

.team__sub {
  margin-left: 14px;
  font-size: 18px;
  color: #666;
}

.team__sub-txt {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 150px;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  color: #fff;
  background-color: #8135dd;
  text-align: center;
  z-index: 10;
}

.team__img-pc {
  display: block;
}

.team__img-m {
  display: none;
}

@media only screen and (max-width: 1025px) {
  .team__list {
    margin: 0;
  }
  .team__item {
    padding: 0;
    border: 1px solid #eee;
    box-sizing: border-box;
  }
  .team__item {
    position: relative;
    width: 100%;
    height: auto;
  }
  .team__item:first-child {
    background: url("../images/chest/team1_768.jpg") no-repeat center center #eee;
    background-size: cover;
  }
  .team__item:first-child .team__img {
    display: none;
  }
  .team__item:first-child .team__box.type-txt {
    position: static;
    top: auto;
    float: right;
    border-color: transparent;
    transform: none;
  }
  .team__item:first-child .team__wrap {
    padding: 60px 14px;
    background: transparent;
    box-sizing: border-box;
  }
  .team__img-wrap {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 116.27%;
  }
  .team__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .team__wrap {
    display: block;
    width: 100%;
    height: 100%;
  }
  .team__box.type-txt {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    border: none;
    height: auto;
  }
}

@media only screen and (max-width: 668px) {
  .team__box {
    float: none;
    width: 100%;
  }
  .team__tit {
    font-size: 2.8rem;
    text-align: center;
  }
  .team__sub {
    margin-left: 6px;
    font-size: 1.1rem;
  }
  .team__sub-txt {
    width: 100px;
    height: 30px;
    line-height: 30px;
    font-size: 1.3rem;
  }
  .team__item {
    position: relative;
    width: 100%;
    height: auto;
  }
  .team__item:first-child {
    background: none;
  }
  .team__item:first-child .team__img {
    display: none;
  }
  .team__item:first-child .team__box.type-txt {
    float: none;
    padding: 0;
    border-color: #eeeeee;
    background-color: #eee;
  }
  .team__item:first-child .team__wrap {
    padding: 0 0 45px 0;
  }
  .team__item:first-child .team__img-wrap {
    background: url("../images/chest/team1_730.jpg");
    background-size: cover;
    padding-bottom: 103.8%;
  }
  .team__item + .team__item {
    margin-top: 15px;
  }
  .team__img-wrap {
    padding-bottom: 74.62%;
  }
  .team__img-pc {
    display: none;
  }
  .team__img-m {
    display: block;
  }
  .team__wrap {
    padding: 45px 0;
    text-align: center;
  }
  .team__box.type-txt {
    position: static;
    top: auto;
    transform: none;
    border: none;
    height: auto;
  }
}

.profile__list {
  display: inline-block;
  margin: 26px 0 0 0;
  padding: 0;
  list-style: none;
  text-align: left;
}

.profile__list.type-another .profile__item {
  float: left;
  width: 50%;
}

.profile__list.type-another .profile__item:nth-child(2) {
  margin-top: 0;
}

.profile__list.type-another:after {
  display: block;
  clear: both;
  content: '';
}

.profile__item {
  position: relative;
  padding-left: 13px;
  font-size: 16px;
  box-sizing: border-box;
}

.profile__item + .profile__item {
  margin-top: 8px;
}

.profile__item:before {
  position: absolute;
  top: 10px;
  left: 0;
  display: inline-block;
  width: 3px;
  height: 3px;
  background: #8135dd;
  content: '';
}

@media only screen and (max-width: 1025px) {
  .profile__list.type-another .profile__item {
    float: none;
    width: 100%;
  }
  .profile__list.type-another .profile__item:nth-child(2) {
    margin-top: 8px;
  }
}

@media only screen and (max-width: 668px) {
  .profile__list {
    display: inline-block;
    margin-top: 18px;
    text-align: left;
  }
  .profile__list.type-another {
    display: inline-block;
  }
  .profile__item {
    padding-left: 10px;
    font-size: 1.3rem;
  }
  .profile__item + .profile__item {
    margin-top: 5px;
  }
  .profile__item:before {
    top: 6px;
  }
}

.bano {
  margin-top: 120px;
  padding: 200px 0;
  background: url("../images/chest/bano_bg.jpg") center center fixed;
  text-align: center;
  background-size: cover;
  transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  -webkit-transition: all .5s ease-out;
}

.bano__subject {
  margin: 0;
  font-size: 20px;
  color: #fff;
  font-weight: 400;
}

.bano__subject-bar {
  position: relative;
  padding-right: 25px;
}

.bano__subject-bar:after {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 4px;
  display: inline-block;
  width: 10px;
  height: 14px;
  margin: auto 0;
  background: url("../images/chest/bano_bar.png");
  content: '';
}

.bano__subject-bar:last-child {
  padding-right: 0;
}

.bano__subject-bar:last-child:after {
  display: none;
}

.bano__tit {
  position: relative;
  display: inline-block;
  margin: 20px 0 0 0;
  padding: 5px 34px 14px;
  font-size: 100px;
  color: #5eeef9;
  font-weight: 300;
  font-family: "Damion", cursive, sans-serif;
  border: 5px solid #fff;
  letter-spacing: 0;
}

.bano__tit:after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -60px;
  width: 1px;
  height: 80px;
  margin: 0px auto;
  background-color: #fff;
  content: '';
}

.bano__txt1 {
  margin: 80px 0 0 0;
  font-size: 16px;
  color: #eeeeee;
  line-height: 1.625;
}

.bano__txt2 {
  margin: 20px 0 0 0;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
}

@media only screen and (max-width: 1025px) {
  .bano {
    margin-top: 100px;
    background-attachment: scroll;
  }
}

@media only screen and (max-width: 668px) {
  .bano {
    margin-top: 60px;
    padding: 65px 0;
  }
  .bano__subject {
    font-size: 1.3rem;
  }
  .bano__subject-bar {
    position: relative;
    padding-right: 15px;
  }
  .bano__subject-bar:after {
    width: 5px;
    height: 7px;
    background-size: 5px 7px;
    content: '';
  }
  .bano__subject-bar:last-child:after {
    display: none;
  }
  .bano__tit {
    margin-top: 10px;
    padding: 8px 17px 10px;
    font-size: 5.1rem;
    border-width: 3px;
  }
  .bano__tit:after {
    bottom: -30px;
    width: 1px;
    height: 40px;
  }
  .bano__txt1 {
    margin: 30px 0 0 0;
    font-size: 1.3rem;
  }
  .bano__txt2 {
    margin: 10px 0 0 0;
    font-size: 1.6rem;
  }
}

.step__header {
  position: relative;
  padding: 0 70px;
  box-sizing: border-box;
}

.step__header:after {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 70px;
  display: block;
  width: 30px;
  height: 18px;
  margin: auto 0;
  background: url("../images/chest/step_arrow.png");
  content: '';
  transition: transform 0.3s;
}

.step__header-wrap {
  display: table-cell;
  width: 1%;
  height: 200px;
  vertical-align: middle;
  color: #fff;
  text-align: left;
  font-size: 0;
}

.step__header-tit {
  display: inline-block;
  margin: 0;
  font-size: 60px;
  font-weight: 300;
  font-family: "Damion", cursive, sans-serif;
  letter-spacing: 0;
  vertical-align: middle;
}

.step__header-txt1 {
  display: inline-block;
  margin: 0;
  font-size: 35px;
  font-weight: 500;
  vertical-align: middle;
}

.step__header-txt2 {
  display: inline-block;
  margin: 0 0 0 32px;
  font-size: 20px;
  vertical-align: middle;
}

.step__header-box {
  display: inline-block;
  margin: 0 0 0 56px;
  vertical-align: middle;
}

.step__header-point {
  font-weight: 500;
}

.step__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.step__item.nth-1 .step__header {
  background: url("../images/chest/step_bg1.jpg");
}

.step__item.nth-2 .step__header {
  background: url("../images/chest/step_bg2.jpg");
}

.step__item.nth-3 .step__header {
  background: url("../images/chest/step_bg3.jpg");
}

.step__item.is-active .step__header:after {
  transform: rotate(180deg);
}

.step__item + .step__item {
  margin-top: 30px;
}

.step__body {
  display: none;
  padding: 50px;
  background-color: #fafafa;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
}

.step__body-list {
  margin: -30px 0 0 0;
  padding: 0;
  list-style: none;
}

.step__body-list:after {
  display: block;
  clear: both;
  content: '';
}

.step__body-item {
  position: relative;
  float: left;
  width: 50%;
  margin-top: 30px;
}

.step__body-item .step__body-wrap:before {
  background: url("../images/chest/step_img.png");
}

.step__body-item.nth-2 .step__body-wrap:before {
  background-position: 0px -280px;
}

.step__body-item.nth-3 .step__body-wrap:before {
  background-position: 0px -560px;
}

.step__body-item.nth-4 .step__body-wrap:before {
  background-position: 0px -840px;
}

.step__body-item.nth-5 .step__body-wrap:before {
  background-position: 0px -1120px;
}

.step__body-item.nth-6 .step__body-wrap:before {
  background-position: 0px -1400px;
}

.step__body-item.nth-7 .step__body-wrap:before {
  background-position: 0px -1680px;
}

.step__body-item.nth-8 .step__body-wrap:before {
  background-position: 0px -1960px;
}

.step__body-item.nth-9 .step__body-wrap:before {
  background-position: 0px -2240px;
}

.step__body-item.nth-10 .step__body-wrap:before {
  background-position: 0px -2520px;
}

.step__body-item.nth-11 .step__body-wrap:before {
  background-position: 0px -2800px;
}

.step__body-item:last-child {
  width: 100%;
}

.step__body-wrap {
  display: table-cell;
  width: 1%;
  height: 280px;
  padding-left: 308px;
  vertical-align: middle;
  text-align: left;
}

.step__body-wrap:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 280px;
  height: 280px;
  content: '';
}

.step__body-num {
  width: 70px;
  height: 25px;
  margin: 0;
  padding: 0 10px;
  font-size: 16px;
  line-height: 25px;
  color: #fff;
  font-weight: 500;
  background-color: #8135dd;
  box-sizing: border-box;
}

.step__body-tit {
  margin: 20px 0 0 0;
  font-size: 30px;
  font-weight: 300;
}

.step__body-txt {
  margin: 16px 0 0 0;
  font-size: 16px;
}

.step__body-point {
  margin: 10px 0 0 0;
  font-size: 16px;
  color: #999999;
}

.step__link {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 1;
  text-indent: -9999px;
}

@media only screen and (max-width: 1025px) {
  .step__header-txt2 {
    display: block;
    margin: 16px 0 0 0;
  }
  .step__item.nth-1 .step__header {
    background: url("../images/chest/step_bg1_768.jpg");
    background-size: cover;
  }
  .step__item.nth-2 .step__header {
    background: url("../images/chest/step_bg2_768.jpg");
    background-size: cover;
  }
  .step__item.nth-3 .step__header {
    background: url("../images/chest/step_bg3_768.jpg");
    background-size: cover;
  }
  .step__body-item {
    width: 100%;
  }
  .step + .step {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 668px) {
  .step__itme + .step__itme {
    margin-top: 10px;
  }
  .step__header {
    padding: 0 25px;
  }
  .step__header:after {
    right: 25px;
    width: 15px;
    height: 9px;
    background-size: 15px 9px;
    content: '';
  }
  .step__header-wrap {
    height: auto;
    width: 100%;
    padding: 8.4% 0;
  }
  .step__header-tit {
    font-size: 3.1rem;
  }
  .step__header-txt1 {
    font-size: 2.1rem;
  }
  .step__header-txt2 {
    margin: 8px 0 0 0;
    font-size: 1.3rem;
  }
  .step__header-box {
    margin: 0 0 0 15px;
  }
  .step__body {
    display: none;
    padding: 35px;
  }
  .step__body-list {
    margin: 0;
  }
  .step__body-item {
    float: none;
    width: 100%;
    margin-top: 15px;
  }
  .step__body-item:first-child {
    margin-top: 0;
  }
  .step__body-item .step__body-wrap:before {
    background: url("../images/chest/step_img.png");
    background-size: 140px 1540px;
  }
  .step__body-item.nth-2 .step__body-wrap:before {
    background-position: 0px -140px;
  }
  .step__body-item.nth-3 .step__body-wrap:before {
    background-position: 0px -280px;
  }
  .step__body-item.nth-4 .step__body-wrap:before {
    background-position: 0px -420px;
  }
  .step__body-item.nth-5 .step__body-wrap:before {
    background-position: 0px -560px;
  }
  .step__body-item.nth-6 .step__body-wrap:before {
    background-position: 0px -700px;
  }
  .step__body-item.nth-7 .step__body-wrap:before {
    background-position: 0px -840px;
  }
  .step__body-item.nth-8 .step__body-wrap:before {
    background-position: 0px -980px;
  }
  .step__body-item.nth-9 .step__body-wrap:before {
    background-position: 0px -1120px;
  }
  .step__body-item.nth-10 .step__body-wrap:before {
    background-position: 0px -1260px;
  }
  .step__body-item.nth-11 .step__body-wrap:before {
    background-position: 0px -1400px;
  }
  .step__body-item:last-child {
    width: 100%;
  }
  .step__body-wrap {
    display: block;
    width: 100%;
    height: auto;
    padding-top: 150px;
    padding-left: 0px;
    text-align: center;
  }
  .step__body-wrap:before {
    right: 0;
    width: 140px;
    height: 140px;
    margin: 0px auto;
    content: '';
  }
  .step__body-num {
    display: inline-block;
    width: 43px;
    height: 15px;
    font-size: 1.2rem;
    line-height: 15px;
  }
  .step__body-tit {
    margin: 10px 0 0 0;
    font-size: 2.1rem;
  }
  .step__body-txt {
    margin: 8px 0 0 0;
    font-size: 1.3rem;
  }
  .step__body-point {
    margin: 5px 0 0 0;
    font-size: 1.1rem;
  }
}

.case__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.case__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.case__item {
  position: relative;
  font-size: 0;
}

.case__item + .case__item {
  margin-top: 120px;
}

.case__item:after {
  display: block;
  clear: both;
  content: '';
}

.case__box {
  position: relative;
  display: inline-block;
  width: 50%;
}

.case__box.type-before .case__box-txt {
  left: 0;
  width: 120px;
}

.case__box.type-after .case__box-txt {
  right: 0;
  width: 150px;
}

.case__box-txt {
  position: absolute;
  top: 0;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  text-align: center;
  background: rgba(102, 102, 102, 0.9);
  z-index: 10;
  color: #fff;
}

.case__img-wrap {
  height: 0;
  width: 100%;
  padding-bottom: 71.42%;
}

.case__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.case__info {
  position: absolute;
  top: 120px;
  left: 0;
  right: 0;
  width: 212px;
  margin: 0px auto;
  padding: 30px 24px 36px;
  background: rgba(38, 41, 48, 0.9);
  box-sizing: border-box;
  color: #fff;
  z-index: 10;
}

.case__info-tit {
  position: relative;
  margin: 0;
  padding-bottom: 14px;
  font-size: 50px;
  font-family: "Damion", cursive, sans-serif;
  letter-spacing: 0;
  font-weight: 300;
  line-height: 1;
}

.case__info-tit:after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: inline-block;
  width: 35px;
  height: 0;
  margin: 0 auto;
  border-top: 1px solid #5eeef9;
  content: '';
}

.case__info-txt {
  margin: 20px 0 0 0;
  font-size: 16px;
  line-height: 1.6;
}

.case__bottom {
  padding: 50px 120px;
  background-color: #4e5563;
}

.case__bottom-txt {
  margin: 0;
  font-size: 18px;
  color: #eeeeee;
  line-height: 1.55;
}

.case__bottom-tit {
  margin: 26px 0 0 0;
  font-size: 30px;
  color: #fff;
  font-weight: 400;
  line-height: 1.33;
}

@media only screen and (max-width: 1025px) {
  .case__box.type-before .case__box-txt {
    left: 0;
    width: 100px;
  }
  .case__box.type-after .case__box-txt {
    right: 0;
    width: 140px;
  }
  .case__box-txt {
    height: 45px;
    line-height: 45px;
    font-size: 18px;
  }
  .case__info {
    position: static;
    top: auto;
    left: auto;
    right: auto;
    width: 100%;
    padding: 38px;
    font-size: 0;
    opacity: 1;
  }
  .case__info-tit {
    display: inline-block;
    width: 50%;
    padding: 0 46px 0 8px;
    text-align: right;
    box-sizing: border-box;
    vertical-align: top;
  }
  .case__info-tit:after {
    bottom: -14px;
  }
  .case__info-txt {
    display: inline-block;
    width: 50%;
    padding: 0 8px;
    box-sizing: border-box;
    margin: 0;
    text-align: left;
  }
  .case__bottom {
    padding: 50px 60px;
  }
  .case__bottom-txt {
    font-size: 16px;
  }
  .case__bottom-tit {
    font-size: 20px;
  }
}

@media only screen and (max-width: 668px) {
  .case__box {
    width: 100%;
  }
  .case__box.type-before .case__box-txt {
    width: 66px;
  }
  .case__box.type-after .case__box-txt {
    width: 96px;
  }
  .case__item + .case__item {
    margin-top: 60px;
  }
  .case__box-txt {
    height: 30px;
    line-height: 30px;
    font-size: 1.3rem;
  }
  .case__info {
    padding: 25px 35px;
  }
  .case__info-tit {
    padding: 0;
    font-size: 3.1rem;
    text-align: left;
  }
  .case__info-tit:after {
    bottom: -8px;
    right: auto;
    width: 18px;
  }
  .case__info-txt {
    padding: 0 7px;
    font-size: 1.3rem;
  }
  .case__bottom {
    padding: 35px;
    text-align: left;
  }
  .case__bottom-txt {
    font-size: 1.3rem;
  }
  .case__bottom-tit {
    margin-top: 22px;
    font-size: 1.6rem;
  }
}

.chest-top__icon {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 80px;
  margin: 0;
  box-sizing: border-box;
  background-color: #37d1dd;
  color: #fff;
  border-radius: 50%;
  font-family: "Damion", cursive, sans-serif;
  letter-spacing: 0;
  font-size: 32px;
  font-weight: 300;
  text-align: center;
}

.chest-top__wrap {
  display: block;
  padding-top: 20px;
  padding-right: 10px;
  box-sizing: border-box;
}

.chest-top__wrap:after {
  position: absolute;
  top: 18px;
  right: 12px;
  display: block;
  width: 28px;
  height: 42px;
  background: url("../images/chest/chest_arrow.png");
  content: '';
}

@media only screen and (max-width: 668px) {
  .chest-top__icon {
    width: 48px;
    height: 48px;
    font-size: 2rem;
  }
  .chest-top__wrap {
    display: block;
    padding-top: 12px;
    padding-right: 8px;
    box-sizing: border-box;
  }
  .chest-top__wrap:after {
    top: 12px;
    right: 7px;
    width: 17px;
    height: 25px;
    background: url("../images/chest/chest_arrow_m.png");
    background-size: 17px 25px;
  }
}

.technology {
  margin-top: 120px;
  padding: 180px 0;
  color: #fff;
  background: url("../images/chest/technology_bg.jpg") no-repeat center center fixed;
  background-size: cover;
  text-align: center;
  transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  -webkit-transition: all .5s ease-out;
}

.technology__tit {
  margin: 0;
  font-size: 50px;
  font-weight: 500;
}

.technology__txt {
  margin: 10px 0 0 0;
  font-size: 20px;
}

.technology__txtarea {
  padding: 30px;
  background-color: #4e5563;
  font-size: 16px;
  line-height: 1.625;
}

.technology__list {
  margin: 30px 0 0 -28px;
  padding: 0;
  list-style: none;
}

.technology__list:after {
  display: block;
  clear: both;
  content: '';
}

.technology__item {
  float: left;
  display: inline-block;
  width: 25%;
  padding-left: 28px;
  box-sizing: border-box;
}

.technology__item.nth-1 .technology__img:before {
  background: url("../images/chest/technology_icon1.jpg");
  background-size: cover;
}

.technology__item.nth-2 .technology__img:before {
  background: url("../images/chest/technology_icon2.jpg");
  background-size: cover;
}

.technology__item.nth-3 .technology__img:before {
  background: url("../images/chest/technology_icon3.jpg");
  background-size: cover;
}

.technology__item.nth-4 .technology__img:before {
  background: url("../images/chest/technology_icon4.jpg");
  background-size: cover;
}

.technology__img {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 73.17%;
  text-indent: -9999px;
}

.technology__img:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
}

@media only screen and (max-width: 1025px) {
  .technology {
    margin-top: 100px;
    padding: 56px 48px;
    background-attachment: scroll;
  }
  .technology .wrap {
    padding: 0;
  }
  .technology__list {
    margin: 14px 0 0 -16px;
  }
  .technology__item {
    width: 50%;
    margin-top: 16px;
    padding-left: 16px;
  }
}

@media only screen and (max-width: 668px) {
  .technology {
    margin-top: 60px;
    padding: 50px 15px;
  }
  .technology__list {
    margin: 10px 0 0 -15px;
  }
  .technology__item {
    margin-top: 15px;
    padding-left: 15px;
  }
  .technology__tit {
    font-size: 2.3rem;
  }
  .technology__txt {
    margin: 5px 0 0 0;
    font-size: 1.3rem;
  }
  .technology__txtarea {
    padding: 15px;
    font-size: 1.3rem;
  }
}

.pain {
  position: relative;
  height: 600px;
  background: url("../images/chest/chest_img3.jpg");
  padding-top: 190px;
  box-sizing: border-box;
  background-size: cover;
}

.pain.type-another {
  background: url("../images/chest/chest_img4.jpg");
  background-size: cover;
}

.pain__list {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 0;
}

.pain__list .inline-block {
  margin-left: 26px !important;
}

.pain__item {
  position: relative;
  display: inline-block;
  width: 210px;
  height: 210px;
  margin-left: 26px;
  border: 1px solid #fff;
  background-color: rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  border-radius: 50%;
  vertical-align: top;
  font-size: 24px;
  font-weight: 400;
  color: #fff;
}

.pain__item:first-of-type {
  margin-left: 0;
}

.pain__item:before {
  position: absolute;
  top: 0;
  bottom: 0;
  right: -40px;
  width: 50px;
  height: 50px;
  margin: auto 0;
  background: url("../images/chest/plus_icon.png");
  content: '';
  z-index: 10;
}

.pain__item:last-child:before {
  display: none;
}

.pain__wrap {
  display: table-cell;
  width: 1%;
  height: 210px;
  vertical-align: middle;
  text-align: center;
}

.pain__box {
  position: relative;
  top: -50px;
  max-width: 924px;
  margin: 0 auto;
  padding: 50px 70px;
  box-sizing: border-box;
  background-color: #4e5563;
  color: #fff;
  text-align: left;
}

.pain__box.type-another .pain__tit {
  margin: 20px 0 0 0;
}

.pain__box.type-another .pain__txt {
  margin: 0;
}

.pain__tit {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
}

.pain__txt {
  margin: 20px 0 0 0;
  font-size: 16px;
  line-height: 1.625;
}

@media only screen and (max-width: 1025px) {
  .pain {
    height: 0;
    padding: 0;
    padding-bottom: 82.41%;
    background: url("../images/chest/chest_img3_768.jpg");
    background-size: cover;
  }
  .pain.type-another {
    background: url("../images/chest/chest_img4_768.jpg");
    background-size: cover;
  }
  .pain__list {
    position: relative;
    padding: 0 10%;
  }
  .pain__list:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50px;
    height: 50px;
    margin: auto;
    background: url("../images/chest/plus_icon.png");
    content: '';
    z-index: 10;
  }
  .pain__list .inline-block {
    margin-left: 0px !important;
    margin-top: 26px !important;
  }
  .pain__item + .pain__item {
    margin-left: 26px;
  }
  .pain__item:before {
    display: none;
  }
  .pain__box {
    position: static;
    top: auto;
    max-width: 100%;
  }
  .pain__area {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
  }
}

@media only screen and (max-width: 668px) {
  .pain__list:before {
    width: 25px;
    height: 25px;
    background-size: 25px 25px;
  }
  .pain__list .inline-block {
    margin-top: 15px !important;
  }
  .pain__item {
    width: 105px;
    height: 105px;
    font-size: 1.3rem;
  }
  .pain__item + .pain__item {
    margin-left: 15px;
  }
  .pain__item:before {
    display: none;
  }
  .pain__wrap {
    height: 105px;
  }
  .pain__tit {
    font-size: 1.6rem;
  }
  .pain__txt {
    font-size: 1.3rem;
    line-height: 1.625;
  }
  .pain__box {
    padding: 35px;
  }
}

.scanner {
  background-color: #ebecf1;
}

.scanner:after {
  display: block;
  clear: both;
  content: '';
}

.scanner__box {
  float: left;
  width: 50%;
  padding: 100px 14px 0 120px;
  text-align: left;
  box-sizing: border-box;
}

.scanner__box.type-img {
  height: 836px;
  background: url("../images/chest/scanner_img1.jpg") no-repeat center center;
}

.scanner__tit {
  margin: 0;
  font-size: 35px;
  font-weight: 500;
}

.scanner__txt1 {
  margin: 20px 0 0 0;
  font-size: 16px;
  line-height: 1.625;
}

.scanner__txt2 {
  margin: 20px 0 0 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
}

.scanner__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.scanner__slider {
  position: relative;
  margin-top: 40px;
}

.scanner__slider-box {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 20px 0;
  background-color: rgba(78, 85, 99, 0.9);
  color: #fff;
  font-size: 24px;
  text-align: center;
}

.scanner__item {
  position: relative;
  width: 567px;
  height: 0;
  padding-bottom: 65.25%;
}

.scanner__item.nth-1 {
  background: url("../images/chest/scanner_img2.jpg");
  background-size: cover;
}

.scanner__item.nth-2 {
  background: url("../images/chest/scanner_img3.jpg");
  background-size: cover;
}

.scanner__item.nth-3 {
  background: url("../images/chest/scanner_img4.jpg");
  background-size: cover;
}

.scanner__link {
  position: absolute;
  top: 0;
  bottom: 0;
  overflow: hidden;
  display: inline-block;
  width: 14px;
  height: 25px;
  margin: auto 0;
  text-indent: -9999px;
  font-size: 0;
  z-index: 110;
}

.scanner__prev {
  left: 20px;
  background: url("../images/chest/scanner_prev.png") no-repeat center center;
  background-size: 14px 25px;
}

.scanner__next {
  right: 20px;
  background: url("../images/chest/scanner_next.png") no-repeat center center;
  background-size: 14px 25px;
}

.scanner__logo {
  display: none;
}

@media only screen and (max-width: 1025px) {
  .scanner__item {
    width: 100%;
  }
  .scanner__box {
    width: 100%;
    padding: 100px 80px 0;
  }
  .scanner__box.type-img {
    position: relative;
    width: 100%;
    height: 0;
    padding: 0;
    padding-bottom: 55.338%;
    background: url("../images/chest/scanner_img1_768.jpg") no-repeat center 10px;
    background-size: contain;
  }
}

@media only screen and (max-width: 668px) {
  .scanner__box {
    padding: 50px 25px 0;
  }
  .scanner__logo {
    display: inline;
    width: 79px;
  }
  .scanner__tit {
    font-size: 2.6rem;
  }
  .scanner__txt1 {
    font-size: 1.3rem;
  }
  .scanner__txt2 {
    font-size: 1.6rem;
  }
  .scanner__slider {
    margin-top: 26px;
  }
  .scanner__slider-box {
    padding: 10px 0;
    font-size: 1.3rem;
  }
  .scanner__item {
    width: 100%;
  }
  .scanner__prev {
    left: 15px;
  }
  .scanner__next {
    right: 15px;
  }
}

.healing__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.healing__slider {
  position: relative;
}

.healing__item {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 32.85%;
}

.healing__item.nth-1 {
  background: url("../images/chest/healing_img1.jpg");
  background-size: cover;
}

.healing__item.nth-2 {
  background: url("../images/chest/healing_img2.jpg");
  background-size: cover;
}

.healing__item.nth-3 {
  background: url("../images/chest/healing_img3.jpg");
  background-size: cover;
}

.healing__link {
  overflow: hidden;
  display: inline-block;
  width: 60px;
  height: 60px;
  margin: auto 0;
  text-indent: -9999px;
  font-size: 0;
  z-index: 110;
}

.healing__link + .healing__link {
  margin-left: 1px;
}

.healing__prev {
  background: url("../images/chest/healing_prev.jpg") no-repeat center center;
  background-size: 60px 60px;
}

.healing__next {
  background: url("../images/chest/healing_next.jpg") no-repeat center center;
  background-size: 60px 60px;
}

.healing__box {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50%;
  padding-left: 14px;
  box-sizing: border-box;
  z-index: 55;
}

.healing__wrap {
  position: relative;
  padding: 56px 0;
  background-color: #fff;
}

.healing__btn {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0;
}

.healing__num {
  display: inline-block;
  margin: 0;
  font-size: 16px;
  color: #8036dc;
  font-weight: 600;
}

.healing__num:after {
  display: block;
  width: 100%;
  height: 0;
  margin-top: 3px;
  border-bottom: 1px solid #8036dc;
  content: '';
}

.healing__tit {
  margin: 16px 0 0 0;
  font-size: 35px;
  font-weight: 400;
}

.healing__txt {
  margin: 26px 0 0 0;
  font-size: 20px;
}

@media only screen and (max-width: 1025px) {
  .healing__box {
    position: static;
    width: 100%;
    padding-left: 0;
  }
}

@media only screen and (max-width: 668px) {
  .healing__item {
    padding-bottom: 59.7%;
  }
  .healing__wrap {
    padding: 25px 0;
  }
  .healing__num {
    font-size: 1.2rem;
  }
  .healing__tit {
    margin-top: 8px;
    font-size: 2.1rem;
  }
  .healing__txt {
    margin-top: 12px;
    font-size: 1.3rem;
  }
  .healing__link {
    width: 40px;
    height: 40px;
  }
  .healing__prev {
    background-size: 40px 40px;
  }
  .healing__next {
    background-size: 40px 40px;
  }
}

.point__bg {
  padding: 170px 0;
  text-align: center;
  margin-top: 120px;
}

.point__bg:first-child {
  margin-top: 0;
}

.point__bg.nth-1 {
  background: url("../images/chest/point_bg1.jpg") no-repeat center center fixed;
  background-size: cover;
}

.point__bg.nth-2 {
  background: url("../images/chest/point_bg2.jpg") no-repeat center center fixed;
  background-size: cover;
}

.point__bg.nth-3 {
  background: url("../images/chest/point_bg3.jpg") no-repeat center center fixed;
  background-size: cover;
}

.point__bg.nth-4 {
  background: url("../images/chest/point_bg4.jpg") no-repeat center center fixed;
  background-size: cover;
}

.point__bg.nth-5 {
  background: url("../images/chest/point_bg5.jpg") no-repeat center center fixed;
  background-size: cover;
}

.point__box {
  display: inline-block;
  width: 448px;
  padding: 40px 10px 50px;
  background: rgba(38, 41, 48, 0.9);
  color: #fff;
}

.point__tit {
  position: relative;
  margin: 0;
  padding-bottom: 14px;
  font-size: 50px;
  font-family: "Damion", cursive, sans-serif;
  letter-spacing: 0;
  font-weight: 300;
  line-height: 1;
}

.point__tit:after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: inline-block;
  width: 35px;
  height: 0;
  margin: 0 auto;
  border-top: 1px solid #5eeef9;
  content: '';
}

.point__txt {
  margin: 20px 0 0 0;
  font-size: 40px;
  font-weight: 300;
}

.point__txt .color3 {
  font-weight: 500;
}

.point__sub-txt {
  display: block;
  margin: 5px 0 0 0;
  font-size: 22px;
  font-weight: 400;
}

.point__info {
  width: 100%;
  max-width: 930px;
  margin: 76px auto 0;
}

.point__info.type-another .point__info-box {
  margin-top: 0;
}

.point__info.type-another .point__style {
  display: table-cell;
  height: 400px;
  margin-top: 0;
  vertical-align: middle;
}

.point__info-wrap:after {
  display: block;
  clear: both;
  content: '';
}

.point__info-box {
  text-align: left;
}

.point__info-box.nth-1 {
  float: left;
  margin-top: 70px;
  margin-right: 28px;
}

.point__info-box.nth-2 {
  margin-bottom: 46px;
}

.point__style {
  text-align: left;
}

.point__style-tit {
  margin: 0;
  display: inline-block;
  font-size: 30px;
  color: #8135dd;
  font-weight: 400;
}

.point__style-txt {
  margin: 40px 0 0 0;
  font-size: 16px;
  color: #333;
  line-height: 1.625;
}

.point__style-border {
  position: relative;
  line-height: 1;
}

.point__style-border:after {
  position: absolute;
  left: 0;
  bottom: 3px;
  width: 100%;
  height: 0;
  border-bottom: 1px solid #8135dd;
  content: '';
}

.point__medium {
  font-weight: 500;
}

.point__wrap {
  width: 100%;
  max-width: 930px;
  margin: 70px auto 0;
}

@media only screen and (max-width: 1025px) {
  .point__bg {
    margin-top: 96px;
  }
  .point__bg.nth-1, .point__bg.nth-2, .point__bg.nth-3, .point__bg.nth-4, .point__bg.nth-5 {
    background-attachment: scroll;
    background-size: cover;
  }
  .point__info {
    padding: 0 20px;
    box-sizing: border-box;
  }
  .point__info.type-another .point__info-box {
    margin-top: 0;
  }
  .point__info.type-another .point__style {
    display: block;
    height: auto;
  }
  .point__info-wrap {
    margin-left: -16px;
    font-size: 0;
  }
  .point__info-wrap:after {
    display: block;
    clear: both;
    content: '';
  }
  .point__info-box {
    float: left;
    width: 50%;
    padding-left: 16px;
    box-sizing: border-box;
  }
  .point__info-box.nth-1 {
    margin-right: 0;
  }
  .point__info-box.nth-1 .point__img {
    width: 100%;
  }
  .point__info-box.nth-2 {
    margin-right: 0;
  }
  .point__info-box.nth-2 .point__img {
    width: 83%;
  }
  .point__style {
    padding-left: 50%;
    box-sizing: border-box;
  }
  .point__style.type-another {
    padding: 0 50px;
  }
  .point__style.type-another .point__style-tit {
    padding-left: 0;
  }
  .point__style.type-another .point__style-txt {
    padding-left: 0;
  }
  .point__style-tit {
    padding-left: 16px;
    box-sizing: border-box;
  }
  .point__style-txt {
    padding-left: 16px;
    box-sizing: border-box;
  }
  .point__style-border.type-letter {
    letter-spacing: -2px;
  }
  .point__wrap {
    margin-top: 40px;
  }
}

@media only screen and (max-width: 668px) {
  .point__bg {
    margin-top: 60px;
    padding: 117px 18.91%;
  }
  .point__box {
    width: 100%;
    padding: 20px 0 25px;
  }
  .point__tit {
    font-size: 3.1rem;
  }
  .point__txt {
    font-size: 2.1rem;
  }
  .point__sub-txt {
    font-size: 1.3rem;
  }
  .point__info {
    margin-top: 30px;
  }
  .point__info.type-another .point__style {
    margin-top: 20px;
  }
  .point__info-wrap {
    margin-left: -15px;
    text-align: left;
  }
  .point__info-box {
    float: none;
    display: inline-block;
    padding-left: 15px;
    vertical-align: top;
  }
  .point__info-box.nth-1 {
    float: none;
    margin-top: 30px;
  }
  .point__info-box.nth-2 {
    margin-bottom: 0;
  }
  .point__info-box.nth-2 .point__img {
    width: 100%;
  }
  .point__info-box.type-another {
    width: 64%;
  }
  .point__style {
    margin-top: 20px;
    padding-left: 0;
  }
  .point__style.type-another {
    margin-top: 0;
    padding: 0;
  }
  .point__style-tit {
    font-size: 2.1rem;
  }
  .point__style-txt {
    margin-top: 20px;
    font-size: 1.3rem;
  }
  .point__wrap {
    margin-top: 30px;
  }
}

.gel {
  margin-top: 70px;
  padding-left: 235px;
  background: url("../images/chest/motiva_img1.jpg") no-repeat right bottom;
}

.gel__box {
  width: 460px;
  text-align: left;
}

.gel__list {
  margin: 40px 0 0 -28px;
  padding: 0;
  list-style: none;
}

.gel__list:after {
  display: block;
  clear: both;
  content: '';
}

.gel__img {
  overflow: hidden;
  position: relative;
  width: 100%;
  padding-bottom: 71.42%;
  box-sizing: border-box;
  font-size: 0;
  text-indent: -9999px;
}

.gel__img:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
}

.gel__item {
  float: left;
  width: 33.33%;
  padding-left: 28px;
  box-sizing: border-box;
}

.gel__item.nth-1 .gel__img:before {
  background: url("../images/chest/motiva_img2.jpg") no-repeat center center;
  background-size: cover;
}

.gel__item.nth-2 {
  transition-delay: 0.3s;
}

.gel__item.nth-2 .gel__img:before {
  background: url("../images/chest/motiva_img3.jpg") no-repeat center center;
  background-size: cover;
}

.gel__item.nth-3 {
  transition-delay: 0.6s;
}

.gel__item.nth-3 .gel__img:before {
  background: url("../images/chest/motiva_img4.jpg") no-repeat center center;
  background-size: cover;
}

.gel__area {
  display: table-cell;
  width: 1%;
  height: 180px;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
  background-color: #4e5563;
}

.gel__tit {
  margin: 0;
  font-size: 24px;
  color: #5eeef9;
  font-weight: 500;
}

.gel__txt {
  margin: 16px 0 0 0;
  font-size: 16px;
  line-height: 1.625;
  color: #fff;
}

.gel__img-m {
  display: none;
}

@media only screen and (max-width: 1025px) {
  .gel {
    padding: 0 50px 38.57%;
    box-sizing: border-box;
    background-position: center bottom;
  }
  .gel__list {
    margin-left: -16px;
    text-align: center;
    font-size: 0;
  }
  .gel__item {
    float: none;
    display: inline-block;
    width: 50%;
    padding-left: 16px;
  }
  .gel__item:last-child {
    margin-top: 16px;
  }
  .gel__item.nth-2, .gel__item.nth-3 {
    transition-delay: 0;
  }
  .gel .point__style-tit {
    padding-left: 0;
  }
  .gel .point__style-txt {
    padding-left: 0;
  }
}

@media only screen and (max-width: 668px) {
  .gel {
    margin-top: 30px;
    padding: 0;
    background: none;
  }
  .gel__box {
    width: 100%;
  }
  .gel__img-m {
    overflow: hidden;
    display: block;
    position: relative;
    width: 100%;
    height: 0;
    margin-top: 15px;
    padding-bottom: 44.77%;
    font-size: 0;
    text-indent: -9999px;
  }
  .gel__img-m:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../images/chest/motiva_img1_m.jpg") no-repeat center center;
    background-size: cover;
    content: '';
  }
  .gel__list {
    margin-top: 0;
  }
  .gel__item {
    width: 100%;
  }
  .gel__item + .gel__item {
    margin-top: 30px;
  }
  .gel__item:last-child {
    margin-top: 30px;
  }
  .gel__tit {
    font-size: 2.1rem;
  }
  .gel__txt {
    margin-top: 12px;
    font-size: 1.3rem;
  }
  .gel__area {
    display: block;
    width: 100%;
    height: auto;
    padding: 20px 10px 25px;
  }
}

.yellow {
  position: relative;
  display: inline-block;
  color: #fff8d3;
}

.yellow:after {
  position: absolute;
  left: 1px;
  bottom: 0;
  width: 100%;
  border-bottom: 1px solid #fff8d3;
  content: '';
}

.table1 {
  width: 100%;
  margin-top: 40px;
  border-top: 2px solid #333333;
  border-spacing: 0;
  border-collapse: collapse;
}

.table1__tr:last-child .table1__td {
  border-bottom: 1px solid #333;
}

.table1__th {
  height: 60px;
  background-color: #eee;
  font-size: 20px;
  text-align: center;
  font-weight: 300;
  vertical-align: middle;
  border-bottom: 1px solid #333;
}

.table1__th-tit {
  height: 80px;
  font-weight: 500;
  color: #fff;
  background-color: #37d1dd;
  font-size: 30px;
}

.table1__td {
  height: 120px;
  font-size: 20px;
  padding: 0 10px;
  box-sizing: border-box;
  text-align: center;
  border-bottom: 1px solid #aaa;
}

.table1__td strong {
  font-weight: 500;
}

.table1__td-another {
  font-size: 30px;
  font-weight: 600;
  color: #fff;
  background-color: #8135dd;
}

.table1__box {
  margin: 0;
  text-align: left;
}

.table1__txt {
  margin: 5px 0 0 0;
  text-align: right;
  color: #666;
}

@media only screen and (max-width: 668px) {
  .table1 {
    margin-top: 30px;
  }
  .table1__th {
    height: 40px;
    font-size: 1.3rem;
    line-height: 1.625;
  }
  .table1__th-tit {
    height: 60px;
    font-size: 1.8rem;
  }
  .table1__td {
    font-size: 1.3rem;
    line-height: 1.625;
  }
  .table1__txt {
    font-size: 1rem;
  }
}

.table2 {
  width: 100%;
  margin-top: 50px;
  border-top: 2px solid #333333;
  border-spacing: 0;
  border-collapse: collapse;
}

.table2__tr:last-child .table2__td {
  border-bottom: 1px solid #333;
}

.table2__th {
  height: 60px;
  font-size: 20px;
  font-weight: 300;
  color: #fff;
  background-color: #8135dd;
  vertical-align: middle;
  box-sizing: border-box;
  border-bottom: 1px solid #333;
}

.table2__th img {
  width: 100%;
}

.table2__th-tit {
  height: 120px;
  font-weight: 500;
  color: #fff;
  background-color: #37d1dd;
  font-size: 30px;
}

.table2__th-img {
  background-color: #fff;
  font-size: 0px;
}

.table2__td {
  height: 60px;
  font-size: 20px;
  padding: 0 10px;
  box-sizing: border-box;
  text-align: center;
  border-bottom: 1px solid #aaa;
}

.table2__td strong {
  font-weight: 500;
}

.table2__td:last-child {
  background-color: #eee;
}

.table2__td-another {
  font-size: 30px;
  font-weight: 600;
  color: #fff;
  background-color: #8135dd;
}

.table2__box {
  margin: 0;
  text-align: left;
}

.table2__txt {
  margin: 20px 0 0 0;
  font-size: 16px;
  text-align: center;
  color: #666;
  line-height: 1.625;
}

@media only screen and (max-width: 668px) {
  .table2 {
    margin-top: 30px;
  }
  .table2__th {
    height: 40px;
    font-size: 1.3rem;
    line-height: 1.625;
    text-align: center;
  }
  .table2__th-tit {
    height: 100px;
    padding: 0 20px;
    font-size: 1.8rem;
    text-align: center;
  }
  .table2__td {
    height: auto;
    padding: 9px 0;
    font-size: 1.3rem;
    line-height: 1.625;
  }
  .table2__txt {
    margin-top: 12px;
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 1025px) {
  .table-wrap {
    padding-left: 16px;
    box-sizing: border-box;
  }
}

.chest-section {
  overflow: hidden;
  padding-bottom: 120px;
}

@media only screen and (max-width: 1025px) {
  .chest-section {
    padding-bottom: 100px;
  }
}

@media only screen and (max-width: 668px) {
  .chest-section {
    padding-bottom: 50px;
  }
}

/*애니메이션*/
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.js-motion2.type-delay {
  transition-delay: 0.5s;
}

/*애니메이션*/
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
    -ms-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
    -ms-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
