
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url('https://fonts.googleapis.com/css?family=Damion');
@charset "UTF-8";
@import "variables";
@import "mixins";
html,body{margin:0; padding:0; font-family: $font-normal; color:#333; font-weight:300; font-size:14px; line-height:1.3; letter-spacing: -1px; word-break: break-all;
	@media only screen and (max-width:$mobile-size){font-size:10px;}
	&.is-active{position: fixed;overflow: hidden; width: 100%; height: 100%;}
	&.is-hidden{overflow:hidden;}
	@media only screen and (max-width:$iphone-size){font-size:9px;}
}

.sns{display:inline-block;
	$this:&;
	&.type-footer{margin-right:26px; padding-top:8px;}
	&.type-main{
		& #{$this}__item{float:none; display:block;
			& + #{$this}__item{margin-top:30px; margin-left:0px;}
		}
	}
	&__list{margin:0; padding:0; list-style:none;
		&:after{display:block; clear:both; content:'';}
	}
	&__link{display:block; width:100%; height:100%;}
	&__item{float:left; overflow:hidden; width:30px; height:26px; background:url('../images/common/sns_icon.png'); text-indent:-9999px;
		&.nth-2{background-position-y:-26px;}
		&.nth-3{background-position-y:-52px;}
		&.nth-4{background-position-y:-78px;}
		&:hover{background-position-x:-60px;}
		& + &{margin-left:18px;}
	}
	@media only screen and (max-width:$mobile-size){
		&.type-footer{display:block; margin-right:0px; margin-bottom:15px; padding-top:0px;}
		&__list{text-align:center; font-size:0;}
		&__item{float:none; display:inline-block; width:23px; height:19px; background:url('../images/common/sns_icon_m.png'); background-size:23px 76px;
			&.nth-2{background-position-y:-19px;}
			&.nth-3{background-position-y:-38px;}
			&.nth-4{background-position-y:-57px;}
			&:hover{background-position-x:0px;}
			& + &{margin-left:13px;}
		}
	}
}

.select1{display:inline-block; width:140px; height:40px; margin:auto 0;  box-sizing:border-box; color:#aaabad; vertical-align: top;
	$this:&;
	&.type-another{width:170px;}
	&__wrap{position:relative;
		&:hover{
			& #{$this}__tit{background-color:#3c3f45;}
		}
		&.is-active{
			& #{$this}__list{display:block;}
			& #{$this}__tit{background-color:#3c3f45;}
			& #{$this}__tit:after{transform: rotate(180deg);}
		}
	}
	&__tit{display:block; padding:0px 14px 0 20px; height:40px;  text-decoration:none; line-height:40px; cursor:pointer; border:1px solid #5a5d63; text-transform: uppercase; font-size:14px; text-align:left;
		&:after{position:absolute; top:0; bottom:0; right:10px; width:0px; height:0px; margin:auto 0; border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 5px solid #aaabad;  content:'';}
	}
	&__tit-link{color:inherit; text-decoration:none;}
	&__list{display:none; position:absolute;  width:100%; padding:10px 15px; margin:0;  background-color:#5a5d63; box-sizing:border-box; z-index:95;}
	&__item{list-style:none;}
	&__link{display:block; padding:7px 0; color:inherit; text-decoration:none; font-size:12px; text-align:left;
		&:hover{color:#36d1dc;}
		&.type-another{padding:0;}
	}
	& + &{margin-left:-1px;}
	@media only screen and (max-width:$mobile-size){width:145px; height:30px;
		&.type-another{width:140px;}
		&__tit{padding:0 10px; height:30px; line-height:30px; font-size:1.1rem;
			&:after{right:10px; border-width:4px;}
		}
		&__list{padding:10px;}
		&__link{font-size:1.0rem;}
	}
}
.global{display:inline-block; width:55px; height:55px; border: 1px solid #fff; border: 1px solid rgba(255, 255, 255, 0.5); text-align:left; box-sizing:border-box;
	$this:&;
	&__wrap{position:relative; height:100%;
		&.is-active{
			& #{$this}__list{display:block}
			& #{$this}__tit{display:block; background-color:rgba(51,51,51,0.5);}
		}
	}

	&__tit{overflow:hidden; display:block; width:100%; height:100%; text-indent:-9999px; background:url('../images/common/global.png') no-repeat center center;
		&:hover{background-color:rgba(51,51,51,0.5);}
	}
	&__tit-link{display:block; height:100%; color:inherit; text-decoration:none;

	}
	&__list{display:none; position:absolute; left:0; margin:5px 0 0 0; padding:0; box-sizing:border-box; z-index:50;}
	&__item{list-style:none;
		& + &{margin-top:1px;}
	}
	&__link{display:block; padding:5px 10px; background:rgba(255,255,255,0.5); color:inherit; text-decoration:none; font-size:12px; letter-spacing:0; white-space: nowrap;
		&:hover{color:#36d1dc; background:rgba(51,51,51,0.5);}
		&.type-another{padding:0;}
	}
	& + &{margin-left:-1px;}
	& + .btn1{margin-left:10px;}
	&.is-active{display:none;}
	&.is-section{border:1px solid rgba(90,93,99,0.5); color:#5a5d63;
		& #{$this}__tit{ background:url('../images/common/global_on.png') no-repeat center center;
			&:hover {background:url('../images/common/global.png') no-repeat center center;  background-color: #adadad;}
		}
		& #{$this}__wrap{
			&.is-active{
				& #{$this}__tit{background:url('../images/common/global.png') no-repeat center center;  background-color: #adadad;}
			}
		}
	}
	@media only screen and (max-width:$tablet-size){
		&__tit:hover{background-color:transparent;}
	}
	@media only screen and (max-width:$mobile-size){display:none;
		& + .btn1{margin-left:0px;}
	}
}

.btn1 { -webkit-box-sizing:border-box; box-sizing:border-box;position:relative; display: inline-block; height:55px; padding:0 30px;
	border: 1px solid #fff; border:1px solid rgba(255,255,255,0.5);  color: #fff; text-align: center;  text-decoration:none;
	vertical-align: top; font-size: 17px; cursor: pointer; line-height:1; text-indent:0; font-weight:400; transition:all 0.3s;
	&:after{display:inline-block;height:100%; vertical-align:middle; content:'';}
	&__wrap{display:inline-block; vertical-align:middle;}
	&:hover{background-color:#36d1dc; border:1px solid #36d1dc; color:#fff;}
	& + .btn2{margin-left:10px;}
	&.is-section{border:1px solid rgba(90,93,99,0.5); color:#5a5d63;
		&:hover{background-color:#36d1dc; border:1px solid #36d1dc; color:#fff;}
	}
	&.is-important{ color: #fff !important;}
	@media only screen and (max-width:$tablet-size){background-color:#36d1dc; border:1px solid #36d1dc; color:#fff;
		&.is-section{border:1px solid #36d1dc; color:#fff;}
	}
	@media only screen and (max-width:$mobile-size){height:46px; width:46px; padding:8px; box-sizing:border-box; text-align:center; font-size:1.3rem; line-height:1.2;
		& + .btn2{margin-left:6px;}
		&__wrap{margin-top:-1px; margin-left:-1px;}
	}
}

.btn2 { -webkit-box-sizing:border-box; box-sizing:border-box;position:relative; display: inline-block; height:55px; padding:0 30px;
	 color: #fff; text-align: center;  text-decoration:none; background-color:rgba(51,51,51,0.8);
	vertical-align: top; font-size: 17px; cursor: pointer; line-height:1; text-indent:0; font-weight:400; transition:all 0.3s;
	$this:&;
	&:after{display:inline-block;height:100%; vertical-align:middle; content:'';}
	&__wrap{display:inline-block; margin:-1px 0 0 14px; vertical-align:middle;}
	&__block{position:relative; width:20px; height:15px; display:inline-block; vertical-align:middle; transition:all 0.3s;}
	&__bar{ position:absolute; right:0; left:0; display:inline-block; width:100%; height:0; border-top:1px solid #fff; margin:auto 0; transition:all 0.3s;
		&.nth-1{top:0;}
		&.nth-2{top:0; bottom:0; }
		&.nth-3{bottom:0;}
	}
	&:hover{
		& #{$this}__bar.nth-1{left:7px;}
		& #{$this}__bar.nth-3{left:-7px;}
	}
	&.is-active{
		& #{$this}__block{overflow:hidden;}
		& #{$this}__bar{
			&.nth-1{left:0; bottom:0; transform: rotate(45deg);}
			&.nth-2{left:auto; right:-30px;}
			&.nth-3{left:0; top:0; transform: rotate(135deg);}
		}
	}
	@media only screen and (max-width:$tablet-size){
		&:hover{
			& #{$this}__bar.nth-1{left:0px;}
			& #{$this}__bar.nth-3{left:0px;}
		}
	}
	@media only screen and (max-width:$mobile-size){height:46px; width:46px; padding:0px; box-sizing:border-box; text-align:center;
		&__wrap{display:none;}
		&__block{width:16px; height:15px; margin-right:-2px;}
	}
}
.btn3 {
	$this:&;
	-webkit-box-sizing:border-box; box-sizing:border-box;position:relative; display: inline-block; height:70px; padding:0 47px 0 55px;
	border:1px solid #a7adae;  color: #fff; text-align: center;  text-decoration:none; border-radius:35px 35px 35px 35px;
	vertical-align: top; font-size: 20px; cursor: pointer; line-height:1; text-indent:0; font-weight:500; transition:all 0.3s; text-transform: uppercase;
	&:after{display:inline-block;height:100%; vertical-align:middle; content:'';}
	&__wrap{position:relative; display:inline-block; padding-right:26px; vertical-align:middle;
		&:after{position:absolute; top:0; bottom:0; right:0; display:block; width:8px; height:10px; margin:auto 0;  background:url('../images/common/btn_arrow_off.png'); content:'';}
	}
	&:hover{background-color:#b77dff; border:1px solid #b77dff; color:#333333;
		& #{$this}__wrap{
			&:after{background:url('../images/common/btn_arrow_on.png');}
		}
	}
	&.type-another{
		&:hover{background-color:#36d1dc; border-color:#36d1dc;}
	}
	@media only screen and (max-width:$tablet-size){background-color:#b77dff; border:1px solid #b77dff; color:#333333;
		&.type-another{background-color:#36d1dc; border-color:#36d1dc;}
		&__wrap{
			&:after{background:url('../images/common/btn_arrow_on.png');}
		}
	}
	@media only screen and (max-width:$mobile-size){height:50px; padding:0 30px 0 40px; border-radius:25px 25px 25px 25px; font-size:1.7rem;
		&__wrap{padding-right:24px;
			&:after{width:7px; height:9px; background:url('../images/common/btn_arrow_on_m.png'); background-size:7px 9px;}
		}
	}
}
.btn4 {margin-top:30px;
	$this:&;
	-webkit-box-sizing:border-box; box-sizing:border-box;position:relative; display: inline-block; height:70px; padding:0 66px;
	background-color:#36d1dc;  color: #fff; text-align: center;  text-decoration:none; border-radius:35px 35px 35px 35px;
	vertical-align: top; font-size: 20px; cursor: pointer; line-height:1; text-indent:0; font-weight:500; transition:all 0.3s;
	border:none;
	&:after{display:inline-block;height:100%; vertical-align:middle; content:'';}
	&__wrap{position:relative; display:inline-block;  vertical-align:middle;}
	@media only screen and (max-width:$mobile-size){margin-top:24px; height:50px; padding:0 36px; border-radius:25px 25px 25px 25px; font-size:1.7rem;}
}
.btn-area{margin-top:50px;
	@media only screen and (max-width:$mobile-size){margin-top:20px; }
}
.pagination{ position:fixed; right:50px; top: 50%;
	padding:0; margin:0; -ms-transform: translateY(-50%); -webkit-transform: translateY(-50%); transform: translateY(-50%); font-size:0; z-index: 10; list-style:none;
	&__item{position:relative;
		&:before{position:absolute; top:0; left:0; right:0; bottom:0; display:inline-block; width:6px; height:6px; margin:auto;  background:#fff; content:''; z-index:-1;}
		& + &{margin-top:10px;}
	}
	&__link{overflow:hidden;  display:inline-block; width:28px; height:28px; text-indent:-999px; border:1px solid transparent;
		&.active{border:1px solid $blue;}
	}
	@media only screen and (max-width:$tablet-size){display:none !important;}
}
/* 상담팝업*/
/* 상담팝업*/
.popup-c{display:none; position:fixed; top:0; left:0; right:0; bottom:0; z-index:120; text-align:center;
	$this:&;
	&.is-active{display:block;}
	&:before{position:absolute; z-index:-1; display:block; width:100%; height:100%; background-color:rgba(0,0,0,0.7); content:'';}
	&:after{display:inline-block; height:100%; vertical-align:middle; content:'';}
	&__wrap{position:relative; display:inline-block; width:490px; padding:70px 0px 50px; vertical-align:middle; background-color:#fff;}
	&__tit{margin:0; color:#333; font-size:32px; font-weight:400;}
	&__close{position:absolute; top:20px; right:20px; overflow:hidden; display:block; width:28px; height:28px; background:url('../images/common/popup/consultaion_close.png') no-repeat center center/contain; text-indent:-9999px;}
	&__list{display:inline-block; margin:25px 0 0 0; padding:0;
		-webkit-box-shadow: inset 0px 0px 0px 2px rgba(183,183,183,1); -moz-box-shadow: inset 0px 0px 0px 2px rgba(183,183,183,1); box-shadow: inset 0px 0px 0px 2px rgba(183,183,183,1); border-radius:20px; font-size:0;}
	&__list:after{display:block; clear:both; content:'';}
	&__item{display:inline-block; list-style:none;
		& + &{margin-left:-20px;}
		&.is-active{border-radius:20px;
			#{$this}__link{color:#fff;}
			#{$this}__icon{position:relative; padding-left:20px;}
			#{$this}__icon:before{position:absolute; left:0; top:0; bottom:0; display:block; width:16px; height:14px; margin:auto 0; content:'';}
		}
		&.nth-1.is-active{background-color:#69b85c;
			#{$this}__icon:before{background:url('../images/common/popup/popup_icon1.png') no-repeat center bottom / contain;}
		}
		&.nth-2.is-active{background-color:#00acd4;
			#{$this}__icon:before{background:url('../images/common/popup/popup_icon2.png') no-repeat center bottom / contain;}
		}
		&.nth-3.is-active{background-color:#7c529c;
			#{$this}__icon:before{background:url('../images/common/popup/popup_icon3.png') no-repeat center bottom / contain;}
		}
	}
	&__link{display:block; padding:11px 28px; font-size:14px; font-weight:400; color:#555; text-decoration:none; box-sizing:border-box;}
	&__content{display:none; margin-top:25px;
		&.is-active{display:block;}
		&.call{
			.consultation{padding:0;}
		}
	}
	@media only screen and (max-width:$mobile-size){
		&__wrap{width:90vw; padding:35px 0px 25px}
		&__box{padding:0 20px;}
		&__list{margin-top:12px;}
		&__tit{font-size:26px;}
		&__link{padding: 11px 20px; font-size:12px;}
		&__content{margin-top:12px;}
		&__item{
			& + &{margin-left:-12px;}
			&.is-active{
				 #{$this}__icon{position:relative; padding-left:20px;
					 &:before{width:12px; height:11px; }
				 }
			}
		}
		&__close{position:absolute; top:15px; right:15px; overflow:hidden; display:block; width:18px; height:18px;}
	}
}

.consultation{display:table-cell; width:1%; height:300px; padding:0 10%;  vertical-align:middle; background-color:#ebeaea; box-sizing:border-box; font-size:0;
	$this:&;
	&__tit{position:relative; margin:0; padding-top:108px; font-size:22px; color:#333; font-weight:700;}
	&__tit:before{position:absolute; top:0; left:0; right:0; margin:0 auto; width:88px; height:88px; content:'';}
	&__tit.nth-1:before{background:url('../images/common/popup/popup_icon1_big.jpg');}
	&__tit.nth-2:before{background:url('../images/common/popup/popup_icon2_big.jpg');}
	&__tit.nth-3:before{background:url('../images/common/popup/popup_icon5_big.jpg');}
	&__tit.nth-4:before{background:url('../images/common/popup/popup_icon4_big.jpg');}
	&__tit.nth-0{padding-top:0;}
	&__subtit{margin:0 0 30px; padding-bottom:26px; border-bottom:1px solid #bcbcbc; font-size:24px; font-weight:700; box-sizing:border-box;}
	&__txt{margin:10px 0 0 0; font-size:13px; color:#5c5b5b; line-height:1.1;}
	&__num{display:inline-block; margin:10px 0 0 0; padding:5px 20px 7px; font-size:16px; color:#fff; background-color:#333333; border-radius:20px; line-height:1.3; box-sizing:border-box;}
	&__num.nth-3{font-size:17px;}
	&__tel{color:inherit; text-decoration:none;}
	&__area{margin:0 -24px;}
	&__box{position:relative; display:inline-block; width:50%; padding:0 24px; vertical-align: top; box-sizing:border-box;
		&:first-child:before{position:absolute; top:-20px; right:0; bottom:-20px; display:block; height:calc(100% + 40px);  width:0; border-left:1px solid #a4a4a4; margin:auto 0 ; content:'';}
		#{$this}__num{width:100%;}
	}
	@media only screen and (max-width:$mobile-size){height:250px;
		&__subtit{margin-bottom:15px; padding-bottom:13px; font-size:18px;}
		&__tit{padding-top:76px; font-size:18px;}
		&__tit:before{width:66px; height:66px;}
		&__tit.nth-1:before{background:url('../images/common/popup/popup_icon1_big_m.jpg') no-repeat center center / contain;}
		&__tit.nth-2:before{background:url('../images/common/popup/popup_icon2_big_m.jpg') no-repeat center center / contain;}
		&__tit.nth-3:before{background:url('../images/common/popup/popup_icon5_big_m.jpg') no-repeat center center / contain;}
		&__tit.nth-4:before{background:url('../images/common/popup/popup_icon4_big_m.jpg') no-repeat center center / contain;}
		&__num{margin-top:5px; padding:5px 10px 7px; font-size:12px;}
		&__num.nth-3{font-size:14px;}
		&__txt{font-size:12px;}
		&__box{padding:0 12px;
			&:first-child:before{top:-10px; bottom:-10px; height:calc(100% + 20px);}
		}
	}
}
.consultation-info{margin-top:26px; padding:0 50px; box-sizing:border-box; text-align:left; letter-spacing: -1px;
    &__list{margin:0; padding:0;}
    &__item{position:relative; display:inline-block; padding-left:40px; list-style:none;  box-sizing:border-box;
        &:before{position:absolute; top:0; left:0; bottom:0; display:block; margin:auto 0; content:'';}
        &.type-time{
            &:before{width:30px; height:31px; background:url('../images/common/popup/popup_time.png') no-repeat center center / contain;}
        }
        &.type-location{
            &:before{width:30px; height:36px; background:url('../images/common/popup/popup_location.png') no-repeat center center / contain;}
        }
        & + &{margin-top:16px;}
    }
    &__date{margin:0; font-size:14px; color:#5c5b5b;
        & + &{margin-top:4px;}
    }
    &__time{margin:0; vertical-align:middle;}
    &__day{margin-right:10px; color:#333; vertical-align:middle;}
    &__night{display:inline-block; margin-left:4px; padding:3px 4px; font-size:10px; color:#ffa96a; border:1px solid #ffa96a; vertical-align:middle; box-sizing:border-box;}
    &__tit{margin:0; font-size:14px; color:#333; font-weight:500;}
    &__txt{margin:6px 0 0; font-size:12px; color:#5c5b5b;}
    @media only screen and (max-width: $mobile-size) {margin-top:14px; padding:0 25px;
        &__date{font-size:1.2rem;}
        &__tit{font-size:1.2rem;}
        &__txt{margin-top:3px; font-size:1.1rem;}
        &__day{margin-right:5px;}
        &__item{padding-left:36px;
            & + &{margin-top:8px;}
            &.type-time{
                &:before{width:25px; height:26px;}
            }
            &.type-location{
                &:before{width:25px; height:30px;}
            }
        }
        &__night{margin-left:3px; padding:1px 2px; font-size:1rem;}
    }
}


.terms{display:none; position:relative; text-align:left;
	&__tit{margin:0; font-size:20px; font-weight:400; color:#666}
	&__area{overflow:auto; height:175px; margin-top:5px; padding:15px 0 15px 15px; border:1px solid #dddddd; background:#fcfcfc; font-size:14px; color:#333333; box-sizing:border-box; line-height:1.6;}
	&__box{
		& + &{margin-top:20px;}
	}
	&__close{position:absolute; top:-10px; right:0px; overflow:hidden; display:inline-block; width:25px; height:25px; background:url('../images/common/terms_close.png'); text-indent:-999px; content:''; }
	&__txt{
		& p{margin:0;}
		& strong{font-weight:400;}
	}
	@media only screen and (max-width:$mobile-size){
		&__tit{font-size:1.7rem;}
		&__area{font-size:1.3rem;}
		&__close{top:-5px; width:21px; height:21px; background:url('../images/common/terms_close_m.png'); background-size:21px 21px;}
	}
}

.txt-deco{position:relative; display:inline-block;
	&:after{display: block; width:100%; height:0; border-top:1px solid $blue; content:'';}
}

/*radio,checkbox*/
.checkbox01 + label { display: inline-block; margin-bottom:0; }

@media only screen { .checkbox01 { overflow: hidden; position: absolute; top: auto; width: 1px; height: 1px; padding: 0; margin: -1px; border: 0; clip: rect(0, 0, 0, 0); }
	.checkbox01 + label { position: relative; margin-left: 0; padding-left: 20px; cursor: pointer; font-size:12px; color:#333; font-weight:300;
		@media only screen and (max-width:$mobile-size){font-size:1.3rem;}
	}
	.checkbox01 + label:before { position: absolute; top: 0; bottom: 0; left: 0; -webkit-box-sizing: border-box; box-sizing: border-box; width: 17px; height: 17px; margin: auto; background:url('../images/common/check_off.gif'); content: ''; cursor: pointer; }
	.checkbox01:checked + label:before { background:url('../images/common/check_on.gif'); }
	.checkbox02 { overflow: hidden; position: absolute; top: auto; width: 1px; height: 1px; padding: 0; margin: -1px; border: 0; clip: rect(0, 0, 0, 0); }
	.checkbox02 + label { position: relative; display:block; width:108px; height:108px; padding:62px 10px 0; cursor: pointer; font-size:12px; color:#999; font-weight:300; background:url('../images/common/counseling_icon.png'); box-sizing:border-box;}
	.checkbox02 + label.is-hover{background-position-x:-108px; color:#b77dff;}
	.checkbox02.type-another + label.is-hover{color:#ff5151}
	.checkbox02:checked + label{background-position-x:-216px;  color:#fff;}
	.checkbox02.type-another:checked + label{color:#fff;}
}
@media only screen and (max-width:$tablet-size){
	.checkbox02 + label.is-hover{background-position-x:0px; color:#999;}
	.checkbox02.type-another + label.is-hover{color:#999;}
}
@media only screen and (max-width:$mobile-size){
	.checkbox01 + label:before {width: 15px; height: 15px; margin: auto; background:url('../images/common/check_off_m.gif'); background-size:15px 15px; }
	.checkbox01:checked + label:before { background:url('../images/common/check_on_m.gif'); background-size:15px 15px;}
	.checkbox02 + label {position:relative; width:87px; height:87px; padding:50px 5px 0; font-size:1.2rem; background:url('../images/common/counseling_icon_m.png'); background-size:174px 696px;
		& br{display:none;}
	}
	.checkbox02:checked + label{background-position-x:-87px;  color:#fff;}
	.checkbox02.type-another:checked + label{color:#fff;}
}
@media only screen { .radio1 { overflow: hidden; position: absolute; top: auto; width: 1px; height: 1px; padding: 0; margin: -1px; border: 0; clip: rect(0, 0, 0, 0); }
  .radio1 + label { display: inline-block; position: relative; height: 20px; margin-bottom:0; margin-left: 0; padding-left: 22px; cursor: pointer; line-height: 20px; font-size:12px; font-weight:300; color:#999;
		@media only screen and (max-width:$mobile-size){font-size:1.3rem;}
  }
  .radio1 + label:before { position: absolute; top: 0; bottom: 0; left: 0; box-sizing: border-box; width: 17px; height:17px; margin: auto; border: 1px solid #9b9b9b; border-radius: 50%; background-color: #fff; content: ''; cursor: pointer; }
  .radio1 + label:after { overflow: hidden; position: absolute; top: 7px; left: 5px; width: 7px; height: 7px; border-radius: 50%; background-color: #9b9b9b; cursor: pointer; content: ''; }
  .radio1:checked + label:after {background-color: #36d1dc}
}
.radio1 + label + .radio1 + label { margin-left: 10px;}
@media only screen and (max-width:$mobile-size){
	.radio1 + label:after{top:6px;}
}

.scroll{
	$this:&;
	position:absolute; bottom:20px; left:0; width:100%; text-align:center; color:#ffffff; z-index:2;
	@media only screen and (max-width:$tablet-size){
		display:none;
		&.type-another{display:block;}
	}
	@media only screen and (max-width:$mobile-size){bottom:22px;}
	&__wrap{ display:inline-block; cursor:pointer;
		&:hover{
			& #{$this}__line{-webkit-transform : scale(1.5, 1); transform : scale(1.5, 1); -webkit-transition : -webkit-transform 300ms; transition : transform 300ms;}
			& #{$this}__txt.nth-left{-webkit-transform : translateX(-30px); transform : translateX(-30px);}
			& #{$this}__txt.nth-right{-webkit-transform : translateX(30px); transform : translateX(30px);}
		}
	}
	&__txt{display:inline-block; vertical-align:middle; -webkit-transition : -webkit-transform 300ms; transition : transform 300ms; font-size:22px; font-family:$font-pt; letter-spacing:0;
		@media only screen and (max-width:$mobile-size){ font-size:1.6rem;}
	}
	&__line{display:inline-block; margin:0 10px; vertical-align:middle; width:110px; height:1px; opacity:0.3; background-color:#ffffff; -webkit-transition : -webkit-transform 300ms; transition : transform 300ms;
		@media only screen and (max-width:$mobile-size){width:65px;}
	}
}
.wrap{width:100%; max-width:1400px; margin:0px auto;
	@media only screen and (max-width:$tablet-size){padding:0 20px; box-sizing:border-box;}
	@media only screen and (max-width:$mobile-size){padding:0 15px;}
	&:after{display:block; clear:both; content:'';}
}
.dim{display:none; overflow:hidden; position:fixed; top:0; left:0; right:0; bottom:0; background:#333; background:rgba(0,0,0,0.8); text-indent:-9999px;}

.color1{color:$blue;}
.color2{color:$purple;}
.color3{color:#fff8d3;;}
/*common*/
.hidden-pm{display:none !important;}
.hidden-m{display:inline-block !important;}
.hidden-pt{display:none !important;}
.hidden-p{display:none !important;}
@media only screen and (max-width: $tablet-size) {
	.hidden-p{display:block !important;;}
	.hidden-t{display:none !important;}
	.hidden-pt{display:none !important;}
	.hidden-tm{display:none !important;}
	.hidden-pm{display:block !important;}
	.hidden-m{display:block !important;}
}
@media only screen and (max-width: $mobile-size) {
	.hidden-t{display:block !important;}
	.hidden-m{display:none !important;}
	.hidden-pt{display:block !important;}
	.hidden-pm{display:none !important;}
}
.block{display:block !important;}
.inline-block{display:inline-block; font-size:inherit !important; margin:0 !important;}
input,button {border-radius:0;-webkit-appearance:none}
.common{position:relative;}
.input1{width:100%; height:48px; padding:0 14px; border:1px solid #dddddd; background:#fcfcfc; box-sizing:border-box; color:#333333; font-size:16px;
	@media only screen and (max-width:$mobile-size){font-size:1.3rem;}
}
// .input1:focus {
//     background-color: yellow;
// }


.section{position:relative; background-color:#fff;
	&__wrap{position:relative; display:inline-table; height:100%; width:100%;}
	&__inner{display:table-cell; height:100%; width:100%; vertical-align:middle; text-align:center;}
	&__box{float:left; display:inline-block; width:50%; height:100%;}
	@media only screen and (max-width:$tablet-size){
		&__box{width:100%; height:50%;
			&.type-gallery{width:50%; height:100%;}
		}
	}
	&__bottom{width:100%; margin-top:120px; text-align:center;
		&.type-real1{margin-top:0; background:url('../images/real/1/real_bottom.jpg') no-repeat center center;  background-size:cover;}
		&.type-real2{margin-top:0; background:url('../images/real/2/real_bottom.jpg') no-repeat center center;  background-size:cover;}
		&.type-real3{margin-top:0; background:url('../images/real/3/real_bottom.jpg') no-repeat center center;  background-size:cover;}
		&.type-real4{margin-top:0; background:url('../images/real/4/real_bottom.jpg') no-repeat center center;  background-size:cover;}
		&.type-real5{margin-top:0; background:url('../images/real/5/real_bottom.jpg') no-repeat center center;  background-size:cover;}
		&.type-location{background:url('../images/location/location_bottom.jpg') no-repeat center center;  background-size:cover;}
		@media only screen and (max-width:$tablet-size){margin-top:100px;
			&.type-real5{margin-top:0; background:url('../images/real/5/real_bottom.jpg') no-repeat -760px center;  background-size:cover;}
		}
		@media only screen and (max-width:$mobile-size){margin-top:50px;
			&.type-real5{margin-top:0; background:url('../images/real/5/real_bottom.jpg') no-repeat -460px center;  background-size:cover;}
		}
	}
	&__bottom-wrap{position:relative; width:100%; height:100%; padding:120px 0; background-color:#3c3f46; background-color:rgba(60,63,70,0.9); box-sizing:border-box;
		@media only screen and (max-width:$mobile-size){padding:63px 0;}
	}
}
.top-btn{overflow:hidden; position:fixed; right:164px; bottom:60px; display:none; width:60px; height:60px; border:1px solid #ccc; background:url('../images/common/top_btn.png') rgba(255,255,255,0.9);  font-size:0; text-indent:-9999px; z-index:90; box-sizing:border-box;
	@media only screen and (max-width:$tablet-size){right:20px; bottom:20px;}
	@media only screen and (max-width:$mobile-size){right:15px; bottom:15px; width:40px; height:40px; background:url('../images/common/top_btn_m.png') rgba(255,255,255,0.9); background-size:40px 40px;}
	&.is-fixed{position:absolute;}
}



.visual-top{position:relative; width:100%; height:100vh; background:url('../images/location/location_bg1.jpg') no-repeat center center; background-size:cover;
	&__box{position:relative; top:-50px; left:-376px; display:inline-block; padding:55px 75px; box-sizing:border-box; color:#fff;  -webkit-transform: perspective(1px) translateZ(0); -ms-transform: perspective(1px) translateZ(0); transform: perspective(1px) translateZ(0); background-color:#7f3ed5\9;
		&:before{position:absolute; top:0; left:0; display:block; width:100%; height:100%; background-color:rgba(127,62,213,0.9); content:''; z-index:-1;
			-webkit-transform: scaleX(0);transform: scaleX(0);-webkit-transform-origin: 50%;transform-origin: 50%;-ms-transform-origin: 50%;-webkit-transition-property: transform;transition-property: transform;-ms-transition-property: transform;-webkit-transition-duration: 0.3s;-ms-transition-duration: 0.3s;
			transition-duration: 0.3s; -webkit-transition-timing-function: ease-out; -ms-transition-timing-function: ease-out; transition-timing-function: ease-out;
		}
		&.is-active{
			&:before{-webkit-transform: scaleX(1);transform: scaleX(1);}
		}
	}
	&__tit{margin:0; font-family:$font-pt; font-weight:300; letter-spacing:0; font-size:100px; line-height:1; opacity:0; opacity:1\9;
		&.type-another{
			&:before,&:after{position:absolute; display:block; top:20px; left:0; right:0; bottom:0;  margin:auto; background:#fff; opacity:0.5; content:'';
				transform:rotate(-45deg);}
			&:before{width:33px; height:1px;}
			&:after{width:1px; height:33px;}
		}
	}
	&__subject{margin:20px 0 0 0; font-size:50px; font-weight:300; opacity:0; opacity:1\9;}
	&__txt{margin:16px 0 0 0; font-size:18px; line-height:1.5; opacity:0; opacity:1\9;}
	@media only screen and (max-width:$tablet-size){background:url('../images/location/location_bg1_768.jpg') no-repeat center center; background-size:cover;
		& .location__wrap{text-align:left;}
		&__box{top:50px; left:0;  padding:55px 46px;  text-align:center;
			&.type-another{position:absolute; top:auto; left:80px; bottom:90px;}
		}
		&__subject{font-size:40px;}
		&__txt{font-size:16px;}
		&__tit{
			&.type-another{font-size:80px;
				&:before,&:after{position:absolute; display:block; top:20px; left:0; right:0; bottom:0;  margin:auto; background:#fff; opacity:0.5; content:'';
					transform:rotate(-45deg);}
				&:before{width:33px; height:1px;}
				&:after{width:1px; height:33px;}
			}
		}
	}
	@media only screen and (max-width:$mobile-size){
		&__box{top:auto; bottom:-100px; width:100%; padding:35px 0;  text-align:center;
			&.type-another{left:0; bottom:70px;}
		}
		&__tit{font-size:5.1rem;
			&.type-another{font-size:5.1rem;
				&:before,&:after{top:15px;}
				&:before{width:17px; height:1px;}
				&:after{width:1px; height:17px;}
			}
		}
		&__subject{margin:10px 0 0 0;font-size:3.1rem;}
		&__txt{margin:10px 0 0 0; font-size:1.4rem;}
	}
}

.tab-v1{position:absolute; left:0; right:0; padding-top:160px; padding-bottom:400px;
	$this:&;
	&__list{padding:0; margin:0; list-style:none;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{float:left; width:50%; text-align:center; border:1px solid #dddddd; border-bottom:1px solid #8036dc; box-sizing:border-box; color:#666; transition:all 0.3s;
		& + &{border-left:none;}
		&.is-active{background-color:#8036dc; color:#fff; border:1px solid #8036dc;}
		&:hover{background-color:#8036dc; color:#fff; border:1px solid #8036dc;}
	}
	&__link{display:table-cell; width:1%; height:70px; font-size:20px; color:inherit; text-decoration:none; vertical-align:middle; }
	@media only screen and (max-width:$tablet-size){position:static; padding-top:146px; padding-bottom:0;}
	@media only screen and (max-width:$mobile-size){padding-top:90px;
		&__link{height:60px; padding:0 20px; box-sizing:border-box; font-size:1.4rem; }
	}
}

.js-motion{opacity:0; -webkit-transform: translateY(100px);transform: translateY(100px); -webkit-animation-duration: 1s; animation-duration: 1s; -webkit-animation-fill-mode: both; animation-fill-mode: both; transition:transform 1s,opacity 1s;
	&.on{opacity:1; -webkit-transform: translateY(0);transform: translateY(0); }
}
.js-motion2{opacity:0; -webkit-transform: translateX(-100px);transform: translateX(-100px); -webkit-animation-duration: 1s; animation-duration: 1s; -webkit-animation-fill-mode: both; animation-fill-mode: both; transition:transform 1s,opacity 1s;
	&.on{opacity:1; -webkit-transform: translateX(0);transform: translateX(0); }
}
.js-motion3{opacity:0; -webkit-transform: translateX(100px);transform: translateX(100px); -webkit-animation-duration: 1s; animation-duration: 1s; -webkit-animation-fill-mode: both; animation-fill-mode: both; transition:transform 1s,opacity 1s;
	&.on{opacity:1; -webkit-transform: translateX(0);transform: translateX(0); }
}
.visual-wheel{overflow:hidden; position:absolute; width:100%; height:30%; top:0; left:0; z-index:10;  box-sizing: border-box; text-indent:-9999px;
	@media only screen and (max-width:$tablet-size){display:none;}
}

.video-bg{position:absolute; width:100%; height:100%; z-index:-1;
	&__iframe{width: 100%; height: 100%; width: 100vw; height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */ min-height: 100vh; min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
	position: absolute; top: 50%; left: 50%; -ms-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);}
}


.tab-v2{border-top:2px solid #262930;
	$this:&;
	&__list{margin:0; padding:0; list-style:none;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{float:left; width:50%;
		&.is-active{
			& #{$this}__link{background-color:#fff; color:#262930;}
		}
	}
	&__link{display:table-cell; width:1%; height:68px; vertical-align:middle; font-size:18px; font-weight:400; color:#fff;background-color:#262930; text-decoration:none;}
	&__content{display:none; padding:40px 60px 50px;
		&.is-active{display:block;}
	}
	@media only screen and (max-width:$mobile-size){border-width:1px;
		&__link{height:38px; font-size:1.5rem;}
		&__content{display:none; padding:20px 24px 30px;
			&.is-active{display:block;}
		}
	}
}

.live{display:table-cell; width:1%; height:620px; vertical-align:middle;
	&__tit{margin:0; font-size:28px; color:#333333; font-weight:400;
		&:before{display:block; width:150px; height:150px; margin:0px auto 30px; background:url('../images/common/live_icon.png'); content:'';}
	}
	&__txt{margin:10px 0 0 0; font-size:16px; color:#666666;}
	@media only screen and (max-width:$mobile-size){height:360px;
		&__tit{font-size:2.4rem;
			&:before{width:100px; height:100px; margin:0px auto 15px; background:url('../images/common/live_icon_m.png'); background-size:100px 100px;}
		}
		&__txt{font-size:1.3rem;}
	}
}


.popup-m{position:absolute; top:9.4%; left:150px; z-index:130; font-size:0; transition: all 0.5s; opacity:0; display:none;
	$this:&;
	&.type-second{left:700px;}
	&.type-third{top:calc(9.4% + 340px); left:700px;}
	&.is-active{display:block; opacity:1;
		#{$this}__img{max-width:600px;}
		#{$this}__bottom{max-width:600px;}
	}
	&__img{max-width:0; width:100%; transition: all 0.5s;}
	&__wrap{text-align:center;}
	&__close{position:relative; line-height:38px; font-size:12px; color:#fff; text-decoration:none;
		&.type-left{float:left;}
		&.type-right{float:right; padding-right:14px;
			&:before,&:after{display:block; position:absolute; top:0; right:0; bottom:0; margin:auto; transform: rotate(45deg);content:'';}
			&:before{right:5px; width:0;height:11px; border-left:1px solid #fff;}
			&:after{ width:11px; height:0; border-top:1px solid #fff;}
		}
	}
	&__bottom{overflow:hidden; display:block; max-width:0; height:38px; margin:0 auto; padding:0 20px; background:#000000;  text-align:center; box-sizing:border-box; transition:all 0.5s;}
	@media only screen and (max-width: $tablet-size) {top:0; left:0; width:100%; height:100%; z-index:110;
		&.type-second{left:0; z-index:120;}
		&.type-third{top:0; left:0; z-index:115;}
		&__wrap{position:absolute; top:50%; width:100%; transform: translateY(-50%);  padding:0 10.9%; box-sizing:border-box; }
	}
	@media only screen and (max-width: $mobile-size) {background-color:rgba(0,0,0,0.6);
		&__bottom{height:26px; padding:0 10px;}
		&__close{line-height:26px;  font-size:1.1rem;
			&.type-right{
				&:before{right:4px; height:9px;}
				&:after{ width:9px;}
			}
		}
	}
}
