@charset "UTF-8";
@import "variables";
@import "mixins";
.gallery{
	$this:&;
	&__section{
		&.nth-1-1{background:url('../images/gallery/1/gallery_bg1.jpg') no-repeat center center; background-size:cover;}
		&.nth-1-2{background:url('../images/gallery/1/gallery_bg2.jpg') no-repeat center center; background-size:cover;}
		&.nth-1-3{background:url('../images/gallery/1/gallery_bg3.jpg') no-repeat center center; background-size:cover;
			& .gallery-style2{top:-24%;}
		}
		&.nth-1-4{background:url('../images/gallery/1/gallery_bg4.jpg') no-repeat center center; background-size:cover;}
		&.nth-1-5{background:url('../images/gallery/1/gallery_bg5.jpg') no-repeat center center; background-size:cover;}
		&.nth-1-6{
			& .section__box:nth-child(1){background-color:#8036dc;}
			& .section__box:nth-child(2){background:url('../images/gallery/1/gallery_bg6_2.jpg') no-repeat center center; background-size:cover;}
			& #{$this}__box{
				&:before{background:url('../images/gallery/1/gallery_bg6_1.jpg') no-repeat center center; background-size:cover;}
			}
		}
		&.nth-1-7{background:url('../images/gallery/1/gallery_bg7.jpg') no-repeat center center; background-size:cover;}
		&.nth-1-8{
			& .section__box:nth-child(1){background:url('../images/gallery/1/gallery_bg8_1.jpg') no-repeat center center; background-size:cover;}
			& .section__box:nth-child(2){background-color:#8036dc;}
			& #{$this}__box{
				&:before{background:url('../images/gallery/1/gallery_bg8_2.jpg') no-repeat center center; background-size:cover;}
			}
		}
		&.nth-1-9{background:url('../images/gallery/1/gallery_bg9.jpg') no-repeat center center; background-size:cover;}
		&.nth-2-1{background:url('../images/gallery/2/gallery_bg1.jpg') no-repeat center center; background-size:cover;}
		&.nth-2-2{background:url('../images/gallery/2/gallery_bg2.jpg') no-repeat center center; background-size:cover;}
		&.nth-2-3{background:url('../images/gallery/2/gallery_bg3.jpg') no-repeat center center; background-size:cover;}
		&.nth-2-4{background:url('../images/gallery/2/gallery_bg4.jpg') no-repeat center center; background-size:cover;}
		&.nth-2-5{background:url('../images/gallery/2/gallery_bg5.jpg') no-repeat center center; background-size:cover;}
		&.nth-2-6{
			& .section__box:nth-child(1){background-color:#8036dc;}
			& .section__box:nth-child(2){background:url('../images/gallery/2/gallery_bg6_2.jpg') no-repeat center center; background-size:cover;}
			& #{$this}__box{
				&:before{background:url('../images/gallery/2/gallery_bg6_1.jpg') no-repeat center center; background-size:cover;}
			}
		}
		&.nth-2-7{background:url('../images/gallery/2/gallery_bg7.jpg') no-repeat center center; background-size:cover;
			& .gallery-style6{top:-20%; right:-19%;}
		}
		&.nth-2-8{
			& .section__box:nth-child(1){background:url('../images/gallery/2/gallery_bg8_1.jpg') no-repeat center center; background-size:cover;}
			& .section__box:nth-child(2){background-color:#8036dc;}
			& #{$this}__box{
				&:before{background:url('../images/gallery/2/gallery_bg8_2.jpg') no-repeat center center; background-size:cover;}
			}
		}
		&.nth-2-9{background:url('../images/gallery/2/gallery_bg9.jpg') no-repeat center center; background-size:cover;
			& .gallery-style7{bottom:7%;}
		}
		&.nth-3-1{background:url('../images/gallery/3/gallery_bg1.jpg') no-repeat center center; background-size:cover;}
		&.nth-3-2{background:url('../images/gallery/3/gallery_bg2.jpg') no-repeat center center; background-size:cover;}
		&.nth-3-3{background:url('../images/gallery/3/gallery_bg3.jpg') no-repeat center center; background-size:cover;}
		&.nth-3-4{background:url('../images/gallery/3/gallery_bg4.jpg') no-repeat center center; background-size:cover;}
		&.nth-3-5{background:url('../images/gallery/3/gallery_bg5.jpg') no-repeat center center; background-size:cover;
			& .gallery-style4{top:-20%; left:-22%;}
		}
		&.nth-3-6{
			& .section__box:nth-child(1){background-color:#8036dc;}
			& .section__box:nth-child(2){background:url('../images/gallery/3/gallery_bg6_2.jpg') no-repeat center center; background-size:cover;}
			& #{$this}__box{
				&:before{background:url('../images/gallery/3/gallery_bg6_1.jpg') no-repeat center center; background-size:cover;}
			}
		}
		&.nth-3-7{background:url('../images/gallery/3/gallery_bg7.jpg') no-repeat center center; background-size:cover;
			& .gallery-style6{top:17%; right:-24%;}
		}
		&.nth-3-8{
			& .section__box:nth-child(1){background:url('../images/gallery/3/gallery_bg8_1.jpg') no-repeat center center; background-size:cover;}
			& .section__box:nth-child(2){background-color:#8036dc;}
			& #{$this}__box{
				&:before{background:url('../images/gallery/3/gallery_bg8_2.jpg') no-repeat center center; background-size:cover;}
			}
		}
		&.nth-3-9{background:url('../images/gallery/3/gallery_bg9.jpg') no-repeat center center; background-size:cover;
			& .gallery-style7{bottom:7%;}
		}
		&.nth-4-1{background:url('../images/gallery/4/gallery_bg1.jpg') no-repeat center center; background-size:cover;}
		&.nth-4-2{background:url('../images/gallery/4/gallery_bg2.jpg') no-repeat center center; background-size:cover;}
		&.nth-4-3{background:url('../images/gallery/4/gallery_bg3.jpg') no-repeat center center; background-size:cover;}
		&.nth-4-4{background:url('../images/gallery/4/gallery_bg4.jpg') no-repeat center center; background-size:cover;}
		&.nth-4-5{background:url('../images/gallery/4/gallery_bg5.jpg') no-repeat center center; background-size:cover;}
		&.nth-4-6{
			& .section__box:nth-child(1){background-color:#8036dc;}
			& .section__box:nth-child(2){background:url('../images/gallery/4/gallery_bg6_2.jpg') no-repeat center center; background-size:cover;}
			& #{$this}__box{
				&:before{background:url('../images/gallery/4/gallery_bg6_1.jpg') no-repeat center center; background-size:cover;}
			}
		}
		&.nth-4-7{background:url('../images/gallery/4/gallery_bg7.jpg') no-repeat center center; background-size:cover;
			& .gallery-style6{right:-19%;}
		}
		&.nth-4-8{
			& .section__box:nth-child(1){background:url('../images/gallery/4/gallery_bg8_1.jpg') no-repeat center center; background-size:cover;}
			& .section__box:nth-child(2){background-color:#8036dc;}
			& #{$this}__box{
				&:before{background:url('../images/gallery/4/gallery_bg8_2.jpg') no-repeat center center; background-size:cover;}
			}
		}
		&.nth-4-9{background:url('../images/gallery/4/gallery_bg9.jpg') no-repeat center center; background-size:cover;
			& .gallery-style7{bottom:9%;}
		}
		&.nth-5-1{background:url('../images/gallery/5/gallery_bg1.jpg') no-repeat center center; background-size:cover;}
		&.nth-5-2{background:url('../images/gallery/5/gallery_bg2.jpg') no-repeat center center; background-size:cover;}
		&.nth-5-3{background:url('../images/gallery/5/gallery_bg3.jpg') no-repeat center center; background-size:cover;}
		&.nth-5-4{background:url('../images/gallery/5/gallery_bg4.jpg') no-repeat center center; background-size:cover;}
		&.nth-5-5{background:url('../images/gallery/5/gallery_bg5.jpg') no-repeat center center; background-size:cover;}
		&.nth-5-6{
			& .section__box:nth-child(1){background-color:#8036dc;}
			& .section__box:nth-child(2){background:url('../images/gallery/5/gallery_bg6_2.jpg') no-repeat center center; background-size:cover;}
			& #{$this}__box{
				&:before{background:url('../images/gallery/5/gallery_bg6_1.jpg') no-repeat center center; background-size:cover;}
			}
		}
		&.nth-5-7{background:url('../images/gallery/5/gallery_bg7.jpg') no-repeat center center; background-size:cover;}
		&.nth-5-8{
			& .section__box:nth-child(1){background:url('../images/gallery/5/gallery_bg8_1.jpg') no-repeat center center; background-size:cover;}
			& .section__box:nth-child(2){background-color:#8036dc;}
			& #{$this}__box{
				&:before{background:url('../images/gallery/5/gallery_bg8_2.jpg') no-repeat center center; background-size:cover;}
			}
		}
		&.nth-5-9{background:url('../images/gallery/5/gallery_bg9.jpg') no-repeat center center; background-size:cover;
			& .gallery-style7{bottom:14%; left:-20%;}
		}
		&:after{display:block; clear:both; content:'';}
		@media only screen and (max-width:$tablet-size){
			&.nth-1-1{background:url('../images/gallery/1/gallery_bg1_768.jpg') no-repeat center center; background-size:cover;}
			&.nth-1-2{background:url('../images/gallery/1/gallery_bg2_768.jpg') no-repeat center center; background-size:cover;}
			&.nth-1-3{background:url('../images/gallery/1/gallery_bg3_768.jpg') no-repeat center center; background-size:cover;
				& .gallery-style2{top:18.06%;}
			}
			&.nth-1-4{background:url('../images/gallery/1/gallery_bg4_768.jpg') no-repeat center center; background-size:cover;}
			&.nth-1-5{background:url('../images/gallery/1/gallery_bg5_768.jpg') no-repeat center center; background-size:cover;}
			&.nth-1-6{
				& .section__box:nth-child(2){background:url('../images/gallery/1/gallery_bg6_2_768.jpg') no-repeat center center; background-size:cover;}
			}
			&.nth-1-7{background:url('../images/gallery/1/gallery_bg7_768.jpg') no-repeat center center; background-size:cover;}
			&.nth-1-8{
				& .section__box:nth-child(1){background:url('../images/gallery/1/gallery_bg8_1_768.jpg') no-repeat center center; background-size:cover;}
			}
			&.nth-1-9{background:url('../images/gallery/1/gallery_bg9_768.jpg') no-repeat center center; background-size:cover;}
			&.nth-2-1{background:url('../images/gallery/2/gallery_bg1_768.jpg') no-repeat center center; background-size:cover;}
			&.nth-2-2{background:url('../images/gallery/2/gallery_bg2_768.jpg') no-repeat center center; background-size:cover;}
			&.nth-2-3{background:url('../images/gallery/2/gallery_bg3_768.jpg') no-repeat center center; background-size:cover;
				& .gallery-style2{top:26%; left:9%;}
			}
			&.nth-2-4{background:url('../images/gallery/2/gallery_bg4_768.jpg') no-repeat center center; background-size:cover;}
			&.nth-2-5{background:url('../images/gallery/2/gallery_bg5_768.jpg') no-repeat center center; background-size:cover;
				& .gallery-style4{top:30%; left:10%;}
			}
			&.nth-2-6{
				& .section__box:nth-child(2){background:url('../images/gallery/2/gallery_bg6_2_768.jpg') no-repeat center center; background-size:cover;}
			}
			&.nth-2-7{background:url('../images/gallery/2/gallery_bg7_768.jpg') no-repeat center center; background-size:cover;
				& .gallery-style6{top:27%; right:8%;}
			}
			&.nth-2-8{
				& .section__box:nth-child(1){background:url('../images/gallery/2/gallery_bg8_1_768.jpg') no-repeat center center; background-size:cover;}
			}
			&.nth-2-9{background:url('../images/gallery/2/gallery_bg9_768.jpg') no-repeat center center; background-size:cover;
				& .gallery-style7{bottom:42%; left:9%;}
			}
			&.nth-3-1{background:url('../images/gallery/3/gallery_bg1_768.jpg') no-repeat center center; background-size:cover;}
			&.nth-3-2{background:url('../images/gallery/3/gallery_bg2_768.jpg') no-repeat center center; background-size:cover;}
			&.nth-3-3{background:url('../images/gallery/3/gallery_bg3_768.jpg') no-repeat center center; background-size:cover;
				& .gallery-style2{top:26%; left:5%;}
			}
			&.nth-3-4{background:url('../images/gallery/3/gallery_bg4_768.jpg') no-repeat center center; background-size:cover;}
			&.nth-3-5{background:url('../images/gallery/3/gallery_bg5_768.jpg') no-repeat center center; background-size:cover;
				& .gallery-style4{top:18%; left:10%;}
			}
			&.nth-3-6{
				& .section__box:nth-child(2){background:url('../images/gallery/3/gallery_bg6_2_768.jpg') no-repeat center center; background-size:cover;}
			}
			&.nth-3-7{background:url('../images/gallery/3/gallery_bg7_768.jpg') no-repeat center center; background-size:cover;
				& .gallery-style6{top:auto; right:5%; bottom:10%;}
			}
			&.nth-3-8{
				& .section__box:nth-child(1){background:url('../images/gallery/3/gallery_bg8_1_768.jpg') no-repeat center center; background-size:cover;}
			}
			&.nth-3-9{background:url('../images/gallery/3/gallery_bg9_768.jpg') no-repeat center center; background-size:cover;
				& .gallery-style7{bottom:52%; left:9%;}
			}
			&.nth-4-1{background:url('../images/gallery/4/gallery_bg1_768.jpg') no-repeat center center; background-size:cover;}
			&.nth-4-2{background:url('../images/gallery/4/gallery_bg2_768.jpg') no-repeat center center; background-size:cover;}
			&.nth-4-3{background:url('../images/gallery/4/gallery_bg3_768.jpg') no-repeat center center; background-size:cover;
				& .gallery-style2{top:26%; left:9%;}
			}
			&.nth-4-4{background:url('../images/gallery/4/gallery_bg4_768.jpg') no-repeat center center; background-size:cover;}
			&.nth-4-5{background:url('../images/gallery/4/gallery_bg5_768.jpg') no-repeat center center; background-size:cover;
				.gallery-style4{top:30%; left:10%;}
			}
			&.nth-4-6{
				& .section__box:nth-child(2){background:url('../images/gallery/4/gallery_bg6_2_768.jpg') no-repeat center center; background-size:cover;}
			}
			&.nth-4-7{background:url('../images/gallery/4/gallery_bg7_768.jpg') no-repeat center center; background-size:cover;
				& .gallery-style6{top:21%; right:10%;}
			}
			&.nth-4-8{
				& .section__box:nth-child(1){background:url('../images/gallery/4/gallery_bg8_1_768.jpg') no-repeat center center; background-size:cover;}
			}
			&.nth-4-9{background:url('../images/gallery/4/gallery_bg9_768.jpg') no-repeat center center; background-size:cover;
				& .gallery-style7{bottom:50%;}
			}
			&.nth-5-1{background:url('../images/gallery/5/gallery_bg1_768.jpg') no-repeat center center; background-size:cover;}
			&.nth-5-2{background:url('../images/gallery/5/gallery_bg2_768.jpg') no-repeat center center; background-size:cover;}
			&.nth-5-3{background:url('../images/gallery/5/gallery_bg3_768.jpg') no-repeat center center; background-size:cover;
				& .gallery-style2{top:20%;}
			}
			&.nth-5-4{background:url('../images/gallery/5/gallery_bg4_768.jpg') no-repeat center center; background-size:cover;}
			&.nth-5-5{background:url('../images/gallery/5/gallery_bg5_768.jpg') no-repeat center center; background-size:cover;
				& .gallery-style4{top:26.7%; left:10%;}
			}
			&.nth-5-6{
				& .section__box:nth-child(2){background:url('../images/gallery/5/gallery_bg6_2_768.jpg') no-repeat center center; background-size:cover;}
			}
			&.nth-5-7{background:url('../images/gallery/5/gallery_bg7_768.jpg') no-repeat center center; background-size:cover;
				& .gallery-style6{top:37%; right:15%;}
			}
			&.nth-5-8{
				& .section__box:nth-child(1){background:url('../images/gallery/5/gallery_bg8_1_768.jpg') no-repeat center center; background-size:cover;}
			}
			&.nth-5-9{background:url('../images/gallery/5/gallery_bg9_768.jpg') no-repeat center center; background-size:cover;
				& .gallery-style7{bottom:51%; left:10%;}
			}
		}
		@media only screen and (max-width:$mobile-size){
			&.nth-1-1{background:url('../images/gallery/1/gallery_bg1_730.jpg') no-repeat center center; background-size:cover;}
			&.nth-1-2{background:url('../images/gallery/1/gallery_bg2_730.jpg') no-repeat center center; background-size:cover;}
			&.nth-1-3{background:url('../images/gallery/1/gallery_bg3_730.jpg') no-repeat center center; background-size:cover;
				& .gallery-style2{top:16.24%;}
			}
			&.nth-1-4{background:url('../images/gallery/1/gallery_bg4_730.jpg') no-repeat center center; background-size:cover;}
			&.nth-1-5{background:url('../images/gallery/1/gallery_bg5_730.jpg') no-repeat center center; background-size:cover;}
			&.nth-1-6{
				& .section__box:nth-child(2){background:url('../images/gallery/1/gallery_bg6_2_730.jpg') no-repeat center center; background-size:cover;}
			}
			&.nth-1-7{background:url('../images/gallery/1/gallery_bg7_730.jpg') no-repeat center center; background-size:cover;}
			&.nth-1-8{
				& .section__box:nth-child(1){background:url('../images/gallery/1/gallery_bg8_1_730.jpg') no-repeat center center; background-size:cover;}
			}
			&.nth-1-9{background:url('../images/gallery/1/gallery_bg9_730.jpg') no-repeat center center; background-size:cover;}
			&.nth-2-1{background:url('../images/gallery/2/gallery_bg1_730.jpg') no-repeat center center; background-size:cover;}
			&.nth-2-2{background:url('../images/gallery/2/gallery_bg2_730.jpg') no-repeat center center; background-size:cover;}
			&.nth-2-3{background:url('../images/gallery/2/gallery_bg3_730.jpg') no-repeat center center; background-size:cover;
				& .gallery-style2{top:42%; left:15px;}
			}
			&.nth-2-4{background:url('../images/gallery/2/gallery_bg4_730.jpg') no-repeat center center; background-size:cover;}
			&.nth-2-5{background:url('../images/gallery/2/gallery_bg5_730.jpg') no-repeat center center; background-size:cover;
				& .gallery-style4{top:34%; left:4%;}
			}
			&.nth-2-6{
				& .section__box:nth-child(2){background:url('../images/gallery/2/gallery_bg6_2_730.jpg') no-repeat center center; background-size:cover;}
			}
			&.nth-2-7{background:url('../images/gallery/2/gallery_bg7_730.jpg') no-repeat center center; background-size:cover;
				& .gallery-style6{top:30%;}
			}
			&.nth-2-8{
				& .section__box:nth-child(1){background:url('../images/gallery/2/gallery_bg8_1_730.jpg') no-repeat center center; background-size:cover;}
			}
			&.nth-2-9{background:url('../images/gallery/2/gallery_bg9_730.jpg') no-repeat center center; background-size:cover;
				& .gallery-style7{left:15px; bottom:50%;}
			}
			&.nth-3-1{background:url('../images/gallery/3/gallery_bg1_730.jpg') no-repeat center center; background-size:cover;}
			&.nth-3-2{background:url('../images/gallery/3/gallery_bg2_730.jpg') no-repeat center center; background-size:cover;}
			&.nth-3-3{background:url('../images/gallery/3/gallery_bg3_730.jpg') no-repeat center center; background-size:cover;
				& .gallery-style2{top:36%; left:15px;}
			}
			&.nth-3-4{background:url('../images/gallery/3/gallery_bg4_730.jpg') no-repeat center center; background-size:cover;}
			&.nth-3-5{background:url('../images/gallery/3/gallery_bg5_730.jpg') no-repeat center center; background-size:cover;
				& .gallery-style4{top:17%; left:4%;}
			}
			&.nth-3-6{
				& .section__box:nth-child(2){background:url('../images/gallery/3/gallery_bg6_2_730.jpg') no-repeat center center; background-size:cover;}
			}
			&.nth-3-7{background:url('../images/gallery/3/gallery_bg7_730.jpg') no-repeat center center; background-size:cover;
				& .gallery-style6{bottom:15%; right:15px;}
			}
			&.nth-3-8{
				& .section__box:nth-child(1){background:url('../images/gallery/3/gallery_bg8_1_730.jpg') no-repeat center center; background-size:cover;}
			}
			&.nth-3-9{background:url('../images/gallery/3/gallery_bg9_730.jpg') no-repeat center center; background-size:cover;
				& .gallery-style7{left:15px; bottom:50%;}
			}
			&.nth-4-1{background:url('../images/gallery/4/gallery_bg1_730.jpg') no-repeat center center; background-size:cover;}
			&.nth-4-2{background:url('../images/gallery/4/gallery_bg2_730.jpg') no-repeat center center; background-size:cover;}
			&.nth-4-3{background:url('../images/gallery/4/gallery_bg3_730.jpg') no-repeat center center; background-size:cover;}
			&.nth-4-4{background:url('../images/gallery/4/gallery_bg4_730.jpg') no-repeat center center; background-size:cover;}
			&.nth-4-5{background:url('../images/gallery/4/gallery_bg5_730.jpg') no-repeat center center; background-size:cover;
				& .gallery-style4{top:24%; left:15px;}
			}
			&.nth-4-6{
				& .section__box:nth-child(2){background:url('../images/gallery/4/gallery_bg6_2_730.jpg') no-repeat center center; background-size:cover;}
			}
			&.nth-4-7{background:url('../images/gallery/4/gallery_bg7_730.jpg') no-repeat center center; background-size:cover;
				& .gallery-style6{top:30%; right:15px;}
			}
			&.nth-4-8{
				& .section__box:nth-child(1){background:url('../images/gallery/4/gallery_bg8_1_730.jpg') no-repeat center center; background-size:cover;}
			}
			&.nth-4-9{background:url('../images/gallery/4/gallery_bg9_730.jpg') no-repeat center center; background-size:cover;
				& .gallery-style7{bottom:58%;}
			}
			&.nth-5-1{background:url('../images/gallery/5/gallery_bg1_730.jpg') no-repeat center center; background-size:cover;}
			&.nth-5-2{background:url('../images/gallery/5/gallery_bg2_730.jpg') no-repeat center center; background-size:cover;}
			&.nth-5-3{background:url('../images/gallery/5/gallery_bg3_730.jpg') no-repeat center center; background-size:cover;}
			&.nth-5-4{background:url('../images/gallery/5/gallery_bg4_730.jpg') no-repeat center center; background-size:cover;}
			&.nth-5-5{background:url('../images/gallery/5/gallery_bg5_730.jpg') no-repeat center center; background-size:cover;
				& .gallery-style4{top:26.7%; left:15px;}
			}
			&.nth-5-6{
				& .section__box:nth-child(2){background:url('../images/gallery/5/gallery_bg6_2_730.jpg') no-repeat center center; background-size:cover;}
			}
			&.nth-5-7{background:url('../images/gallery/5/gallery_bg7_730.jpg') no-repeat center center; background-size:cover;
				& .gallery-style6{top:35.7%; right:15px;}
			}
			&.nth-5-8{
				& .section__box:nth-child(1){background:url('../images/gallery/5/gallery_bg8_1_730.jpg') no-repeat center center; background-size:cover;}
			}
			&.nth-5-9{background:url('../images/gallery/5/gallery_bg9_730.jpg') no-repeat center center; background-size:cover;
				& .gallery-style7{bottom:40%; left:15px;}
			}
		}
	}
	&__btn{overflow:hidden; display:inline-block; width:26px; height:26px; margin:5px 0 0 10px; border:1px solid #ddd; border-color:rgba(255,255,255,0.4); z-index: 20; text-indent:-9999px; border-radius:50%;
		&.is-active{
			& #{$this}__btn-wrap{
				&:before{top:0px; left:1px; width:0px; height:0px; border-left: 6px solid #ddd; border-bottom: 4px solid transparent; border-top: 4px solid transparent; background-color:transparent;}
			}
		}
		&:hover{background-color:rgba(51,51,51,0.3);}
		@media only screen and (max-width:$tablet-size){right:20px; width:36px; height:36px;
			&.is-active{
				& #{$this}__btn-wrap{
					&:before{border-left: 6px solid #ddd; border-bottom: 5px solid transparent; border-top: 5px solid transparent; background-color:transparent;}
				}
				&:hover{
					& #{$this}__btn-wrap{
						&:before{border-left: 6px solid #ddd; border-bottom: 5px solid transparent; border-top: 5px solid transparent; background-color:transparent;}
					}
				}
			}
			&:hover{background-color:transparent; border-color:#ddd;
				& #{$this}__btn-wrap{
					&:before{background-color:#ddd;}
				}
			}
		}
		@media only screen and (max-width:$mobile-size){right:15px; width:30px; height:30px; margin:2px 0 0 7px;
			&.is-active{
				& #{$this}__btn-wrap{
					&:before{border-left: 9px solid #ddd; border-bottom: 6px solid transparent; border-top: 6px solid transparent;}
				}
				&:hover{
					& #{$this}__btn-wrap{
						&:before{border-left: 9px solid #ddd; border-bottom: 6px solid transparent; border-top: 6px solid transparent;}
					}
				}
			}
			&:hover{background-color:transparent; border-color:#ddd;
				& #{$this}__btn-wrap{
					&:before{background-color:#ddd;}
				}
			}
		}
	}
	&__btn-wrap{position:relative; display:block; width:100%; height:100%;
		&:before{position:absolute; top:0; left:0; right:0; bottom:0; display:block; width:6px; height:6px; margin:auto; background-color:#ddd; content:'';}
		@media only screen and (max-width:$tablet-size){
			&:before{width:6px; height:6px;}
		}
		@media only screen and (max-width:$tablet-size){
			&:before{width:9px; height:9px;}
		}
	}
	&__box{position:relative; width:100%; height:0; padding-bottom:138.77%;
		&:before{position:absolute; top:0; left:0; width:100%; height:100%; content:'';}
		@media only screen and (max-width:$tablet-size){padding-bottom:178.57%;}
	}
	&__side{padding:0 24.5%; box-sizing:border-box;
		@media only screen and (max-width:$tablet-size){padding:0 13.5%;}
		@media only screen and (max-width:$mobile-size){padding:0 15px;}
		@media only screen and (max-width:$tablet-size) and (orientation: landscape){padding:0 24%;}
		@media only screen and (max-width:$mobile-size) and (orientation: landscape){padding:0 29%;}
	}
	&__link{position:absolute; right:60px; bottom:40px; text-align:center;
		@media only screen and (max-width:$tablet-size){position:static; right:auto; bottom:auto; margin-top:20px;}
		@media only screen and (max-width:$mobile-size){margin-top:10px;}
	}
}
.gallery-style1{position:relative; right:20%; display:inline-block; padding:45px 50px 65px; box-sizing:border-box;  text-align:left; color:#fff; -webkit-transform: perspective(1px) translateZ(0); -ms-transform: perspective(1px) translateZ(0); transform: perspective(1px) translateZ(0);
	&:before{position:absolute; top:0; left:0; display:block; width:100%; height:100%; background-color:#8036dc; background:rgba(128,54,220,0.9); content:''; z-index:-1;
		-webkit-transform: scaleX(0);transform: scaleX(0);-webkit-transform-origin: 50%;transform-origin: 50%;-ms-transform-origin: 50%;-webkit-transition-property: transform;transition-property: transform;-ms-transition-property: transform;-webkit-transition-duration: 0.3s;-ms-transition-duration: 0.3s;
		transition-duration: 0.3s; -webkit-transition-timing-function: ease-out; -ms-transition-timing-function: ease-out; transition-timing-function: ease-out;
	}
	&.is-active{
		&:before{-webkit-transform: scaleX(1);transform: scaleX(1);}
	}
	&__tit{margin:0; font-size:128px; font-family: $font-pt; letter-spacing:0;  font-weight:100; opacity:0;}
	&__point{display:block; margin-top:-70px; margin-left:90px; font-size:64px;}
	&__box{margin:10px 0 0 0; font-size:50px; }
	&__subject{margin:0; opacity:0;}
	&__txt{margin:20px 0 0 0; font-size:18px; line-height:1.5; opacity:0;}
	@media only screen and (max-width:$tablet-size){position:absolute; right:auto; left:10.41%; bottom:14.64%; padding:40px 40px 60px;
		&__tit{font-size:100px;}
		&__point{margin-top:-56px; margin-left:74px; font-size:50px;}
		&__box{font-size:40px;}
		&__txt{margin:16px 0 0 0; font-size:16px;}
	}
	@media only screen and (max-width:$mobile-size){left:15px; bottom:14.24%; padding:20px 30px 30px;
		&__tit{font-size:6.6rem;}
		&__point{margin-top:-34px; margin-left:46px; font-size:3.3rem;}
		&__box{margin:10px 0 0 0; font-size:3.1rem;}
		&__txt{margin:10px 0 0 0; font-size:1.4rem;}
	}
}
.gallery-style2{position:relative; top:-18%; left:-20%; display:inline-block; padding:30px 70px 40px; box-sizing:border-box; font-style:italic;
	&:before,&:after{position:absolute; width:0; height:2px; background-color:#8036dc;  -webkit-transition: 0.5s width ease; -ms-transition: 0.5s width ease; transition: 0.5s width ease; content:'';}
	&:before{left:0; top:0;}
	&:after{right:0; bottom:0;}
	&.is-active{
		&:before,&:after{width:100%;}
	}
	&__txt{margin:0; font-size:30px; color:#333;}
	&__tit{margin:10px 0 0 0;font-size:50px; font-weight:600; color:#8036dc; opacity:0;}
	&__move{display:block; opacity:0;}
	@media only screen and (max-width:$tablet-size){position:absolute; top:18.06%; left:10%;  padding:30px 20px 40px;
		&__txt{font-size:22px;}
		&__tit{font-size:40px; padding:0 5px;}
	}
	@media only screen and (max-width:$mobile-size){position:absolute; top:16.24%; left:15px;  padding:15px 5px;
		&:before,&:after{height:1px;}
		&__txt{font-size:1.6rem;}
		&__tit{font-size:2.6rem;}
	}
}
.gallery-style3{
	&__txt{margin:0; font-size:18px; color:#fff; font-weight:700; font-style:italic; letter-spacing:18px; text-transform: uppercase;}
	&__move{display:inline-block; opacity:0;}
	@media only screen and (max-width:$tablet-size){
		&__move{display:block;
			& + &{margin-top:40px;}
		}
	}
	@media only screen and (max-width:$mobile-size){font-size:1.6rem; letter-spacing:14px;
		&__move{display:block;
			& + &{margin-top:28px;}
		}
	}
}
.gallery-style4{position:relative; top:-14%; left:-16%; display:inline-block; text-align:right; color:#fff; font-style:italic;
	&__txt{margin:0; font-size:40px; opacity:0;}
	&__tit{position:relative; display:inline-block; margin:5px -6px 0 0; padding:0 6px; font-size:40px; font-weight:600; -webkit-transform: perspective(1px) translateZ(0); -ms-transform: perspective(1px) translateZ(0); transform: perspective(1px) translateZ(0); opacity:0;
		&:before{position:absolute;
			position:absolute; bottom:0; left:0; display:block; width:100%; height:25px; background-color:#8036dc; content:''; z-index:-1;
			-webkit-transform: scaleX(0) skew(-20deg); transform: scaleX(0) skew(-20deg); -webkit-transform-origin: 50%;transform-origin: 50%;-ms-transform-origin: 50%;-webkit-transition-property: transform;transition-property: transform;-ms-transition-property: transform;-webkit-transition-duration: 0.3s;-ms-transition-duration: 0.3s;
			transition-duration: 0.3s; -webkit-transition-timing-function: ease-out; -ms-transition-timing-function: ease-out; transition-timing-function: ease-out;
		}
		&.is-active{
			&:before{-webkit-transform: scaleX(1) skew(-20deg); transform: scaleX(1) skew(-20deg);}
		}
	}
	@media only screen and (max-width:$tablet-size){position:absolute; top:24%; left:11%;
		&__txt{font-size:30px;}
		&__tit{font-size:30px;}
	}
	@media only screen and (max-width:$mobile-size){position:absolute; top:33.7%; left:15px;
		&__txt{font-size:2.1rem;}
		&__tit{font-size:2.1rem; padding:0 3px;
			&:before{height:13px;}
		}
	}
}
.gallery-style5{position:absolute; bottom:-50px; right:-50px; display:inline-block; font-style:italic; box-sizing:border-box;
	$this:&;
	&.is-active{
		& .gallery-style5__wrap{
			&:before{-webkit-transform: scaleX(1); -ms-transform: scaleX(1); transform: scaleX(1);}
		}
	}
	&.type-another{
		& #{$this}__txt{letter-spacing:0;}
	}
	&__wrap{position:relative; padding:40px 30px; -webkit-transform: perspective(1px) translateZ(0); -ms-transform: perspective(1px) translateZ(0); transform: perspective(1px) translateZ(0);
		&:before{position:absolute; top:0; left:0; display:block; width:100%; height:100%; background-color:#262930; content:''; z-index:-1;
			-webkit-transform: scaleX(0);transform: scaleX(0);-webkit-transform-origin: 50%;transform-origin: 50%;-ms-transform-origin: 50%;-webkit-transition-property: transform;transition-property: transform;-ms-transition-property: transform;-webkit-transition-duration: 0.3s;-ms-transition-duration: 0.3s;
			transition-duration: 0.3s; -webkit-transition-timing-function: ease-out; -ms-transition-timing-function: ease-out; transition-timing-function: ease-out;
		}
	}
	&__tit{margin:0; padding:0 5px; font-size:38px; font-weight:600; color:#fff8d2; opacity:0;}
	&__txt{margin:0; font-size:20px; color:#fff; opacity:0; letter-spacing:1px;}
	@media only screen and (max-width:$tablet-size){bottom:-108px; right:-40px;}
	@media only screen and (max-width:$mobile-size){bottom:-52px; right:0; left:0; margin:auto 0; letter-spacing:0px;
		&__wrap{display:inline-block; padding:22px 12px;}
		&__tit{font-size:2.0rem;}
		&__txt{font-size:1.1rem;}
	}
}
.gallery-style6{position:relative; top:-9%; right:-23%; display:inline-block; padding:50px 70px; -webkit-transform: perspective(1px) translateZ(0); -ms-transform: perspective(1px) translateZ(0); transform: perspective(1px) translateZ(0);
	&:before{position:absolute; top:0; left:0; display:block; width:100%; height:100%; background-color:#8036dc; background:rgba(128,54,220,0.9);  content:''; z-index:-1;
		-webkit-transform: scaleX(0);transform: scaleX(0);-webkit-transform-origin: 50%;transform-origin: 50%;-ms-transform-origin: 50%;-webkit-transition-property: transform;transition-property: transform;-ms-transition-property: transform;-webkit-transition-duration: 0.3s;-ms-transition-duration: 0.3s;
		transition-duration: 0.3s; -webkit-transition-timing-function: ease-out; -ms-transition-timing-function: ease-out; transition-timing-function: ease-out;
	}
	&.is-active{
		&:before{-webkit-transform: scaleX(1); -ms-transform: scaleX(1); transform: scaleX(1);}
	}
	&__tit{margin:10px 0 0 0; font-size:50px; font-weight:500; color:#5deef8; opacity:0;}
	&__txt{margin:0; font-size:30px; color:#fff; }
	&__move{display:block; opacity:0;}
	@media only screen and (max-width:$tablet-size){position:absolute; top:30%; right:10%; padding:40px 30px;
		&__tit{margin:24px 0 0 0; font-size:40px;}
		&__txt{font-size:22px;}
	}
	@media only screen and (max-width:$mobile-size){top:34%; right:15px; padding:25px 14px;
		&__tit{margin:12px 0 0 0; font-size:2.6rem;}
		&__txt{font-size:1.6rem;}
	}
}
.gallery-style7{display:inline-block; position:relative; bottom:-14%; left:-22%;
	&__tit{margin:0 0 -8px 0; font-size:100px; font-family:$font-pt; font-weight:300; color:#fff; letter-spacing:0; opacity:0; line-height:1; text-align:left;}
	&__point{margin-left:-20px; font-size:50px;}
	&__txt{margin:0; font-size:30px; color:#fff;}
	&__move{display:block; opacity:0;}
	&__subject{margin:10px 0 0 0; font-size:50px; color:#5deef8; font-weight:500; opacity:0;}
	&__box{position:relative; display:inline-block; padding:40px 90px; -webkit-transition: 0.5s; transition: 0.5s; border:6px solid transparent;
		&:before,&:after{position:absolute; top:0; left:0; width:100%; height:100%; box-sizing: border-box;-webkit-transform: scale(0);-ms-transform: scale(0);transform: scale(0); -webkit-transition: 0.5s; transition: 0.5s; content:'';}
		&:before{border-bottom:6px solid #FFF; border-left:6px solid #FFF; -webkit-transform-origin: 0 100%;-ms-transform-origin: 0 100%;transform-origin: 0 100%;}
		&:after{border-top:6px solid #FFF; border-right:6px solid #FFF; -webkit-transform-origin: 100% 0%;-ms-transform-origin: 100% 0%;transform-origin: 100% 0%;}
		&.is-active{
			&:before,&:after{-webkit-transform: scale(1);-ms-transform: scale(1);transform: scale(1);}
		}
	}
	@media only screen and (max-width:$tablet-size){position:absolute; bottom:11.3%; left:10%;
		&__box{padding:40px 35px;}
		&__txt{font-size:22px;}
		&__subject{font-size:40px;}
	}
	@media only screen and (max-width:$mobile-size){position:absolute; bottom:16.49%; left:15px;
		&__box{padding:25px 10px; border-width:3px;
			&:before,&:after{border-width:3px;}
		}
		&__tit{font-size:5.1rem;}
		&__point{margin-left:-12px; font-size:2.6rem;}
		&__txt{font-size:1.6rem;}
		&__subject{font-size:2.6rem;}
	}
}
.gallery-style8{
	&__layer{
		&:after{display:block; clear:both; content:'';}
	}
	&__tit{float:left; position:relative; display:inline-block; margin:0; padding-right:350px; font-size:40px; color:#fff; text-transform: uppercase; font-weight:300; text-align:left;
		&:after{position:absolute; top:0; bottom:0; right:0; display:block; width:315px; height:0; margin:auto 0; border-top:4px solid #fff;  content:'';}
	}
	&__episode{margin:0; font-family:$font-pt; font-size:30px; color:#fff8d2; font-weight:300; letter-spacing:0;}
	&__subject{margin:26px 0 0 0; font-size:35px; font-weight:300;}
	&__box{position:absolute; top:0; right:0; display:inline-block; padding:40px 70px; background-color:#8036dc; box-sizing:border-box; color:#fff; text-align:left; z-index:10;}
	&__txt{margin:26px 0 0 0; font-size:18px; line-height:1.5;}
	@media only screen and (max-width:$tablet-size){display:block;
		&__tit{display:none;}
		&__subject{margin:16px 0 0 0; font-size:30px; font-weight:300;}
		&__box{position:relative; width:100%; padding:30px 56px; z-index:1;}
		&__txt{margin-top:16px; font-size:16px;}
	}
	@media only screen and (max-width:$mobile-size){
		&__episode{font-size:2.1rem;}
		&__box{padding:16px 25px 20px;}
		&__txt{margin-top:10px; font-size:1.1rem;}
		&__subject{margin-top:10px; font-size:1.7rem;}
	}
	@media only screen and (max-width:$tablet-size) and (orientation: landscape){display:none;}

	// @media only screen and (orientation: landscape){display:none;}
}
.gallery-circle{width:360px; height:360px; border-radius:50%; background-color:#2b2d32; text-align:center; opacity:0;
	&.nth-1{float:left;}
	&.nth-2{float:right;}
	&__wrap{display:table-cell; width:1%; height:360px; padding:0 40px;  vertical-align:middle; box-sizing:border-box;}
	&__tit{margin:10px 0 0 0; color:#5deef8; font-weight:600; font-size:50px; text-transform: uppercase;}
	&__txt{margin:0; font-size:30px; color:#fff; line-height:1.4;}
	@media only screen and (max-width:$tablet-size){width:240px; height:240px; background-color:rgba(38,41,48,0.9);
		&__wrap{height:240px; padding:0 20px;}
		&__tit{font-size:40px;}
		&__txt{font-size:22px}
	}
	@media only screen and (max-width:$mobile-size){width:180px; height:180px;
		&.nth-1{margin-top:25%;}
		&.nth-2{margin-left:15%; margin-top:60px;}
		&__wrap{height:180px; padding:0 10px;}
		&__tit{font-size:2.6rem;}
		&__txt{font-size:1.6rem;}
	}
}
.video{
	&__wrap{position:relative; width:100%; max-width:1280px; margin:60px auto 0; text-align:right;}
	&__player{position:relative; width:930px; height:0; margin-top:40px; padding-bottom:40.86%; box-sizing:border-box;}
	&__bg{overflow:hidden; position:absolute; top:0; left:0; width:100%; height:100%; box-sizing:border-box; z-index:1; font-size:0; text-indent: -9999px;
		&.nth-1{background:url('../images/gallery/1/video_bg.jpg') no-repeat center center; background-size:cover;}
		&.nth-2{background:url('../images/gallery/2/video_bg.jpg') no-repeat center center; background-size:cover;}
		&.nth-3{background:url('../images/gallery/3/video_bg.jpg') no-repeat center center; background-size:cover;}
		&.nth-4{background:url('../images/gallery/4/video_bg.jpg') no-repeat center center; background-size:cover;}
		&.nth-5{background:url('../images/gallery/5/video_bg.jpg') no-repeat center center; background-size:cover;}
		&.is-hide{display:none;}
	}
	&__iframe{position:absolute; top:0; left:0; width:100%; height:100%; border:none;}
	&__btn{overflow:hidden; display:block; position:absolute; top:0; left:0; right:0; bottom:0; width:80px; height:80px; margin:auto; background:url('../images/gallery/play_btn.png'); background-size:80px 80px; z-index:5; text-indent:-999px; font-size:0;
		&.is-hide{display:none;}
	}
	@media only screen and (max-width:$tablet-size){
		&__wrap{margin-top:0; padding:0 20px; box-sizing:border-box;}
		&__area{padding:0 60px; box-sizing:border-box;}
		&__player{position:relative; width:100%; margin-top:0; padding-bottom:56.29%;box-sizing:border-box;}
		&__box{position:relative; margin-top:-1px;  padding-right:0;}
	}
	@media only screen and (max-width:$mobile-size){
		&__area{padding:0px; box-sizing:border-box;}
		&__btn{width:50px; height:50px; background-size:50px 50px;}
	}
	@media only screen and (max-width:$tablet-size)and (orientation: landscape){
		&__area{padding:0 290px;}
	}
	@media only screen and (max-width:$tablet-size)and (orientation: landscape){
		&__area{padding:0 100px;}
	}
}
.timer{display:inline-block; color:#ccc; text-align:center; line-height:38px; vertical-align:top; letter-spacing:0;
	@media only screen and (max-width:$tablet-size){line-height:46px; font-size:14px;}
	@media only screen and (max-width:$mobile-size){line-height:37px; font-size:1.3rem;}
}
.gallery-state{position:fixed; bottom:30px; right:30px; height:38px; padding:0px 15px; background:rgba(0,0,0,0.4); border-radius: 5px; z-index:20; box-sizing:border-box;
	@media only screen and (max-width:$tablet-size){right:20px; height:46px;}
	@media only screen and (max-width:$mobile-size){bottom:20px; right:15px; height:37px; padding:0px 10px;}
}
.gallery-page{position:fixed; left:30px; bottom:30px; z-index:10; width:72px; padding:5px 15px; font-size:12px; color:#aaa; background:url('../images/gallery/page_bar.png') no-repeat center center rgba(0,0,0,0.4); border-radius: 5px; box-sizing:border-box;
	&__wrap{position:relative;}
	&__num-current{display:block; color:#5deef8; text-align:left;}
	&__num-total{display:block; margin-top:-2px; text-align:right;}
	@media only screen and (max-width:$tablet-size){left:20px; width:76px; font-size:14px;}
	@media only screen and (max-width:$mobile-size){left:15px; bottom:20px; width:59px; padding:4px 8px; background:url('../images/gallery/page_bar_m.png') no-repeat center center rgba(0,0,0,0.4); background-size:43px 28px; font-size:1.3rem;
		&__num-total{display:block; margin-top:-3px; text-align:right;}
	}
}
.progress {position: fixed;left: 0; bottom: 0;width:0px; height:3px;background-color: #36d1dc; z-index: 10;}
.gallery-nav{position:fixed; bottom:45px; height:auto !important; top:auto !important; right:0 !important; left:0; z-index:10; text-align:center;
	&__bullet{position:relative; display:inline-block; width:5px; height:5px; border:1px solid #a9abad; cursor:pointer;
		& + &{margin-left:70px;
			&:after{position:absolute; top:0; bottom:0; display:block; left:-70px; width:70px; height:0; margin:auto 0; border-top:1px solid #a9abad; content:'';}
		}
		&.is-active{background-color:#37d1dd; border-color:#37d1dd;}
	}
	@media only screen and (max-width:$tablet-size){display:none;}
}

/*애니메이션*/
.animated{-webkit-animation-duration: 1s; animation-duration: 1s; -webkit-animation-fill-mode: both; animation-fill-mode: both;}
.fadeInUp {-webkit-animation-name: fadeInUp; animation-name: fadeInUp;}

/*애니메이션*/
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
    -ms-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
    -ms-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}



.timeAnimation {
  -webkit-animation-name: timeHeight;
  -moz-animation-name: timeHeight;
  animation-name: timeHeight;
  -webkit-animation-duration: 5.1s;
  animation-duration: 5.1s;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.timeFirstAnimation {
  -webkit-animation-name: timeHeight;
  -moz-animation-name: timeHeight;
  animation-name: timeHeight;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes timeHeight {
  0% {
    width: 0; }
  100% {
    width: 100%; } }

@-ms-keyframes timeHeight {
  0% {
    width: 0; }
  100% {
    width: 100%; } }

@keyframes timeHeight {
  0% {
    width: 0; }
  100% {
    width: 100%; }
}


/*gallery 추가 css*/
html, body {
      position: relative;
      height: 100%;
}

.swiper-container {
      width: 100%;
      height: 100%;
    }
.swiper-slide {
  text-align: center;
  display: block;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
//ie9 백그라운드
.is-9{background:rgba(128,54,220,0.9);}

//noti
.noti{position:absolute; top:0; left:0; right:0; bottom:0; width:380px; height:125px; margin:auto; text-align:center; color:#fff; background-color:rgba(0,0,0,0.5); border-radius:20px 20px 20px 20px; z-index:10;
	&__wrap{display:table-cell; width:1%; height:125px; vertical-align:middle;}
	&__tit{margin:0; font-size:50px; font-family:$font-pt; line-height:1; font-weight:300;}
	&__txt{margin:10px 0 0 0; font-size:18px;}
	@media only screen and (max-width:$mobile-size){width:210px; height:68px; border-radius:10px 10px 10px 10px;
		&__wrap{height:68px;}
		&__tit{font-size:3.1rem;}
		&__txt{margin:5px 0 0 0; font-size:1.1rem;}
	}
}
