@charset "UTF-8";
@import "variables";
@import "mixins";

.location{
	&__wrap{
		@media only screen and (max-width:$tablet-size){position:relative; padding:0 80px; box-sizing:border-box;}
		@media only screen and (max-width:$mobile-size){padding:0px 15px;}
	}
}
.location-top{position:relative; width:100%; height:100%; background:url('../images/location/location_bg1.jpg') no-repeat center center; background-size:cover;
	&__box{position:relative; top:-50px; left:-376px; display:inline-block; padding:55px 65px; box-sizing:border-box; color:#fff;  -webkit-transform: perspective(1px) translateZ(0); -ms-transform: perspective(1px) translateZ(0); transform: perspective(1px) translateZ(0);
		&:before{position:absolute; top:0; left:0; display:block; width:100%; height:100%; background-color:#7f3ed5; content:''; z-index:-1;
			-webkit-transform: scaleX(0);transform: scaleX(0);-webkit-transform-origin: 50%;transform-origin: 50%;-ms-transform-origin: 50%;-webkit-transition-property: transform;transition-property: transform;-ms-transition-property: transform;-webkit-transition-duration: 0.3s;-ms-transition-duration: 0.3s;
			transition-duration: 0.3s; -webkit-transition-timing-function: ease-out; -ms-transition-timing-function: ease-out; transition-timing-function: ease-out;
		}
		&.is-active{
			&:before{-webkit-transform: scaleX(1);transform: scaleX(1);}
		}
	}
	&__tit{margin:0; font-family:$font-pt; font-weight:300; letter-spacing:0; font-size:100px; line-height:1; opacity:0;}
	&__subject{margin:20px 0 0 0; font-size:50px; font-weight:300; opacity:0;}
	&__txt{margin:16px 0 0 0; font-size:18px; line-height:1.5; opacity:0;}
	@media only screen and (max-width:$tablet-size){background:url('../images/location/location_bg1_768.jpg') no-repeat center center; background-size:cover;
		& .location__wrap{text-align:left;}
		&__box{top:50px; left:0;  padding:55px 46px;  text-align:center;}
		&__subject{font-size:40px;}
		&__txt{font-size:16px;}
	}
	@media only screen and (max-width:$mobile-size){
		&__box{top:auto; bottom:-100px; width:100%; padding:35px 0;  text-align:center;}
		&__tit{font-size:5.1rem;}
		&__subject{margin:10px 0 0 0;font-size:3.1rem;}
		&__txt{margin:10px 0 0 0; font-size:1.4rem;}
	}
}
.map{position:relative;
	&__wrap{width:100%; height:800px;}
	&__area{width:100%; height:100%;}
	&__box{position:absolute; left:14%; top:37.28%; padding:50px 45px; background-color:#fff; box-sizing:border-box; color:#333; text-align:center; opacity:0; transition:all 1s; z-index:10;
		&.on{top:26.28%; opacity:1;}
	}
	&__tit{margin:0; font-size:30px; font-weight:500;}
	&__info-kor{margin:26px 0 0 0; font-size:16px;}
	&__info-eng{margin:5px 0 0 0; font-size:14px; color:#999999;}
	&__info-num{margin:26px 0; font-size:24px; color:#5a5d64; font-weight:400;}
	&__subway{position:relative; display:inline-block; margin:0; padding-left:22px; font-size:16px;
		&:before{position:absolute; top:0; bottom:0; left:0; width:18px; height:18px; margin:auto 0; line-height:18px; color:#fff; font-weight:600; font-size:14px; text-align:center; content:''; letter-spacing:1px;}
		&.type-2{
			&:before{background-color:#36b02c; content:'2';}
		}
		&.type-9{margin-top:5px;
			&:before{background-color:#bb9c1d; content:'9';}
		}
	}
	&__link{display:block; width:276px; margin:30px auto 0; padding:27px 0; font-weight:500; color:#fff; font-size:20px; background-color:#37d1dd; text-decoration:none;}
	@media only screen and (max-width:$tablet-size){
		&__wrap{position:relative; overflow:hidden; width:100%; height:0; padding-bottom:91.14%;}
		&__area{position:absolute; top:0; left:0;}
		&__box{position:relative; top:auto; left:auto; bottom:-100px; margin-top:60px; border:1px solid #eee; box-sizing:border-box;
			&.on{bottom:0; opacity:1;}
		}
	}
	@media only screen and (max-width:$mobile-size){
		&__box{margin-top:25px; padding:32px 0 30px;}
		&__tit{font-size:2.3rem;}
		&__info-kor{margin:14px 0 0 0; font-size:1.3rem;;}
		&__info-eng{margin:2px 0 0 0; font-size:1rem;}
		&__info-num{margin:14px 0; font-size:1.8rem;}
		&__subway{padding-left:20px; font-size:1.3rem;
			&:before{width:15px; height:15px;  line-height:15px;  font-size:1.3rem; letter-spacing:0;}
			&.type-9{margin-top:2px;}
		}
		&__link{width:205px; margin:15px auto 0; padding:15px 0; font-size:1.7rem;}
	}
}
.location-info{margin-top:60px;
	$this:&;
	&__wrap{width:100%; max-width:924px; margin:0px auto;}
	&__list{margin:0 0 0 -28px; padding:0; list-style:none;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{position:relative; float:left; width:50%; padding-left:28px; box-sizing:border-box; opacity:0; bottom:-100px; transition:all 1s;
		&.on{bottom:0; opacity: 1;}
		&.type-delay{transition-delay: 0.3s;}
		&.nth-1{
			& #{$this}__box{background:url('../images/location/location_bg2.jpg') no-repeat center center; background-size:cover;}
		}
		&.nth-2{
			& #{$this}__box{background:url('../images/location/location_bg3.jpg') no-repeat center center; background-size:cover;}
		}
		&.nth-3{width:100%; margin-top:28px;
			& #{$this}__relative{padding-bottom:48.48%;}
			& #{$this}__box{background:url('../images/location/location_bg4.jpg') no-repeat center center; background-size:cover;}
		}
	}
	&__relative{position:relative; width:100%; height:0; padding-bottom:100%;}
	&__box{position:absolute; top:0; left:0; width:100%; height:100%; padding:60px; box-sizing:border-box;}
	&__tit{margin:0; font-weight:500; font-size:16px; color:#5deef8;}
	&__txt{margin:20px 0 0 0; font-size:20px; color:#fff;}
	&__dl{margin:20px 0 0 0; font-size:20px; color:#fff;}
	&__dt{float:left; font-weight:500;}
	&__dd{margin:0; padding-left:80px; box-sizing:border-box;
		& + #{$this}__dt{margin-top:5px; }
		& + #{$this}__dt + &{margin-top:5px;}
	}
	@media only screen and (max-width:$tablet-size){margin-top:16px;
		&__box{padding:40px 36px;}
		&__list{margin:0 0 0 -16px;}
		&__item{padding-left:16px;}
	}
	@media only screen and (max-width:$mobile-size){margin-top:15px;
		&__box{padding:18px;}
		&__list{margin:0 0 0 -15px;}
		&__item{padding-left:15px;}
		&__tit{font-size:1.1rem;}
		&__txt{margin:10px 0 0 0; font-size:1.3rem;}
		&__dl{margin:10px 0 0 0; font-size:1.3rem;}
		&__dd{margin:0; padding-left:54px; box-sizing:border-box;
			& + #{$this}__dt{margin-top:5px; }
			& + #{$this}__dt + &{margin-top:5px;}
		}
	}
}
.find-area{margin:90px 0 0 0; width:100%; color:#fff;
	&__list{margin:0 0 0 -28px; padding:0; list-style:none;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{position:relative; float:left; display:inline-block; width:50%;  padding-left:28px; box-sizing:border-box;}
	&__link{display:block; padding:25px 0; border:1px solid #a2a5bb; box-sizing:border-box; color:inherit; font-size:20px; font-weight:400; text-decoration:none; text-align:center; transition: all 0.4s;
		&:hover{border-color:#37d1dd; background-color:#37d1dd;}
	}
	&__txt{
		&:before{display:block; width:26px; height:30px; margin:0px auto 10px; background:url('../images/location/zoom_btn.png'); content:'';}
	}
	@media only screen and (max-width:$tablet-size){margin:20px 0 0 0px;
		&__list{margin-left:-16px;}
		&__item{padding-left:16px;}
		&__link{padding:12px 0; border-color:#37d1dd; background-color:#37d1dd;}
	}
	@media only screen and (max-width:$mobile-size){margin:10px 0 0 0;
		&__list{margin-left:-15px;}
		&__item{padding-left:15px;}
		&__link{padding:7px 0; font-size:1.3rem;}
		&__txt{
			&:before{width:16px; height:18px; margin:0px auto 3px; background:url('../images/location/zoom_btn_m.png'); background-size:16px 18px;}
		}
	}
}
.subway-map{display:none; position:fixed; top:0; left:0; bottom:0; right:0; width:686px; height:480px; margin:auto; z-index:110;
	&__wrap{position:relative; height:100%;}
	&__num{position:absolute; top:0; left:0; width:70px; height:70px; padding-top:6px; font-size:40px; font-family:$font-pt; letter-spacing:0;  text-align:center; background-color:#262930; color:#fff; font-weight:300; box-sizing:border-box;}
	&__list{height:100%; margin:0; padding:0; list-style:none;}
	&__item{position:relative; width:100%; height:100%;
		&.nth-1-1{background:url('../images/location/popup1_1.jpg') no-repeat center center; background-size:cover;}
		&.nth-1-2{background:url('../images/location/popup1_2.jpg') no-repeat center center; background-size:cover;}
		&.nth-1-3{background:url('../images/location/popup1_3.jpg') no-repeat center center; background-size:cover;}
		&.nth-1-4{background:url('../images/location/popup1_4.jpg') no-repeat center center; background-size:cover;}
		&.nth-1-5{background:url('../images/location/popup1_5.jpg') no-repeat center center; background-size:cover;}
		&.nth-1-6{background:url('../images/location/popup1_6.jpg') no-repeat center center; background-size:cover;}
		&.nth-2-1{background:url('../images/location/popup2_1.jpg') no-repeat center center; background-size:cover;}
		&.nth-2-2{background:url('../images/location/popup2_2.jpg') no-repeat center center; background-size:cover;}
		&.nth-2-3{background:url('../images/location/popup2_3.jpg') no-repeat center center; background-size:cover;}
		&.nth-2-4{background:url('../images/location/popup2_4.jpg') no-repeat center center; background-size:cover;}
		&.nth-2-5{background:url('../images/location/popup2_5.jpg') no-repeat center center; background-size:cover;}
	}
	&__box{position:absolute; left:0; bottom:0; width:100%; padding:30px 0; text-align:center; font-size:20px; color:#fff; background:rgba(129,53,221,0.9);}
	&__btn{overflow:hidden; position:absolute; top:0; bottom:0; display:block; width:24px; height:45px; margin:auto 0; margin:auto; text-indent:-999px; font-size:0;
		&.nth-left{left:-100px; background:url('../images/location/prev_btn.png'); z-index:200;}
		&.nth-right{right:-100px; background:url('../images/location/next_btn.png'); z-index:200;}
	}
	&__page{margin-top:20px; font-size:0; text-align:center;}
	&__bull{overflow:hidden; display:inline-block; width:8px; height:8px; border-radius:50%; background-color:#fff; text-indent:-9999px; cursor:pointer;
		& + &{margin-left:10px;}
		&.is-active{background-color:#37d1dd;}
	}
	&__close{overflow:hidden; position:absolute; top:-54px; right:0; display:block; width:32px; height:32px; background:url('../images/location/zoom_close.png'); font-size:0; text-indent:-9999px;}
	@media only screen and (max-width:$tablet-size){
		&__btn{display:none;}
	}
	@media only screen and (max-width:$mobile-size)and (orientation: landscape){padding:0 170px;}
	@media only screen and (max-width:$mobile-size){top:50%; bottom:auto; width:100%; height:auto; padding:0 15px; box-sizing:border-box; transform: translateY(-50%);
		&__wrap{}
		&__num{width:40px; height:40px; padding-top:1px; font-size:2.6rem;}
		&__item{height:0; padding-bottom:70.04%;}
		&__box{padding:14px 0; font-size:1.3rem;}
		&__page{margin-top:10px;}
		&__bull{width:10px; height:10px;
			& + &{margin-left:15px;}
		}
		&__close{top:-35px; width:25px; height:25px; background:url('../images/location/zoom_close_m.png'); background-size:25px 25px;}
	}
}
.subway-dim{position:fixed; top:0; left:0; bottom:0; right:0; display:none; width:100%; height:100%; background-color: #000; background-color: rgba(0, 0, 0, 0.65); z-index:100;}



/*애니메이션*/
.animated{-webkit-animation-duration: 1s; animation-duration: 1s; -webkit-animation-fill-mode: both; animation-fill-mode: both;}
.fadeInUp {-webkit-animation-name: fadeInUp; animation-name: fadeInUp;}

/*애니메이션*/
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
    -ms-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
    -ms-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
