@charset "UTF-8";
@import "variables";
@import "mixins";
.real{
	$this:&;
	&__tit{position:relative; display:inline-block; margin:0; padding:30px 80px; border:5px solid #eeeeee; font-size:45px; color:#333; font-weight:300; box-sizing:border-box; line-height:1.1;
		& strong{font-weight:500;}
		@media only screen and (max-width:$tablet-size){ padding:30px 70px; border-width:4px; font-size:35px;}
		@media only screen and (max-width:$mobile-size){width:100%; padding:20px 0px;  font-size:2.3rem; }
	}
	&__tit-point{position:absolute; top:-50px; left:-45px; width:180px; height:70px; line-height:70px; font-size:40px;  background-color:#262930; text-align:center; font-family:$font-pt; letter-spacing:0; color:#fff;
		@media only screen and (max-width:$tablet-size){top:-37px; left:-37px; width:140px; height:54px; line-height:54px; font-size:30px;}
		@media only screen and (max-width:$mobile-size){top:-16px; left:-16px; width:90px; height:35px; line-height:35px; font-size:2.1rem;}
	}
	&__box{text-align:center; padding:145px 0 100px;
		&.first{position:relative; padding-top:210px;}
		&.gray{background-color:#eee;
			& #{$this}__tit{border-color:#ccc;}
		}
		@media only screen and (max-width:$tablet-size){padding:94px 0 100px;
			&.first{padding-top:178px;}
		}
		@media only screen and (max-width:$mobile-size){padding:60px 0;
			&.first{padding-top:126px;}
		}
	}
	&__wrap{
		@media only screen and (max-width:$mobile-size){padding:0px 16px; box-sizing:border-box;}
	}
	&__img{position:absolute; top:0; left:0; width:100%; height:100%;}
	&__img-txt{position:absolute; left:0; bottom:0; width:100%; font-size:25px; text-align:center; background-color:rgba(0,0,0,0.7); color:#fff; text-indent:0;
		@media only screen and (max-width:$tablet-size){font-size:18px;}
		@media only screen and (max-width:$mobile-size){font-size:1.6rem;}
	}
	&__img-wrap{display:table-cell; width:1%; height:80px; vertical-align:middle;
		@media only screen and (max-width:$tablet-size){height:50px}
		@media only screen and (max-width:$mobile-size){height:40px}
	}
	&__img-box{overflow:hidden; position:relative; width:100%; text-indent:-9999px; font-size:0;
		& + &{margin-top:30px;}
		&:before{display:none; position:absolute; top:0; left:0; width:100%; height:100%; content:'';}
		@media only screen and (max-width:$mobile-size){
			&.type-real1-1{
				&:before{display:block; background:url('../images/real/1/real_img4.jpg') no-repeat center top; background-size:cover;}
			}
			&.type-real2-1{
				&:before{display:block; background:url('../images/real/2/real_img4.jpg') no-repeat center top; background-size:cover;}
			}
			&.type-real3-1{
				&:before{display:block; background:url('../images/real/3/real_img4.jpg') no-repeat center top; background-size:cover;}
			}
			&.type-real4-1{
				&:before{display:block; background:url('../images/real/4/real_img4.jpg') no-repeat center top; background-size:cover;}
			}
			&.type-real5-1{
				&:before{display:block; background:url('../images/real/5/real_img4.jpg') no-repeat center top; background-size:cover;}
			}
			&.type-real1-2{
				&:before{display:block; background:url('../images/real/1/real_img17.jpg') no-repeat center top; background-size:cover;}
			}
			&.type-real2-2{
				&:before{display:block; background:url('../images/real/2/real_img15.jpg') no-repeat center top; background-size:cover;}
			}
			&.type-real3-2{
				&:before{display:block; background:url('../images/real/3/real_img15.jpg') no-repeat center top; background-size:cover;}
			}
			&.type-real4-2{
				&:before{display:block; background:url('../images/real/4/real_img17.jpg') no-repeat center top; background-size:cover;}
			}
			&.type-real5-2{
				&:before{display:block; background:url('../images/real/5/real_img18.jpg') no-repeat center top; background-size:cover;}
			}
		}
	}
	&__list{margin:30px 0 0 -30px; padding:0;
		&:after{display:block; clear:both; content:'';}
		@media only screen and (max-width:$tablet-size){margin:20px 0 0 -20px;}
		@media only screen and (max-width:$mobile-size){margin:15px 0 0 -15px;}
	}
	&__item{position:relative; float:left; overflow:hidden; margin-top:30px; padding-left:30px; box-sizing:border-box; list-style:none;
		&.type-delay{transition-delay: 0.3s;}
		@media only screen and (max-width:$tablet-size){margin-top:20px; padding-left:20px;}
		@media only screen and (max-width:$mobile-size){
			&.type-delay{transition-delay: 0s;}
			margin-top:15px; padding-left:15px;
		}
	}
}
.visual{overflow:hidden; position:relative; width:100%; height:100vh;
	&:before{position:absolute; top:0; left:0; right:0; bottom:0; background:rgba(0,0,0,0.35); z-index:1; content:'';}
	&.type-real1{
		& .video-bg{background:url('../images/real/1/real_section_bg.jpg') no-repeat center center; background-size:cover;}
	}
	&.type-real2{
		& .video-bg{background:url('../images/real/2/real_section_bg.jpg') no-repeat center center; background-size:cover;}
	}
	&.type-real3{
		& .video-bg{background:url('../images/real/3/real_section_bg.jpg') no-repeat center center; background-size:cover;}
	}
	&.type-real4{
		& .video-bg{background:url('../images/real/4/real_section_bg.jpg') no-repeat center center; background-size:cover;}
	}
	&.type-real5{
		& .video-bg{background:url('../images/real/5/real_section_bg.jpg') no-repeat center center; background-size:cover;}
	}
	&__wrap{width:100%; padding:0 100px 0 650px; box-sizing:border-box;}
	&__subject{margin:0; color:#fff; font-size:30px; font-weight:300;}
	&__subject-point{font-weight:600;}
	&__relative{position:relative;}
	&__typo{position:absolute; padding-left:104px;}
	&__box{position:absolute; left:0; right:0; bottom:100px; width:100%; max-width:1400px; margin:0px auto; padding:56px 0; background-color:rgba(128,54,220,0.9); z-index:5;}
	&__tit{margin:0; font-size:180px; font-family:$font-pt; letter-spacing:0; font-weight:400; color:#fff; line-height:1;}
	&__tit-point{position:relative; display:block; margin-top:-60px; margin-left:170px; font-size:100px; font-family:$font-pt; letter-spacing:0; font-weight:400;
		&:before{position:absolute; left:-274px; bottom:30px; width:100%; width:250px; height:0; border-top:1px solid #fff; content:'';}
	}
	&__txt1{margin:25px 0 0 0; font-size:16px; color:#eee; line-height:1.6;}
	&__txt2{margin:20px 0 0 0; font-size:20px; font-weight:400; color:#fff; line-height:1.5;}
	&__btn{display:none;}
	@media only screen and (max-width:$tablet-size){
		&.type-real1{
			& .video-bg{background:url('../images/real/1/real_section_bg_768.jpg') no-repeat center center; background-size:cover;}
		}
		&.type-real2{
			& .video-bg{background:url('../images/real/2/real_section_bg_768.jpg') no-repeat center center; background-size:cover;}
		}
		&.type-real3{
			& .video-bg{background:url('../images/real/3/real_section_bg_768.jpg') no-repeat center center; background-size:cover;}
		}
		&.type-real4{
			& .video-bg{background:url('../images/real/4/real_section_bg_768.jpg') no-repeat center center; background-size:cover;}
		}
		&.type-real5{
			& .video-bg{background:url('../images/real/5/real_section_bg_768.jpg') no-repeat center center; background-size:cover;}
		}
		&__typo{position:absolute; padding-left:70px;}
		&__box{padding:46px 0;}
		&__black{display:none; position:absolute; right:84px; bottom:90px; max-width:356px; box-sizing:border-box; transition:all 0.3;
			&.is-active{display:block;}
		}
		&__black-wrap{position:relative; padding:40px 35px; background-color:#262930;
			&:after{position:absolute; bottom: -10px; right: 20px; width: 0px; height: 0px; margin: auto 0; border-left: 10px solid transparent; border-right: 10px solid transparent; border-top: 12px solid #262930;content:'';}
		}
		&__wrap{padding:0 80px;}
		&__typo{top:-300px;}
		&__txt1{margin-top:0;}
		&__subject{display:inline-block;
			& strong{display:block;}
		}
		&__btn{position:absolute; top:0; bottom:0; right:82px; overflow:hidden; display:inline-block; width:60px; height:60px; margin:auto 0; font-size:0; background:url('../images/real/visual_info.png'); background-size:60px 60px; text-indent:-9999px; transition:all 0.3s;
			&.is-active{background:url('../images/real/visual_info_close.png'); background-size:60px 60px;}
		}
	}
	@media only screen and (max-width:$mobile-size){
		&.type-real1{
			& .video-bg{background:url('../images/real/1/real_section_bg_730.jpg') no-repeat center center; background-size:cover;}
		}
		&.type-real2{
			& .video-bg{background:url('../images/real/2/real_section_bg_730.jpg') no-repeat center center; background-size:cover;}
		}
		&.type-real3{
			& .video-bg{background:url('../images/real/3/real_section_bg_730.jpg') no-repeat center center; background-size:cover;}
		}
		&.type-real4{
			& .video-bg{background:url('../images/real/4/real_section_bg_730.jpg') no-repeat center center; background-size:cover;}
		}
		&.type-real5{
			& .video-bg{background:url('../images/real/5/real_section_bg_730.jpg') no-repeat center center; background-size:cover;}
		}
		&__box{bottom:50px; padding:26px 0;}
		&__black{bottom:62px; right:0; width:100%; max-width:100%; padding:0 30px; box-sizing:border-box;}
		&__black-wrap{padding:30px 35px;
			&:after{right:12px;}
		}
		&__typo{top:-190px; padding-left:20px;}
		&__tit{font-size:11.6rem;}
		&__txt1{font-size:1.3rem;}
		&__txt2{font-size:1.6rem;}
		&__tit-point{margin-top:-38px; margin-left:110px; font-size:6.5rem;
			&:before{bottom:20px; width:117px; left:-130px;}
		}
		&__subject{font-size:1.7rem;}
		&__wrap{padding:0 30px;}
		&__btn{right:30px; width:40px; height:40px; background-size:40px 40px;
			&.is-active{background-size:40px 40px;}
		}
	}
}
.col-6{width:50%; max-height:988px;
	& .real__img-box{padding-bottom:69.97%;}
	&.type-vertical{max-height:988px;
		& .real__img-box{padding-bottom:144.02%;}
	}
	@media only screen and (max-width:$mobile-size){width:100%;
		&.type-vertical{
			& .real__img-box{padding-bottom:69.97% !important;
				&:before{background-position: center 28%;}
			}
		}
	}
}
.col-12{width:100%;
	& .real__img-box{padding-bottom:50%;}
}
.col-9{width:66.6%; max-height:478px;
	& .real__img-box{padding-bottom:51.94%;}
	@media only screen and (max-width:$mobile-size){width:50%;
		& .real__img-box{padding-bottom:107.16%;}
	}
}
.col-3{width:33.3%; max-height:478px;
	& .real__img-box{padding-bottom:107.18%;}
	@media only screen and (max-width:$mobile-size){width:50%;
		& .real__img-box{padding-bottom:107.16%;}
	}
}
